<h1>Editing team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
  Team Name: <%= f.text_field :name %>
  <br>
  Category: <%= @team.category_name %>
  <br>
  Limit the size of this team to no more than <%= f.text_field :qty_max %> people.
  <br>
  Currently there are <%= @team.qty_current %> members.
  </p>



  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>