
<div class="alert alert-info">
<b>Team Name:</b>
<%=h @team.name %>

<br>
<b>Goal:</b> 
<% if @team.goal_template_parent %>
  <%=h @team.goal_template_parent.title %>   
<% else %>
  Any goal in the category of <%=h @team.category_name %>
<% end %>

<br>
<b>Max Members:</b>
<%=h @team.qty_max %>
<br>
<b>Current Members:</b>
<%=h @team.qty_current %>
<br>



</div>

<% if @team.i_am_owner_or_admin(current_user.id) %>
  <%= link_to 'Edit', edit_team_path(@team), :class => "btn" %> |
  <% if @team.qty_current < 2 %>
    <%= link_to 'Delete (no other team members)', @team, :confirm => 'Are you sure?', :method => :delete %>
  <% else %>
    Can't Delete (members exist)
  <% end %>


    <div class="div_team_<%= @team.id %>_manage_team_invites" id="div_team_<%= @team.id %>_manage_team_invites">
       <%= render :partial => "invites/manage_team_invites", :locals => { :team => @team }  %>
<% end %>