<h1>Editing invite</h1>

<% form_for(@invite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_user_id %><br />
    <%= f.text_field :from_user_id %>
  </p>
  <p>
    <%= f.label :to_name %><br />
    <%= f.text_field :to_name %>
  </p>
  <p>
    <%= f.label :to_email %><br />
    <%= f.text_field :to_email %>
  </p>
  <p>
    <%= f.label :to_user_id %><br />
    <%= f.text_field :to_user_id %>
  </p>
  <p>
    <%= f.label :purpose_join_team_id %><br />
    <%= f.text_field :purpose_join_team_id %>
  </p>
  <p>
    <%= f.label :purpose_follow_goal_id %><br />
    <%= f.text_field :purpose_follow_goal_id %>
  </p>
  <p>
    <%= f.label :purpose_friend_user_id %><br />
    <%= f.text_field :purpose_friend_user_id %>
  </p>
  <p>
    <%= f.label :accepted_on %><br />
    <%= f.date_select :accepted_on %>
  </p>
  <p>
    <%= f.label :declined_loudly_on %><br />
    <%= f.date_select :declined_loudly_on %>
  </p>
  <p>
    <%= f.label :declined_silently_on %><br />
    <%= f.date_select :declined_silently_on %>
  </p>
  <p>
    <%= f.label :first_sent_on %><br />
    <%= f.date_select :first_sent_on %>
  </p>
  <p>
    <%= f.label :last_resent_on %><br />
    <%= f.date_select :last_resent_on %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invite %> |
<%= link_to 'Back', invites_path %>