
<%= Time.now.getutc %>

<!-- ########################################### -->
<!-- ########################################### -->
<!-- DEAL WITH ANY HTML ENCODING  -->
<script>
//http://stackoverflow.com/questions/784586/convert-special-characters-to-html-in-javascript
function HtmlEncode(s)
{
  var el = document.createElement("div");
  el.innerText = el.textContent = s;
  s = el.innerHTML;
  return s;
}

</script>
<!-- END DEAL WITH ANY HTML ENCODING -->
<!-- ############################################### -->
<!-- ############################################### -->


<br>
<br>

<div class="portlet box grey">
	<div class="portlet-title">
		<div class="caption">
			 Program Messages
		</div>
		<div class="tools">
		   <a href="javascript:;" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body">

		<div class="alert info">
			<strong>Where and when will these messages be displayed?</strong>
			<p>
				You can create messages to be embedded into a participant's daily check-in emails, or into their reminder emails, or on the "Program" web-page itself. You can control whether a message will appear only on a specific date or if instead it will be added to a pool of randomized messages for that program.
			</p>
		</div>

		<% if @program_create_message %>
			<div class="alert alert-error">
			<%= @program_create_message %>
			</div>
		<% end %>

		<% if @program.messages.size > 0 %>
<!-- 			<h3><%= @program.messages.size %> Messages:</h3>
 -->			
 			<% @program.messages.each do |message| %>
			  <!-- for automation of removing an item and re-loading the partial, see:
			  views/template_tags/_manage -->
			  <strong><%= message.subject %></strong> <%= message.body %> <i>was created <%= time_ago_in_words(message.created_at) %> ago</i><br>
			<% end %>

			<br>
			<h3>Create another Message for this Program!</h3>
		<% else %>
			<h3>Create a Message for this Program!</h3>
		<% end %>


		Subject: <input type="text" name="<%= @program.id %>_message_subject" id="<%= @program.id %>_message_subject" placeholder="ex: Daily Tip">

		Body: <input type="text" name="<%= @program.id %>_message_body" id="<%= @program.id %>_message_body" placeholder="">
		<br />

		<%
		random_quote = true
		for_this_date_only = ""
		insert_in_checkin_emails = ""
		insert_in_reminder_emails = ""
		insert_in_webpage = true
		%>
	    <!--
	     CALL THIS FUNCTION:
	     function create_message_then_reload_manage_program_messages(program_id, subject, body, random_quote, for_this_date_only, insert_in_checkin_emails, insert_in_reminder_emails, insert_in_webpage)
	    -->
		<a class="btn green" onclick="create_message_then_reload_manage_program_messages('<%= @program.id %>',HtmlEncode(document.getElementById('<%= @program.id %>_message_subject').value.replace(/ /g, '')),HtmlEncode(document.getElementById('<%= @program.id %>_message_body').value.replace(/ /g, '')),'<%= random_quote %>','<%= for_this_date_only %>','<%= insert_in_checkin_emails %>','<%= insert_in_reminder_emails %>','<%= insert_in_webpage %>');">Save Message</a>

	</div> <!-- end class portlet-body -->
</div> <!-- end class portlet -->