<h1>New counter_image</h1>

<% form_for(@counter_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :counter_images_set_id %><br />
    <%= f.text_field :counter_images_set_id %>
  </p>
  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', counter_images_path %>