<h1>Listing checkpoints</h1>

<table>
  <tr>
  <th>Checkin date</th>
  <% #<th>Checkin time</th> %>
    <th>Goal Title</th>
    <th>Status</th>
  </tr>




<%
if current_user.first_name == "Admin" && current_user.email == "jurowski2@gmail.com" 
  current_user_is_admin = true
else
  current_user_is_admin = false
end

if current_user_is_admin
  @my_goals = Goal.find(:all) 
else
  @my_goals = Goal.find(:all, :conditions => "user_id = '#{current_user.id}'") 
end
@my_goals.each do |goal| %>
  <%
  @my_checkpoints = Checkpoint.find(:all, :conditions => "goal_id = '#{goal.id}'") 
  @my_checkpoints.each do |checkpoint| %>
    <tr>
      <td><%=h checkpoint.checkin_date.strftime("%a, %b %d, %Y") %></td>
      <td><% #h checkpoint.checkin_time.strftime("%I:%M %p") %></td>
      <td>  <%=h checkpoint.goal.title + "(" + checkpoint.goal.user.last_name + ", " + checkpoint.goal.user.first_name + ")"   %></td>
      <td><%=h checkpoint.status %></td>
      <td><%=h checkpoint.comment %></td>
      <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
      <td><%= link_to 'Destroy', checkpoint, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>

<% end %>
  
</table>

<br />

<%= link_to 'New checkpoint', new_checkpoint_path %>