<table cellpadding=5 cellspacing=5 border=1>

<% if @checkpoints %>


  <div class="alert">Conditions: <%= @conditions %></div>

  <% if @checkpoints.current_page != 1 %>

     <a href="/checkpoints?find_date=<%= params[:find_date] %>&page=1">Page 1</a> ... 

     <a href="/checkpoints?find_date=<%= params[:find_date] %>&page=<%=@checkpoints.current_page-1%>"><< Previous</a> 
  <% end %>
  | Page <%= @checkpoints.current_page %> of <%= @checkpoints.total_pages %> |
  <% if @checkpoints.current_page < @checkpoints.total_pages %>
      <a href="/checkpoints?find_date=<%= params[:find_date] %>&page=<%=@checkpoints.current_page+1%>">Next >></a> 
     <a href="/checkpoints?find_date=<%= params[:find_date] %>&page=<%=@checkpoints.total_pages%>"> ... Page <%= @checkpoints.total_pages%></a>
  <% end %>
  <hr>

  <% alt_color = "#ffffff" %>
  <% @checkpoints.each do |checkpoint| %>
    <% 
    if alt_color == "#ffffff" 
      alt_color = "#efefef"
    else
      alt_color = "#ffffff"
    end
    %>
    <tr bgcolor="<%= alt_color %>">
      <td><%=h checkpoint.checkin_date %></td>
      <td><%=h checkpoint.goal.user.email %></td>
      <td><%=h checkpoint.goal.title %></td>
      <td><%=h checkpoint.status %></td>
      <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
      <td><%= link_to 'Destroy', checkpoint, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>

<% end %>
  
</table>