<table cellpadding=5 cellspacing=5 border=1>

<% if @checkpoints %>




  <% if @checkpoints.current_page != 1 %>

     <a href="/checkpoints?<%= @params_sent %>&page=1">Page 1</a> ... 

     <a href="/checkpoints?<%= @params_sent %>&page=<%=@checkpoints.current_page-1%>"><< Previous</a> 
  <% end %>
  | Page <%= @checkpoints.current_page %> of <%= @checkpoints.total_pages %> |
  <% if @checkpoints.current_page < @checkpoints.total_pages %>
      <a href="/checkpoints?<%= @params_sent %>&page=<%=@checkpoints.current_page+1%>">Next >></a> 
     <a href="/checkpoints?<%= @params_sent %>&page=<%=@checkpoints.total_pages%>"> ... Page <%= @checkpoints.total_pages%></a>
  <% end %>
  <hr>

  <% alt_color = "#ffffff" %>
  <% @checkpoints.each do |checkpoint| %>
    <% 
    if alt_color == "#ffffff" 
      alt_color = "#efefef"
    else
      alt_color = "#ffffff"
    end
    %>
    <tr bgcolor="<%= alt_color %>">
      <td><%=h checkpoint.checkin_date %></td>
      <td><%=h checkpoint.status %></td>
      <% if checkpoint.goal %>

        <% if checkpoint.goal.user %>
          <td><%=h checkpoint.goal.user.email %></td>
        <% else %>
          <td><span style="color:red;">NO USER</span></td>
        <% end %>

        <td><%=h checkpoint.goal.title %></td>

      <% else %>
        <td><span style="color:red;">NO GOAL</span></td>
        <td></td>
      <% end %>
      
      <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
      <td><%= link_to 'Destroy', checkpoint, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>

<% end %>
  
</table>


  <div class="alert">
    Conditions: <%= @conditions %>
    <br>
    <br>
    Example: find failed checkpoints for user on one date: /checkpoints<strong>?find_date=2014-01-04&find_status=email%20queued&find_email=someone@gmail.com</strong>
    <br>
    <br>
    <strong>Statuses:</strong>
    <br>email not yet sent
    <br>email queued
    <br>email failure
    <br>email sent  (d-check exim logs to be sure if a question arises)
    <br>no
    <br>yes
  </div>