<%
    sitename = "habitforge.com"

    arr_closing = Array.new
    arr_closing.push(["Best of luck today!"])
    arr_closing.push(["Good luck today!"])
    arr_closing.push(["Good luck with all of your goals!"])

    random_number = 0
    random_number = rand(arr_closing.size) + 0 #between 0 and arr_subject.size
    random_closing = arr_closing[random_number]

    arr_subject = Array.new
    arr_subject.push(["This is just a reminder about #{@goal.response_question} today!"])
    arr_subject.push(["Don't forget about #{@goal.response_question} today! "])
    arr_subject.push(["Remember to keep #{@goal.response_question} on your schedule for today!"])

    random_number = 0
    random_number = rand(arr_subject.size) + 0 #between 0 and arr_subject.size
    random_subject = arr_subject[random_number]
%>





<html>
<head>
   <base href="http://<%= sitename %>/"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>HabitForge Reminder</title>
   <style type="text/css" media="screen">
      body {
      	margin: 0;
      	padding: 0;
      }
   </style>

</head>
<body>
<a name="top" id="top"></a>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
      <td align="left">         
         <table width="580" border="0" cellspacing="0" cellpadding="0">
            <tr>
               <td class="header" height="30">
                  <img src="/images/habitforge_logo.png" alt="Just wanted to check in on you!" height="30" />
               </td>
            </tr>
            <tr>
               <td>  
                  <table width="580" border="0" cellspacing="20" cellpadding="0">     
                     <tr>
                        <td width="580" align="left" valign="top" class="mainbar">
                            <table border=0><tr><td valign=top align=center width=1%>
                            
                            
                            <img src="/images/gear.png" alt=" " width="65px">
                                </td>
                                <td valign=top align=left width=99%>
                                  <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">

                                     <h3>Good <%= @goal.user.time_period_of_day_right_now %> <%= @goal.user.first_name %>!</h3>

                                     <%= random_subject %>
                                     <br>
                                     <!-- (now hiding) random_closing -->
                                 </div>
                                </td></tr>


                                 <% if @goal.get_latest_stats_badge and !@goal.get_latest_stats_badge.include? "missing" %>

                                        <tr>
                                        <td>
                                        <br>
                                        </td>
                                        <td>                                
                                        <br>
                                        </td>
                                        </tr>
                        
                                        <tr>
                                        <td>
                                        <br>
                                        </td>
                                        <td>
                                        <center>
                                        <h3>Your latest stats are below...</h3>


                                            <!-- in other locations we're directly calling "stats_image" and "stats_output"
                                               ...but using the cached method here to save cycles
                                               ...the cached method isn't working well for web page renders, always stale
                                            -->
                                            <%= @goal.get_latest_stats_badge %>
                                            <%= @goal.get_latest_stats_badge_details %>
                                        </center>
                                        </td>
                                        </tr>


                                 <% end %>

                                
                                <tr>
                                <td>
                                <br>
                                </td>
                                <td>                                
                                <br>
                                </td>
                                </tr>
                                

                                        
                                        
                                        <!-- PLEASURE PAIN TEXT -->
                                        <%
                                        inserted_something = false
                                        
                                        if @goal.pp_remind == true
                                        	### Decide whether it's time to insert the reminder 
                                        	doit = 0
                                        	if @goal.pp_remind_last_date == nil
                                        		doit = 1
                                        	else
                                        		dnextreminder = @goal.pp_remind_last_date + 3
                                        		if @goal.user.dtoday == dnextreminder or @goal.user.dtoday > dnextreminder
                                        			doit = 1
                                        		end
                                        	end


                                          # If it is time, then insert the reminders if they exist	
                                          if doit == 1
                                            @goal.pp_remind_last_date = @goal.user.dtoday
                                            @goal.save
                                            %>


                                            <tr><td valign=top align=center width=1%>
                                            <br>
                                            <br>
                                            
                                            <img src="/images/default_avatar.jpg" alt=" " width="80px"> 
                                            <br>
                                            <strong><%= @goal.user.first_name %></strong> 
                                            </td>
                                            <td valign=top align=left width=99%>
                                                <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#EEEEEE;color:#8a1f11;border-color:#BBBBBB;">

                                                    <p>


                                            <%
                                            if @goal.pain != nil and @goal.pain != ""
                                                inserted_something = true
                                                %>
                                              "<%= @goal.pain %>"
                                              <br>
                                              <i>(that's what I said about the "Pain" I'll feel long term if I don't follow through on forming this habit)</i>
                                              <br>
                                              <br>
                                            <%
                                            end
                                            %>

                                            <%
                                            if @goal.pleasure != nil and @goal.pleasure != ""
                                                inserted_something = true
                                            %>
                                              "<%= @goal.pleasure %>"
                                              <br>
                                              <i>(re: how life will improve when I'm doing this on a regular basis)</i>
                                            <%
                                            end
                                          end
                                        end
                                        %>  
                                        <!-- END PLEASURE PAIN TEXT -->
                                        
                                        
                                        <% 
                                        if !inserted_something
                                            random_quote_thought = "Seek the small improvement one day at a time. That’s the only way it happens — and when it happens, it lasts."
                                            random_quote_author = "Coach John Wooden"
                                            random_quote = @goal.user.get_quote_random
                                            if random_quote
                                                random_quote_thought = random_quote.thought
                                                random_quote_author = random_quote.author
                                            end
                                            %>

                                            <tr>
                                            <td align=center colspan=2 width=100%>
                                                <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#EEEEEE;color:#8a1f11;border-color:#BBBBBB;">
                                                    <p>
                                                    
                                                    "<%= random_quote_thought %>" --<%= random_quote_author %>
                                        <%
                                        end 
                                        %>
                                        


                                        </p>
                                    </div>
                                </td></tr>
                                
                                

                                <tr>
                                <td>
                                
                                <br>
                                </td>
                                </tr>
                                
                                
                                <tr><td valign=top align=center width=1%>
                                <br>
                                <br>
                                <img src="/images/gear.png" alt=" " width="65px">
                                </td>
                                <td valign=top align=left width=99%>
                                    <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">
                                        <p>
                                            <h3>You can check in 3 different ways:</h3>
                                            Option 1: When you're ready, click either:  
                                            <a href="http://<%= sitename %>/goals?update_checkpoint_status=yes&date=<%= @goal.user.dtoday %>&e0=<%= @goal.user.email[0] %>&f0=<%= @goal.user.first_name[0] %>&u=<%= @goal.user.id %>&goal_id=<%= @goal.id %>&coming_from=email" >
                                            I did it today!
                                            </a> or
                                            <a href="http://<%= sitename %>/goals?update_checkpoint_status=no&date=<%= @goal.user.dtoday %>&e0=<%= @goal.user.email[0] %>&f0=<%= @goal.user.first_name[0] %>&u=<%= @goal.user.id %>&goal_id=<%= @goal.id %>&coming_from=email" >
                                            I didn't do it today.
                                            </a>
                                            <br>
                                            Option 2: Log into http://<%= sitename %> and click yes or no there.
                                            <br>
                                            Option 3: If we don't hear from you today, we'll send a "yes/no" check-in email early tomorrow morning.                                        
                                        </p>
                                    </div>
                                </td></tr>
                                
                                
                                
                                
                                                                
                                
                                
                                
                                </table>
                        </td>
                     </tr>
                  </table>
                  
               </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            <tr>
                <td align="center" colspan=100>
                    Questions? Email support@<%= sitename %>
                </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            http://habitforge.com/goals/hold/132630
            <tr>
                <td align="center" valign="top" class="footer">
                   <p><i>To stop receiving reminders about this goal, you can <a href="http://<%= sitename %>/goals/hold/<%= @goal.id %>?&e0=<%= @goal.user.email[0] %>&f0=<%= @goal.user.first_name[0] %>&u=<%= @goal.user.id %>&goal_id=<%= @goal.id %>">place it on hold</a> (or log into http://<%= sitename %> and modify your goal settings.</i></p>
                </td>
            </tr>
         </table>
         
      </td>
   </tr>
</table>

</body>
</html>

