<html>
<head>
<base href="http://habitforge.com/"/>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>


<!-- <a href= "http://habitforge.com/user_session/new?skip_intro=1&after_login_cn=tomessages&after_login_ca=new&after_login_param_1_name=to_id&after_login_param_1_val=<%= @from_user.id %>&after_login_param_2_name=replying_to_message_id&after_login_param_2_val=<%= @tomessage.id %>">Send a Reply!</a>
 -->
<a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Send a Reply!</a>
<hr>

<% if @from_user.show_gravatar %>
  <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@from_user.email.downcase)}?d=mm" %>
  <img src="<%= gravatar %>&s=30" />            
<% else %>
  <img src="http://habitforge.com/home/images/default_gravatar.png" height="30px"/>
<% end %>

<strong>From: <%= @from_user.first_name %> <%= @from_user.last_name %>
<br>
Subject: <%= @tomessage.subject %></strong>
<br>
<br>
<div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">
<%= @tomessage.body.gsub("\n", "<br>") %>
</div>
<hr>
<!-- <a href= "http://habitforge.com/user_session/new?skip_intro=1&after_login_cn=tomessages&after_login_ca=new&after_login_param_1_name=to_id&after_login_param_1_val=<%= @from_user.id %>&after_login_param_2_name=replying_to_message_id&after_login_param_2_val=<%= @tomessage.id %>">Reply to <%= @from_user.first_name %>.</a> -->

<a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Reply to <%= @from_user.first_name %></a>

<% if @goal_id.to_i != 0 %>
 or 

<a href= "http://habitforge.com/goals?restart_goal_id=<%= @goal_id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Re-Commit! Re-Start This Goal at Day 1!</a>
<% end %>

<br>
<br>


<h3>Did this message Make an Impact?</h3>
<strong>Good Tip</strong> <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=20&message_type=tip">(+20)</a>   <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=50&message_type=tip">(+50)</a>   <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=100&message_type=tip">(+100)</a>
<br><strong>Good Information</strong> <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=20&message_type=info">(+20)</a>   <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=50&message_type=info">(+50)</a>   <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=100&message_type=info">(+100)</a>
<br><strong>Good Motivation</strong> <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=20&message_type=motivation">(+20)</a>    <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=50&message_type=motivation">(+50)</a>    <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=100&message_type=motivation">(+100)</a>
<br>(the best messages might get integrated into the site!)

<h3>Didn't like this message?</h3>
<strong>De-Motivational</strong> <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-20&message_type=demotivational">(-20)</a>     <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-50&message_type=demotivational">(-50)</a>    <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-100&message_type=demotivational">(-100)</a>
<br><strong>Inappropriate</strong> <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-20&message_type=bad">(-20)</a>      <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-50&message_type=bad">(-50)</a>      <a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>&rating=-100&message_type=bad">(-100)</a>
<br>(if it's bad enough we'll contact the person or take appropriate action)


<br>
<br>

         <table align=center border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td align="center">
                 <p>
                 <br>
                   You are receiving this message because <%= @from_user.first_name %> 
                    <%
                    case @from_type
                    when "member"
                      %>
                      saw your public goal under the "Friends" tab in HabitForge and wanted to send you a message.
                      <%
                    when "follower"
                      %>
                      is following one of your goals in HabitForge.
                      <%
                    when "team"
                      %>
                      is on a team for one of your goals in HabitForge.
                      <%
                    else
                      %>
                      wanted to send you a message about one of your goals in HabitForge.
                      <%
                    end
                    %>
                 <br>
                 </p>
                </td>
             </tr>

             <tr>
                <td align="center">
                   <p>
                   Report any Inappropriate Messages to: <a href="mailto:support@habitforge.com">support@habitforge.com</a>
                   </p>

                </td>
             </tr>


            <% if @goal_id.to_i != 0 %>

                <tr>
                  <td class="permission" align="center">
                   <p>
                   No longer working on this goal? 
                   <br>
                     <p>

                     <p><i>To stop receiving emails about this goal, you can <a href="http://habitforge.com/goals/hold/<%= @goal_id %>?&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&u=<%= @to_user.id %>&goal_id=<%= @goal_id %>">place it on hold</a>.</i></p>

                    </p>
                  </td>
                </tr>

            <% end %>



             <tr>
                <td align="center">
                   <p>

                    <%
                    case @from_type
                    when "member"
                      %>
                     To change your goal to "Private" so that others cannot send messages, or to invite specific people to follow your goal (or to change your goal or account settings), log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    when "follower"
                      %>
                     To remove a follower or to invite more people to follow (or to change your goal or account settings), log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    when "team"
                      %>
                     To manage your team membership, account or goals, log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    else
                      %>
                     To manage your goal settings or your account, log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    end
                    %>

                   </p>

                </td>
             </tr>
             <tr>
                <td align="center">
                   <p>
                   Questions? Email <a href="mailto:support@habitforge.com">support@habitforge.com</a>
                   </p>

                </td>
             </tr>
           </table>

</body>
</html>
