<html>
<head>
<base href="http://habitforge.com/"/>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>


<!-- <a href= "http://habitforge.com/user_session/new?skip_intro=1&after_login_cn=tomessages&after_login_ca=new&after_login_param_1_name=to_id&after_login_param_1_val=<%= @from_user.id %>&after_login_param_2_name=replying_to_message_id&after_login_param_2_val=<%= @tomessage.id %>">Send a Reply!</a>
 -->
<a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Send a Reply!</a>
<hr>
<strong>From: <%= @from_user.first_name %> <%= @from_user.last_name %>
<br>
Subject: <%= @tomessage.subject %></strong>
<br>
<br>
<div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">
<%= @tomessage.body.gsub("\n", "<br>") %>
</div>
<hr>
<!-- <a href= "http://habitforge.com/user_session/new?skip_intro=1&after_login_cn=tomessages&after_login_ca=new&after_login_param_1_name=to_id&after_login_param_1_val=<%= @from_user.id %>&after_login_param_2_name=replying_to_message_id&after_login_param_2_val=<%= @tomessage.id %>">Reply to <%= @from_user.first_name %>.</a> -->

<a href= "http://habitforge.com/tomessages/new?to_id=<%= @from_user.id.to_s %>&replying_to_message_id=<%= @tomessage.id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Reply to <%= @from_user.first_name %></a>

<% if @goal_id.to_i != 0 %>
 or 

<a href= "http://habitforge.com/goals?restart_goal_id=<%= @goal_id %>&u=<%= @to_user.id.to_s %>&e0=<%= @to_user.email[0] %>&f0=<%= @to_user.first_name[0] %>&goal_id=<%= @goal_id %>">Re-Commit! Re-Start This Goal at Day 1!</a>
http://habitforge.com/goals?restart_goal_id=124800

Re-start this goal again at Day 1
<% end %>

<br>
<br>
<br>
<br>

         <table align=center border="0" cellspacing="0" cellpadding="0">
             <tr>
                <td align="center">
                 <p>
                 (If the reply link doesn't work, log into HabitForge ( http://habitforge.com ) and click "Messages" in the top right corner.)
                 <br>
                   You are receiving this message because <%= @from_user.first_name %> 
                    <%
                    case @from_type
                    when "member"
                      %>
                      saw your public goal under the "Friends" tab in HabitForge and wanted to send you a message.
                      <%
                    when "follower"
                      %>
                      is following one of your goals in HabitForge.
                      <%
                    when "team"
                      %>
                      is on a team for one of your goals in HabitForge.
                      <%
                    else
                      %>
                      wanted to send you a message about one of your goals in HabitForge.
                      <%
                    end
                    %>
                 <br>
                 </p>
                </td>
             </tr>

             <tr>
                <td align="center">
                   <p>
                   Report any Inappropriate Messages to: <a href="mailto:support@habitforge.com">support@habitforge.com</a>
                   </p>

                </td>
             </tr>

             <tr>
                <td align="center">
                   <p>

                    <%
                    case @from_type
                    when "member"
                      %>
                     To change your goal to "Private" so that others cannot send messages, or to invite specific people to follow your goal (or to change your goal or account settings), log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    when "follower"
                      %>
                     To remove a follower or to invite more people to follow (or to change your goal or account settings), log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    when "team"
                      %>
                     To manage your team membership, account or goals, log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    else
                      %>
                     To manage your goal settings or your account, log into <a href="http://habitforge.com">http://habitforge.com</a>
                      <%
                    end
                    %>

                   </p>

                </td>
             </tr>
             <tr>
                <td align="center">
                   <p>
                   Questions? Email <a href="mailto:support@habitforge.com">support@habitforge.com</a>
                   </p>

                </td>
             </tr>
           </table>

</body>
</html>
