<html>
<head>
  <base href="http://habitforge.com/"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
<p>
<% if @user.first_name.include? "nknown" %>
Hello!
<% else %>
Hi <%= @user.first_name %>.
<% end %>
<br>
<br>
Your HabitForge account and any goal, history, and log data will be deleted in <%= @grace_period %> unless you log into your account and either create a goal or "check-in" on an existing goal.
<br>
<br>
(In order to optimize the user experience for our active HabitForge members, we need to remove inactive accounts every <%= @inactivity_period %>).
<br>
<br>
To avoid having your account removed, simply click the link below and either re-activate an old goal, or create a brand new one. If you want your account removed, you don't need to take any action, and it will be removed in <%= @grace_period %>.
<br>
<br>
<br>

<a href= "http://habitforge.com/?email=<%= @user.email %>&u=<%= @user.id.to_s %>&e0=<%= @user.email[0] %>&f0=<%= @user.first_name[0] %>" style="font-size:2em;">Click Here to Log In and Start Something New</a>

<br>
<br>
<br>Best of luck with your goals!
<br>
<br>Sandon Jurowski
<br>HabitForge Creator
<br>http://habitforge.com
<br>
<br>
<br>
<br>Questions? Email support@habitforge.com
<br>
</body>
</html>
