<%
    sitename = "habitforge.com"

    arr_closing = Array.new
    arr_closing.push(["Best of luck today!"])
    arr_closing.push(["Good luck today!"])
    arr_closing.push(["Good luck with all of your goals!"])

    random_number = 0
    random_number = rand(arr_closing.size) + 0 #between 0 and arr_subject.size
    random_closing = arr_closing[random_number]

    arr_subject = Array.new
    arr_subject.push(["Check out the progress of those you follow! "])
    arr_subject.push(["Here is the progress for those you are following. "])

    random_number = 0
    random_number = rand(arr_subject.size) + 0 #between 0 and arr_subject.size
    random_subject = arr_subject[random_number]
%>





<html>
<head>
   <base href="http://<%= sitename %>/"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>the Weekly Follower Report (HabitForge)</title>
   <style type="text/css" media="screen">
      body {
      	margin: 0;
      	padding: 0;
      }
   </style>

</head>
<body>
<a name="top" id="top"></a>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
      <td align="left">         
         <table width="580" border="0" cellspacing="0" cellpadding="0">
            <tr>
               <td class="header" height="30">
                  <img src="/images/habitforge_logo.png" alt="Thanks for helping with accountability!" height="30" />
               </td>
            </tr>
            <tr>
               <td>  
                  <table width="580" border="0" cellspacing="20" cellpadding="0">     
                     <tr>
                        <td width="580" align="left" valign="top" class="mainbar">
                            <table border=0><tr><td valign=top align=center width=1%>
                            
                            
                            <img src="/images/gear.png" alt=" " width="65px">
                                </td>
                                <td valign=top align=left width=99%>
                                  <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">

                                     <h3>Good <%= @user.time_period_of_day_right_now %> <%= @user.first_name %>!<br>Here is a summary of the goals you are following on HabitForge.</h3>

                                     <!-- (hiding) random_subject -->
                                     <br>
                                     <!-- (now hiding) random_closing -->
                                 </div>
                                </td></tr>


    <tr><td><br></td><td><center>
    <%

      for goal in @arr_goals_to_email_me_about
        %>

            <p><img src="/images/comment_user_add_32.png" /> <a href="/tomessages/new?to_id=<%= goal.user.id %>" >Send <%= goal.user.first_name %> a Message about <%= goal.response_question %></a>
            • 
            <% if goal.success_rate_percentage != nil %>
                 Succeeding <%= goal.success_rate_percentage %>% of the last
            <% end %>
            <% if goal.days_into_it != nil %>
                30 days
            <% end %>

            <% if goal.daysstraight != nil and goal.daysstraight != 9999 %>
                has done it <%= goal.daysstraight %> days in a row
            <% end %>

            <% if goal.laststatusdate != nil and goal.laststatus != nil %>
            <% else %>              
                 (has not yet checked in)
            <% end %> 
            </p>
        <%
      end
      %> 
      </center></td></tr>

                                
                                <tr>
                                <td>
                                <br>
                                </td>
                                <td>                                
                                <br>
                                </td>
                                </tr>
                                


                                        
                                        
                                        <% 
					inserted_something = false ### saving this in case we add other text via db later
                                        if !inserted_something
                                            random_quote_thought = "Seek the small improvement one day at a time. That’s the only way it happens — and when it happens, it lasts."
                                            random_quote_author = "Coach John Wooden"
                                            random_quote = @user.get_quote_random
                                            if random_quote
                                                random_quote_thought = random_quote.thought
                                                random_quote_author = random_quote.author
                                            end
                                            %>

                                            <tr>
                                            <td align=center colspan=2 width=100%>
                                                <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#EEEEEE;color:#8a1f11;border-color:#BBBBBB;">
                                                    <p>
                                                    
                                                    "<%= random_quote_thought %>" --<%= random_quote_author %>
                                        <%
                                        end 
                                        %>
                                        


                                        </p>
                                    </div>
                                </td></tr>
                                
                                

                                <tr>
                                <td>
                                
                                <br>
                                </td>
                                </tr>
                                
                                
                                </table>
                        </td>
                     </tr>
                  </table>
                  
               </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            <tr>
                <td align="center" colspan=100>
                    Questions? Email support@<%= sitename %>
                </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            <tr>
                <td colspan=100>
                    
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" class="footer">
                   <p><i>The Weekly Goal Follower Report is a new feature, so bear with us as we tweak it to meet people's needs. The theory right now is: You are receiving weekly summaries because you are following the progress of someone's goal, and the purpose of following is to provide accountability. You can disable email reports for each goal you follow in the "Friends" tab when logged into http://<%= sitename %> .</i></p>
                </td>
            </tr>
         </table>
         
      </td>
   </tr>
</table>

</body>
</html>

