<h1>Editing coach_emotion_image</h1>

<% form_for(@coach_emotion_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coach_user_id %><br />
    <%= f.text_field :coach_user_id %>
  </p>
  <p>
    <%= f.label :emotion_id %><br />
    <%= f.text_field :emotion_id %>
  </p>
  <p>
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @coach_emotion_image %> |
<%= link_to 'Back', coach_emotion_images_path %>