<h1>Editing program</h1>

<% form_for(@program) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :organization_id %> <%= @program.organization_id %><br />
  </p>
  <p>
    <%= f.label :managed_by_user_id %> <%= @program.managed_by_user_id %><br />
  </p>
  <p>
    <%= f.label :image_logo %><br />
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.label :joined_count %> <%= @program.joined_count %><br />
  </p>
  <p>
    <%= f.label :current_count %> <%= @program.current_count %><br />
  </p>
  <p>
    <%= f.label :rating_stars %> <%= @program.rating_stars %><br />
  </p>
  <p>
    <%= f.label :rating_votes %> <%= @program.rating_votes %><br />
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @program %> |
<%= link_to 'Back', programs_path %>