<h1>Editing program</h1>

<% form_for(@program) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :organization_id %> <%= @program.organization_id %><br />
  </p>
  <p>
    <%= f.label :managed_by_user_id %> <%= @program.managed_by_user_id %><br />
  </p>
  <p>
    <%= f.label :image_logo %><br />
    <%= f.text_field :image_logo %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.label :joined_count %> <%= @program.joined_count %><br />
  </p>
  <p>
    <%= f.label :current_count %> <%= @program.current_count %><br />
  </p>
  <p>
    <%= f.label :rating_stars %> <%= @program.rating_stars %><br />
  </p>
  <p>
    <%= f.label :rating_votes %> <%= @program.rating_votes %><br />
  </p>



    <div class="manage">
       <%= render :partial => "program_tags/manage", :locals => { :program => @program }  %>
    </div>

    <p>
      <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('show_available_tags')">Show Available Tags</a></span>
      <div id="show_available_tags" style="display:none">
        <% @tags = Tag.find(:all, :order => "name") %>
        <% @tags.each do |tag| %>
          <a onclick="add_tag_to_program_then_reload_program_tags('<%= tag.id %>','<%= @program.id %>');" class="btn" style="padding:2px;"><%= tag.name %></a>
        <% end %>
      </div>
    </p>
    <br>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @program %> |
<%= link_to 'Back', programs_path %>