<h1>Program Details</h1>
<div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;margin-left:0px;">

<% form_for(@program) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.check_box(:structured, options = {}, checked_value = "true", unchecked_value = "false") %> Structured Program (leave unchecked if you just want a collection of habits)
  </p>    

  <p>
    <% if @program.organization %>
      <%= @program.name %>
    <% else %>
      <b>Enter a valid organization id to own this program: </b>
      <%= f.text_field :organization_id, :placeholder => "ex: 72" %>
    <% end %>
  </p>
  <p>
    <% if @program.managed_by_user %>
      <b>Managed by:</b> <%= @program.managed_by_user.name %> :: <%= @program.managed_by_user.email %> :: <%= @program.managed_by_user.id %>
    <% else %>
      Enter a valid user id to manage this program: <%= f.text_field :managed_by_user_id %>
    <% end %>    
  </p>
  <p>
    <b>Image Logo: </b>
    
    /home/images/programs/<%= f.text_field :image_logo, :placeholder => "ex: esfl.png or my_image.jpeg" %>

    <% if @program.image_logo %>
     <img src="/home/images/programs/<%= @program.image_logo %>" />
    <% end %>
  </p>
  <p>
    <b>Program Name:</b> <%= f.text_field :name %>
  </p>
  <p>
    <b>Details:</b><%= f.text_area :about %>
  </p>


  <p>
    <%= f.check_box(:status, options = {}, checked_value = "live", unchecked_value = "dev") %> Publish (leave unchecked if you're not ready to display it to the world)
  </p>
    

  <p>
    <%= f.check_box(:actions_list_dropdown, options = {}, checked_value = "true", unchecked_value = "false") %> Display action items as a dropdown instead of a list
  </p>




    <div class="manage">
       <%= render :partial => "program_tags/manage", :locals => { :program => @program }  %>
    </div>

    <p>
      <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('show_available_tags')">Show Available Tags</a></span>
      <div id="show_available_tags" style="display:none">
        <% @tags = Tag.find(:all, :order => "name") %>
        <% @tags.each do |tag| %>
          <a onclick="add_tag_to_program_then_reload_program_tags('<%= tag.id %>','<%= @program.id %>');" class="btn" style="padding:2px;"><%= tag.name %></a>
        <% end %>
      </div>
    </p>
    <br>

  <p>
    <%= f.submit 'Save Changes', :class => "btn green" %>
    <%= link_to 'Cancel Changes', @program, :class => "btn red" %> 
  </p>
<% end %>

</div>

 
<%= link_to 'Show Actions', @program, :class => "btn" %> 
<%= link_to 'Show All Programs', programs_path, :class => "btn" %>