<h1>Program Details</h1>
<div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;margin-left:0px;">

<% form_for(@program) do |f| %>


  <div class="form-horizontal">

    <%= f.error_messages %>

     <div class="control-group">
        <label class="control-label"><b>Program Name</b></label>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
     </div>




     <div class="control-group">
        <label class="control-label"><b>Category</b></label>
        <div class="controls">
          <%
          @arr = arr_goal_categories  
          %>
          <%= select(:program, :category, @arr)%>
        </div>
     </div>


     <div class="control-group">
        <label class="control-label"><b>About</b></label>
        <div class="controls">
          <%= f.text_area :about, :class => "span12 wysihtml5 m-wrap", :rows => "6" %>
        </div>
     </div>


     <div class="control-group">
        <label class="control-label"><b>Structured?</b></label>
        <div class="controls">
        <%= f.check_box(:structured, options = {}, checked_value = "true", unchecked_value = "false") %> Structured Program (leave unchecked if you just want a collection of habits)
        </div>
     </div>


     <div class="control-group">
        <label class="control-label"><b>Organization</b></label>
        <div class="controls">

          <% if @program.organization %>
            <%= @program.name %>
          <% else %>
            <%= f.text_field :organization_id, :placeholder => "ex: 72" %>
          <% end %>

        </div>
     </div>

     <div class="control-group">
        <label class="control-label"><b>Managed by</b></label>
        <div class="controls">

        <% if @program.managed_by_user %>
          <%= @program.managed_by_user.name %> :: <%= @program.managed_by_user.email %> :: <%= @program.managed_by_user.id %>
        <% else %>
          <%= f.text_field :managed_by_user_id %>
        <% end %>    

        </div>
     </div>


     <div class="control-group">
        <label class="control-label"><b>Image Logo</b></label>
        <div class="controls">

        /home/images/programs/<%= f.text_field :image_logo, :placeholder => "ex: esfl.png or my_image.jpeg" %>

        <br>
        <% if @program.image_logo %>
         <img src="/home/images/programs/<%= @program.image_logo %>" />
        <% end %>

        </div>
     </div>




     <div class="control-group">
        <label class="control-label"><b>Visibility</b></label>
        <div class="controls">
        <%= f.check_box(:status, options = {}, checked_value = "live", unchecked_value = "dev") %> Publish (leave unchecked if you're not ready to display it to the world)
        </div>
     </div>




     <div class="control-group">
        <label class="control-label"><b>Action List</b></label>
        <div class="controls">
        <%= f.check_box(:actions_list_dropdown, options = {}, checked_value = "true", unchecked_value = "false") %> Display action items as a dropdown instead of a list
        </div>
     </div>


     <div class="alert">
        <h3>Tracks</h3>
        <b>Action Items are grouped into Tracks. Each Track can have one active Action Item at a time. As each Action Item goal is met, you move on to the next Action Item in that same Track.</b>
            <p>
            <b>Some Track Examples:</b> 
            <br>1) Legs; 2) Arms; 3) Chest <i>(for an Exercise Program)</i>
            <br>1) Savings; 2) Education; 3) Frugal Spending <i>(for a Personal Finance Program)</i>
            <br>1) Relationships; 2) Exercise; 3) Education <i>(for a General Success Program)</i> 
            </p>
         <div class="control-group">
            <label class="control-label"><b>Track 1 Name:</b></label>
            <div class="controls">
                <%= f.text_field :track_1_name %> <b>(Required: you need at least one track)</b>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 2 Name:</label>
            <div class="controls">
                <%= f.text_field :track_2_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 3 Name:</label>
            <div class="controls">
                <%= f.text_field :track_3_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 4 Name:</label>
            <div class="controls">
                <%= f.text_field :track_4_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 5 Name:</label>
            <div class="controls">
                <%= f.text_field :track_5_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 6 Name:</label>
            <div class="controls">
                <%= f.text_field :track_6_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 7 Name:</label>
            <div class="controls">
                <%= f.text_field :track_7_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 8 Name:</label>
            <div class="controls">
                <%= f.text_field :track_8_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 9 Name:</label>
            <div class="controls">
                <%= f.text_field :track_9_name %> (Optional: leave blank if none)
            </div>
         </div>

         <div class="control-group">
            <label class="control-label">Track 10 Name:</label>
            <div class="controls">
                <%= f.text_field :track_10_name %> (Optional: leave blank if none)
            </div>
         </div>
     </div>


     <br />
     <h3>External Website</h3>


     <div class="control-group">
        <label class="control-label"><b>URL for External Link</b></label>
        <div class="controls">
          <%= f.text_field :external_membership_url, :value => @program.external_membership_url, :placeholder => "ex: http:\\\\bellybuster.com" %>
        </div>
     </div>

     <div class="control-group">
        <label class="control-label"><b>Name of External Site</b></label>
        <div class="controls">
          <%= f.text_field :external_membership_text, :value => @program.external_membership_url, :placeholder => "ex: The Belly Buster" %>
        </div>     
     </div>


     <div class="control-group">
        <label class="control-label"><b>Program Image Links to External URL? </b></label>
        <div class="controls">
        <%= f.check_box(:link_image_to_external_site, options = {}, checked_value = "true", unchecked_value = "false") %> Yes, make the Program Image clickable, linked to External URL
        </div>
     </div>


     <div class="control-group">
        <label class="control-label"><b>Point the Join Link to External URL? </b></label>
        <div class="controls">
        <%= f.check_box(:requires_external_membership, options = {}, checked_value = "true", unchecked_value = "false") %> Yes, External Membership Required to Join (Hides Action Items and points the Join Button to External URL)
        </div>
     </div>



     <br />
    <h3>When sending invitations, use the text below:</h3>


     <div class="control-group">
        <label class="control-label"><b>Subject</b></label>
        <div class="controls">
          <%= f.text_field :invitation_subject, :value => @program.invitation_subject %>
        </div>
     </div>

     <div class="control-group">
        <label class="control-label"><b>Body</b></label>
        <div class="controls">
          <%= f.text_area :invitation_body, :value => @program.invitation_body, :cols => 80, :rows => 20 %>
        </div>
     </div>

     

   </div> <!-- end div class = horizontal -->






    <div class="manage">
       <%= render :partial => "program_tags/manage", :locals => { :program => @program }  %>
    </div>

    <p>
      <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('show_available_tags')">Show Available Tags</a></span>
      <div id="show_available_tags" style="display:none">
        <% @tags = Tag.find(:all, :order => "name") %>
        <% @tags.each do |tag| %>
          <a onclick="add_tag_to_program_then_reload_program_tags('<%= tag.id %>','<%= @program.id %>');" class="btn" style="padding:2px;"><%= tag.name %></a>
        <% end %>
      </div>
    </p>
    <br>





  <p>
    <%= f.submit 'Save Changes', :class => "btn green" %>
    <%= link_to 'Cancel Changes', @program, :class => "btn red" %> 
  </p>
<% end %>

</div>

 
<%= link_to 'Show Actions for this Program', @program, :class => "btn" %> 
<%= link_to 'Show All Programs', programs_path, :class => "btn" %>