

<h1>HabitForge Programs</h1>
<div class="alert info">
<p>
HabitForge Programs are now evolving into interactive, informative, structured, group-based challenges that push you toward your personal development goals.
<br>
<br>
<strong>Have an idea for a challenge program?</strong> Use the "Help and Feedback" tab or email us: support@habitforge.com
</p>
</div>
<br>

<% 	arr_my_programs = Array.new() %>
<% if current_user and current_user.program_enrollments.size > 0 %>
	<h2>Programs I've Joined</h3>
	<hr>
	<%
	current_user.program_enrollments.each do |enrollment|
		if !arr_my_programs.include? enrollment.program.id
			arr_my_programs << enrollment.program.id
			%>
		    <%= link_to enrollment.program.name, '/programs/' + enrollment.program.id.to_s + '/view' %>
		    <br>
		    <%
		end
	end
	%>
<% end %>

<div><p>&nbsp</p></div>
<div><p>&nbsp</p></div>

<% if arr_my_programs.size > 0 %>
	<h2>Other Programs</h2>
	<hr>
<% end %>

<% @programs.each do |program| %>
	<% if !arr_my_programs.include? program.id %> 
	<h4><strong><%= program.name %></strong></h4>



	<% if program.managed_by_user %>
	    <% if current_user and program.managed_by_user == current_user %>

	      <div class="alert info">
	        (visible only to program manager or admin)
	      <% if program.count_of_enrolled_users %>
	        <% if program.count_of_enrolled_users > 0 %>
	        <h3>Current Members: 
	        <%= program.count_of_enrolled_users %>
	        </h3>
	        <% end %>
	      <% else %>
	        <% if program.program_enrollments.size > 0 %>
	        <h3>Current Members: 
	        (<%= program.program_enrollments.size %>)
	         </h3>
	         <% end %>
	      <% end %>
	    </div>


	    <% end %>
	<% end %>



    <p><%= program.about %></p>

    <br><%= link_to 'More Info', '/programs/' + program.id.to_s + '/view', :class => "btn blue" %>
    <hr>

    <% end %>
    

<% end %>

<br />
