

<h1>HabitForge Challenge Programs</h1>
<div class="alert info">
<p>
At the moment, a Challenge Program is simply a collection of "good habits" that you can embark on with a single click.
<br>
<br>
Over time, Challenge Programs will evolve into interactive, informative, structured, group-based challenges that push you toward your personal development goals with badge-earning challenges and team competitions.
<br>
<br>
Best of all, you'll be able to create your own programs and manage them on your own for your own set of users.
<br>
<br>
<strong>Have an idea for a challenge program?</strong> Use the "Help and Feedback" tab or email us: support@habitforge.com
</p>
</div>
<br>


<% if current_user and current_user.program_enrollments.size > 0 %>
	<h2>Programs I've Joined</h3>
	<hr>
	<%
	arr_my_programs = Array.new()
	current_user.program_enrollments.each do |enrollment|
		if !arr_my_programs.include? enrollment.program.id
			arr_my_programs << enrollment.program.id
			%>
		    <%= link_to enrollment.program.name, '/programs/' + enrollment.program.id.to_s + '/view' %>
		    <br>
		    <%
		end
	end
	%>
<% end %>

<div><p>&nbsp</p></div>
<div><p>&nbsp</p></div>

<% if arr_my_programs.size > 0 %>
	<h2>Other Programs</h2>
	<hr>
<% end %>

<% @programs.each do |program| %>
	<% if !arr_my_programs.include? program.id %> 
	<h4><strong><%= program.name %></strong></h4>
	<h4>Current Members: 
	<% if program.count_of_enrolled_users %>
	  <%= program.count_of_enrolled_users %>
	<% else %>
	  (<%= program.program_enrollments.size %>)
	<% end %>
	</h4>

    <p><%= program.about %></p>

    <br><%= link_to 'More Info', '/programs/' + program.id.to_s + '/view', :class => "btn blue" %>
    <hr>

    <% end %>
    

<% end %>

<br />
