<h1>Create a new Program</h1>
<hr>
<h2>Step 1:</h2>
<% form_for(@program) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.check_box(:structured, options = {}, checked_value = "true", unchecked_value = "false") %> Structured Program (leave unchecked if you just want a collection of habits)
  </p>    

  <p>
    Program name: <%= f.text_field :name %>
  </p>
  <p>
    Description: <%= f.text_area :about, :size => '20x20' %>
  </p>


  <%= f.hidden_field :invitation_body %>

  <%= f.hidden_field :invitation_subject %>

  <p>
    <%= f.submit 'Save and Continue', :class => "btn" %> <%= link_to 'Cancel', '/' %>
  </p>
<% end %>

