

<h1>"<%= @program.name %>" Challenge Program</h1>

<div style="background-color:#ffffff;padding:10px;padding-top:5px;margin:10px;margin-left:0px;border-color:#eeeeee;border:1px;border-style:solid;">

  <% if @program.organization %>
    <p>
      <b>Organization:</b>
      <%=h @program.organization_id %>
    </p>
  <% end %>

<p>
  <b>Managed by user:</b>
  <% #h @program.managed_by_user_id %>
  <%= @program.managed_by_user.name %> (<%= @program.managed_by_user.email %>)
</p>

<% if @program.category %>
  <p>
  <b>Category:</b>
  <%= @program.category %>
  </p>
<% end %>

<p>
  <b>Type:</b>
<% if @program.structured %>
  Structured (Controlled Order of What Actions are to be done When)
<% else %>
  Unstructured Collection of Habits
<% end %>
</p>


<% if @program.about %>
<div class="alert">
  <b>About <%= @program.name %></b>
  <br>
  <i><%= @program.about %></i>
</div>
<% end %>



<p>
  <b>Image logo:</b>
  <%=h @program.image_logo %>

  <% if @program.link_image_to_external_site and @program.external_membership_url %>
  <a href="<%= @program.external_membership_url %>" target="_parent"><img src="/home/images/programs/<%= @program.image_logo %>" /></a>
  <% else %>
  <img src="/home/images/programs/<%= @program.image_logo %>" />
  <% end %>
</p>


<p>
<b>Status:</b>
<% if @program.status and @program.status == "live" %>
  Published (people can join)
<% else %>
  Dev Mode (no one can join yet)
<% end %>
</p>

 <br>


<% if @program.actions_list_dropdown %>
  <input type=checkbox checked disabled>
<% else %>
  <input type=checkbox disabled>
<% end %>
 Display actions as a dropdown instead of a list



<h3>External Site</h3>

<p>
  <b>URL for External Link:</b>
  <%=h @program.external_membership_url %>
</p>

<p>
  <b>Name of External Site:</b>
  <%=h @program.external_membership_text %>
</p>

<p>
<% if @program.link_image_to_external_site %>
  <input type=checkbox checked disabled>
<% else %>
  <input type=checkbox disabled>
<% end %>
Make the Program Image clickable, linked to External URL
</p>

<p>
<% if @program.requires_external_membership %>
  <input type=checkbox checked disabled>
<% else %>
  <input type=checkbox disabled>
<% end %>
 External Membership Required to Join (Hides Action Items and point the Join Button to External URL)
</p>






</div>

<%= link_to 'Edit', edit_program_path(@program), :class => "btn blue", :title => "Modify Program Details.", :id => "edit_" + @program.id.to_s %>
    <script type='text/javascript'>
        $('#edit_<%= @program.id.to_s %>').tipsy();
    </script>

<%= link_to 'Preview', '/programs/' + @program.id.to_s + '/view', :class => "btn blue", :title => "Show how the program will look when other people view it.", :id => "preview_" + @program.id.to_s %>
    <script type='text/javascript'>
        $('#preview_<%= @program.id.to_s %>').tipsy();
    </script>


<% if @program.can_delete %>
(no actions, no users, delete program    <%= link_to '- Delete Program', @program, :confirm => 'Delete this program? (there are no associated users or actions)', :method => :delete, :class => "btn mini red" %>)
<% else %>


    <a id='delete_disabled_<%= @program.id.to_s %>'  class="btn disabled" title="(There are associated actions or users, so can not delete)." ><i class="icon-pause"></i>- Delete Program</a>
    <script type='text/javascript'>
        $('#delete_disabled_<%= @program.id.to_s %>').tipsy();
    </script>


<% end %>

<hr>

<div style="background-color:#ffffff;padding:10px;padding-top:5px;margin:10px;margin-left:0px;border-color:#eeeeee;border:1px;border-style:solid;">
<% @program_templates = ProgramTemplate.find(:all, :conditions => "program_id = '#{@program.id}'", :order => "listing_position") %>

<% if @program_templates.size == 0 %>

  <a href="/program_templates/new?program_id=<%= @program.id.to_s %>" class="btn green">+ Add an Action Item!</a>


<% else %>

  <a id="action_items"></a>
  <h3>"<%= @program.name %>" Action Items</h3>


  <p>
  <% if @program.structured %>
    There is a Controlled Order of when these actions are to be done
    <br><i>Users move from one item to the next only after hitting a pre-defined success rate for their current goal.</i>
  <% else %>
    This is an Unstructured Collection of Habits
    <br><i>Users can choose one or many habits from the collection at will.</i>
  <% end %>
  </p>

  <% @program_templates.each do |program_template| %>

    <br>

      <% 
      pos = ""
      if program_template.listing_position
        pos = program_template.listing_position.to_s + ". "
      end
      %>

      <%= pos %><%= link_to program_template.template.template_tagline, program_template %>
      <%= link_to '- Drop from Program', program_template, :confirm => 'Drop "' + program_template.template.template_tagline + '" from this program? (this will not delete the action template itself)', :method => :delete, :class => "btn mini red" %>
      <br>
  <% end %>

  <br>
  <a href="/goals/new?template_owner_is_a_template=1&program_id=<%= @program.id.to_s %>" class="btn green">
<!--   <a href="/program_templates/new?program_id=<%= @program.id.to_s %>" class="btn green"> -->
    + Add another Action Item!</a>

<% end %>
</div>


<hr>


<div style="background-color:#ffffff;padding:10px;padding-top:5px;margin:10px;margin-left:0px;border-color:#eeeeee;border:1px;border-style:solid;">
<% @program_enrollments = ProgramEnrollment.find(:all, :conditions => "program_id = '#{@program.id}'") %>

<% if @program_enrollments.size == 0 %>
  No Users Enrolled in this Program
<% else %>
  <%= @program_enrollments.size.to_s %> Users Enrolled in this Program 

  <% if params[:show_users] and params[:show_users] == "1" %>

    <%= link_to 'Hide Users', program_path(:show_users => "0"), :class => "btn blue mini" %> 

    <% @program_enrollments.each do |program_enrollment| %>

      <br>

        <%= link_to program_enrollment.user.name, program_enrollment %>
        <%= link_to '- Drop from Program', program_enrollment, :confirm => 'Drop "' + program_enrollment.user.name + '" from this program? (this will not delete the actual user record, but will remove the enrollment)', :method => :delete, :class => "btn mini red" %>
        <br>
    <% end %>

  <% else %>
    <%= link_to 'List Users', program_path(:show_users => "1"), :class => "btn blue mini" %> 
  <% end %>


<% end %>


</div>



  <div class="div_program_<%= @program.id %>_manage_program_invites" id="div_program_<%= @program.id %>_manage_program_invites">
    <%= render :partial => "invites/manage_program_invites", :locals => { :program => @program }  %>
  </div>


<a href="/program_enrollments/new?program_id=<%= @program.id.to_s %>" class="btn green">+ Invite a Current HF User to Preview this Program</a>
<hr>


<div class="div_program_<%= @program.id %>_manage_program_messages" id="div_program_<%= @program.id %>_manage_program_messages">
  <%= render :partial => "messages/manage_program_messages", :locals => { :program => @program }  %>
</div>
