<% 
url_prefix = "/" 
url_prefix_header = ""
if current_user
    url_prefix = "/goals/new"
    url_prefix_header = "/goals"
end
%>


<%= link_to 'All Challenge Programs', '/programs' %> --> <%= @program.name %>
<hr>
<h1><%= @program.name %>
<% if @program.managed_by_user %>
    <% if current_user and @program.managed_by_user == current_user %>
        <%= link_to "(Admin) Modify", @program, :class => "btn" %>
    <% end %>
<% end %>
</h1>


<div style="border-style:none;border-width:1px;background-color:#ffffff;padding:10px;padding-top:5px;margin:10px;margin-left:0px;">




<% if @program.image_logo %>

  <% if @program.link_image_to_external_site and @program.external_membership_url %>
  <a href="<%= @program.external_membership_url %>" target="_parent"><img src="/home/images/programs/<%= @program.image_logo %>" /></a>
  <% else %>
  <img src="/home/images/programs/<%= @program.image_logo %>" />
  <% end %>

<% end %>


<% if @program.about %>
  <p>
    <br>
    <%= @program.about %>
  </p>
<% end %>



  <% if @program.organization %>
    <p>
      <b>Organization:</b> 
      <%=h @program.organization_id %>
    </p>
  <% end %>


<% show_manager = false %>
<% if show_manager %>
<br>
<div style="background-color:#efefef;padding:5px;">
<p>
  <b>Managed by:</b>
    <%= @program.managed_by_user.name %>
  <br>
  <% #h @program.managed_by_user_id %>

  <!-- if member_goal.user.show_gravatar -->
  <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@program.managed_by_user.email.downcase)}?d=mm" %>
  <a href="/users/<%= @program.managed_by_user.id.to_s %>/profile"><img id="grav1" title="<%= @program.managed_by_user.profile_info %>" src="<%= gravatar %>&s=34" style="padding-top:2px;" /></a>            
  <script type='text/javascript'>
  $('#grav1').tipsy();
  </script>

  <% if current_user %>
    <% if (current_user.id == @program.managed_by_user.id) %>
        <a href="#" class="btn disabled"><i class="icon-envelope"></i></a>
    <% else %>
      <a href="/tomessages/new?from_type=member&tomessage_subject=hello&to_id=<%= @program.managed_by_user.id %>" id='send_message_<%= @program.managed_by_user.id.to_s %>' class="btn " style="font-size:1.5em;" title='Send a message to <%= @program.managed_by_user.name %>!'> <i class="icon-envelope"></i></a>
    <% end %>
  <% else %>
      <a href="/" id='send_message_<%= @program.managed_by_user.id.to_s %>' class="btn " style="font-size:1.5em;" title='You must be logged in to message <%= @program.managed_by_user.name %>!'> <i class="icon-envelope"></i></a>
  <% end %>
  <script type='text/javascript'>
  $('#send_message_<%= @program.managed_by_user.id.to_s %>').tipsy();
  </script>

  <br>

</p>
</div>
<% end %> <!-- end if show_manager -->



<% if @program.count_of_enrolled_users %>
  <% if @program.count_of_enrolled_users > 0 %>
  <h3>Current Members: 
  <%= @program.count_of_enrolled_users %>
  </h3>
  <% end %>
<% else %>
  <% if @program.program_enrollments.size > 0 %>
  <h3>Current Members: 
  (<%= @program.program_enrollments.size %>)
   </h3>
   <% end %>
<% end %>
</div>






<!-- 
**************************************************************
START
ONLY SHOW ACTION ITEMS IF ALREADY MEMBER OR IF NO EXTERNAL MEMBERSHIP SITE REQUIRED 
-->
<% if !@program.requires_external_membership or (@program.requires_external_membership and current_user.programs.include? @program) %>

<br>








  <%
  #################################################
  #################################################
  ###    IF STRUCTURED
  #################################################

  @program_templates = ProgramTemplate.find(:all, :conditions => "program_id = '#{@program.id}'", :order => "listing_position")

  if @program.structured and @program.get_tracks and @program_templates.size > 0
    %>



    <h3>The Program Challenge Agenda is Below</h3>
    <table border=1 cellpadding=5 cellspacing=5 align=top>
      <tr>
    <%
    @program.get_tracks.each do |arr_tracks|
      %>
      <td valign=top center align=center>
        <h3><%= arr_tracks[0] %></h3>
        
        <% found_one_for_this_track = false %>

        <% @program_templates.each do |program_template| %>
          <% if program_template.track_number == arr_tracks[1] %>

            <% if found_one_for_this_track %>
              <br><img src="/images/icons/arrow_down.gif" />
            <% else %>

            <% if @program.user_has_active_habit_in_this_track(current_user, arr_tracks[1]) %>
                <a href="" class="btn disabled"> Track Activated</a>
            <% else %>
                <a href="<%= url_prefix %>?goal_template_text=<%= program_template.template.response_question%>&category=<%= program_template.template.category%>&template_user_parent_goal_id=<%=program_template.template.id.to_s%>&goal_added_through_template_from_program_id=<%= @program.id.to_s %>&just_confirm=1&track_name=<%= arr_tracks[0] %>&starter_habit_tagline=<%= program_template.template.template_tagline %>" class="btn green">+ Start This Track</a>

            <% end %>

              <hr>
              <% found_one_for_this_track = true %>
            <% end %>
            <br>

            <% if @program.user_has_this_active_habit(current_user, program_template.template_goal_id) %>
              <span style="background-color:#FFFF99;">
                <a href="/goals">
                  <img src="/images/star_16.png" />
                  <%= program_template.template.template_tagline %>
                </a>
              </span>
            <% else %>
              <span style="background-color:#eeeeee;">
                <b><%= program_template.template.template_tagline %></b>
              </span>
            <% end %>

            <br>
            <i>
            <% if program_template.points_for_success %>
              Earn <%= program_template.points_for_success %> pts: 
            <% else %>
              <!-- Succeed:  -->
            <% end %>

            <% if program_template.one_then_done %>
              <!-- Do it Once -->
            <% end %>


            <% if program_template.succeed_for_days_straight and program_template.min_days_straight %>
              Do it <%= program_template.min_days_straight %> times straight
            <% end %>

            <% if program_template.succeed_for_lagging_success_rate and program_template.lag_days and program_template.min_lag_success_rate %>
              Do it <%= program_template.min_lag_success_rate %> % of the past <%= program_template.lag_days %> days
            <% end %>

            <% if program_template.succeed_for_total_days_of_success and program_template.min_success_days %>
              Do it <%= program_template.min_success_days %> times
            <% end %>

            <% if program_template.succeed_for_momentum and program_template.min_momentum %>
              Achieve a Momentum Rate of <%= program_template.min_momentum %> %
            <% end %>
            </i>            

          <% end %>
        <% end %>
      </td>
      <%
    end
    %>
    </tr>
    </table>    

  <%
  end ### end if @program.structured tracks
  #################################################
  ###    END IF STRUCTURED
  #################################################
  #################################################
  %>





  <!-- ##################################### -->
  <!-- ##################################### -->
  <!-- if not structured ... ignore "tracks" -->
  <!-- ##################################### -->

  <% if !@program.structured %>


    <h3>"<%= @program.name %>" Action Items</h3>

    <div class="" style="border-style:none;border-width:1px;padding:10px;margin:10px;margin-left:30px;">
    <% @program_templates = ProgramTemplate.find(:all, :conditions => "program_id = '#{@program.id}'", :order => "listing_position") %>





    <% if @program.actions_list_dropdown %>
      <!-- show the action items in a pulldown -->

      <form action="<%= url_prefix %>">

        <input type="hidden" name="goal_added_through_template_from_program_id" value="<%= @program.id.to_s%>"/>
        <select style="width:350px;" name="template_user_parent_goal_id">
          <option>-- Choose an Empowering Habit  --</option>

          <% @program_templates.each do |program_template| %>

            <option value="<%=program_template.template.id.to_s%>">
              <%= program_template.template.template_tagline %>
            </option>
              
          <% end %>
        </select>

        <input type="submit" value="+ Start Doing This Now!" class="btn green">
      </form>
      


    <% else %>
      <!-- show the action items in a list -->

      <% counter = 0 %>
      <% @program_templates.each do |program_template| %>

        <% counter += 1 %>

        <br>


          <h2><%= counter.to_s %>. <%= program_template.template.template_tagline %></h2>



          <%= program_template.template.template_description %>
          <br>
          <br>
          <span style="color:#000000;">Daily question:</span> <mark>"Were you successful today at <%= program_template.template.response_question %>?"</mark>
          <br>
          <span style="color:#000000;">Goal: </span> <%= program_template.template.goal_days_per_week %> days/week
          <br>
          <br>

          <a href="<%= url_prefix %>?goal_template_text=<%= program_template.template.response_question%>&category=<%= program_template.template.category%>&template_user_parent_goal_id=<%=program_template.template.id.to_s%>&goal_added_through_template_from_program_id=<%= @program.id.to_s %>" class="btn green">+ Start Doing This One</a><!-- or <a href="#" class="btn start">Start the Full Challenge</a>-->
          <hr>



          <br>
      <% end ### end (list version) @program_templates.each do |program_template|%>

    <% end ### if @program.actions_list_dropdown %>
    </div>
  <% end ### if !@program.structured %>
  <!-- ##################################### -->
  <!-- if not structured ... ignore "tracks" -->
  <!-- ##################################### -->
  <!-- ##################################### -->
















<% else %>
  <!-- 
  External Membership is required
  Just show a More Info button that points to External URL 
  -->
  <%= link_to "More Info", @program.external_membership_url, :class => "btn blue" %>


<% end ### if !@program.requires_external_membership or (@program.requires_external_membership and current_user.programs.include? @program)%>
<!-- 
END
ONLY SHOW ACTION ITEMS IF ALREADY MEMBER OR IF NO EXTERNAL MEMBERSHIP SITE REQUIRED 
**************************************************************
-->