<h1>Editing organization_user</h1>

<% form_for(@organization_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :organization_id %><br />
    <%= f.text_field :organization_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= f.label :coach %><br />
    <%= f.check_box :coach %>
  </p>
  <p>
    <%= f.label :editor %><br />
    <%= f.check_box :editor %>
  </p>
  <p>
    <%= f.label :publisher %><br />
    <%= f.check_box :publisher %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @organization_user %> |
<%= link_to 'Back', organization_users_path %>