<h1>Editing quant</h1>

<% form_for(@quant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tracker_id %><br />
    <%= f.text_field :tracker_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quant %> |
<%= link_to 'Back', quants_path %>