<h1>Listing quants</h1>

<table>
  <tr>
    <th>Tracker</th>
  </tr>

<% @quants.each do |quant| %>
  <tr>
    <td><%=h quant.tracker_id %></td>
    <td><%= link_to 'Show', quant %></td>
    <td><%= link_to 'Edit', edit_quant_path(quant) %></td>
    <td><%= link_to 'Destroy', quant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quant', new_quant_path %>