<% if current_user %>
<br />

<table border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td valign=top nowrap>
      <strong>First Name</strong><font color=red>*</font>
    </td>
    <td valign=top nowrap>
      <%= form.text_field :first_name %><br />    
    </td>
  </tr>
  <tr>
    <td valign=top nowrap>
    <strong>Last Name</strong>
    </td>
    <td valign=top nowrap>
    <%= form.text_field :last_name %><br />    
    </td>
    </tr>
    <tr><td>&nbsp</td></tr>
    <tr>
    <td valign=top nowrap>
    <strong>Email</strong><font color=red>*</font>
    </td>
    <td valign=top nowrap>
    <%= form.text_field :email %> (never visible to others)<br />    
    </td>
    </tr>

    <!--
    <tr>
    <td valign=top nowrap>
    Re-type Email<font color=red>*</font>
    </td>
    <td valign=top nowrap>
    <= form.text_field :email_confirmation ><br />
    </td>
    </tr>
    -->

    <tr><td colspan=2>
    <a href="#undefined" onclick="toggle_show_hide('change_password')" class="btn-add">Change My Password</a>
    <div id="change_password" style="display:none;" class="alert alert-info">

        <%= form.object.new_record? ? nil : "Change " %>Password<font color=red>*</font>
        <%= form.password_field :password %>

        <br>Re-type Password<font color=red>*</font>
        <%= form.password_field :password_confirmation %><br />    
    </div>
    </td></tr>


    <tr><td>&nbsp</td></tr>

    <td valign=top nowrap>

    </td>
    <td valign=top nowrap>


        <% gravatar_img = '<img src="/home/images/default_gravatar.png" width="30px"/>' %>
        <% if current_user %>
          <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?d=mm" %>
          <% gravatar_img = '<img src="' + gravatar + '&s=30" />' %>
        <% end %>

        <a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank">
            <%= gravatar_img %>
        </a>

        <br>
            <%= form.check_box(:show_gravatar, options = {}, checked_value = "true", unchecked_value = "false") %> Show the above Avatar to other users?
    </td>
    </tr>
    <tr>





    <tr><td>&nbsp</td></tr>
    <td valign=top nowrap>
    <strong>Searchable User ID</strong><font color=red>*</font>
    </td>
    <td valign=top nowrap>

      <%= form.text_field :handle %>   

<input name="buttonCheckHandle" onclick="reload_handle_checker(document.getElementById('user_handle').value)" type="button" value="Check Availability" />

    <span class="dynamic_handle_checker">
        <!-- LOADS THE BELOW WHEN THE BUTTON IS PUSHED -->
        <!-- render :partial => 'goals/dynamic_handle_checker' -->
    </span>
    <br>
    (give this to your friends so they can find you easily) 

    <br />    


    </td>
    </tr>
    <tr><td>&nbsp</td></tr>

    <tr><td>&nbsp</td></tr>
    <td valign=top nowrap>
    <strong>Country</strong>
    </td>
    <td valign=top nowrap>

      <%
      @arr = arr_countries  
      %>
      <%= select(:user, :country, @arr)%>

    <br />    
    </td>
    <tr>



    <tr><td>&nbsp</td></tr>
    <td valign=top nowrap>
    <strong>State / Province</strong>
    </td>
    <td valign=top nowrap>

      <%
      @arr = arr_states_us + arr_states_canada
      %>
      <%= select(:user, :state, @arr)%>

    <br />    
    </td>
    <tr>


    <tr><td>&nbsp</td></tr>
    <td valign=top nowrap>
    <strong>Your Time Zone</strong><font color=red>*</font>
    </td>
    <td valign=top nowrap>

    <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %><br />    
    </td>
    <tr>

    <tr>
    <td valign=top nowrap>
    <strong>Feed Preferences:</strong>
    </td>
    <td valign=top nowrap>
         &nbsp &nbsp
    <%= form.check_box(:feed_filter_hide_pmo, options = {}, checked_value = "true", unchecked_value = "false") %> Hide goal statuses for others working on addictions to alcohol/drugs/porn
    
    </td>
    </tr>


    <tr>
    <td valign=top nowrap>
    <strong>Merge Check-Ins:</strong>
    </td>
    <td valign=top nowrap>
         &nbsp &nbsp
    <%= form.check_box(:combine_daily_emails, options = {}, checked_value = "true", unchecked_value = "false") %> Combine any same-hour email check-ins into 1 email
    
    </td>
    </tr>


    <tr>
    <td valign=top nowrap>
    <strong>Private by default:</strong>
    </td>
    <td valign=top nowrap>
         &nbsp &nbsp


         <% if current_user.is_premium %>
            <%= form.check_box(:premium_only_default_private_goal, options = {}, checked_value = "true", unchecked_value = "false") %> Make new habits "private" by default

         <% else %>
              <% if current_user.premium_only_default_private_goal %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Make new habits "private" by default (requires <a href="https://www.securepublications.com/habit-gse3.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" >Premium Membership</a>)

         <% end %>


    
    </td>
    </tr>






</table>

<br />
<br>
<% end ### end if current_user %>