<div>
	<% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?d=mm" %>
	<img src="<%= gravatar %>&s=34" style="padding-top:2px;" />




	<% if current_user %>
	  <% if (current_user.id == @user.id) %>
	      <a href="#" class="btn disabled"><i class="icon-envelope"></i></a>
	  <% else %>
	    <a href="/tomessages/new?from_type=member&tomessage_subject=hello&to_id=<%= @user.id %>" id='send_message_<%= @user.id.to_s %>' class="btn " style="font-size:1.5em;" title='Send a message to <%= @user.name %>!'> <i class="icon-envelope"></i></a>
	  <% end %>
	<% else %>
	    <a href="/" id='send_message_<%= @user.id.to_s %>' class="btn " style="font-size:1.5em;" title='You must be logged in to message <%= @user.name %>!'> <i class="icon-envelope"></i></a>
	<% end %>

	<br>

	<%= @user.name %> 
	<% if @user.gender %>
		, <%= @user.gender %>
	<% end %>
	<% if @user.yob %>

		<% arr_today = @user.dtoday.to_s.split "-" %>
		<% year_today = arr_today[0].to_i %>
		<% age = year_today - @user.yob %>
		<% if age > 0 %>
			, <%= age %> years young
		<% end %>
	<% end %>

	<!-- LOCATION -->
	<% if @user.state or @user.country %>
		<div>
		Location: 
		<% if @user.state %>
			<%= @user.state %>
			<% if @user.country %>
				, 
			<% end %>
		<% end %>
		<% if @user.country %>
			<%= @user.country %>
		<% end %>
	<% end %>


		<%= render :partial => "cheers/shared", :locals => { :user => @user } %>

</div>

