    

<!-- BEGIN TAB PORTLET-->   
<div class="portlet box yellow tabbable">
  <div class="portlet-title">
    <h2>Account Info</h2>
  </div>
  <div class="portlet-body">
    <div class="tabbable portlet-tabs">
      <ul class="nav nav-tabs">

        <li><a href="#portlet_tab2" data-toggle="tab">Membership Plan</a></li>
        <li class="active"><a href="#portlet_tab1" data-toggle="tab">Account Details</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="portlet_tab1">


            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Private Info  <a href="/account/edit" class="btn blue mini">Edit</a></h3>

              User Name: <%=h @user.email %>
              </br>  

              Time Zone: <%=h @user.time_zone %>
              <br>
            </div>

            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Public Profile  <a href="/account/edit" class="btn blue mini">Edit</a></h3>
              <table>
                <tr>
                  <td>
                    <% if current_user.show_gravatar %>
                      <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?d=mm" %>
                                  
                      <a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank">
                          <img src="<%= gravatar %>&s=60" />
                      </a>

                    <% else %>

                      <a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank">
                        <img src="/home/images/default_gravatar.png" />
                      </a>

                    <% end %>
                  </td>
                  <td>
                    &nbsp &nbsp <%= @user.profile_info %>
                  </td>
                </tr>
              </table>

          <br>
          Link to share my public active habits: 
          <a href="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" target="_blank"><%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %></a>
 
                <a name="fb_share" type="button" share_url="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>


            </div>



            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Activity Feed  <a href="/account/edit" class="btn blue mini">Edit</a></h3>


              <% if current_user.hide_feed %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Hide the activity feed on the main (My Habits) page

              <br>

              <% if current_user.feed_filter_show_my_categories_only %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Only show activity on the main page for those who share the same categories as you
              <br>


              <% if current_user.feed_filter_hide_pmo %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
               Hide goal statuses for others working on addictions to alcohol/drugs/porn 
            </div>

            <!-- OPTIONAL FOR LATER: 
                this field already exists but is not active:
                current_user.feed_filter_show_my_categories_only 
            -->

            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Habit Options <a href="/account/edit" class="btn blue mini">Edit</a></h3>

              <!-- 
              NOTE: combine_daily_emails is actually an INTEGER in the db
              wheras premium_only_default_private_goal is a BOOLEAN
              so they need different treatment
              -->
              <% if current_user.combine_daily_emails and current_user.combine_daily_emails == 1 %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Combine any same-hour email check-ins into 1 email?

              <br>



              <% if current_user.premium_only_default_private_goal %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Make new habits "private" by default 

              <% if !current_user.is_premium %>(requires <a href="/widget/upgrade" >Premium Membership</a>)<% end %>



              
            </div>


        </div>


        <div class="tab-pane" id="portlet_tab2">

          <%
          recurring_payment = false

          if session[:site_name] == "habitforge"
          %>
          <%
          if !current_user.is_habitforge_supporting_member
          %>
            <h3>Current Membership</h3> Free (Ad-supported, limited to 1 active habit)

                <%
                if current_user.kill_ads_until == nil
                %>


                        <p>
                        <h2>
                        Become a Premium Member!  
                        <br>
                        <span style="font-size:60%;">
                        (Work on unlimited habits at once, and hide the ads!)
                        </span

                        </h2>


                <%
                else
                %>

                        <p>
                        <h2>
                        Your Premium Membership Expired on <%= current_user.kill_ads_until.strftime("%b %d, %Y") %>  
                        <br>
                        <span style="font-size:60%;">
                        (Renew now to work on unlimited active habits, ad-free!)
                        </span

                        </h2>

                <%
                end
                %> 
                    <h5><span style="font-size:150%;">Who's recommending HabitForge to their readers?</span>



                    <br>
                    
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank"><img src="/images/msn.png"></a>
                    <a href="http://lifehacker.com/5438863/habitforge-helps-you-form-new-habits-in-21+day-blocks" target="_blank"><img src="/images/lifehacker.png"></a>
                    <a href="http://www.womansday.com/health-fitness/make-healthy-habits-stick-111688" target="_blank"><img src="/images/womansday.png" width=220px ></a>

                    <br>

                        <br>
                        <img src="/home/images/logos/press_logos_v1_transparent.png" width="600" alt="press logos" />
                        <br>



                        <a href="/widget/upgrade" class="start_now">Learn More</a>

                    &nbsp &nbsp

          <%
          else
          %>

                <p />
                <%
                if current_user.kill_ads_until < (current_user.dtoday + 60)
                %>
                        <p>
                        <h2>
                        Your Premium Membership Will Expire on <%= current_user.kill_ads_until.strftime("%b %d, %Y") %> 
                        <br>
                        <span style="font-size:60%;">
                        (Extend it now to keep working on unlimited active habits, ad-free!)
                        </span

                        </h2>

                <%
                else
          %>
                        <p>
                        <h2>

            <%    
            if current_user.plan and (current_user.plan.include? 'Lifetime' or current_user.plan.include? 'Monthly' or current_user.plan.include? 'Yearly') and current_user.kill_ads_until > (current_user.dtoday + 3000)
  
              if (current_user.plan.include? 'Monthly' or current_user.plan.include? 'Yearly') and current_user.kill_ads_until > (current_user.dtoday + 3000)
                recurring_payment = true
              end
              %>

              You are a Premium Member! (<%= current_user.plan%>)
              <% if recurring_payment %>


                 <br>
                 <input type="button" class="btn" value="Downgrade" onclick="alert('To Downgrade your account to a Free account, simply send an email to support@habitforge.com with the subject DOWNGRADE, and someone will be in touch to assist within 24 hours.');" />

              <% end %>
            <%    
            else
                  %>

                          Your Premium Membership is good through <%= current_user.kill_ads_until.strftime("%b %d, %Y") %>   
                          <br>
                          <span style="font-size:60%;">
                          (You can work on unlimited active habits, ad-free!)
                          </span>
            <%
            end
            %>
                        </h2>

                <%
                end
                %> 
                    <h5><span style="font-size:150%;">Who's recommending HabitForge to their readers?</span>


                    <br>
                    
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank"><img src="/images/msn.png"></a>
                    <a href="http://lifehacker.com/5438863/habitforge-helps-you-form-new-habits-in-21+day-blocks" target="_blank"><img src="/images/lifehacker.png"></a>
                    <a href="http://www.womansday.com/health-fitness/make-healthy-habits-stick-111688" target="_blank"><img src="/images/womansday.png" width=220px ></a>

                    <br>

                        <br>
                        <img src="/home/images/logos/press_logos_v1_transparent.png" width="600" alt="press logos" />
                        <br>




                    <a href="/widget/upgrade" class="start_now">Learn More</a>


                    </h4>        

          <%
          end
          %>
          <%
          end
          %>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- END TAB PORTLET-->


 <a href="/account/edit" class="btn blue">Edit My Account Info</a>
 &nbsp &nbsp

 <% if recurring_payment %>

    <input type="button" class="btn" value="Remove My Account" onclick="alert('You must first Downgrade your account to cancel recurring payments. To Downgrade your account to a Free account, simply send an email to support@habitforge.com with the subject DOWNGRADE, and someone will be in touch to assist within 24 hours.');" />

 <% else %>
   <%= link_to 'Remove My Account', @user, :confirm => 'This will remove your account '+@user.email+', along with all of your goals, checkpoints and stats. Are you sure you want to do this? (This can not be undone.)', :method => :delete %>
 <% end %>

 </p>
<br>
<h3>Privacy</h3>
<p>We will never sell your email address or share it with anyone.
<br>You may unsubscribe with one click to any promotional emails sent by Early To Rise or HabitForge.
</p>
