    

<!-- BEGIN TAB PORTLET-->   
<div class="portlet box yellow tabbable">
  <div class="portlet-title">
    <h2>Account Info</h2>
  </div>
  <div class="portlet-body">
    <div class="tabbable portlet-tabs">
      <ul class="nav nav-tabs">

        <li><a href="#portlet_tab2" data-toggle="tab">Membership Plan</a></li>
        <li class="active"><a href="#portlet_tab1" data-toggle="tab">Account Details</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="portlet_tab1">


            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Private Info  <a href="/account/edit" class="btn blue mini">Edit</a></h3>

              User Name: <%=h @user.email %>
              </br>  

              Time Zone: <%=h @user.time_zone %>
              <br>
            </div>

            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Public Profile  <a href="/account/edit" class="btn blue mini">Edit</a></h3>
              <table>
                <tr>
                  <td>
                    <% if current_user.show_gravatar %>
                      <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?d=mm" %>
                                  
                      <a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank">
                          <img src="<%= gravatar %>&s=60" />
                      </a>

                    <% else %>

                      <a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank">
                        <img src="/home/images/default_gravatar.png" />
                      </a>

                    <% end %>
                  </td>
                  <td>
                    &nbsp &nbsp <%= @user.profile_info %>
                  </td>
                </tr>
              </table>

          <br>
          Link to share my public active habits: 
          <a href="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" target="_blank"><%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %></a>
 
                <a name="fb_share" type="button" share_url="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>


            </div>



            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Activity Feed  <a href="/account/edit" class="btn blue mini">Edit</a></h3>


              <% if current_user.hide_feed %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Hide the activity feed on the main (My Habits) page

              <br>

              <% if current_user.feed_filter_show_my_categories_only %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Only show activity on the main page for those who share the same categories as you
              <br>


              <% if current_user.feed_filter_hide_pmo %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
               Hide goal statuses for others working on addictions to alcohol/drugs/porn 
            </div>

            <!-- OPTIONAL FOR LATER: 
                this field already exists but is not active:
                current_user.feed_filter_show_my_categories_only 
            -->

            <div style="background-color:#eeeeee;padding:10px;padding-top:5px;margin:10px;">
              <h3>Habit Options <a href="/account/edit" class="btn blue mini">Edit</a></h3>

              <!-- 
              NOTE: combine_daily_emails is actually an INTEGER in the db
              wheras premium_only_default_private_goal is a BOOLEAN
              so they need different treatment
              -->
              <% if current_user.combine_daily_emails and current_user.combine_daily_emails == 1 %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Combine any same-hour email check-ins into 1 email?

              <br>



              <% if current_user.premium_only_default_private_goal %>
                <input type=checkbox checked disabled>
              <% else %>
                <input type=checkbox disabled>
              <% end %>
              Make new habits "private" by default 

              <% if !current_user.is_premium %>(requires <a href="/widget/upgrade" >HabitPro Membership</a>)<% end %>



              
            </div>


        </div>


        <div class="tab-pane" id="portlet_tab2">

          <%
          recurring_payment = false

          if session[:site_name] == "habitforge"
          %>
          <%
          if !current_user.is_habitforge_supporting_member
          %>
            <h3><mark>WARNING:</mark> You're Running HabitForge on <strong>Limited Power!</strong></h3>

                <%
                if current_user.kill_ads_until == nil
                %>


                        <p>
                        <h2>
                        Become a <strong>HabitPro</strong> Member! 
                        </h2>
  
      <center>
            <img src="/home/images/correct.png" /> <span style="text-decoration:underline;">Unlimited</span> Active Habits
            <br><img src="/home/images/correct.png" /> Private Habit Option
            <br><img src="/home/images/correct.png" /> HabitPro Tips in your Reminder Emails
            <br><img src="/home/images/correct.png" /> Invite Others to Follow Your Progress with Weekly Reports
            <br><img src="/home/images/correct.png" /> Join a Team or Build Your Own
            <br><img src="/home/images/correct.png" /> "Your Own Motivation" Inserted Every 3 Days into Reminder Emails
            <br><img src="/home/images/correct.png" /> Priority Pushes if you Slack
            <br><img src="/home/images/correct.png" /> No Advertisements
            <br><img src="/home/images/correct.png" /> Frequent Daily Reminders Option
            <br><img src="/home/images/correct.png" /> Zero Risk - 100% Money-Back Guarantee
            <br>
  </center>

                        </h2>


                <%
                else
                %>

                        <p>
                        <h3>
                        Your HabitPro Membership Expired on <%= current_user.kill_ads_until.strftime("%b %d, %Y") %>  
                        </h3>
                        <br>
                        <h1>
                        Renew now and <mark>Power Up</mark> with these features:</h1>

            <img src="/home/images/correct.png" /> <span style="text-decoration:underline;">Unlimited</span> Active Habits
            <br><img src="/home/images/correct.png" /> Private Habit Option
            <br><img src="/home/images/correct.png" /> HabitPro Tips in your Reminder Emails
            <br><img src="/home/images/correct.png" /> Invite Others to Follow Your Progress with Weekly Reports
            <br><img src="/home/images/correct.png" /> Join a Team or Build Your Own
            <br><img src="/home/images/correct.png" /> "Your Own Motivation" Inserted Every 3 Days into Reminder Emails
            <br><img src="/home/images/correct.png" /> Priority Pushes if you Slack
            <br><img src="/home/images/correct.png" /> No Advertisements
            <br><img src="/home/images/correct.png" /> Frequent Daily Reminders Option
            <br><img src="/home/images/correct.png" /> Zero Risk - 100% Money-Back Guarantee
            <br>


                <%
                end
                %> 
                <hr>
                    <h5><span style="font-size:150%;">Who's recommending HabitForge to their readers?</span>

                <hr>

                    <br>
                    
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank"><img src="/images/msn.png"></a>
                    <a href="http://lifehacker.com/5438863/habitforge-helps-you-form-new-habits-in-21+day-blocks" target="_blank"><img src="/images/lifehacker.png"></a>
                    <a href="http://www.womansday.com/health-fitness/make-healthy-habits-stick-111688" target="_blank"><img src="/images/womansday.png" width=220px ></a>

                    <br>

                        <br>

                        <center>
                        <img src="/home/images/logos/press_logos_v1_transparent.png" width="600" alt="press logos" />
                        <br>


      <br>
            <img src="/home/images/money_back_guarantee.jpeg" />
      <br>

      <h1><strong>Manage Your Subscription Below</strong></h1>
    </center>
<!-- 
                        <a href="/widget/upgrade" class="start_now">Learn More</a>
 -->
                    &nbsp &nbsp


<!-- Paywhirl info -->
<script type='text/javascript' src="https://www.paywhirl.com/js/widget.js"></script>
<iframe frameBorder="0" style='width:100%; height:auto; border:0; overflow:hidden;' id='paywhirl_frame' scrolling='no' src="https://www.paywhirl.com/widget?api_key=PW960FAF875953CD95DBA6E69CDB36C36F"></iframe>


          <%
          else
          %>

                <p />
                <%
                if current_user.kill_ads_until < (current_user.dtoday + 60)
                %>
                        <p>
                        <h2>
                        Your HabitPro Membership Will Expire on <%= current_user.kill_ads_until.strftime("%b %d, %Y") %> 
                        <br>
                        <span style="font-size:60%;">
                        (Extend it now to keep working on unlimited active habits, ad-free!)
                        </span

                        </h2>

                <%
                else
          %>
                        <p>
                        <h2>

            <%    
            if current_user.plan and (current_user.plan.include? 'Lifetime' or current_user.plan.include? 'Monthly' or current_user.plan.include? 'Yearly') and current_user.kill_ads_until > (current_user.dtoday + 3000)
  
              if (current_user.plan.include? 'Monthly' or current_user.plan.include? 'Yearly') and current_user.kill_ads_until > (current_user.dtoday + 3000)
                recurring_payment = true
              end
              %>

              You are a HabitPro Member! (<%= current_user.plan%>)
              <% if recurring_payment %>


                 <br>
                 <input type="button" class="btn" value="Downgrade" onclick="alert('To Downgrade your account to a Free account, simply send an email to support@habitforge.com with the subject DOWNGRADE, and someone will be in touch to assist within 24 hours.');" />

              <% end %>
            <%    
            else
                  %>

                          Your HabitPro Membership is good through <%= current_user.kill_ads_until.strftime("%b %d, %Y") %>   
                          <br>
                          <span style="font-size:60%;">
                          (You can work on unlimited active habits, ad-free!)
                          </span>
            <%
            end
            %>
                        </h2>

                <%
                end
                %> 
                  <hr>
                    <h5><span style="font-size:150%;">Who's recommending HabitForge to their readers?</span>
                    </hr>

                    <br>
                    
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank"><img src="/images/msn.png"></a>
                    <a href="http://lifehacker.com/5438863/habitforge-helps-you-form-new-habits-in-21+day-blocks" target="_blank"><img src="/images/lifehacker.png"></a>
                    <a href="http://www.womansday.com/health-fitness/make-healthy-habits-stick-111688" target="_blank"><img src="/images/womansday.png" width=220px ></a>

                    <br>

                        <br>

                        <center>
                        <img src="/home/images/logos/press_logos_v1_transparent.png" width="600" alt="press logos" />
                        <br>


      <br>
            <img src="/home/images/money_back_guarantee.jpeg" />
      <br>

      <h1><strong>Manage Your Subscription Below</strong></h1>

    </center>
<!--                     <a href="/widget/upgrade" class="start_now">Learn More</a>
 -->

                    </h4>        

<!-- Paywhirl info -->
<script type='text/javascript' src="https://www.paywhirl.com/js/widget.js"></script>
<iframe frameBorder="0" style='width:100%; height:auto; border:0; overflow:hidden;' id='paywhirl_frame' scrolling='no' src="https://www.paywhirl.com/widget?api_key=PW960FAF875953CD95DBA6E69CDB36C36F"></iframe>


          <%
          end
          %>
          <%
          end
          %>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- END TAB PORTLET-->


 <a href="/account/edit" class="btn blue">Edit HabitForge Account Info</a>
 &nbsp &nbsp

 <% if recurring_payment %>

    <input type="button" class="btn" value="Remove My HabitForge Account" onclick="alert('You must first Downgrade your account to cancel recurring payments. To Downgrade your account to a Free account, simply send an email to support@habitforge.com with the subject DOWNGRADE, and someone will be in touch to assist within 24 hours.');" />

 <% else %>
   <%= link_to 'Remove My HabitForge Account', @user, :confirm => 'This will remove your account '+@user.email+', along with all of your goals, checkpoints and stats. Are you sure you want to do this? (This can not be undone.)', :method => :delete %>
 <% end %>

 </p>


      <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#eeeeee;-moz-border-radius: 15px;border-radius: 15px;">     
        <% if current_user %>   
        "HabitForge Email Address": <span style="color:red;"><%= current_user.email %></span>
        <br>
        "HabitForge User Number": <span style="color:red;"><%= current_user.id %></span> 
        <% else %>

          <% if params[:current_user_email] and params[:current_user_id] %>
            "HabitForge Email Address": <span style="color:red;"><%= params[:current_user_email] %></span>
            <br>
            "HabitForge User Number": <span style="color:red;"><%= params[:current_user_id] %></span> 
          <% else %>
            You are not logged into HabitForge. You should first either:
              <ul style="text-align:center;display:inline-table;">
              <li style="display:inline;"><a href="/user_session/new?skip_intro=1" class="button-red" style="color:#CC3300;">Log In</a> or </li>
              <li style="display:inline;"><a href="#jump_to_sign_up" style="color:#CC3300;">Create an Account</a></li>
            </ul>
          <% end %>
        <% end %>
      </div>
      <img src="/home/images/hr_fancy.png" />

<br>
<h3>Privacy</h3>
<p>We will never sell your email address or share it with anyone.
<br>You may unsubscribe with one click to any promotional emails sent by Early To Rise or HabitForge.
</p>