
<%
begin
%>

<%

################################################
####### WHAT PAGES SHOULD WE RETURN TO?
session[:current_page] = request.request_uri
session[:return_to_me] = request.request_uri
################################################

if current_user
    if params[:gender]
        current_user.gender = params[:gender] 
        current_user.save
    end
    if params[:yob]
        current_user.yob = params[:yob].to_i
        current_user.save
    end
   if current_user.gender == nil
       %>
       <div class="alert">
       Are you <a href="/cheers?gender=male"><font color="red">Male</font></a> or <a href="/cheers?gender=female"><font color="red">Female</font></a> ? 
       </div>
       <%
   else
       if current_user.yob == nil
       %>
           <div class="alert">
           <form>
           <table>
           <tr>
           <td>
           What year were you born?
           </td>
           <td>
            &nbsp
            &nbsp
            <select name="yob">
                <%
                oldest = 100
                average = 30
                today = current_user.dtoday.strftime("%Y").to_i
                yob = today - 100
                yob_select = today - average
                100.times do
                    yob = yob + 1
                
                    if yob == yob_select
                    %>
                        <option SELECTED>                
                    <%
                    else
                    %>
                        <option>
                    <%
                    end
                    %>            
                    <%= yob %>    
                    </option>                
                    <%
                end
                %>
            </select>
            </td>
            <td>
            &nbsp
            &nbsp
            <input type="submit" value="Save">
            </td>
            </tr>
            </table>
           </form>
           </div>
       <%
       end       
   end
end

if params[:show_winners] and params[:goal_id]
  @goal = Goal.find(:first, :conditions => "id = '#{params[:goal_id]}'")      
  %>
  <%= render :partial => "checkpoints/priordaycategorywinnersgoal.erb", :locals => { :priordaycategorywinnersgoal => @goal }  %>
  <%
  #will render the partial _priordaycategorywinnersgoal.erb file from the checkpoints views  
else
%>

    <h2>Goals you're following</h2>
    <h5>If someone invites you to follow their progress on a goal (or if you choose to follow someone in the Public, Active Habits area below), it will be listed here. </h5>
    <p>
    <% if @cheers.size == 0 %>
      (No invites yet.) 
    <% else %>
      <% 
      i = 0
      @cheers.each do |cheer| 
        begin
          i = i + 1
          if cheer.goal
            %>
            <div style="background-color:#eeeeee;border-width:medium;border-color:#eeeeee;">
            <%=h cheer.goal.user.first_name %> <%=h cheer.goal.user.last_name %> is <%= cheer.goal.title %>.
            <br>
            <%= link_to "View Progress", cheer %>
            &nbsp; 
            •
            &nbsp;
            <a href="/tomessages/new?from_type=follower&to_id=<%= cheer.goal.user.id %>">Send <%= cheer.goal.user.first_name %> a Message!</a>
            &nbsp; 
            •
            &nbsp;
            <% if cheer.weekly_report %>
              <a href="/cheers?stop_weekly_report=<%= cheer.id %>">Stop Emailing Weekly Report For This Goal</a>
            <% else %>
              <a href="/cheers?start_weekly_report=<%= cheer.id %>">Email Me a Weekly Report For This Goal</a>
            <% end %>

            •
            &nbsp;
            <%= link_to 'Stop Following', cheer, :confirm => 'Are you sure?', :method => :delete %>
            </div>
            <br>
            <%
          end
        rescue
        %>
          <!--This goal has been removed 
        -->
          </div>
          <% #cheer.destroy %>

        <%
        end
        %>
      <% end %>
    <% end %>
    </p>
  <br>  
<p>
<%
begin
  if params[:show_winners] and params[:category]
    offset = 0
    dnow = get_dnow
    dnow = dnow + offset
    dyesterday = dnow - 1
    d2daysago = dnow - 2

    #my_conditions = "category = '#{params[:category]}' and publish = '1' and daysstraight <> '9999' and laststatus = 'yes' and (laststatusdate = '#{dyesterday}' or laststatusdate = '#{d2daysago}')"
    my_conditions = "category = '#{params[:category]}' and publish = '1' and status != 'hold'"

    @goals = Goal.find(:all, :conditions => my_conditions, :order => "daysstraight desc")
    if @goals.size == 0 
    else 
      %>
      <br>
      <br>
      <h2>Publicly Shared Active "<%= params[:category]%>" Habits:</h2>
      <br>
      <br>




      <%
      @goals.each do |goal| 

        ### do not advertise it if it is now stale
        if goal.is_active
          begin
            if goal.category != nil and goal.user.first_name != "unknown" and goal.user.id != current_user.id
              %>    


                <p>



                  <% if current_user %>
                    <a href="/cheers?start_following_goal_id=<%= goal.id.to_s %>&email=<%= current_user.email %>" id='follow_<%= goal.id.to_s %>' class="glyphicons icon-plus" title='Follow <%= goal.user.first_name %>' style="font-size:2em;padding:0;" ><i></i></a>
                      <script type='text/javascript'>
                        $('#follow_<%= goal.id.to_s %>').tipsy();
                      </script>
                  <% end %>
                   <a href="/tomessages/new?gid=<%=goal.id.to_s%>&from_type=member&tomessage_subject=<%= goal.response_question %>&to_id=<%= goal.user.id %>" id='encourage_<%= goal.id.to_s %>' class="glyphicons icon-heart-empty" title='Encourage <%= goal.user.first_name %>' style="font-size:2em;padding:0;" ><i></i></a> <%= goal.user.first_name %> is working on ... <%= goal.response_question %>
                      <script type='text/javascript'>
                        $('#encourage_<%= goal.id.to_s %>').tipsy();
                      </script>                  

                • 
                <% if goal.success_rate_percentage != nil %>
                     <%= goal.success_rate_percentage %>% Success Rate 
                <% end %>
                <% if goal.days_into_it != nil %>
                     during the last 30 days
                <% end %>

                <% if goal.daysstraight != nil and goal.daysstraight != 9999 %>
                    ... <%= goal.daysstraight %> days in a row
                <% end %>

                <% if goal.laststatusdate != nil and goal.laststatus != nil %>
                <% else %>              
                     (has not yet checked in)
                <% end %> 
                </p>


              <!--&nbsp &nbsp <strong><a href="/cheers/<%= goal.id %>/shared?shared_u=<%= goal.user.id %>" -->
              <!-- if !current_user %> target="_blank"< end >><= goal.user.first_name ></a></strong>:  
              < goal.title -->

              <% 
            end 

          rescue
            logger.error("sgj:views:cheers:index.html.erb: error displaying goal.id:" + goal.id.to_s)
          end
        end

      end 

      
      %>
      <br>
      <br>
      <h4>Other Categories</h4>
      <%
    end
  else
    %>
    <h2>Who's Working on What?</h2>
    <h5>(Click a category to see the list)</h5>
    <%
  end
  %>
</p>

<%
rescue
%>
  <br>
  <p>Something went wrong. Go back to the <a href="<%= server_root_url %>">home page</a> and try again, or <a href="mailto:support@habitforge.com">Contact Support</a></p>
<%
end
%>


<%
@arr = arr_goal_categories  
for arr in @arr
  %>
  <p>
    <!-- was making the link session[:current_page] -->
  &nbsp &nbsp &nbsp &nbsp &nbsp <a href='/cheers?show_winners=1&category=<%= arr[0] %>'><%= arr[0] %></a>
  </p>
  <%
end
%>









<%
end
%>

<% ### TOO DB INTENSIVE %>
<% #render :partial => "checkpoints/priordaywinners", :locals => { :priordaywinners => @checkpoints }  %>
<% #will render the partial _priordaywinners.erb file from the checkpoint views %>

<% ### TOO DB INTENSIVE %>
<% #render :partial => "users/alluserssharedhabits", :locals => { :alluserssharedhabits => @users }  %>
<% #will render the partial _alluserssharedhabits.erb file from the users views %>

<%
rescue
%>
  <br>
  <p>Something went wrong. Go back to the <a href="http://habitforge.com">home page</a> and try again, or <a href="mailto:support@habitforge.com">Contact Support</a></p>
<%
end
%>
