<h1>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_type_id %><br />
    <%= f.text_field :event_type_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :goal_id %><br />
    <%= f.text_field :goal_id %>
  </p>
  <p>
    <%= f.label :checkpoint_id %><br />
    <%= f.text_field :checkpoint_id %>
  </p>
  <p>
    <%= f.label :expire_at_datetime %><br />
    <%= f.datetime_select :expire_at_datetime %>
  </p>
  <p>
    <%= f.label :valid_at_datetime %><br />
    <%= f.datetime_select :valid_at_datetime %>
  </p>
  <p>
    <%= f.label :valid_at_date %><br />
    <%= f.date_select :valid_at_date %>
  </p>
  <p>
    <%= f.label :expire_at_date %><br />
    <%= f.date_select :expire_at_date %>
  </p>
  <p>
    <%= f.label :valid_at_hour %><br />
    <%= f.text_field :valid_at_hour %>
  </p>
  <p>
    <%= f.label :expire_at_hour %><br />
    <%= f.text_field :expire_at_hour %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>