<p>
  <b>Name:</b>
  <%=h @achievemint.name %>
</p>

<p>
  <b>Unit:</b>
  <%=h @achievemint.unit %>
</p>

<p>
  <b>Extra param 1:</b>
  <%=h @achievemint.extra_param_1 %>
</p>

<p>
  <b>Extra param 2:</b>
  <%=h @achievemint.extra_param_2 %>
</p>

<p>
  <b>Extra param 3:</b>
  <%=h @achievemint.extra_param_3 %>
</p>

<p>
  <b>Description:</b>
  <%=h @achievemint.description %>
</p>


<%= link_to 'Edit', edit_achievemint_path(@achievemint) %> |
<%= link_to 'Back', achievemints_path %>