<p>
  <b>User:</b>
  <%=h @impact_leader.user_id %>
</p>

<p>
  <b>Handle:</b>
  <%=h @impact_leader.handle %>
</p>

<p>
  <b>Display name:</b>
  <%=h @impact_leader.display_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @impact_leader.email %>
</p>

<p>
  <b>Country:</b>
  <%=h @impact_leader.country %>
</p>

<p>
  <b>State:</b>
  <%=h @impact_leader.state %>
</p>

<p>
  <b>Impact points:</b>
  <%=h @impact_leader.impact_points %>
</p>

<p>
  <b>Position:</b>
  <%=h @impact_leader.position %>
</p>

<p>
  <b>Premium:</b>
  <%=h @impact_leader.premium %>
</p>

<p>
  <b>Latest boost text:</b>
  <%=h @impact_leader.latest_boost_text %>
</p>


<%= link_to 'Edit', edit_impact_leader_path(@impact_leader) %> |
<%= link_to 'Back', impact_leaders_path %>