<% 
if params[:program_id] 
  @program_template.program_id = params[:program_id].to_i
end

if params[:template_goal_id] 
  @program_template.template_goal_id = params[:template_goal_id].to_i
end
%>


  
 <h2>"<%= link_to @program_template.program.name, "/programs/" + @program_template.program.id.to_s + "#action_items" %>" Action Item Details</h2>

<% form_for(@program_template) do |f| %>
  <%= f.error_messages %>

  <% show_me = false %>
  <% if show_me %>

  <p>
      Choose a program:
      <% if current_user.is_admin %>
        <% @programs = Program.all %>
        <%= f.collection_select :program_id, @programs, :id, :name, :prompt => "Choose a program" %>
      <% else %>
        <%= f.collection_select :program_id, current_user.programs_i_own, :id, :name, :prompt => "Choose a program" %>
      <% end %>
  </p>
  <p>
      Choose a goal template:
      <% if current_user.is_admin %>
        <% @goals = Goal.find(:all, :conditions => "template_owner_is_a_template is true") %>
        <%= f.collection_select :template_goal_id, @goals, :id, :title, :prompt => "Choose a goal template" %>
      <% else %>
        <%= f.collection_select :template_goal_id, current_user.templates_i_own, :id, :title, :prompt => "Choose a goal template" %>
      <% end %>

  </p>
  <% end %> <!-- end if show_me -->


  <p>
     "<%= link_to @program_template.template.title, "/goals/" + @program_template.template.id.to_s + "/edit?program_id=" + @program_template.program.id.to_s %>" is currently Action Item #<%= f.text_field :listing_position, :size => 2, :style => "width:20px;" %> 

          <%
          we_have_at_least_one_track = false
          arr_tracks = Array.new()

          arr_tracks << ["-- Choose a Track --",""] 

          if @program_template.program.track_1_name and @program_template.program.track_1_name != ""
            arr_tracks << [@program_template.program.track_1_name,1] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_2_name and @program_template.program.track_2_name != ""
            arr_tracks << [@program_template.program.track_2_name,2] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_3_name and @program_template.program.track_3_name != ""
            arr_tracks << [@program_template.program.track_3_name,3] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_4_name and @program_template.program.track_4_name != ""
            arr_tracks << [@program_template.program.track_4_name,4] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_5_name and @program_template.program.track_5_name != ""
            arr_tracks << [@program_template.program.track_5_name,5] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_6_name and @program_template.program.track_6_name != ""
            arr_tracks << [@program_template.program.track_6_name,6] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_7_name and @program_template.program.track_7_name != ""
            arr_tracks << [@program_template.program.track_7_name,7] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_8_name and @program_template.program.track_8_name != ""
            arr_tracks << [@program_template.program.track_8_name,8] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_9_name and @program_template.program.track_9_name != ""
            arr_tracks << [@program_template.program.track_9_name,9] 
            we_have_at_least_one_track = true
          end
          if @program_template.program.track_10_name and @program_template.program.track_10_name != ""
            arr_tracks << [@program_template.program.track_10_name,10] 
            we_have_at_least_one_track = true
          end
          %>

          <% if !we_have_at_least_one_track %>
             <h2><%= link_to "!!! You need to create at least one Track !!!", "/programs/" + @program_template.program.id.to_s + "/edit" %></h2>
          <% else %>
            in the <%= select(:program_template, :track_number, arr_tracks)%> Track.
          <% end %>          

    

  </p>

 <div class="control-group">
    <label class="control-label"><b>When should they move up to the next Action Item?</b></label>
    <div class="controls">
    <%= f.check_box(:one_then_done, options = {}, checked_value = "true", unchecked_value = "false") %> As soon as they check in with a "yes", assign them to the next Action Item
    </div>
 </div>
 <hr>
  <p>
    <%= f.submit 'Save Changes' %>
    or <%= link_to "Cancel Changes", "/programs/" + @program_template.program.id.to_s + "#action_items" %>
  </p>
<% end %>


