

  <% if @program_template.program_id %>
    <h3>Add a Template to "<%= @program_template.program.name %>"</h3>
  <% else %>
    <h3>Add a Template to a Program</h3>
  <% end %>

<% form_for(@program_template) do |f| %>
  <%= f.error_messages %>



  <% if @program_template.program_id %>
    <%= f.hidden_field :program_id, :value => @program_template.program_id %>
  <% else %>
    <p>
      <%= f.collection_select :program_id, current_user.programs_i_own, :id, :name, :prompt => "Select a program" %>
    </p>
  <% end %>

  <p>
    <%= f.collection_select :template_goal_id, current_user.templates_i_own, :id, :template_tagline, :prompt => "Select a template" %>

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', program_templates_path %>