<% 
if params[:program_id] 
  @program_template.program_id = params[:program_id].to_i
end

if params[:template_goal_id] 
  @program_template.template_goal_id = params[:template_goal_id].to_i
end
%>


  <% if @program_template.program_id %>
    <h3>Add an Action to the "<%= @program_template.program.name %>" Program</h3>
  <% else %>
    <h3>Add an Action to a Program</h3>
  <% end %>

<% form_for(@program_template) do |f| %>
  <%= f.error_messages %>



  <% if @program_template.program_id %>
    <%= f.hidden_field :program_id, :value => @program_template.program_id %>
  <% else %>
    <p>
      <%= f.collection_select :program_id, current_user.programs_i_own, :id, :name, :prompt => "Choose a program" %>
    </p>
  <% end %>

  <p>
    <%= f.collection_select :template_goal_id, current_user.templates_i_own, :id, :template_tagline, :prompt => "Choose an Action" %>     <%= f.submit 'Add it' %> or
    <% if @program_template.program_id %>
      <a href="/goals/new?template_owner_is_a_template=1&program_id=<%= @program_template.program_id %>"> Create a New Action</a>
    <% end %>

  </p>
<% end %>

<%= link_to 'Back', program_templates_path %>