<h1>Editing quotetags</h1>

<% form_for(@quotetags) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </p>
  <p>
    <%= f.label :quote_id %><br />
    <%= f.text_field :quote_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quotetags %> |
<%= link_to 'Back', quotetags_path %>