<p>
  <b>Shared:</b>
  <%=h @level.shared %>
</p>

<p>
  <b>Organization:</b>
  <%=h @level.organization_id %>
</p>

<p>
  <b>Program:</b>
  <%=h @level.program_id %>
</p>

<p>
  <b>Template goal:</b>
  <%=h @level.template_goal_id %>
</p>

<p>
  <b>Next level:</b>
  <%=h @level.next_level_id %>
</p>

<p>
  <b>This is the first level:</b>
  <%=h @level.this_is_the_first_level %>
</p>

<p>
  <b>Success once days straight:</b>
  <%=h @level.success_once_days_straight %>
</p>

<p>
  <b>Success once lagging rate:</b>
  <%=h @level.success_once_lagging_rate %>
</p>

<p>
  <b>Success once total success days:</b>
  <%=h @level.success_once_total_success_days %>
</p>

<p>
  <b>Success once min days elapsed:</b>
  <%=h @level.success_once_min_days_elapsed %>
</p>

<p>
  <b>Min days elapsed:</b>
  <%=h @level.min_days_elapsed %>
</p>

<p>
  <b>Min lag days:</b>
  <%=h @level.min_lag_days %>
</p>

<p>
  <b>Min success days:</b>
  <%=h @level.min_success_days %>
</p>

<p>
  <b>Min success rate:</b>
  <%=h @level.min_success_rate %>
</p>

<p>
  <b>Points:</b>
  <%=h @level.points %>
</p>

<p>
  <b>Name:</b>
  <%=h @level.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @level.description %>
</p>

<p>
  <b>Tempt image name:</b>
  <%=h @level.tempt_image_name %>
</p>

<p>
  <b>Tempt image height:</b>
  <%=h @level.tempt_image_height %>
</p>

<p>
  <b>Prize image name:</b>
  <%=h @level.prize_image_name %>
</p>

<p>
  <b>Prize image height:</b>
  <%=h @level.prize_image_height %>
</p>

<p>
  <b>Prize url:</b>
  <%=h @level.prize_url %>
</p>

<p>
  <b>Prize message:</b>
  <%=h @level.prize_message_id %>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>