<%
  email_submitted = false
  email_validated = false
  goal_submitted = false
  first_name_submitted = false

  if params[:widget_goal] and params[:widget_goal] != ""
    goal_submitted = true
  end
    
  if params[:widget_email] and params[:widget_email] != ""
    email_submitted = true
  end

  if params[:widget_first_name] and params[:widget_first_name] != ""
    first_name_submitted = true
  end

  if email_submitted
  
    ### validate email
    user = User.find(:first, :conditions => "email = '#{params[:widget_email]}'"
)
    if user == nil
      email_validated = true
    end
  end

%>


<% if email_validated and first_name_submitted %>
  <%
  ##user = User.new
  ### doing it this way just to grab the time zone...
  user = User.new(params[:user])

  if session[:referer] != nil
    user.referer = session[:referer]
  end

  user.first_name = params[:widget_first_name]
  user.last_name = ""
  user.email = params[:widget_email]
  user.email_confirmation = params[:widget_email]

  random_pw_number = rand(1000) + 1 #between 1 and 1000

  user.password = "xty" + random_pw_number.to_s
  user.password_confirmation = user.password
  user.password_temp = user.password

  user.goal_temp = params[:widget_goal]
  user.sponsor = "habitforge"

  ### having periods in the first name kills the attempts to email that person, so remove periods
  user.first_name = user.first_name.gsub(".", "")


  if params[:affiliate_name] and params[:affiliate_name] != "" 
    affiliate = Affiliate.find(:first, :conditions => "affiliate_name = '#{params[:affiliate_name]}'")
    if affiliate
      user.affiliate = affiliate
    end
  end


  ### Setting this to something other than 0 so that this person
  ### is included in the next morning's cron job to send emails
  ### this will get reset to the right number once each day via cron
  ### but set it now in case user is being created after that job runs
  user.update_number_active_goals = 1
  %>

  <% if user.save %>

    <%
    @user = user
    Notifier.deliver_widget_user_creation(@user) # sends the email
    %>

    <h2>You're almost done! Now just check your email inbox and click the "Activate Your Goal!" link to enable your check-ins.</h2>
    <br>
    <br>
    <br><i>Questions? Email support@habitforge.com</i>

  <% else %>
    <i>Sorry, but there was a problem saving your account. Please contact support@habitforge.com or click the "Feedback & Support" link at the bottom of this page</i>

  <% end %>

<% end %>

<% if email_submitted and !email_validated %>
  There is already a HabitForge account with that address. Please visit habitforge.com in a new browser window to log in.

  <br>
  <a href="http://habitforge.com/widget/start?widget_goal=<%= params[:widget_goal] %>">Try a different email address.</
a><br>
  <br><i>Questions? Email support@habitforge.com</i>
<% end %>

<% if goal_submitted and (!first_name_submitted or !email_submitted) %>

      <h2>Ok. We'll help keep you accountable for "<%= params[:widget_goal] %>".</h2>
  <br>
  <br>
      <% user = User.new %>
      <% form_for user, :url => "http://habitforge.com/widget/start" do |f| %>
       
        
          My time zone is: <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>

        <div style="width:700px;margin:10px;padding:0px;background:#ffffff;">
           My first name is: <input type="textbox" size="15" name="widget_first_name" >
        <br>
        Send my check-in emails to: <input type="textbox" size=35 name="widget_email" placeholder="ex: me@something.com
" >
        <br>
        <input type="hidden" name="widget_goal" value="<%= params[:widget_goal] %>"> 
        <%= f.submit "Go!" %> 


<%= link_to_function ("Privacy Policy") {
 |page| page.visual_effect :toggle_appear, "privacy_policy" 
} 
%> 


<div id="privacy_policy" style="display:none;">
<i>We want you to stay on track with your goals. Period. We hate spam as much as you, and we will never sell your email a
ddress or share it with anyone.  Questions? Email us at: support@habitforge.com
<i>
</div>


        </div>

 (You'll get daily check-in emails with yes/no links that you can simply click to record whether you succeeded with "<%= params[:widget_goal] %>" the previous day.)
      <% end %>

<% end %>


<% if !goal_submitted %>
    <form>
      <table>
        <tr>
          <td>
            &nbsp <h2 style="color:#606060;">Email me each morning and ask:</h2>
          </td>
        </tr>
        <tr>
          <td nowrap>
          <div style="background:#F7F8E0;padding:10px;"><br>  <h2>"Did you succeed yesterday at <input type="textbox" size=30 name="widget_goal" placeholder="ex: walking for 20 minutes">?"
            <input type="submit" class="start_now_button" value="Go! (It's Free!)" ></h2>
          </div>
          </td>
        </tr>      
      </table>
    </form>


    <br>
    <br>
    <!--Start Press Section-->
                    <img src="/images/press1.png" border="0" margin="0" height="120px" />
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target='_blank'>
                    <img src="/images/pcworld.png" border="0" margin="0" height="120px" />
                    </a>
                    <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target='_blank'>
                    <img src="/images/msn.png" border="0" margin="0" height="120px" />
                    </a>
                    <a href="http://www.familycircle.com/family-fun/technology/online-tools-for-achieving-goals/" target='_blank'>
                          <img src="/images/familycircle.png" border=0 height=110px >
                        </a>
                    <a href="http://lifehacker.com/5438863/habitforge-helps-you-form-new-habits-in-21+day-blocks" target='_blank'>
                    <img src="/images/lifehacker.png" border="0" margin="0" height="100px" />
                    </a>
    <!--End Press Section-->



<% end %> 

<br>
