<p>
  <b>Program:</b>
  <%=h @program_session.program_id %>
</p>

<p>
  <b>Start date:</b>
  <%=h @program_session.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @program_session.end_date %>
</p>


<%= link_to 'Edit', edit_program_session_path(@program_session) %> |
<%= link_to 'Back', program_sessions_path %>