<p>
  <b>User:</b>
  <%=h @checkpoint_achievemint.user_id %>
</p>

<p>
  <b>Goal:</b>
  <%=h @checkpoint_achievemint.goal_id %>
</p>

<p>
  <b>Template goal:</b>
  <%=h @checkpoint_achievemint.template_goal_id %>
</p>

<p>
  <b>Achievemint:</b>
  <%=h @checkpoint_achievemint.achievemint_id %>
</p>

<p>
  <b>Checkpoint:</b>
  <%=h @checkpoint_achievemint.checkpoint_id %>
</p>

<p>
  <b>Unit value:</b>
  <%=h @checkpoint_achievemint.unit_value %>
</p>

<p>
  <b>Param 1 value:</b>
  <%=h @checkpoint_achievemint.param_1_value %>
</p>

<p>
  <b>Param 2 value:</b>
  <%=h @checkpoint_achievemint.param_2_value %>
</p>

<p>
  <b>Param 3 value:</b>
  <%=h @checkpoint_achievemint.param_3_value %>
</p>

<p>
  <b>Transmission status:</b>
  <%=h @checkpoint_achievemint.transmission_status %>
</p>

<p>
  <b>Points worth:</b>
  <%=h @checkpoint_achievemint.points_worth %>
</p>


<%= link_to 'Edit', edit_checkpoint_achievemint_path(@checkpoint_achievemint) %> |
<%= link_to 'Back', checkpoint_achievemints_path %>