

<!-- START comments section --> 
<% if @goal.is_this_a_relevant_day(@goal.user.dtoday) or @goal.is_this_a_relevant_day(@goal.user.dyesterday) %>
    <%
    show_add_comment = false
    add_comment_date = @goal.user.dtoday
    %>
    <% if @goal.is_this_a_relevant_day(@goal.user.dtoday) and (@goal.get_daily_status_for(@goal.user.dtoday) == "yes" or @goal.get_daily_status_for(@goal.user.dtoday) == "no") %>
            <%
            show_add_comment = true
            %>            
            <% if @goal.get_daily_status_for(@goal.user.dtoday) == "yes" %>

            <div>
            <p>
            <img src="/images/checkmark_green.png" height="20px" width="20px">
            <% if @goal.publish %>
                    Congratulations on today's success! Share your stats: 
                    <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= @goal.user.id %>&one_g=<%= @goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            <% else %>
                Congratulations on today's success!
            <% end %>
            </p>
            </div>
        <% end %>
        <% if @goal.get_daily_status_for(@goal.user.dtoday) == "no" %>
            <div>
            <p>
            <img src="/images/delete.png" height=20px>
            I didn't take action on this today.
            </p>
            </div>
        <% end %>
    <% else %>
        <% if @goal.is_this_a_relevant_day(@goal.user.dyesterday) and (@goal.get_daily_status_for(@goal.user.dyesterday) == "yes" or @goal.get_daily_status_for(@goal.user.dyesterday) == "no") %>
            <%
            show_add_comment = true
            add_comment_date = @goal.user.dyesterday
            %>  
            <% if @goal.get_daily_status_for(@goal.user.dyesterday) == "yes" %>        
                <div>
                <p>
                <img src="/images/checkmark_green.png" height="20px" width="20px">
                <% if @goal.publish %>
                        Congratulations on yesterday's success! Share your stats: 
                        <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= @goal.user.id %>&one_g=<%= @goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                <% else %>
                    Congratulations on yesterday's success!
                <% end %>
                </p>
                </div>
            <% end %>

            <% if @goal.get_daily_status_for(@goal.user.dyesterday) == "no" %>
                <div>
                <p>
                <img src="/images/delete.png" height=20px>
                I didn't take action on this yesterday.
                </p>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <%
    if show_add_comment
        add_note_text = ""
        if add_comment_date == @goal.user.dtoday
            if @goal.get_daily_status_for(@goal.user.dtoday) == "yes"
                if @goal.get_daily_comment_for(@goal.user.dtoday) == ""
                    add_note_text = "Notes: How did it feel to follow through today?"
                else
                    add_note_text = "Today's notes"
                end
            else
                if @goal.get_daily_comment_for(@goal.user.dtoday) == ""
                    add_note_text = "Notes: Add a note about today."
                else
                    add_note_text = "Today's notes"
                end
            end
        end
        if add_comment_date == @goal.user.dyesterday
            if @goal.get_daily_status_for(@goal.user.dyesterday) == "yes"
                if @goal.get_daily_comment_for(@goal.user.dyesterday) == ""
                    add_note_text = "Notes: How did it feel yesterday to follow through?"
                else
                    add_note_text = "Yesterday's notes"
                end
            else
                if @goal.get_daily_comment_for(@goal.user.dtoday) == ""
                    add_note_text = "Notes: Add a note about yesterday."
                else
                    add_note_text = "Yesterday's notes"
                end
            end
        end

        %>
        <p>

        <a href="#undefined" onclick="toggle_show('note_<%= @goal.id %>')"><%= add_note_text %></a>


        <div id="note_<%= @goal.id %>" style="display:none;">
            <form>
                <textarea cols="80" rows="4" name="comment_<%= @goal.id %>"><%= @goal.get_daily_comment_for(add_comment_date) %></textarea> 
                <p>Add a note or comment above, which will be saved when you click "Save Answers" at the bottom.</p>
                <center><input type="submit" class="btn" value="Save Note" /></center>
                <input type="hidden" name="update_comment" value="1">
                <input type="hidden" name="goal_id" value="<%= @goal.id %>">
                <input type="hidden" name="date" value="<%= add_comment_date %>">
            </form>
        </div>
        </p>

    <%
    end
    %>
<% end %>

<!-- END comments section --> 


<% if @goal.date_next_to_take_action == @goal.user.dtoday %>
    <% if @goal.get_daily_status_for(@goal.user.dtoday) != "yes" and @goal.get_daily_status_for(@goal.user.dtoday) != "no" %>
        <DIV style="background-color:#FFF9F4;">
        <h3 style="font-size:1.2em;">
            
         &nbsp  &nbsp <span style="font-weight:bold;">Done for today?</span> &nbsp


                <!-- works but only w/ older versions of js -->
                <!-- link_to_remote 'I Already Succeeded Today!', :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@goal.user.dtoday.to_s}&update_checkpoint_status=yes&e0=#{@goal.user.email[0]}&f0=#{@goal.user.first_name[0]}&u=#{@goal.user.id}'", :method => :put -->

                <!-- MANUAL PAGE RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @goal.user.dtoday.to_s >&update_checkpoint_status=yes&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');">I Already Succeeded Today!</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @goal.user.dtoday.to_s %>','yes','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn green" >I Already Succeeded Today!</a>

                &nbsp or &nbsp

                <!-- works but only w/ older versions of js -->  
                <!-- link_to_remote "I Didn't do this today.", :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@goal.user.dtoday.to_s}&update_checkpoint_status=no&e0=#{@goal.user.email[0]}&f0=#{@goal.user.first_name[0]}&u=#{@goal.user.id}'", :method => :put -->


                <!-- MANUAL PAGE RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @goal.user.dtoday.to_s >&update_checkpoint_status=no&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');">I didn't do this today.</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @goal.user.dtoday.to_s %>','no','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn red" >I didn't do this today.</a>

        </h3>
        </div>
    <% end %>
<% end %>

<%
if @goal.has_unanswered_checkpoints
    total_missing = @goal.number_of_checkpoints_missing_after_start_date
    max_at_once = 5
    counter = 0
    just_yesterday = false
    catch_up_phrase = "Let's Catch Up: Did you succeed on these days?"
    if total_missing == 1
        status_yesterday = @goal.get_daily_status_for(@goal.user.dyesterday)
        if status_yesterday != "yes" and status_yesterday != "no"
            just_yesterday = true
            catch_up_phrase = "Did you succeed yesterday "
        else
            catch_up_phrase = "Did you succeed on "
        end
    end
    %>    


    <div style="padding:5px;margin:10px;">

    <%
    if total_missing == 1
        %>
        <div class="notice">
        <center>
        <h2>
        <%= catch_up_phrase %>
        <%
        for checkpoint in @goal.checkpoints_missing_after_start_date
            @checkin_date = checkpoint.checkin_date
            if just_yesterday
                %> 
                (<%= @checkin_date.strftime("%A").to_s %>) ?
                <%
            else
                %> 
                <%= @checkin_date.strftime("%A, %b. %d").to_s %> ?
                <%
            end
            %>
            <h2>

                <!-- works but only w/ older versions of js -->
                <!-- link_to_remote 'Yes', :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@checkin_date}&update_checkpoint_status=yes&e0=#{@goal.user.email[0]}&f0=#{@goal.user.first_name[0]}&u=#{@goal.user.id}'", :method => :put -->
 
                <!-- MANUAL RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @checkin_date >&update_checkpoint_status=yes&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');">Yes</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @checkin_date %>','yes','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn green" >Yes</a>

            &nbsp • &nbsp

            <!-- works but only w/ older versions of js -->
            <!-- link_to_remote "No", :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@checkin_date}&update_checkpoint_status=no&e0=#{@goal.user.email[0]}&f0=#{@goal.user.first_name[0]}&u=#{@goal.user.id}'", :method => :put -->


 
                <!-- MANUAL RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @checkin_date >&update_checkpoint_status=no&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');">No</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @checkin_date %>','no','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn red" >No</a>


            </h2>
            <%
        end
        %>
        </h2>
        </center>
        </div>
        <%
    else
        %>
        <div class="notice">
        <center>
        <a name="jump_to_catchup_on_goal_id_<%= @goal.id.to_s %>" />
        <h2><%= catch_up_phrase %>
        <% if @goal.checkpoints_missing_after_start_date.size > max_at_once %>
            <br><span style="font-size:.5em;">(showing <%= max_at_once %> of <%= @goal.checkpoints_missing_after_start_date.size %>)</span>
        <% end %>
        </h2>
        <table>
        <tr>
        <%
        for checkpoint in @goal.checkpoints_missing_after_start_date
            counter = counter + 1
            @checkin_date = checkpoint.checkin_date
            %>
            <td>
                <div class="the_date_checkin">
                    <div class="date_month_checkin">
                        <%= @checkin_date.strftime("%b").to_s %>
                    </div>
                    <div class="date_day_of_week_checkin">
                        <%= @checkin_date.strftime("%A").to_s %>
                    </div>
                    <div class="date_day_of_month_checkin">
                        <%= @checkin_date.strftime("%d").to_s %>
                    </div>
                </div>
                <p>
                &nbsp 

                <!-- 
                SWEET DOCUMENTATION!!!
                http://railsbrain.com/api/rails-2.3.2/doc/index.html?a=M002467&name=link_to_remote
                re: multiple ":with" params:
                http://firstruby.wordpress.com/2008/11/03/remote_function-or-link_to_remote-with-multiple-parameters-in-ruby-on-rails/
                -->

                <!-- works but only w/ older versions of js -->
                <!-- link_to_remote 'Yes', :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@checkin_date.to_s}&update_checkpoint_status=yes'", :method => :put -->

                <!-- MANUAL RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @checkin_date >&update_checkpoint_status=yes&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');"> Yes</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @checkin_date %>','yes','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn green" >Yes</a>
 
                <!-- works but only w/ older versions of js -->
                <!-- link_to_remote 'No', :url => {:controller => "goals", :action => "index"}, :with => "'goal_id=#{@goal.id.to_s}&date=#{@checkin_date.to_s}&update_checkpoint_status=no'", :method => :put -->

                &nbsp
                &nbsp
 
                <!-- MANUAL RELOAD METHOD -->
                <!--
                <a href="/goals/?goal_id=<= @goal.id.to_s >&date=<= @checkin_date >&update_checkpoint_status=no&e0=<= @goal.user.email[0] >&f0=<= @goal.user.first_name[0] >&u=<= @goal.user.id >"  onclick="toggle_show('spinner');reload_catch_up_on_checkpoints_BETA('<= @goal.id.to_s >');"> No</a>
                -->

              <a onclick="toggle_show('spinner_catchup_goal_id_<%= @goal.id %>');update_checkpoint_then_reload_goal_catch_up('<%= @goal.id %>','<%= @checkin_date %>','no','<%= @goal.user.email[0] %>','<%= @goal.user.first_name[0] %>','<%= @goal.user.id %>');" class="btn red" >No</a>


                </p>
            &nbsp
            </td>
            <%
            if counter >= max_at_once
                break
            end
        end
        %>
        </tr>
        </table>
        </center>
        </div>
        <%
    end
    %>
    </div>
    
    <%
end

%>

<!-- HIDE THE SPINNER NOW THAT THE PAGE IS DONE LOADING -->
<script>
toggle_hide('spinner_catchup_goal_id_<%= @goal.id %>');
</script>