<!-- Time.now() -->
<div style="padding:5px;"> 
<!-- <div style="background-color:#F7F8E0;padding:5px;">  -->
	<p>
	<% max = 3 %>
	<% counter = 0 %>

	<% encourage_items = EncourageItem.find(:all, :conditions => "checkpoint_date >= '#{current_user.dyesterday }'", :order => "id DESC", :limit => 5) %>
	<% encourage_items.each do |e| %>
		<% if counter <= max %>

			<% counter += 1 %>

			
			<div style="padding-top:5px;">
			<span style="font-size:.7em;"><%= time_ago_in_words(e.updated_at) %> ago...</span>
			<br>
			<% if current_user.goal_ids_that_i_follow.include?(e.goal_id) %>
			    <a href="#" class="btn disabled"><i class="icon-rss"></i></a>
			<% else %>
		        <a href="/cheers?start_following_goal_id=<%= e.goal_id.to_s %>&email=<%= current_user.email %>" id='follow_<%= e.goal_id.to_s %>'  class="btn blue " title="Follow <%= e.user_name %>'s Progress" ><i class="icon-rss"></i></a>
		        <script type='text/javascript'>
		            $('#follow_<%= e.goal_id.to_s %>').tipsy();
		        </script>
			<% end %>



			<a href="/tomessages/new?gid=<%=e.goal_id.to_s%>&goal_id=<%=e.goal_id.to_s%>&from_type=member&tomessage_subject=<%= e.goal_name %>&to_id=<%= e.user_id %>" id='encourage_<%= e.goal_id.to_s %>' class="btn red" title='Encourage <%= e.user_name %>!'> <i class="icon-heart-empty"></i></a> <span style="font-weight:bold;font-size:1.2em;"> 


			<!-- if member_goal.user.show_gravatar -->
			<% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(e.user_email.downcase)}?d=mm" %>
			<img src="<%= gravatar %>&s=34" style="padding-top:2px;" />            
			<!-- else -->
			<!--img src="/home/images/default_gravatar.png" height="20px"/-->
			<!-- end -->

			<%= e.user_name %></span> succeeded at <span style="background-color:#FFFF99;">

			
<a href="/goals/new?goal_template_text=<%= e.goal_name %>&category=<%= e.goal_category %>" id='start_<%= e.goal_id.to_s %>' title="Do this! Start <%= e.goal_name %>!"><%= e.goal_name %></a>
		        <script type='text/javascript'>
		            $('#start_<%= e.goal_id.to_s %>').tipsy();
		        </script>

		</span> <% if current_user.dtoday == e.checkpoint_date %>today! <% elsif current_user.dyesterday == e.checkpoint_date %>yesterday! <% else %>on <%= e.checkpoint_date %><% end %>
			<script type='text/javascript'>
			$('#encourage_<%= e.goal_id.to_s %>').tipsy();
			</script>       
			</div>



		<% else %>
			<% break %>
		<% end %>


	<% end %>
	</p>
</div>
<br>