<!-- Time.now() -->
Latest check-ins...
<div style="background-color:#F7F8E0;padding:5px;"> 
	<p>
	<% max = 5 %>
	<% counter = 0 %>
	<% arr_goal_ids_shown = Array.new() %>

	<% checkpoints = Checkpoint.find(:all, :conditions => "status = 'yes'", :order => "updated_at DESC", :limit => 25) %>
	<% checkpoints.each do |checkpoint| %>
		<% if counter <= max %>
			<% if checkpoint.goal and !arr_goal_ids_shown.include? checkpoint.goal.id and checkpoint.goal.is_active_and_public %>

				<% counter += 1 %>
				<% member_goal = checkpoint.goal %>

				<% if current_user.goal_ids_that_i_follow.include?(member_goal.id) %>
				    <a href="#" class="btn disabled">Following</a>
				<% else %>
			        <a href="/cheers?start_following_goal_id=<%= member_goal.id.to_s %>&email=<%= current_user.email %>" id='follow_<%= member_goal.id.to_s %>'  class="btn blue" title="Follow <%= member_goal.user.first_name %>'s Progress" ><i class="icon-plus"></i> Follow</a>
			        <script type='text/javascript'>
			            $('#follow_<%= member_goal.id.to_s %>').tipsy();
			        </script>
				<% end %>



				<a href="/tomessages/new?gid=<%=member_goal.id.to_s%>&goal_id=<%=member_goal.id.to_s%>&from_type=member&tomessage_subject=<%= member_goal.response_question %>&to_id=<%= member_goal.user.id %>" id='encourage_<%= member_goal.id.to_s %>' class="btn red" title='Encourage <%= member_goal.user.first_name %>!'> <i class="icon-heart-empty"></i> Encourage</a> <span style="font-weight:bold;font-size:1.2em;"> 


				<% if member_goal.user.show_gravatar %>
				<% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(member_goal.user.email.downcase)}?d=mm" %>
				<img src="<%= gravatar %>&s=20" />            
				<% else %>
				<img src="/home/images/default_gravatar.png" height="20px"/>
				<% end %>

				<%= member_goal.user.first_name %></span> succeeded at <span style="background-color:#FFFF99;"><%= member_goal.response_question %></span> <% if current_user.dtoday == checkpoint.checkin_date %>today! <% elsif current_user.dyesterday == checkpoint.checkin_date %>yesterday! <% else %>on <%= checkpoint.checkin_date %><% end %>
				<script type='text/javascript'>
				$('#encourage_<%= member_goal.id.to_s %>').tipsy();
				</script>       
				<br>
			<% end %>


		<% else %>
			<% break %>
		<% end %>


	<% end %>
	</p>
</div>
<br>