<%
@cn = controller.controller_name 
@ca = controller.action_name 
%>

<%
@arr_checkin = Array.new


@arr_checkin.push(["1am", 1])
@arr_checkin.push(["2am", 2])
@arr_checkin.push(["3am", 3])
@arr_checkin.push(["4am", 4])
@arr_checkin.push(["5am", 5])
@arr_checkin.push(["6am", 6])
@arr_checkin.push(["7am", 7])
@arr_checkin.push(["8am", 8])
@arr_checkin.push(["9am", 9])
@arr_checkin.push(["10am", 10])
@arr_checkin.push(["11am", 11])
@arr_checkin.push(["12pm (noon)", 12])
@arr_checkin.push(["1pm", 13])
@arr_checkin.push(["2pm", 14])
@arr_checkin.push(["3pm", 15])
@arr_checkin.push(["4pm", 16])
@arr_checkin.push(["5pm", 17])
@arr_checkin.push(["6pm", 18])
@arr_checkin.push(["7pm", 19])
@arr_checkin.push(["8pm", 20])
@arr_checkin.push(["9pm", 21])
@arr_checkin.push(["10pm", 22])
@arr_checkin.push(["11pm", 23])
%>


<!-- TESTING OUT SHOWING EVERYTHING NO MATTER WHAT -->
<% if session[:sfm_virgin] %>
  <% session[:sfm_virgin] = false %>
<% end %>
<!-- END TESTING OUT SHOWING EVERYTHING NO MATTER WHAT -->



<input type="hidden" name="submitted_new_goal" value="1">

<% if params[:invitation_id] %>
  <input type="hidden" name="invitation_id" value="<%= params[:invitation_id] %>">
<% end %>
  

<% if session[:dev_mode_just_returned_from_sales_page] %>
  <% session[:dev_mode_just_returned_from_sales_page] = nil %>
  <div class="alert">
    Dev Mode: in prod you would be returning from the Sales page.
  </div>
<% end %>
<hr>



<!-- IF THIS GOAL IS CURRENTLY PART OF AN EXTRA ACCOUNTABILITY CHALLENGE -->
<%
has_active_challenge = false
if @goal.number_my_active_bets > 0
  has_active_challenge = true
end
%>

<!-- IF THIS GOAL IS BASED ON A TEMPLATE, DO NOT ALLOW MODIFICATIONS OF SOME THINGS -->
<% 
based_on_a_template = false
if @goal.template_user_parent_goal_id
  based_on_a_template = true
end
%>

<!-- IF THIS GOAL IS PART OF A CATEGORY-BASED TEAM, DO NOT ALLOW MODIFICATIONS OF CATEGORY -->
<% 
part_of_a_team_category = false
if (params[:invitation_id] and params[:category]) or (@goal.is_part_of_a_team and @goal.team.custom)
  part_of_a_team_category = true
end
%>



<!-- TEMPLATE STUFF -->
<% them_or_me = "me" %>
<% if @goal.template_owner_is_a_template or (params[:template_owner_is_a_template] and params[:template_owner_is_a_template] == "1") 
  @goal.template_owner_is_a_template = true
  them_or_me = "them"
  %>
  <%= form.hidden_field :template_owner_is_a_template, :value => true %>

  <!-- Used when creating a new template for a particular program -->
  <% if params[:program_id] %>
    <% 
    program_id = params[:program_id].to_i
    %>
    <input type="hidden" name="program_id" value="<%= program_id %>">
    <% @program = Program.find(program_id) %>
  <% end %>

<% else
  @goal.template_owner_is_a_template = false
  %>
  <%= form.hidden_field :template_owner_is_a_template, :value => false %>
<% end %>
<!-- END TEMPLATE STUFF -->


<%= form.hidden_field :user_id, :value => current_user.id %>
<%

#end

#<br>
#&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box(:goal, :share, options = {}, checked_value = "true", unchecked_value = "false") 
#<b>Share</b> <i>Invite someone via email to help me stay on track</i>


dest = Date.new(1900,01,01)
if @goal.established_on == nil
  @goal.established_on = "1900-01-01"
end
if @goal.status == nil
    @goal.status = "start"
end


@arrStatus = Array.new

if @goal.status == "start"
  if  @goal.established_on == dest
    @arrStatus.push(["Shoot for 21 Days Straight (strict)", "start"])
  else
    @arrStatus.push(["Established", "start"])
  end
else
  if @goal.status != "start" and @goal.established_on != dest
    @arrStatus.push(["Go! (start over at day 1)", "start"])
  end
end


if @goal.status == "hold"
  @arrStatus.push(["Go! (start over at day 1)", "start"])
end


if current_user.is_admin or @goal.status == "monitor" or @goal.established_on == dest
  @arrStatus.push(["Just monitor success rate (more options)", "monitor"])  
  %>
  <%
end

show_monitor_option_details = 0
%>


<% if @ca != "new" and based_on_a_template or has_active_challenge or part_of_a_team_category and !params[:just_confirm] %>
  <h6>(Note: Some of the values below are locked because this goal is either part of a team, an accountability challenge, or was built to mirror a templated goal.)</h6>
<% end %>


<!-- <div class="well"> -->
<div class="">
<% if session[:sfm_virgin] == true and !@goal.template_owner_is_a_template and !based_on_a_template%> 
  <h1>Quick-Start Your New Habit...</h1>
  <br>
<% end %>



<% if @ca == "new" %>
<div style="padding-top:0px;">
<span style="color:#CC3300;font-size:2em;font-weight:bold;">
  <% if @program %>
<!--     Describe the action item below.
 -->  
  <% else %>

    <% if !params[:just_confirm] and !params[:goal_added_through_template_from_program_id] %>
    <% else %>


      <!-- When starting a new program and a new goal within that program -->
      <% if params[:goal_added_through_template_from_program_id]%>
        <% 
        program_id = 0
        if params[:goal_added_through_template_from_program_id]
          program_id = params[:goal_added_through_template_from_program_id].to_i
        end
        %>
        <% temp_program = Program.find(program_id) %>


        <% if !params[:continue_along_this_program_track] %>
          Welcome to the <%= temp_program.name %> challenge program!
        <% end %>
      <% end %>

    <% end %>
  <% end %>
</span>
</div>
<% end %>




<% if params[:just_created_new_habit] %>

    <div style="padding-top:0px;">
    <span style="color:#000000;font-size:2em;font-weight:bold;">Now Let's Customize Your Habit!</span>
    </div>

<% end %>

<!-- <h2><img src="/home/images/paperplane_icon.png" alt="img"  /> Check in with <%= them_or_me %> daily by email at 

  and ask:</h2>
 -->

<div style="padding-top:10px;">

<table border=0 cellpadding=5 cellspacing=5><tr><td>
<center>
<img src="/home/images/coaches/woman1/coach_woman1_talking_small.jpg" />
<br>
Lisa
</center>
</td>
<td>
<div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#eeeeee;-  moz-border-radius:15px;border-radius:15px;">


<% if @ca == "new" %>
  I'm Lisa, one of the coaches at HabitForge. It's my job to inspire and encourage you.
  <br>
  I'll also be checking in on your progress each day.
  <br>
  <span style="font-size:1.2em;font-weight:normal;">
    <% if @program %>
      The check-in emails for this action will read...
    <% else %>
      <% if !params[:just_confirm] %>
      When it's time for me to check in on you, what should I ask?
      <% end %>
    <% end %>
  </span>
<% else %>
  Check out the Customization Toolbox below to tweak the settings of your habit goal!
<% end %>
</div>
</td>
</tr>

<tr>
<td>

</td>
</tr>
</table>
</div>

<br>

<!-- <div class="alert"> -->

<div>

<% 
question_placeholder = "(enter your goal) ex: walking 20 minutes"
if part_of_a_team_category 
  question_placeholder = ""
end
%>
  <% if !params[:just_confirm] %>
  <h2>
  Ask me this daily to see if I came through: 
</h2>
  <br>
  <span style="font-weight:bold;font-size:1.5em;">"Were you successful at
  <% end %>
<% if !based_on_a_template and !has_active_challenge %>
 &nbsp
  <%= form.text_field :response_question, :placeholder => question_placeholder, :size => 40, :style=>'width:300px;' %> 
<% else %>
  <% if !params[:just_confirm] %>
  <%= @goal.response_question %>
  <% end %>
  <%= form.hidden_field :response_question, :value => @goal.response_question %>
  <%= form.hidden_field :template_user_parent_goal_id, :value => @goal.template_user_parent_goal_id %>
  <%= form.hidden_field :goal_added_through_template_from_program_id, :value => @goal.goal_added_through_template_from_program_id %>
<% end %>


<% if !params[:just_confirm] %>
  <% if @goal.check_in_same_day == nil or @goal.check_in_same_day == true %>
   today 
  <% else %>
   yesterday 
  <% end %>
  ?"</span>
<% end %>

<% if @ca == "edit" %>
<div style="float:right;margin-right:20px;margin-top:5px;padding-bottom:5px;">
<span style="color:#ffffff;font-weight:bold;font-size:2em;"><a href="#" onclick="toggle_show_hide('div_customization_toolbox');toggle_show_hide('div_customize_arrow1');toggle_show_hide('div_customize_arrow2');" style="color:#ffffff;text-decoration:none;"><i class="icon-cog"></i></a></span>
</div>
<% end %>

</div> <!-- end div class "alert" -->

<% if @ca == "edit" %>

  <div id="div_customize_arrow1" name="div_customize_arrow1" style="display:none;float:right;margin-top:15px;margin-right:40px;transform:rotate(-7deg);-webkit-transform:rotate(-7deg);">
      <span style="font-family:Patrick Hand;color:#33cc66;font-size:1.2em;" >
        Customize This Habit
      </span>
  </div>
  <div id="div_customize_arrow2" name="div_customize_arrow2" style="display:none;float:right;margin-top:5px;margin-right:-150px;">
    <img src="/home/images/arrow.png" >
  </div>

<% end %>






<% if has_active_challenge %>
  <br>
  <div class="alert-info">
  This goal's title, category and frequency can not be modified because it is currently part of an Extra Accountability Challenge.
  </div>
<% end %>


  <% if @goal.template_owner_is_a_template %>

    <br>
    Tagline: <span style="font-style:italic;">This is how this goal will be advertised to others.</span><br>
    <%= form.text_field :template_tagline, :placeholder => 'Ex: Take a Walk!', :style=>'width:400px;', :size => 40 %>

    <br>

    Description: <span style="font-style:italic;">Some text about this goal, or a fact about why they should do this.</span><br>
    <%= form.text_field :template_description, :placeholder => 'ex: Walking for 20 minutes each day burns calories and increases a sense of well-being!', :style=>'width:600px;', :size => 80 %>

  <% end %>

  <% if @ca == "new" and @goal.template_owner_is_a_template %>
<!--     <h3>You can add tags once the template is saved.</h3>
 -->  
 <% end %>

  <% if @ca == "edit" and @goal.template_owner_is_a_template %>

    <div class="manage">
       <%= render :partial => "template_tags/manage", :locals => { :goal => @goal }  %>
    </div>

    <p>
      <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('show_available_tags')">Show Available Tags</a></span>
      <div id="show_available_tags" style="display:none">
        <% @tags = Tag.find(:all, :order => "name") %>
        <% @tags.each do |tag| %>
          <a onclick="add_tag_to_template_then_reload_template_tags('<%= tag.id %>','<%= @goal.id %>');" class="btn" style="padding:2px;"><%= tag.name %></a>
        <% end %>
      </div>
    </p>
    <br>
    <br>
  <% end %>



  <% if @ca == "new" %>
    <!-- CATEGORY when NEW-->
    <div style="padding-top:10px;">


    <% if @program and @program.category %>
      <%= form.hidden_field :category, :value => @program.category %>    
    <% else %>

      <% if based_on_a_template or has_active_challenge or part_of_a_team_category %>
        <% if @goal.category and @goal.category != "" and !params[:just_confirm]%>
          Category: 
        <% end %>
      <% else %>


        <div style="padding-top:10px;">

        <table border=0 cellpadding=5 cellspacing=5>
          <tr>        <td>
       <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#eeeeee;-moz-border-radius:15px;border-radius:15px;">

        <span style="font-size:1.2em;font-weight:normal;">
          One last thing: What category does this fit into?

        </span>
        </div>
        </td>
        <td>


      <% end %>
      <% if !based_on_a_template and !has_active_challenge and !part_of_a_team_category %>
        <%
        @arr = arr_goal_categories  
        %>
        <%= select(:goal, :category, @arr)%>
      <% else %>
        <% if !params[:just_confirm] %>
        <%= @goal.category %>
        <% end %>
        <%= form.hidden_field :category, :value => @goal.category %>
      <% end %>


        </td>
        </tr>
        </table>
        </div>

    <% end %>



    </div>
    <!-- END CATEGORY when NEW -->
  <% end %>

</div> <!-- end div "well" -->




<% if @ca == "edit" %>
  <div style="display:block;">
<% else %>
  <!-- make sure it's actually "there" otherwise certain settings won't get set -->
  <div style="display:none;">
<% end %>

<!-- START ALL CUSTOM OPTIONS -->
<div id="div_customization_toolbox" name="div_customization_toolbox" style="display:block;margin-left:-20px;margin-right:-20px;border-width:0px;border-style:solid;border-color:#eeeeee;padding:0px;background-color:#eeeeee;">


<div style="background-color:#666666;margin-top:-20px;margin-left:-0px;margin-right:-20px;padding-left:20px;margin-top:-0px;padding-top:10px;padding-bottom:10px;">
<span style="color:#ffffff;font-weight:bold;font-size:1.5em;"><i class="icon-briefcase"></i> Customization Toolbox</span> 
</div>



<div style="padding:20px;">

<% if @ca == "edit" %>
<!-- CATEGORY when EDIT-->
<% if based_on_a_template or has_active_challenge or part_of_a_team_category %>
  <% if @goal.category and @goal.category != "" %>
    Category: 
  <% end %>
<% else %>
  What category does this fit into?
<% end %>
<% if !based_on_a_template and !has_active_challenge and !part_of_a_team_category %>
  <%
  @arr = arr_goal_categories  
  %>
  <%= select(:goal, :category, @arr)%>
<% else %>
  <%= @goal.category %>
  <%= form.hidden_field :category, :value => @goal.category %>
<% end %>
<!-- END CATEGORY when EDIT -->
<% end %>


<!-- HOW OFTEN SO FAR + WHEN TO START? -->
<div>
<% if params[:just_created_new_habit] %>

    <% 
    if !@goal.pre_start_days_per_week and !@goal.template_owner_is_a_template

        @arr_pre_start_days_per_week = Array.new

        @arr_pre_start_days_per_week.push(["0", 0])
        @arr_pre_start_days_per_week.push(["1", 1])
        @arr_pre_start_days_per_week.push(["2", 2])
        @arr_pre_start_days_per_week.push(["3", 3])
        @arr_pre_start_days_per_week.push(["4", 4])
        @arr_pre_start_days_per_week.push(["5", 5])
        @arr_pre_start_days_per_week.push(["6", 6])
        @arr_pre_start_days_per_week.push(["7", 7])
        %>
        
        Lately I've been doing it about   
            <%= select(:goal, :pre_start_days_per_week, @arr_pre_start_days_per_week,{},{:style=>"width:50px;"}) %> days a week.
         I'll be doing it regularly 

        <% if @goal.start == current_user.dtoday %>
          <select id="delay_start_for_this_many_days" name="delay_start_for_this_many_days" style="width:auto;">
          <option value="0" SELECTED>
          starting today.
          </option>
          <option value="1">
          starting tomorrow.
          </option>
          </select>
        <% end %>

        <% if @goal.start == current_user.dtomorrow %>
          <select id="delay_start_for_this_many_days" name="delay_start_for_this_many_days" style="width:auto;">
          <option value="-1" >
          starting today.
          </option>
          <option value="0" SELECTED>
          starting tomorrow.
          </option>
          </select>
        <% end %>

        <%
    end
    %>

<% end %>
</div>
<!-- END HOW OFTEN SO FAR + WHEN TO START? -->



  <a name="reminders" ></a>

<!-- START REMINDER OPTIONS -->
<span style="font-size:2em;"><i class="icon-bell"></i> Reminders <a href="#undefined" onclick="toggle_show_hide('div_reminders')" style="font-size:0.7em;">Details</a></span>

    <% if params[:show_reminders] %>
      <div id="div_reminders" name="div_reminders" class="well" style="display:block;">
    <% else %>
      <div id="div_reminders" name="div_reminders" class="well" style="display:none;">
    <% end %>

<!--   Your timezone is set to <a href="/account/edit"><= current_user.time_zone ></a>.
 --><table>
  <tr>
    <td>
    Check in with <%= them_or_me %> for a yes/no answer at: &nbsp  
    </td>

    <td>
    <%= select(:goal, :usersendhour, @arr_checkin,{},{:style=>"width:75px;"})%>



    <%
    @arr_check_in_same_day = Array.new
    @arr_check_in_same_day.push(["the same day", true])
    @arr_check_in_same_day.push(["the next morning", false])
    %>
    <%= select(:goal, :check_in_same_day, @arr_check_in_same_day, {},{:style => 'width:150px;'})%>

    </td>

  </tr>



  <tr>
  <td valign=top nowrap align=right>


  Remind <%= them_or_me %> at: &nbsp  





  </td>
  <td nowrap>

    <%
    @arr_reminder = Array.new



    @arr_reminder.push(["~1am", 1])
    @arr_reminder.push(["~2am", 2])
    @arr_reminder.push(["~3am", 3])
    @arr_reminder.push(["~4am", 4])
    @arr_reminder.push(["~5am", 5])
    @arr_reminder.push(["~6am", 6])
    @arr_reminder.push(["~7am", 7])
    @arr_reminder.push(["~8am", 8])
    @arr_reminder.push(["~9am", 9])
    @arr_reminder.push(["~10am", 10])
    @arr_reminder.push(["~11am", 11])
    @arr_reminder.push(["~12pm", 12])
    @arr_reminder.push(["~1pm", 13])
    @arr_reminder.push(["~2pm", 14])
    @arr_reminder.push(["~3pm", 15])
    @arr_reminder.push(["~4pm", 16])
    @arr_reminder.push(["~5pm", 17])
    @arr_reminder.push(["~6pm", 18])
    @arr_reminder.push(["~7pm", 19])
    @arr_reminder.push(["~8pm", 20])
    @arr_reminder.push(["~9pm", 21])
    @arr_reminder.push(["~10pm", 22])
    @arr_reminder.push(["~11pm", 23])

    @arr_reminder.push(["no reminder", -1])
    %>
    <%= select(:goal, :reminder_send_hour, @arr_reminder,{},{:style=>"width:75px;"})%>

    <%
      if current_user.sponsor == "habitforge" and !@goal.more_reminders_enabled and !session[:sfm_virgin]
          %>
          <strong>
            <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('multiple_reminders')">more reminders</a></span>
          </strong>
        <%
      end
    %>
</h2>
  </td>
  </tr>

  <tr>
  <td valign=top nowrap align=right colspan=5>
  &nbsp

    <% if @goal.more_reminders_enabled %>
        <div id="multiple_reminders">
    <% else %>
        <div id="multiple_reminders" style="display:none;">
    <% end %>    
    
        <% if current_user.is_habitforge_supporting_member or @goal.more_reminders_enabled %>
                    <%= check_box(:goal, :more_reminders_enabled, options = {}, checked_value = "true", unchecked_value = "false") %>
                    Send <%= them_or_me %> frequent reminders every  
        

                <%
                @arr_reminder_frequency = Array.new

                @arr_reminder_frequency.push(["1", 1])
                @arr_reminder_frequency.push(["2", 2])
                @arr_reminder_frequency.push(["3", 3])
                @arr_reminder_frequency.push(["4", 4])
                @arr_reminder_frequency.push(["5", 5])
                @arr_reminder_frequency.push(["6", 6])
                @arr_reminder_frequency.push(["7", 7])
                @arr_reminder_frequency.push(["8", 8])

                %>
                <%= select(:goal, :more_reminders_every_n_hours, @arr_reminder_frequency)%>
                 hours
     
                 between
    
                <%
                @arr_reminder_start = Array.new

                @arr_reminder_start.push(["5:00am", 5])
                @arr_reminder_start.push(["6:00am", 6])
                @arr_reminder_start.push(["7:00am", 7])
                @arr_reminder_start.push(["8:00am", 8])
                @arr_reminder_start.push(["9:00am", 9])
                @arr_reminder_start.push(["10:00am", 10])
                @arr_reminder_start.push(["11:00am", 11])
                @arr_reminder_start.push(["12:00pm", 12])
                @arr_reminder_start.push(["1:00pm", 13])
                @arr_reminder_start.push(["2:00pm", 14])
                @arr_reminder_start.push(["3:00pm", 15])
                @arr_reminder_start.push(["4:00pm", 16])
                @arr_reminder_start.push(["5:00pm", 17])
                @arr_reminder_start.push(["6:00pm", 18])
                @arr_reminder_start.push(["7:00pm", 19])
                @arr_reminder_start.push(["8:00pm", 20])
                @arr_reminder_start.push(["9:00pm", 21])
                @arr_reminder_start.push(["10:00pm", 22])
                @arr_reminder_start.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_start, @arr_reminder_start)%>
                 and
     
                <%
                @arr_reminder_end = Array.new

                @arr_reminder_end.push(["5:00am", 5])
                @arr_reminder_end.push(["6:00am", 6])
                @arr_reminder_end.push(["7:00am", 7])
                @arr_reminder_end.push(["8:00am", 8])
                @arr_reminder_end.push(["9:00am", 9])
                @arr_reminder_end.push(["10:00am", 10])
                @arr_reminder_end.push(["11:00am", 11])
                @arr_reminder_end.push(["12:00pm", 12])
                @arr_reminder_end.push(["1:00pm", 13])
                @arr_reminder_end.push(["2:00pm", 14])
                @arr_reminder_end.push(["3:00pm", 15])
                @arr_reminder_end.push(["4:00pm", 16])
                @arr_reminder_end.push(["5:00pm", 17])
                @arr_reminder_end.push(["6:00pm", 18])
                @arr_reminder_end.push(["7:00pm", 19])
                @arr_reminder_end.push(["8:00pm", 20])
                @arr_reminder_end.push(["9:00pm", 21])
                @arr_reminder_end.push(["10:00pm", 22])
                @arr_reminder_end.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_end, @arr_reminder_end, :default => 10)%>        
        
                    <br>
        <%
        else
        %>
          <div class="notice">

            <a href="/widget/upgrade?goal_id=<%=@goal.id%>" target="_blank">Enable "Frequent Reminders" with a HabitPro Membership</a>
            <br>
            <input type=checkbox disabled>
            Send <%= them_or_me %> frequent reminders every  
            <select disabled style="width:auto;"><option>4</option></select> hours between 
            <select disabled style="width:auto;"><option>8:00am</option></select> and
            <select disabled style="width:auto;"><option>10:00pm</option></select>
          </div>
        <%
        end
        %>
      </td>
    </tr>
  </table>
</div>
<!-- END REMINDER OPTIONS -->





<!-- HIDE THE FOLLOWING IF FIRST NEW GOAL VIRGIN SETUP SCREEN -->
<% if !session[:sfm_virgin] and !@goal.template_owner_is_a_template  %>

  <br>
  <br>
  <span style="font-size:2em;"><i class="icon-fire"></i> Motivation
  



          <a href="#undefined" onclick="toggle_show_hide('personal_motivation')" style="font-size:0.7em;">Details</a>


  </span>
  <div id="personal_motivation" class="well" style="display:none;">
  <div class="notice">

    <strong>(This private information will never be shared with others, even if you "Share" your goal with other users.)</strong>
    <p>
      <br>
      <h4>Describe the negative consequences:</h4><i>...the "Pain" you'll feel long term if you don't follow through on forming this habit</i><br><%= form.text_area :pain, :rows => 2,  :style=>"width:auto;" %>
      <br>
      <br>
      <h4>Talk about the upside:</h4><i>...how you'll feel once the habit is formed, and in what ways your life will be improved</i><br><%= form.text_area :pleasure, :rows => 2, :style=>"width:auto;" %>
      <br>
      <br>
    <%= check_box(:goal, :pp_remind, options = {}, checked_value = "true", unchecked_value = "false") %>
    Every 3 days, insert this info in my daily email reminder (for single-goal users), or display it if I've clicked "no" (for multi-goal users).
    </p>

  </div>
  </div>


  </p>
  </p>
  <a name="visibility" ></a>
  <span style="font-size:2em;">
    <% if @goal.publish == nil or @goal.publish == true %>
      <i class="icon-unlock"></i> 
    <% else %>
      <i class="icon-lock"></i> 
    <% end %>
    Visibility <a href="#undefined" onclick="toggle_show_hide('div_visibility')" style="font-size:0.7em;">Details</a></span>

    <% if params[:show_visibility] %>
      <div id="div_visibility" name="div_visibility" class="well" style="display:block;">
    <% else %>
      <div id="div_visibility" name="div_visibility" class="well" style="display:none;">
    <% end %>
  <p>
  <% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member %>
    <input disabled="disabled" id="publish_disabled" name="publish_disabled" type="checkbox" value="true" checked />
    <input type="hidden" name="goal[publish]" value="1">
  <% else %>
    <%= check_box(:goal, :publish, options = {}, checked_value = "true", unchecked_value = "false") %>
  <% end %>
  Public: Anyone can see <a href="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" target="_blank">my progress</a>, and members can send messages about my goal and can "follow" my progress.
  <% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member %>
    <br>
      <input disabled="disabled" id="private" name="private" type="checkbox" />
      Keep it Private 
                            
      <a href="/widget/upgrade?goal_id=<%=@goal.id%>" target="_blank"> (requires a HabitPro Membership)</a>
  <% end %>
  </div> <!-- div_visibility-->






  <!-- START FRIENDLY PUSHES -->
  <% if session[:site_name] == "habitforge" %>

  <br>
  <br>
  <a name="extra_encouragement" ></a>
    <!-- BEGIN WELL -->
    <span style="font-size:2em;">
    <i class="icon-bullhorn"></i> Extra Encouragement <a href="#undefined" onclick="toggle_show_hide('div_priority_encouragement')" style="font-size:0.7em;">Details</a>


        <div style="margin-top:-55px;margin-left:350px;">
            <img src="/home/images/arrow_drawn_strongest_habit_booster.png" />
        </div>


    </span>
    <% if params[:show_extra_encouragement] %>
      <div id="div_priority_encouragement" name="div_priority_encouragement" style="display:block;">
    <% else %>
      <div id="div_priority_encouragement" name="div_priority_encouragement" style="display:none;">
    <% end %>
    <div class="well">
            <h4>What happens if you start to slack?</h4> Be one of the first in line to get a "Friendly Push" when you need it. If you don't succeed for a few days, other HabitForge members can earn points by sending you a "push". They can only use <strong>motivating phrases that you create</strong>. If you were slacking and then you succeed within 48 hours after their "push", they earn additional points redeemable toward a HabitPro Membership.

    
          <div id="push_form" style="display:block;">

            <h2>
            <% if !current_user.is_habitforge_supporting_member %>
              <a href="/widget/upgrade?goal_id=<%=@goal.id%>" target="_blank">(Enable this feature with a HabitPro Membership)</a>
            </h2>

            <% end %>


<!--               <div style="margin-top:0px;">
                <img src="/home/images/arrow_drawn_small.png" />
              </div>

 -->          

 <br>
 <br>
 <br>
  <div style="margin-top:-45px;">


              <% if !current_user.is_habitforge_supporting_member %>
                <input disabled="disabled" id="allow_push" name="allow_push" type="checkbox" value="true" unchecked />
              <% else %>


                      <%= check_box(:goal, :allow_push, options = {}, checked_value = "true", unchecked_value = "false") %>


              <% end %>
              <%
              @arr_max_pushes = Array.new
              @arr_max_pushes.push(["1", 1])
              @arr_max_pushes.push(["2", 2])
              @arr_max_pushes.push(["3", 3])
              @arr_max_pushes.push(["4", 4])
              @arr_max_pushes.push(["5", 5])
              %>

              &nbsp &nbsp &nbsp &nbspYES! Provide incentives for other members to "Push" <%= them_or_me %> if I start to fail for a few days straight.

              <br>If I do start slacking, get up to 
              <% if !current_user.is_habitforge_supporting_member %>
                  <select disabled  style="width:auto;"><option>3</option></select> 
              <% else %>
                  <%= select(:goal, :pushes_allowed_per_day, @arr_max_pushes) %> 
              <% end %> 
              member(s) to send <%= them_or_me %> a push each day. <br>

            </div> <!-- END ALERT -->

              <h3><strong>They can use these push Messages to move me:</strong></h3>

               <p>
   

              1) <%= form.text_field :phrase1, :style=>"width:400px;", :size => 80, :placeholder=>"ex: What's going on? Have you forgotten how bad you want to have...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
              2) <%= form.text_field :phrase2, :style=>"width:400px;", :size => 80, :placeholder=>"ex: Remember how painful it will be if you don't...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
               3) <%= form.text_field :phrase3, :style=>"width:400px;", :size => 80, :placeholder=>"ex: What happened? I thought you were committed to...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
                 4) <%= form.text_field :phrase4, :placeholder=>"ex: You can do it!!! It only takes a few minutes to...", :style=>"width:400px;", :size => 80, :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
               5) <%= form.text_field :phrase5, :placeholder=>"ex: Think of how awesome it's going to feel to...", :style=>"width:400px;", :size => 80, :readonly=>!current_user.is_habitforge_supporting_member %>

              <br>
             </p>

          </div>
        </div>
    <!-- END WELLS PORTLET-->
  <% end %>
  <!-- END FRIENDLY PUSHES -->
  </div>  <!-- div_priority_encouragement-->

<% end ### end whether session[:sfm_virgin] == true %>
<!-- END HIDE THE ABOVE IF FIRST NEW GOAL VIRGIN SETUP SCREEN -->

</p>
<br>
<%= form.hidden_field :reminder_time, :value => :reminder_time %>









<% if current_user.is_admin or current_user.email == "jurowski@gmail.com" %>
<!-- TRACKER -->
<h2><i class="icon-bar-chart"></i> Tracker<img src="/images/beta.jpg" width=50px /><a href="#undefined" onclick="toggle_show_hide('tracker_option')" style="font-size:0.5em;">Details</a></h2>
<% end %>

<% if @goal.tracker and @ca == "new" and (current_user.is_admin or current_user.email == "jurowski@gmail.com") %>
  <div class="well" id="tracker_option" style="display:block;border-width:1px;">
<% else %>
  <div class="well" id="tracker_option" style="display:none;border-width:1px;">
<% end %>

<p>


<!--     var handleToggleButtons = function () {
        if (!jQuery().toggleButtons) {
            return;
        }
        $('.basic-toggle-button').toggleButtons();
        $('.text-toggle-button').toggleButtons({
            width: 200,
            label: {
                enabled: "Lorem Ipsum",
                disabled: "Dolor Sit"
            }
        });
         -->
  <div class="basic-toggle-button">
  <%= check_box(:goal, :tracker, options = {:class=>"toggle", :style=>"label:enabled:'SI';label:disabled:'NO';"}, checked_value = "true", unchecked_value = "false") %>
  </div>

  <h3>Track it with a Number as well!
  <br><span style="font-size:0.5em;">(ex: hours of sleep, weight in pounds, # of glasses of water, an overall mood rating, number of sales calls, etc.)</span></h3></p>





<br>

Ask me this at each check-in: 
<br><%= form.text_field :tracker_question, :placeholder => "ex:What is your current weight? or How many glasses of water did you drink?", :style=>'width:400px;', :size => 40 %>
to measure <%= form.text_field :tracker_units, :placeholder => "ex:pounds, glasses of water, rating, sales calls", :style=>'width:400px;', :size => 20 %>

<br>

Does this number reset at zero every day? 

    <!--<select id="goal_tracker_type_starts_at_zero_daily" name="goal[tracker_type_starts_at_zero_daily]" style="width:auto;">
    <option value="1">Yes (as with counting glasses of water, pushups, or sales calls)</option>
    <option value="0">No (as with tracking weight or your mood)</option>
    </select>
    -->

    <%
    @arr_tracker_type_starts_at_zero_daily = Array.new

    @arr_tracker_type_starts_at_zero_daily.push(["Yes (as with counting glasses of water, pushups, or sales calls)", true])
    @arr_tracker_type_starts_at_zero_daily.push(["No (as with tracking weight or your mood)", false])
    %>
    <%= select(:goal, :tracker_type_starts_at_zero_daily, @arr_tracker_type_starts_at_zero_daily)%>


<br>
Are you trying to get the number higher or lower? 
    <%
    @arr_higher_is_better = Array.new

    @arr_higher_is_better.push(["Higher (as with tracking sales calls, glasses of water or pushups)", true])
    @arr_higher_is_better.push(["Lower (as with tracking weight loss or cookies per day", false])
    %>
    <%= select(:goal, :tracker_target_higher_value_is_better, @arr_higher_is_better)%>


<br>
Should we auto-answer your daily checkpoint with a "Yes" on the days you enter any tracking number at all?
<br>
    <%
    @arr_tracker_set_checkpoint_to_yes_if_any_answer = Array.new

    @arr_tracker_set_checkpoint_to_yes_if_any_answer.push(["Yes, since my goal is mainly 'awareness', just to record 'something', period", true])
    @arr_tracker_set_checkpoint_to_yes_if_any_answer.push(["No, success with this is not just about 'recording something'", false])
    %>
    <%= select(:goal, :tracker_set_checkpoint_to_yes_if_any_answer, @arr_tracker_set_checkpoint_to_yes_if_any_answer,{}, {:style => "width:500px;"})%>



<br>


<h3>What numbers are considered good or not so good?</h3>
<br>
<%= form.text_field :tracker_target_threshold_good3, :style=>'width:30px;', :size => 5 %> <span class="text-success">An "Excellent" rating: for this number or better.</span>

<br>
<%= form.text_field :tracker_target_threshold_good2, :style=>'width:30px;', :size => 5 %> <span class="text-info">A "Very Good" rating: for numbers between here and "Excellent".</span> 


<br>
<%= form.text_field :tracker_target_threshold_good1, :style=>'width:30px;', :size => 5 %> <span class="text-muted">A "Good" rating: for numbers between here and "Very Good".</span>

<br>
<div class="alert info">
  An "OK" rating: for the range of numbers between "Good" and "Warning"
</div>


<%= form.text_field :tracker_target_threshold_bad1, :style=>'width:30px;', :size => 5 %> <span class="text-muted">A "Warning" rating: for numbers between this number and "Poor".</span>


<br>
<%= form.text_field :tracker_target_threshold_bad2, :style=>'width:30px;', :size => 5 %> <span class="text-warning">A "Poor" rating: for numbers between this number and "Failing".</span>


<br>
<%= form.text_field :tracker_target_threshold_bad3, :style=>'width:30px;', :size => 5 %> <span class="text-error">A "Failing" rating: for this number or worse.</span>
 
<br>
What is the most that the number could change from one check-in to the next? 
<%= form.text_field :tracker_standard_deviation_from_last_measurement, :style=>'width:30px;', :size => 5 %> <!-- for help generating quick current value links in email -->


<br>

Should we prompt you immediately for an initial or baseline value? (ex: "Your starting weight.")  

    <%
    @arr_tracker_prompt_for_an_initial_value = Array.new

    @arr_tracker_prompt_for_an_initial_value.push(["Yes", true])
    @arr_tracker_prompt_for_an_initial_value.push(["No", false])
    %>
    <%= select(:goal, :tracker_prompt_for_an_initial_value, @arr_tracker_prompt_for_an_initial_value)%>


<br>

Should we keep track of the difference between your first ever measurement and your current measurement?  (ex: You have lost X pounds so far.)

    <%
    @arr_tracker_track_difference_between_initial_and_latest = Array.new

    @arr_tracker_track_difference_between_initial_and_latest.push(["Yes", true])
    @arr_tracker_track_difference_between_initial_and_latest.push(["No", false])
    %>
    <%= select(:goal, :tracker_track_difference_between_initial_and_latest, @arr_tracker_track_difference_between_initial_and_latest)%>


<br>
How many days should go by before we prompt you for an answer? (examples: 0 = do not prompt, 1 = prompt every day, 7 = prompt after a week) 
<%= form.text_field :tracker_prompt_after_n_days_without_entry, :style=>'width:30px;', :size => 5 %> 


<br>
Should we auto-answer your daily checkpoint with a "Yes" whenever your same-day tracker number is "OK" or better?
<br>
    <%
    @arr_tracker_set_checkpoint_to_yes_only_if_answer_acceptable = Array.new

    @arr_tracker_set_checkpoint_to_yes_only_if_answer_acceptable.push(["Yes, since my overall goal is to be within a certain range", true])
    @arr_tracker_set_checkpoint_to_yes_only_if_answer_acceptable.push(["No, let me answer yes/no separately from what I enter in the tracker", false])
    %>
    <%= select(:goal, :tracker_set_checkpoint_to_yes_only_if_answer_acceptable, @arr_tracker_set_checkpoint_to_yes_only_if_answer_acceptable,{}, {:style => "width:500px;"})%>




</div>
<!-- END TRACKER-->








<br>
<span style="font-size:2em;"><i class="icon-calendar"></i> Habit Frequency (How Often?) <a href="#undefined" onclick="toggle_show_hide('div_frequency')" style="font-size:0.7em;">Details</a></span>
<div id="div_frequency" name="div_frequency" style="display:none;">


<div class="well">
Some habits are daily and others are only a few days a week.

Is this habit a daily or a less frequent one?


<% 
show_monitor_option_details = false
if @goal.status == "monitor" or params["monitor"] or (params[:weekdays_only] and params[:weekdays_only] == "true")
      if params[:weekdays_only] == "true"
        @goal.days = false
        @goal.dayn = false
        @goal.goal_days_per_week = 5
      end
      show_monitor_option_details = true
end


if @goal.template_owner_is_a_template
  if @goal.daym == true and @goal.dayt == true \
    and @goal.dayw == true and @goal.dayr == true \
    and @goal.dayf == true and @goal.days == true \
    and @goal.dayn == true and @goal.goal_days_per_week == 7
      show_monitor_option_details = false
  else
    show_monitor_option_details = true
  end
end

if based_on_a_template or has_active_challenge
  if @goal.daym == true and @goal.dayt == true \
    and @goal.dayw == true and @goal.dayr == true \
    and @goal.dayf == true and @goal.days == true \
    and @goal.dayn == true and @goal.goal_days_per_week == 7
      show_monitor_option_details = false
  else
    show_monitor_option_details = true
  end
end



@arr_goal_days_per_week = Array.new
@arr_goal_days_per_week.push(["7", 7])
@arr_goal_days_per_week.push(["6", 6])
@arr_goal_days_per_week.push(["5", 5])
@arr_goal_days_per_week.push(["4", 4])
@arr_goal_days_per_week.push(["3", 3])
@arr_goal_days_per_week.push(["2", 2])
@arr_goal_days_per_week.push(["1", 1])
%>
<br>



<% if show_monitor_option_details %>
    <div id="daily" style="display:none;">
      <input type='radio' disabled checked> Daily 



      <!-- link_to_function ("<input type='radio' disabled unchecked> Not Daily") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->


      <% if based_on_a_template %>
         <!-- Not Daily DO NOT SHOW IT AT ALL-->
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Not Daily</a>
      <% end %>


    </div>

  <div id="not_daily" style="display:block;">

<% else %>

    <div id="daily" style="display:block;">
      <input type='radio' disabled checked> Daily 


      <!-- link_to_function ("<input type='radio' disabled unchecked> Not Daily") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->


      <% if based_on_a_template or has_active_challenge %>
        <!-- Not Daily DO NOT SHOW IT AT ALL-->
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Not Daily</a>
      <% end %>

    </div>
  <div id="not_daily" style="display:none;">
<% end %>

    <div id="daily" style="display:block;">
      <!-- link_to_function ("<input type='radio' disabled unchecked> Daily ") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->
      <input type='radio' disabled unchecked>
      <% if based_on_a_template or has_active_challenge %>
        Daily
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Daily</a>
      <% end %>
      <input type='radio' disabled checked> Not Daily 
    </div>
  <div>



    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp The goal is to succeed at this at least 
    <% if based_on_a_template or has_active_challenge %>
      <span style="font-weight:900;"><%= @goal.goal_days_per_week %></span>
      <%= form.hidden_field :goal_days_per_week, :value => @goal.goal_days_per_week %>
    <% else %>
      <%= select(:goal, :goal_days_per_week, @arr_goal_days_per_week) %> 
    <% end %>


    days each week.
    <br>
    <br>
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp It's only realistic for <%= them_or_me %> to succeed on these days:

      <br>
      <br>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 


      <% if based_on_a_template or has_active_challenge %>
        <%= check_box(:goal, :daym, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Mon</strong> &nbsp;
        <%= check_box(:goal, :dayt, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Tue</strong> &nbsp;
        <%= check_box(:goal, :dayw, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Wed</strong> &nbsp;
        <%= check_box(:goal, :dayr, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Thu</strong> &nbsp;
        <%= check_box(:goal, :dayf, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Fri</strong> &nbsp;
        <br>

        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <%= check_box(:goal, :days, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Sat</strong> &nbsp;
        <%= check_box(:goal, :dayn, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Sun</strong> &nbsp;


      <% else %>
        <%= check_box(:goal, :daym, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Mon</strong> &nbsp;

        <%= check_box(:goal, :dayt, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Tue</strong> &nbsp;

        <%= check_box(:goal, :dayw, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Wed</strong> &nbsp;

        <%= check_box(:goal, :dayr, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Thu</strong> &nbsp;

        <%= check_box(:goal, :dayf, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Fri</strong> &nbsp;
        <br>

        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


        <%= check_box(:goal, :days, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Sat</strong> &nbsp;

        <%= check_box(:goal, :dayn, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Sun</strong> &nbsp;
      <% end %>




  </div>
</div>
</div> <!-- END "WELL" -->
</div> <!-- end div_frequency -->

    <% if  @ca == "edit" %>

      <% if params[:just_created_new_habit] %>
        <br>
        <br>
        <input type="submit" value="I've Customized It, Save It, Because I'm Ready to Roll!"  class="start_now" style="height:30px;">
      <% else %>
        <input type="submit" value="Save Customizations"  class="start_now" style="height:30px;">
      <% end %>

    <% end %>
</div> <!-- end whether this is hidden (but there in hiding to grab values) -->

</div>

</div> <!-- END ALL CUSTOMIZATION OPTIONS TOOLBOX div_customization_toolbox -->



<% if params[:just_created_new_habit] and @goal.reminder_send_hour != -1 %>
    <div style="padding:0px;padding-top:30px;">
    <span style="color:#000000;font-size:1.2em;font-weight:normal;">You'll get your first reminder 



        <% if (@goal.start == current_user.dtoday) %>

          <% if (@goal.reminder_send_hour > current_user.time_hour_right_now) %>
              today 
          <% else %>
              tomorrow 
          <% end %>

        <% end %>
        

        <% if (@goal.start == current_user.dtomorrow) %>
            tomorrow 
        <% end %>


      <% if @goal.reminder_send_hour > 11 %>
        <% if @goal.reminder_send_hour > 4 %>
           evening
        <% else %>
         afternoon 
        <% end %>
      <% else %>
        morning
      <% end %>

      <%
      reminder_time = "5am"
      @arr_reminder.each do |item|
        if item[1] == @goal.reminder_send_hour
          reminder_time = item[0]
        end
      end
      %>

      at <%= am_pm(@goal.reminder_send_hour) %>.</span>

    </div>  
<% end %>






