<hr>
<%
if current_user.first_name == "Admin" && current_user.email == "jurowski2@gmail.com" 
  current_user_is_admin = true
else
  current_user_is_admin = false
end

if current_user_is_admin
  @users = User.find(:all, :order => "last_name").map {|u| [u.last_name + ", " + u.first_name, u.id] }
  %>
  <%= form.select(:user_id, @users) %>
<%
else
%>
  <%= form.hidden_field :user_id, :value => current_user.id %>
<%
end
%>

<%
@cn = controller.controller_name 
@ca = controller.action_name 
%>



<% 
#end

#<br>
#&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box(:goal, :share, options = {}, checked_value = "true", unchecked_value = "false") 
#<b>Share</b> <i>Invite someone via email to help me stay on track</i>
dest = Date.new(1900,01,01)
if @goal.established_on == nil
  @goal.established_on = "1900-01-01"
end
if @goal.status == nil
    @goal.status = "start"
end

%>



<% 
@arrStatus = Array.new

if @goal.status == "start"
  if  @goal.established_on == dest
    @arrStatus.push(["Shoot for 21 Days Straight (strict)", "start"])
  else
    @arrStatus.push(["Established", "start"])
  end
else
  if @goal.status != "start" and @goal.established_on != dest
    @arrStatus.push(["Go! (start over at day 1)", "start"])
  end
end


if @goal.status == "hold"
  @arrStatus.push(["Go! (start over at day 1)", "start"])
end


#if current_user_is_admin or @goal.status == "monitor" or (@goal.status =="hold" and @goal.established_on > dest)
if current_user_is_admin or @goal.status == "monitor" or @goal.established_on == dest
  @arrStatus.push(["Just monitor success rate (more options)", "monitor"])  
  %>
  <%
end
%>
  <br>
<br>

<%
show_monitor_option_details = 0
%>


<% if session[:sfm_virgin] == true and current_user.first_name == "unknown"%>
  <% first_name_value = "" %>
  <% 
  if params[:first_name] 
    first_name_value = params[:first_name]
  end
  %>

  <span style="font:2em Arial sans-serif;margin-top:14px;">What's your first name?</span><input type="textbox" name="first_name" value="<%= first_name_value %>" placeholder="ex: Steven" style="font:2em Arial sans-serif;margin-top:14px;">
<div >
&nbsp
<br>
&nbsp
</div>
<% end %>
   
<% if session[:sfm_virgin] == true %> 
<h2>What is the first habit you'd like to create?</h2>
<% end %>
<br>
<div class="success" style="width:800px;">
<h2>Email me early in the morning and ask:</h2>
  <table border=0>
  <tr>
  <td valign=top align=right nowrap>
  </td>
  <td nowrap>
  <p><image src="/images/lightbulb_32.png" height=25px /><i><span style="color:red;"><span style="font-size:120%;">Tip</span>: type a keyword (ex: "exercise", "carb" or "smoking") for popular goals</span></i></p>
  </td>
  </tr>
  <tr>
  <td valign=top align=right nowrap>
  <h3>"Were you successful yesterday at &nbsp</h3>
  </td>
  <td nowrap>
  <%= form.text_field :response_question, :class => 'autocomplete', 'data-autocomplete-url'=>autocomplete_for_goal_response_question_goals_path, :size => 40 %>
  &nbsp &nbsp &nbsp &nbsp &nbsp<p><i> Ex: walking for at least 20 minutes</i></p>
  </strong>
  </td>
  </tr>



  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>



  <tr>
  <td valign=top nowrap align=right>
  <strong>What Category is this? &nbsp</strong>  
  </td>
  <td nowrap>
    <%
    @arr = arr_goal_categories  
    %>
    <%= select(:goal, :category, @arr)%>
  </td>
  </tr>

  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>

  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>




  
  <tr>
  <td valign=top nowrap align=right>
  <strong>Should we also send a daily reminder to do this? &nbsp</strong>  
  </td>
  <td nowrap>

    <%
    @arr_reminder = Array.new

    @arr_reminder.push(["No Reminder Email, Thanks", -1])
    @arr_reminder.push(["Sure, send one at ~5:00am", 5])
    @arr_reminder.push(["Sure, send one at ~6:00am", 6])
    @arr_reminder.push(["Sure, send one at ~7:00am", 7])
    @arr_reminder.push(["Sure, send one at ~8:00am", 8])
    @arr_reminder.push(["Sure, send one at ~9:00am", 9])
    @arr_reminder.push(["Sure, send one at ~10:00am", 10])
    @arr_reminder.push(["Sure, send one at ~11:00am", 11])
    @arr_reminder.push(["Sure, send one at ~12:00pm", 12])
    @arr_reminder.push(["Sure, send one at ~1:00pm", 13])
    @arr_reminder.push(["Sure, send one at ~2:00pm", 14])
    @arr_reminder.push(["Sure, send one at ~3:00pm", 15])
    @arr_reminder.push(["Sure, send one at ~4:00pm", 16])
    @arr_reminder.push(["Sure, send one at ~5:00pm", 17])
    @arr_reminder.push(["Sure, send one at ~6:00pm", 18])
    @arr_reminder.push(["Sure, send one at ~7:00pm", 19])
    @arr_reminder.push(["Sure, send one at ~8:00pm", 20])
    @arr_reminder.push(["Sure, send one at ~9:00pm", 21])
    @arr_reminder.push(["Sure, send one at ~10:00pm", 22])
    @arr_reminder.push(["Sure, send one at ~11:00pm", 23])
    %>
    <%= select(:goal, :reminder_send_hour, @arr_reminder)%>

    <%
      if current_user.sponsor == "habitforge" and !@goal.more_reminders_enabled and !session[:sfm_virgin]
          %>
            <strong><%= link_to_function ("<span style='text-decoration:underline;'>more reminders</span>") {
             |page| page.visual_effect :toggle_appear, "multiple_reminders" 
            } 
            %></strong>
        <%
      end
    %>



</h2>

  </td>
  </tr>



  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>


  <tr>
  <td valign=top nowrap align=right colspan=5>
  &nbsp

    <% if @goal.more_reminders_enabled %>
        <div id="multiple_reminders">
    <% else %>
        <div id="multiple_reminders" style="display:none;">
    <% end %>
    
    
    
        <% if current_user.is_habitforge_supporting_member or @goal.more_reminders_enabled %>
                    <%= check_box(:goal, :more_reminders_enabled, options = {}, checked_value = "true", unchecked_value = "false") %>
                    Send me frequent reminders every  
        
                <%
                @arr_reminder_frequency = Array.new

                @arr_reminder_frequency.push(["1", 1])
                @arr_reminder_frequency.push(["2", 2])
                @arr_reminder_frequency.push(["3", 3])
                @arr_reminder_frequency.push(["4", 4])
                @arr_reminder_frequency.push(["5", 5])
                @arr_reminder_frequency.push(["6", 6])
                @arr_reminder_frequency.push(["7", 7])
                @arr_reminder_frequency.push(["8", 8])

                %>
                <%= select(:goal, :more_reminders_every_n_hours, @arr_reminder_frequency)%>
                 hours
     
                 between
    
                <%
                @arr_reminder_start = Array.new

                @arr_reminder_start.push(["5:00am", 5])
                @arr_reminder_start.push(["6:00am", 6])
                @arr_reminder_start.push(["7:00am", 7])
                @arr_reminder_start.push(["8:00am", 8])
                @arr_reminder_start.push(["9:00am", 9])
                @arr_reminder_start.push(["10:00am", 10])
                @arr_reminder_start.push(["11:00am", 11])
                @arr_reminder_start.push(["12:00pm", 12])
                @arr_reminder_start.push(["1:00pm", 13])
                @arr_reminder_start.push(["2:00pm", 14])
                @arr_reminder_start.push(["3:00pm", 15])
                @arr_reminder_start.push(["4:00pm", 16])
                @arr_reminder_start.push(["5:00pm", 17])
                @arr_reminder_start.push(["6:00pm", 18])
                @arr_reminder_start.push(["7:00pm", 19])
                @arr_reminder_start.push(["8:00pm", 20])
                @arr_reminder_start.push(["9:00pm", 21])
                @arr_reminder_start.push(["10:00pm", 22])
                @arr_reminder_start.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_start, @arr_reminder_start)%>
                 and
     
                <%
                @arr_reminder_end = Array.new

                @arr_reminder_end.push(["5:00am", 5])
                @arr_reminder_end.push(["6:00am", 6])
                @arr_reminder_end.push(["7:00am", 7])
                @arr_reminder_end.push(["8:00am", 8])
                @arr_reminder_end.push(["9:00am", 9])
                @arr_reminder_end.push(["10:00am", 10])
                @arr_reminder_end.push(["11:00am", 11])
                @arr_reminder_end.push(["12:00pm", 12])
                @arr_reminder_end.push(["1:00pm", 13])
                @arr_reminder_end.push(["2:00pm", 14])
                @arr_reminder_end.push(["3:00pm", 15])
                @arr_reminder_end.push(["4:00pm", 16])
                @arr_reminder_end.push(["5:00pm", 17])
                @arr_reminder_end.push(["6:00pm", 18])
                @arr_reminder_end.push(["7:00pm", 19])
                @arr_reminder_end.push(["8:00pm", 20])
                @arr_reminder_end.push(["9:00pm", 21])
                @arr_reminder_end.push(["10:00pm", 22])
                @arr_reminder_end.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_end, @arr_reminder_end, :default => 10)%>        
        
                    <br>
        <%
        else
        %>
                <div class="notice">
                        <input type=checkbox disabled>
                        Send me frequent reminders every  
                        <select disabled><option>4</option></select> hours between 
                        <select disabled><option>8:00am</option></select> and
                        <select disabled><option>10:00pm</option></select> and

                        <br>
                        <br>
                        <br>
                    <p>
                        "Frequent Reminders" available only to Premium Members:
                        &nbsp &nbsp
                        <% if session[:sfm] and session[:sfm] == "v2" %>
                          <a href="https://www.securepublications.com/habit-gse3.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% else %>
                          <a href="https://www.securepublications.com/habit-1-year.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% end %>
                        <br>
                        (Unlimited active habits, Frequent Reminders, No advertisements!)
                    </p>

                </div>
        <%
        end
        %>

      </td>
      </tr>
      </table>
      <br>




  </td>
  </tr>


  </table>
</div>


  
  
  
<% 
if @ca == "new" 
    @arr_pre_start_days_per_week = Array.new

    @arr_pre_start_days_per_week.push(["0", 0])
    @arr_pre_start_days_per_week.push(["1", 1])
    @arr_pre_start_days_per_week.push(["2", 2])
    @arr_pre_start_days_per_week.push(["3", 3])
    @arr_pre_start_days_per_week.push(["4", 4])
    @arr_pre_start_days_per_week.push(["5", 5])
    @arr_pre_start_days_per_week.push(["6", 6])
    @arr_pre_start_days_per_week.push(["7", 7])
    %>
    
    <br>
    <% if !session[:sfm_virgin]  %>
        <strong>On average, how many days per week are you already succeeding at this?</strong>
        <%= select(:goal, :pre_start_days_per_week, @arr_pre_start_days_per_week) %> 
    <% end %>
<%
end
%>


<% if !session[:sfm_virgin]  %>
<br>
<br>

<h2>Personal Motivation:
<strong><%= link_to_function ("What's driving you?") {
 |page| page.visual_effect :toggle_appear, "advanced" 
} 
%></strong></h2>
<div id="advanced" style="display:none;">
<div class="notice">

  <strong>(This private information will never be shared with others, even if you "Share" your goal with other users.)</strong>
  <p>
    <br>
    Describe the negative consequences:<br><i>...the "Pain" you'll feel long term if you don't follow through on forming this habit</i><br><%= form.text_area :pain, :cols => 60, :rows => 2 %>
    <br>
    <br>
    Talk about the upside:<br><i>...how you'll feel once the habit is formed, and in what ways your life will be improved</i><br><%= form.text_area :pleasure, :cols => 60, :rows => 2 %>
    <br>
    <br>
  <%= check_box(:goal, :pp_remind, options = {}, checked_value = "true", unchecked_value = "false") %>
  <strong>Every 3 days, insert this info in my daily email reminder (for single-goal users), or display it if I've clicked "no" (for multi-goal users).</strong>
  </p>

</div>
</div>


<br>
<br>
</p>
</p>

<h2>Public Motivation: Put yourself out there!</h2>
<p>
<% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and current_user.id > 79152 %>
  <strong>Prefer "Private" habits as an option? Get a Premium Membership!</strong> 




                        <% if session[:sfm] and session[:sfm] == "v2" %>
                          <a href="https://www.securepublications.com/habit-gse3.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% else %>
                          <a href="https://www.securepublications.com/habit-1-year.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% end %>


  <br>
  <br>
  <input disabled="disabled" id="publish" name="publish" type="checkbox" value="true" checked />
<% else %>
  <%= check_box(:goal, :publish, options = {}, checked_value = "true", unchecked_value = "false") %>
<% end %>
<strong>Let the world see it, if they want. If I'm blogging or tweeting, they can find my progress</strong> at this address: </strong>
<br><a href="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" target="_blank"><%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %></a>



<% if session[:site_name] == "habitforge" %>
<br>
<br>
<div class="notice">
<h2>Community Safety Net</h2>
<span style="font-size:75%;font-style:italic;">There is real power in the simple knowledge that others will be notified when you start to get off track. After one or two lapses, your mind decides it's better to just take the action than be reminded by someone else of what you already know you need to do.
<br>
<br>
If I don't succeed for a few days, other HabitForge members can earn points by sending me a "push". They can use one of the phrases below, and if I succeed within 48 hours after their "push", they earn additional points redeemable toward a Premium Membership.
</span>

<% if !current_user.is_habitforge_supporting_member %>
  <br><br>(Available to Premium Members Only)


                        <% if session[:sfm] and session[:sfm] == "v2" %>
                          <a href="https://www.securepublications.com/habit-gse3.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% else %>
                          <a href="https://www.securepublications.com/habit-1-year.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="start_now" >Learn More</a>
                        <% end %>


<% end %>
<br>
<br>

<p>
<span style="font-weight:bold;font-size:120%;">
<% if !current_user.is_habitforge_supporting_member %>
  <input disabled="disabled" id="allow_push" name="allow_push" type="checkbox" value="true" unchecked />
<% else %>
        <%= check_box(:goal, :allow_push, options = {}, checked_value = "true", unchecked_value = "false") %>
<% end %>


<%
@arr_max_pushes = Array.new

@arr_max_pushes.push(["1", 1])
@arr_max_pushes.push(["2", 2])
@arr_max_pushes.push(["3", 3])
@arr_max_pushes.push(["4", 4])
@arr_max_pushes.push(["5", 5])
%>


  Provide incentives for other members to "Push" me if I start to fail for a few days straight. If I do start slacking, get up to 
  <% if !current_user.is_habitforge_supporting_member %>
      <select disabled><option>3</option></select> 
  <% else %>
      <%= select(:goal, :pushes_allowed_per_day, @arr_max_pushes) %> 
  <% end %> 
member(s) to send me a push each day. They can choose a "push messages" below to get me back on track:</span>
  </p>

   <p>
   <span style="font-weight:bold;font-size:120%;">Desire:</span> 

  <%= form.text_field :phrase1, :size => 40, :readonly=>!current_user.is_habitforge_supporting_member %>
  <br><span style="font-style:italic;">ex: What's going on? Have you forgotten how bad you want to have...</span>
  <br><br>
   <span style="font-weight:bold;font-size:120%;">Pain:</span> <%= form.text_field :phrase2, :size => 40, :readonly=>!current_user.is_habitforge_supporting_member %>
  <br><span style="font-style:italic;">ex: Remember how painful it will be if you don't...</span>
  <br><br>
   <span style="font-weight:bold;font-size:120%;">Dismay:</span> <%= form.text_field :phrase3, :size => 40, :readonly=>!current_user.is_habitforge_supporting_member %>
  <br><span style="font-style:italic;">ex: What happened? I thought you were committed to...</span>
  <br><br>
   <span style="font-weight:bold;font-size:120%;">Encouragement:</span> <%= form.text_field :phrase4, :size => 40, :readonly=>!current_user.is_habitforge_supporting_member %>
  <br><span style="font-style:italic;">ex: You can do it!!! It only takes a few minutes to...</span>
  <br><br>
   <span style="font-weight:bold;font-size:120%;">Pleasure:</span> <%= form.text_field :phrase5, :size => 40, :readonly=>!current_user.is_habitforge_supporting_member %>
  <br><span style="font-style:italic;">ex: Think of how awesome it's going to feel to...</span>
  <br>
 </p>
</div>

<% end %>

<% end ### end whether session[:sfm_virgin] == true %>


</p>
<br>
<%= form.hidden_field :reminder_time, :value => :reminder_time %>


<h2>How often do you plan to do this?</h2>
  <% if @ca != "edit" %>
    <% if params["monitor"] or (params[:weekdays_only] and params[:weekdays_only] == "true") %>

      <%
      if params[:weekdays_only] == "true"
        @goal.days = false
        @goal.dayn = false
        @goal.goal_days_per_week = 5
      end
      show_monitor_option_details = 1
      %>
            <a href="/goals/new"><img src='/images/21days_deselected.png' border=0></a>
            <img src='/images/monitor_selected.png' border=0>
            <%= form.hidden_field :status, :value => "monitor" %>
    <% else %>
        <img src='/images/21days_selected.png' border=0>
        <a href="/goals/new?monitor=1"><img src='/images/monitor_deselected.png' border=0></a>
        <%= form.hidden_field :status, :value => "start" %>
    <% end %>

  <%
  end

the_status = ""
if @ca == "edit" %>

    <%
    the_status = "start"
    changed = 0
    if @goal.status == "monitor"
        the_status = "monitor"
    else
        the_status = "start"
    end
    if params["monitor"]
        the_status = "monitor"
        changed = 1
    end
    if params["start"]
        the_status = "start"
        changed = 1
    end
    %>
    <% if the_status == "monitor" %>
        <a href="/goals/<%=@goal.id%>/edit?start=1">
            <img src='/images/21days_deselected.png' border=0>
        </a>
        <img src='/images/monitor_selected.png' border=0>
        <%= form.hidden_field :status, :value => "monitor" %>
    <% end %>

    <% if the_status == "start" %>
        <% if changed == 1 and @goal.status == "monitor" %>
            <font color="red">Note: Changing from "monitoring" to "21 days" starts you back at Day 1.</font>
            <br>
        <% end %>
        <img src='/images/21days_selected.png' border=0>
        <a href="/goals/<%=@goal.id%>/edit?monitor=1"><img src='/images/monitor_deselected.png' border=0></a>
        <%= form.hidden_field :status, :value => "start" %>
    <% end %>
<% end %>
<%
@arr_goal_days_per_week = Array.new
@arr_goal_days_per_week.push(["7", 7])
@arr_goal_days_per_week.push(["6", 6])
@arr_goal_days_per_week.push(["5", 5])
@arr_goal_days_per_week.push(["4", 4])
@arr_goal_days_per_week.push(["3", 3])
@arr_goal_days_per_week.push(["2", 2])
@arr_goal_days_per_week.push(["1", 1])
%>
<br>

<% if (@ca == "new" and params["monitor"] and show_monitor_option_details == 1) or (the_status == "monitor") %>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>I'm committed to succeeding at this 
    <%= select(:goal, :goal_days_per_week, @arr_goal_days_per_week) %> 
    days each week.</strong>
    <br>
    <br>
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>I only want to receive check-in emails asking about these days:</strong>

      <br>
      <br>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= check_box(:goal, :daym, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Mon</strong> &nbsp;

      <%= check_box(:goal, :dayt, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Tue</strong> &nbsp;

      <%= check_box(:goal, :dayw, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Wed</strong> &nbsp;

      <%= check_box(:goal, :dayr, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Thu</strong> &nbsp;

      <%= check_box(:goal, :dayf, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Fri</strong> &nbsp;

      <br>

      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


      <%= check_box(:goal, :days, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Sat</strong> &nbsp;

      <%= check_box(:goal, :dayn, options = {}, checked_value = "true", unchecked_value = "false") %>
      <strong>Sun</strong> &nbsp;


<% end %>

<br>
<br>




<hr>
