<!-- TESTING OUT SHOWING EVERYTHING NO MATTER WHAT -->
<% if session[:sfm_virgin] %>
  <% session[:sfm_virgin] = false %>
<% end %>
<!-- END TESTING OUT SHOWING EVERYTHING NO MATTER WHAT -->





<% if session[:dev_mode_just_returned_from_sales_page] %>
  <% session[:dev_mode_just_returned_from_sales_page] = nil %>
  <div class="alert">
    Dev Mode: in prod you would be returning from the Sales page.
  </div>
<% end %>
<hr>



<!-- IF THIS GOAL IS CURRENTLY PART OF AN EXTRA ACCOUNTABILITY CHALLENGE -->
<%
has_active_challenge = false
if @goal.number_my_active_bets > 0
  has_active_challenge = true
end
%>

<!-- IF THIS GOAL IS BASED ON A TEMPLATE, DO NOT ALLOW MODIFICATIONS OF SOME THINGS -->
<% 
based_on_a_template = false
if @goal.template_user_parent_goal_id
  based_on_a_template = true
end
%>

<!-- TEMPLATE STUFF -->
<% them_or_me = "me" %>
<% if @goal.template_owner_is_a_template or (params[:template_owner_is_a_template] and params[:template_owner_is_a_template] == "1") 
  @goal.template_owner_is_a_template = true
  them_or_me = "them"
  %>
  <%= form.hidden_field :template_owner_is_a_template, :value => true %>

  <!-- Used when creating a new template for a particular program -->
  <% if params[:program_id] %>
    <input type="hidden" name="program_id" value="<%= params[:program_id] %>">
  <% end %>

<% else
  @goal.template_owner_is_a_template = false
  %>
  <%= form.hidden_field :template_owner_is_a_template, :value => false %>
<% end %>
<!-- END TEMPLATE STUFF -->


<%= form.hidden_field :user_id, :value => current_user.id %>
<%
@cn = controller.controller_name 
@ca = controller.action_name 

#end

#<br>
#&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box(:goal, :share, options = {}, checked_value = "true", unchecked_value = "false") 
#<b>Share</b> <i>Invite someone via email to help me stay on track</i>


dest = Date.new(1900,01,01)
if @goal.established_on == nil
  @goal.established_on = "1900-01-01"
end
if @goal.status == nil
    @goal.status = "start"
end


@arrStatus = Array.new

if @goal.status == "start"
  if  @goal.established_on == dest
    @arrStatus.push(["Shoot for 21 Days Straight (strict)", "start"])
  else
    @arrStatus.push(["Established", "start"])
  end
else
  if @goal.status != "start" and @goal.established_on != dest
    @arrStatus.push(["Go! (start over at day 1)", "start"])
  end
end


if @goal.status == "hold"
  @arrStatus.push(["Go! (start over at day 1)", "start"])
end


if current_user.is_admin or @goal.status == "monitor" or @goal.established_on == dest
  @arrStatus.push(["Just monitor success rate (more options)", "monitor"])  
  %>
  <%
end
%>
  <br>
<br>

<%
show_monitor_option_details = 0
%>



   
<br>
<div class="well">


<% if session[:sfm_virgin] == true and !@goal.template_owner_is_a_template and !based_on_a_template%> 
  <h1>What is the first habit you'd like to create?</h1>
  <br>
<% end %>





<h2><img src="/home/images/paperplane_icon.png" alt="img"  /> Email <%= them_or_me %> daily and ask:</h2>

<div class="alert">
<h4>
  
  "Were you successful at
<% if !based_on_a_template and !has_active_challenge %>
 &nbsp
  <%= form.text_field :response_question, :placeholder => 'Ex: walking for at least 20 minutes', :style=>'width:400px;', :size => 40 %> ?"
<% else %>
  <%= @goal.response_question %>?"
  <%= form.hidden_field :response_question, :value => @goal.response_question %>
  <%= form.hidden_field :template_user_parent_goal_id, :value => @goal.template_user_parent_goal_id %>
  <%= form.hidden_field :goal_added_through_template_from_program_id, :value => @goal.goal_added_through_template_from_program_id %>

<% end %>
</h4>
</div>
<% if has_active_challenge %>
  <br>
  <div class="alert-info">
  This goal's title, category and frequency can not be modified because it is currently part of an Extra Accountability Challenge.
  </div>
<% end %>


  <% if @goal.template_owner_is_a_template %>

    <h2>Tagline</h2><span style="font-style:italic;">This is how this goal will be advertised to others.</span><br>
    <%= form.text_field :template_tagline, :placeholder => 'Ex: Take a Walk!', :style=>'width:400px;', :size => 40 %>

    <h2>Description</h2><span style="font-style:italic;">Some text about this goal, or a fact about why they should do this.</span><br>
    <%= form.text_field :template_description, :placeholder => 'Ex: Walking for 20 minutes each day burns calories and increases a sense of well-being!', :style=>'width:600px;', :size => 80 %>

  <% end %>

  <% if @ca == "new" and @goal.template_owner_is_a_template %>
    <h3>You can add tags once the template is saved.</h3>
  <% end %>

  <% if @ca == "edit" and @goal.template_owner_is_a_template %>

    <div class="manage">
       <%= render :partial => "template_tags/manage", :locals => { :goal => @goal }  %>
    </div>

    <p>
      <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('show_available_tags')">Show Available Tags</a></span>
      <div id="show_available_tags" style="display:none">
        <% @tags = Tag.find(:all, :order => "name") %>
        <% @tags.each do |tag| %>
          <a onclick="add_tag_to_template_then_reload_template_tags('<%= tag.id %>','<%= @goal.id %>');" class="btn" style="padding:2px;"><%= tag.name %></a>
        <% end %>
      </div>
    </p>
    <br>
    <br>
  <% end %>


  <table border=0>
  <tr>
  <td valign=top align=right nowrap>
  </td>
  <td nowrap>

  </td>
  </tr>
  <tr>
  <td colspan=3>
  </td>
  <tr>
  <tr>
  <td valign=top align=right nowrap>
  </td>
  <td nowrap>
  </td>
  </tr>



  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>



  <tr>
  <td valign=top nowrap align=right>
  <% if based_on_a_template or has_active_challenge %>
    <% if @goal.category and @goal.category != "" %>
      Category: 
    <% end %>
  <% else %>
    What Category is this? &nbsp 
  <% end %>
  </td>
  <td nowrap>

    <% if !based_on_a_template and !has_active_challenge %>
      <%
      @arr = arr_goal_categories  
      %>
      <%= select(:goal, :category, @arr)%>
    <% else %>
      <%= @goal.category %>
      <%= form.hidden_field :category, :value => @goal.category %>
    <% end %>

  </td>
  </tr>

  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>

  <tr>
  <td valign=top nowrap align=right>
  &nbsp
  </td>
  <td nowrap>
  &nbsp
  </td>
  </tr>


  <tr>
  <td valign=top nowrap align=right>
  <i class="icon-bell"></i> Remind <%= them_or_me %> at: &nbsp  
  </td>
  <td nowrap>

    <%
    @arr_reminder = Array.new

    @arr_reminder.push(["~8:00am", 8])
    @arr_reminder.push([" ", -1])
    @arr_reminder.push([" ", -1])
    @arr_reminder.push(["~5:00am", 5])
    @arr_reminder.push(["~6:00am", 6])
    @arr_reminder.push(["~7:00am", 7])
    @arr_reminder.push(["~8:00am", 8])
    @arr_reminder.push(["~9:00am", 9])
    @arr_reminder.push(["~10:00am", 10])
    @arr_reminder.push(["~11:00am", 11])
    @arr_reminder.push(["~12:00pm", 12])
    @arr_reminder.push(["~1:00pm", 13])
    @arr_reminder.push(["~2:00pm", 14])
    @arr_reminder.push(["~3:00pm", 15])
    @arr_reminder.push(["~4:00pm", 16])
    @arr_reminder.push(["~5:00pm", 17])
    @arr_reminder.push(["~6:00pm", 18])
    @arr_reminder.push(["~7:00pm", 19])
    @arr_reminder.push(["~8:00pm", 20])
    @arr_reminder.push(["~9:00pm", 21])
    @arr_reminder.push(["~10:00pm", 22])
    @arr_reminder.push(["~11:00pm", 23])
    @arr_reminder.push(["no reminder", -1])
    %>
    <%= select(:goal, :reminder_send_hour, @arr_reminder)%>



    <%
      if current_user.sponsor == "habitforge" and !@goal.more_reminders_enabled and !session[:sfm_virgin]
          %>
          <strong>
            <span style='text-decoration:underline;'><a href="#undefined" onclick="toggle_show_hide('multiple_reminders')">more reminders</a></span>
          </strong>
        <%
      end
    %>



</h2>

  </td>
  </tr>

<!-- if current_user.email == "jurowski@gmail.com" or current_user.email == "jurowski@pediatrics.wisc.edu" -->
  <tr><td colspan=10>&nbsp</td>
  </tr>
  <tr>
  <td valign=top nowrap align=right>
  <i class="icon-time"></i> Check in with <%= them_or_me %> at: &nbsp  
  </td>
  <td nowrap>

    <%
    @arr_checkin = Array.new

    @arr_checkin.push(["~8:00pm", 20])
    @arr_checkin.push(["~9:00pm", 21])
    @arr_checkin.push(["~10:00pm", 22])
    @arr_checkin.push([" ", 0])
    @arr_checkin.push(["---------", 0])
    @arr_checkin.push([" ", 0])
    @arr_checkin.push(["~1:00am", 1])
    @arr_checkin.push(["~2:00am", 2])
    @arr_checkin.push(["~3:00am", 3])
    @arr_checkin.push(["~4:00am", 4])
    @arr_checkin.push(["~5:00am", 5])
    @arr_checkin.push(["~6:00am", 6])
    @arr_checkin.push(["~7:00am", 7])
    @arr_checkin.push(["~8:00am", 8])
    @arr_checkin.push(["~9:00am", 9])
    @arr_checkin.push(["~10:00am", 10])
    @arr_checkin.push(["~11:00am", 11])
    @arr_checkin.push(["~12:00pm", 12])
    @arr_checkin.push(["~1:00pm", 13])
    @arr_checkin.push(["~2:00pm", 14])
    @arr_checkin.push(["~3:00pm", 15])
    @arr_checkin.push(["~4:00pm", 16])
    @arr_checkin.push(["~5:00pm", 17])
    @arr_checkin.push(["~6:00pm", 18])
    @arr_checkin.push(["~7:00pm", 19])
    @arr_checkin.push(["~8:00pm", 20])
    @arr_checkin.push(["~9:00pm", 21])
    @arr_checkin.push(["~10:00pm", 22])
    @arr_checkin.push(["~11:00pm", 23])
    %>
    <%= select(:goal, :usersendhour, @arr_checkin)%>


    <%
    @arr_check_in_same_day = Array.new

    @arr_check_in_same_day.push(["that same day", true])
    @arr_check_in_same_day.push(["the next day", false])
    %>
    <%= select(:goal, :check_in_same_day, @arr_check_in_same_day)%>


  </td>
  </tr>
<!-- end -->





  <tr>
  <td valign=top nowrap align=right colspan=5>
  &nbsp

    <% if @goal.more_reminders_enabled %>
        <div id="multiple_reminders">
    <% else %>
        <div id="multiple_reminders" style="display:none;">
    <% end %>
    
    
    
        <% if current_user.is_habitforge_supporting_member or @goal.more_reminders_enabled %>
                    <%= check_box(:goal, :more_reminders_enabled, options = {}, checked_value = "true", unchecked_value = "false") %>
                    Send <%= them_or_me %> frequent reminders every  
        

                <%
                @arr_reminder_frequency = Array.new

                @arr_reminder_frequency.push(["1", 1])
                @arr_reminder_frequency.push(["2", 2])
                @arr_reminder_frequency.push(["3", 3])
                @arr_reminder_frequency.push(["4", 4])
                @arr_reminder_frequency.push(["5", 5])
                @arr_reminder_frequency.push(["6", 6])
                @arr_reminder_frequency.push(["7", 7])
                @arr_reminder_frequency.push(["8", 8])

                %>
                <%= select(:goal, :more_reminders_every_n_hours, @arr_reminder_frequency)%>
                 hours
     
                 between
    
                <%
                @arr_reminder_start = Array.new

                @arr_reminder_start.push(["5:00am", 5])
                @arr_reminder_start.push(["6:00am", 6])
                @arr_reminder_start.push(["7:00am", 7])
                @arr_reminder_start.push(["8:00am", 8])
                @arr_reminder_start.push(["9:00am", 9])
                @arr_reminder_start.push(["10:00am", 10])
                @arr_reminder_start.push(["11:00am", 11])
                @arr_reminder_start.push(["12:00pm", 12])
                @arr_reminder_start.push(["1:00pm", 13])
                @arr_reminder_start.push(["2:00pm", 14])
                @arr_reminder_start.push(["3:00pm", 15])
                @arr_reminder_start.push(["4:00pm", 16])
                @arr_reminder_start.push(["5:00pm", 17])
                @arr_reminder_start.push(["6:00pm", 18])
                @arr_reminder_start.push(["7:00pm", 19])
                @arr_reminder_start.push(["8:00pm", 20])
                @arr_reminder_start.push(["9:00pm", 21])
                @arr_reminder_start.push(["10:00pm", 22])
                @arr_reminder_start.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_start, @arr_reminder_start)%>
                 and
     
                <%
                @arr_reminder_end = Array.new

                @arr_reminder_end.push(["5:00am", 5])
                @arr_reminder_end.push(["6:00am", 6])
                @arr_reminder_end.push(["7:00am", 7])
                @arr_reminder_end.push(["8:00am", 8])
                @arr_reminder_end.push(["9:00am", 9])
                @arr_reminder_end.push(["10:00am", 10])
                @arr_reminder_end.push(["11:00am", 11])
                @arr_reminder_end.push(["12:00pm", 12])
                @arr_reminder_end.push(["1:00pm", 13])
                @arr_reminder_end.push(["2:00pm", 14])
                @arr_reminder_end.push(["3:00pm", 15])
                @arr_reminder_end.push(["4:00pm", 16])
                @arr_reminder_end.push(["5:00pm", 17])
                @arr_reminder_end.push(["6:00pm", 18])
                @arr_reminder_end.push(["7:00pm", 19])
                @arr_reminder_end.push(["8:00pm", 20])
                @arr_reminder_end.push(["9:00pm", 21])
                @arr_reminder_end.push(["10:00pm", 22])
                @arr_reminder_end.push(["11:00pm", 23])

                %>
                <%= select(:goal, :more_reminders_end, @arr_reminder_end, :default => 10)%>        
        
                    <br>
        <%
        else
        %>
          <div class="notice">



            <a href="/goals?feature_limit=1" target="_blank">Enable "Frequent Reminders" with a Premium Membership</a>
            <br>
            <input type=checkbox disabled>
            Send <%= them_or_me %> frequent reminders every  
            <select disabled style="width:auto;"><option>4</option></select> hours between 
            <select disabled style="width:auto;"><option>8:00am</option></select> and
            <select disabled style="width:auto;"><option>10:00pm</option></select>
          </div>
        <%
        end
        %>

      </td>
      </tr>
      </table>
      <br>




  </td>
  </tr>


  </table>
</div>

<% 
if @ca == "new" and !@goal.template_owner_is_a_template
    %>

    When will you start doing it? <select id="delay_start_for_this_many_days" name="delay_start_for_this_many_days" style="width:auto;">
  	<option value="0">Start Today</option>
  	<option value="1">Start Tomorrow</option>
    </select>
    <br>


    <% 
    @arr_pre_start_days_per_week = Array.new

    @arr_pre_start_days_per_week.push(["0", 0])
    @arr_pre_start_days_per_week.push(["1", 1])
    @arr_pre_start_days_per_week.push(["2", 2])
    @arr_pre_start_days_per_week.push(["3", 3])
    @arr_pre_start_days_per_week.push(["4", 4])
    @arr_pre_start_days_per_week.push(["5", 5])
    @arr_pre_start_days_per_week.push(["6", 6])
    @arr_pre_start_days_per_week.push(["7", 7])
    %>
    
    <br>
    <% 
    if !session[:sfm_virgin]  
        %>
        <strong>On average, how many days per week are you already succeeding at this?</strong>
        <%= select(:goal, :pre_start_days_per_week, @arr_pre_start_days_per_week) %> 
        <% 
    end 


end
%>





<!-- HIDE THE FOLLOWING IF FIRST NEW GOAL VIRGIN SETUP SCREEN -->
<% if !session[:sfm_virgin] and !@goal.template_owner_is_a_template  %>
  <br>
  <br>

  <h2><i class="icon-fire"></i> Personal Motivation:
  <strong>



          <a href="#undefined" onclick="toggle_show_hide('personal_motivation')" class="btn-add">What's driving you?</a>


  </strong></h2>
  <div id="personal_motivation" class="well" style="display:none;">
  <div class="notice">

    <strong>(This private information will never be shared with others, even if you "Share" your goal with other users.)</strong>
    <p>
      <br>
      <h4>Describe the negative consequences:</h4><i>...the "Pain" you'll feel long term if you don't follow through on forming this habit</i><br><%= form.text_area :pain, :rows => 2,  :style=>"width:auto;" %>
      <br>
      <br>
      <h4>Talk about the upside:</h4><i>...how you'll feel once the habit is formed, and in what ways your life will be improved</i><br><%= form.text_area :pleasure, :rows => 2, :style=>"width:auto;" %>
      <br>
      <br>
    <%= check_box(:goal, :pp_remind, options = {}, checked_value = "true", unchecked_value = "false") %>
    Every 3 days, insert this info in my daily email reminder (for single-goal users), or display it if I've clicked "no" (for multi-goal users).
    </p>

  </div>
  </div>


  <br>
  <br>
  </p>
  </p>

  <h2>
    <% if !@goal.publish or @goal.publish == true %>
      <i class="icon-unlock"></i> 
    <% else %>
      <i class="icon-lock"></i> 
    <% end %>
    Visibility</h2>
  <p>
  <% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member %>
    <input disabled="disabled" id="publish" name="publish" type="checkbox" value="true" checked />
  <% else %>
    <%= check_box(:goal, :publish, options = {}, checked_value = "true", unchecked_value = "false") %>
  <% end %>
  Public: Anyone can see <a href="<%= session[:site_url] %>/cheers/1/shared?shared_u=<%= current_user.id %>" target="_blank">my progress</a>, and members can send messages about my goal and can "follow" my progress.
  <% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member %>
    <br>
      <input disabled="disabled" id="private" name="private" type="checkbox" />
      Keep it Private 
                            
      <a href="/goals?feature_limit=1" target="_blank">" >(requires a Premium Membership)</a>
  <% end %>


  <!-- START FRIENDLY PUSHES -->
  <% if session[:site_name] == "habitforge" %>
    <div> 
      &nbsp   
    </div>  
    <!-- BEGIN WELL -->
    <h2><i class="icon-bullhorn"></i> Priority Encouragement</h2>
    <div class="well">
            <h4>What happens if you start to slack?</h4> Be one of the first in line to get a "Friendly Push" when you need it. If you don't succeed for a few days, other HabitForge members can earn points by sending you a "push". They can only use <strong>motivating phrases that you create</strong>. If you were slacking and then you succeed within 48 hours after their "push", they earn additional points redeemable toward a Premium Membership.

          <a href="#undefined" onclick="toggle_show_hide('push_form')" class="btn-add">Show More</a>
    
          <div id="push_form" style="display:none;">

            <br>
            <br>
            <h2>
            <% if !current_user.is_habitforge_supporting_member %>
              <a href="/goals?feature_limit=1" target="_blank">" >(Enable this feature with a Premium Membership)</a>
            </h2>

            <% end %>

            <br>
            <br>

           <div class="alert">
              <p>
              <% if !current_user.is_habitforge_supporting_member %>
                <input disabled="disabled" id="allow_push" name="allow_push" type="checkbox" value="true" unchecked />
              <% else %>
                      <%= check_box(:goal, :allow_push, options = {}, checked_value = "true", unchecked_value = "false") %>
              <% end %>
              <%
              @arr_max_pushes = Array.new
              @arr_max_pushes.push(["1", 1])
              @arr_max_pushes.push(["2", 2])
              @arr_max_pushes.push(["3", 3])
              @arr_max_pushes.push(["4", 4])
              @arr_max_pushes.push(["5", 5])
              %>
              <span style="font-size:1.2em;">
              Provide incentives for other members to "Push" <%= them_or_me %> if I start to fail for a few days straight.
              </span>

              <br>If I do start slacking, get up to 
              <% if !current_user.is_habitforge_supporting_member %>
                  <select disabled  style="width:auto;"><option>3</option></select> 
              <% else %>
                  <%= select(:goal, :pushes_allowed_per_day, @arr_max_pushes) %> 
              <% end %> 
              member(s) to send <%= them_or_me %> a push each day. <br>
            </div> <!-- END ALERT -->

              <h3>My Push Messages</h3>
              </p>

               <p>
   

              <%= form.text_field :phrase1, :style=>"width:400px;", :size => 80, :placeholder=>"ex: What's going on? Have you forgotten how bad you want to have...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
              <%= form.text_field :phrase2, :style=>"width:400px;", :size => 80, :placeholder=>"ex: Remember how painful it will be if you don't...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
               <%= form.text_field :phrase3, :style=>"width:400px;", :size => 80, :placeholder=>"ex: What happened? I thought you were committed to...", :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
                 <%= form.text_field :phrase4, :placeholder=>"ex: You can do it!!! It only takes a few minutes to...", :style=>"width:400px;", :size => 80, :readonly=>!current_user.is_habitforge_supporting_member %>

              <br><br>
               <%= form.text_field :phrase5, :placeholder=>"ex: Think of how awesome it's going to feel to...", :style=>"width:400px;", :size => 80, :readonly=>!current_user.is_habitforge_supporting_member %>

              <br>
             </p>

          </div>
        </div>
    <!-- END WELLS PORTLET-->
  <% end %>
  <!-- END FRIENDLY PUSHES -->
<% end ### end whether session[:sfm_virgin] == true %>
<!-- END HIDE THE ABOVE IF FIRST NEW GOAL VIRGIN SETUP SCREEN -->

</p>
<br>
<%= form.hidden_field :reminder_time, :value => :reminder_time %>


<h2><i class="icon-calendar"></i> Frequency</h2>
<% if based_on_a_template %>
  <h6>(Values below are locked because this goal is based off of a template.)</h6>
<% end %>
<% if has_active_challenge %>
  <h6>(Values below are locked because this goal is currently part of an Extra Accountability Challenge.)</h6>
<% end %>

<div class="well">
Some habits are daily and others are only a few days a week.

Is this habit a daily or a less frequent one?


<% 
show_monitor_option_details = false
if @goal.status == "monitor" or params["monitor"] or (params[:weekdays_only] and params[:weekdays_only] == "true")
      if params[:weekdays_only] == "true"
        @goal.days = false
        @goal.dayn = false
        @goal.goal_days_per_week = 5
      end
      show_monitor_option_details = true
end


if @goal.template_owner_is_a_template
  if @goal.daym == true and @goal.dayt == true \
    and @goal.dayw == true and @goal.dayr == true \
    and @goal.dayf == true and @goal.days == true \
    and @goal.dayn == true and @goal.goal_days_per_week == 7
      show_monitor_option_details = false
  else
    show_monitor_option_details = true
  end
end

if based_on_a_template or has_active_challenge
  if @goal.daym == true and @goal.dayt == true \
    and @goal.dayw == true and @goal.dayr == true \
    and @goal.dayf == true and @goal.days == true \
    and @goal.dayn == true and @goal.goal_days_per_week == 7
      show_monitor_option_details = false
  else
    show_monitor_option_details = true
  end
end



@arr_goal_days_per_week = Array.new
@arr_goal_days_per_week.push(["7", 7])
@arr_goal_days_per_week.push(["6", 6])
@arr_goal_days_per_week.push(["5", 5])
@arr_goal_days_per_week.push(["4", 4])
@arr_goal_days_per_week.push(["3", 3])
@arr_goal_days_per_week.push(["2", 2])
@arr_goal_days_per_week.push(["1", 1])
%>
<br>



<% if show_monitor_option_details %>
    <div id="daily" style="display:none;">
      <input type='radio' disabled checked> Daily 



      <!-- link_to_function ("<input type='radio' disabled unchecked> Not Daily") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->


      <% if based_on_a_template %>
         <!-- Not Daily DO NOT SHOW IT AT ALL-->
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Not Daily</a>
      <% end %>


    </div>

  <div id="not_daily" style="display:block;">

<% else %>

    <div id="daily" style="display:block;">
      <input type='radio' disabled checked> Daily 


      <!-- link_to_function ("<input type='radio' disabled unchecked> Not Daily") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->


      <% if based_on_a_template or has_active_challenge %>
        <!-- Not Daily DO NOT SHOW IT AT ALL-->
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Not Daily</a>
      <% end %>

    </div>
  <div id="not_daily" style="display:none;">
<% end %>

    <div id="daily" style="display:block;">
      <!-- link_to_function ("<input type='radio' disabled unchecked> Daily ") {
       |page| 
       page.visual_effect :toggle_appear, "daily" 
       page.visual_effect :toggle_appear, "not_daily" 
      } 
      -->
      <input type='radio' disabled unchecked>
      <% if based_on_a_template or has_active_challenge %>
        Daily
      <% else %>
        <a href="#undefined" onclick="toggle_show_hide('daily');toggle_show_hide('not_daily')">Daily</a>
      <% end %>
      <input type='radio' disabled checked> Not Daily 
    </div>
  <div>



    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp The goal is to succeed at this at least 
    <% if based_on_a_template or has_active_challenge %>
      <span style="font-weight:900;"><%= @goal.goal_days_per_week %></span>
      <%= form.hidden_field :goal_days_per_week, :value => @goal.goal_days_per_week %>
    <% else %>
      <%= select(:goal, :goal_days_per_week, @arr_goal_days_per_week) %> 
    <% end %>


    days each week.
    <br>
    <br>
  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp It's only realistic for <%= them_or_me %> to succeed on these days:

      <br>
      <br>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 


      <% if based_on_a_template or has_active_challenge %>
        <%= check_box(:goal, :daym, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Mon</strong> &nbsp;
        <%= check_box(:goal, :dayt, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Tue</strong> &nbsp;
        <%= check_box(:goal, :dayw, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Wed</strong> &nbsp;
        <%= check_box(:goal, :dayr, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Thu</strong> &nbsp;
        <%= check_box(:goal, :dayf, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Fri</strong> &nbsp;
        <br>

        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <%= check_box(:goal, :days, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Sat</strong> &nbsp;
        <%= check_box(:goal, :dayn, :checked_value => true, :unchecked_value => false, :disabled => true, :readonly => true) %>
        <strong>Sun</strong> &nbsp;


      <% else %>
        <%= check_box(:goal, :daym, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Mon</strong> &nbsp;

        <%= check_box(:goal, :dayt, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Tue</strong> &nbsp;

        <%= check_box(:goal, :dayw, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Wed</strong> &nbsp;

        <%= check_box(:goal, :dayr, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Thu</strong> &nbsp;

        <%= check_box(:goal, :dayf, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Fri</strong> &nbsp;
        <br>

        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


        <%= check_box(:goal, :days, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Sat</strong> &nbsp;

        <%= check_box(:goal, :dayn, options = {}, checked_value = "true", unchecked_value = "false") %>
        <strong>Sun</strong> &nbsp;
      <% end %>




  </div>
</div>
</div> <!-- END "WELL" -->



<br>
<br>




