

<!-- START Team Section -->

<%
if params[:join_a_team] and (params[:goal_id].to_i == @goal.id)
    display_style = ""
else
    display_style = "display:block;"
end 
%>
<div id="team_<%= @goal.id %>" class="div_team" style="<%= display_style %>">                    







<!-- START SHOW TEAM MEMBERS -->
<% if @goal.is_part_of_a_team and @goal.team %>      


    <%
      @team_goals = Goal.find(:all, :conditions => "team_id = '#{@goal.team_id}'")
      if @team_goals.size < 2
          %>

          <% if @goal.team.custom %>

            <% if @goal.team.i_am_owner_or_admin(current_user.id) %>
              No other team members yet...
            <% else %>
              Sorry, the owner of this team has left the team, and you're the only member left. This shouldn't have been possible... please contact support@habitforge.com or if you'd prefer, you can 
              <a href='/goals?quit_a_team=1&goal_id=<%=@goal.id%>' onclick="return confirm('Are you sure you want to quit this team?');">quit this team</a>
              ... (since only the owner will be able to invite other people to it).
            <% end %>

          <% else %>
  
            <p><h3>We're recruiting other people for your team.
                </h3>
              <a href='/goals?quit_a_team=1&goal_id=<%=@goal.id%>' onclick="return confirm('Are you sure you want to quit this team?');">Stop looking (quit this future team)</a>
            </p>

            </h3></p>

          <% end %>
          <br>
          <%
      else
        %>
        <i class="icon-external-link"></i> <a href="popupex.html" onclick="return popitup('team_rules.html')">Team Rules</a> &nbsp &nbsp <i class="icon-remove"></i>

        <!-- HEY, even the owner can quit the team but still own the team ... think of an organization team leader managing 20 teams!
        They shouldn't have to have 20 goals to manage 20 teams -->
        <a href='/goals?quit_a_team=1&goal_id=<%=@goal.id%>' onclick="return confirm('Are you sure you want to quit this team?');">Quit this team</a>

        <%
          has_percentage = 0
          total_percentage = 0
          average_percentage = 0
          for team_goal in @team_goals
              if team_goal.success_rate_percentage != nil
                  has_percentage = has_percentage + 1
                  total_percentage = total_percentage + team_goal.success_rate_percentage
              end
          end
          if has_percentage > 0
              average_percentage = total_percentage / has_percentage
              %>
              <p><h3>My Team's Success Rate is <%= average_percentage %>% during the past 30 days
              </h3></p>

              <br>
              <%
          else
              %>
              <p><h3>My Team</h3></p>
              <br>
              <%                  
          end
      end
      for team_goal in @team_goals
        %>
        <% if team_goal.user and (team_goal.user.id != current_user.id) %>
            <p>

              <% if team_goal.user.show_gravatar %>
                <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(team_goal.user.email.downcase)}?d=mm" %>
                <img src="<%= gravatar %>&s=30" />            
              <% else %>
                <img src="/home/images/default_gravatar.png" height="30px"/>
              <% end %>


              <img src="/images/comment_user_add_32.png" /> <a href="/tomessages/new?goal_id=<%=team_goal.id.to_s%>&from_type=team&to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a>
            • 
            <% if team_goal.success_rate_percentage != nil %>
                 Succeeding <%= team_goal.success_rate_percentage %>% of the last
            <% end %>
            <% if team_goal.days_into_it != nil %>
                30 days
            <% end %>

            <% if team_goal.daysstraight != nil and team_goal.daysstraight != 9999 %>
                has done it <%= team_goal.daysstraight %> days in a row
            <% end %>

            <% if team_goal.laststatusdate != nil and team_goal.laststatus != nil %>
            <% else %>              
                 (has not yet checked in)
            <% end %> 
            </p>
        <% end %>            
        <%
      end
      %> 



<% end %>
<!-- END SHOW TEAM MEMBERS -->





<!-- START PART OF A CUSTOM TEAM -->
<% if @goal.is_part_of_a_team and @goal.team and @goal.team.custom  %>

  <!-- IF YOU ARE THE OWNER -->
  <% if @goal.team.i_am_owner_or_admin(current_user.id) %>
    <hr>
    You are the owner of the "<%= @goal.team.name %>" team. <%= link_to 'Edit Team Details', team_path(@goal.team) %>


    <% @team = @goal.team %>
    <div class="div_team_<%= @team.id %>_manage_team_invites" id="div_team_<%= @team.id %>_manage_team_invites">
       <%= render :partial => "invites/manage_team_invites", :locals => { :team => @team }  %>
    </div>



  <% end %> 
  <!-- END IF YOU ARE THE OWNER -->



  <!-- TEAM STATUS -->


  <!-- END TEAM STATUS -->

<% end %>
<!-- END PART OF A CUSTOM TEAM -->






<!-- START NOT YET PART OF A TEAM -->
<% if @goal.team == nil %>
    <% if @goal.category == "None" or @goal.category == "" %>  
        <p><h3>Find and Join an Open Team (or Build Your Own Team)!!!</h3></p>
        <br>
        <em><%= link_to "Choose a category", edit_goal_path(@goal) %>, and you can Encourage and Share Stats with a small group of people who have a similar goal.</em>        
    <% else %>









        <p>

          <h3>
            <a id="build_my_own_team" onclick="toggle_show_hide('goal_creation_options_<%= @goal.id %>')" title='Invite others to work on the same or a similar goal with you.' >
            <!-- <a id="build_my_own_team" title='Invite others to work on the same or a similar goal with you.' > -->
             Build My Own Team</a></h3>
          <script type='text/javascript'>
              $('#build_my_own_team').tipsy();
          </script>

          <div id="goal_creation_options_<%= @goal.id %>" style="display:none">
            Invite others to join me in <a href="/teams/new?team_type=category&goal_id=<%= @goal.id %>">any goal related to <%= @goal.category %></a>
            or
            <a href="/teams/new?team_type=goal&goal_id=<%= @goal.id %>"> my goal of <%= @goal.response_question %></a>.
          </div>

        </p>

        <p>

          <h3><a href="/goals?join_a_team=1&goal_id=<%=@goal.id%>#jump_to_goal_id_<%= @goal.id %>" id="find_and_join_an_open_team" title='Put me on a team with 3 Others Committed to a "<%=@goal.category%>" Goal'> Find and Join an Open Team</a></h3>
          <script type='text/javascript'>
              $('#find_and_join_an_open_team').tipsy();
          </script>
        </p>



    <% end %> <!-- NO CATEGORY -->
<% end %> <!-- END NOT YET PART OF A TEAM -->

<p />


</div>
<!-- END Team Section -->            
