
<div id="watchers_<%= @goal.id %>" class="div_team" style="display:none;">                    

<DIV >
<% 
if @goal.number_invites_sent_to_followers > 0
%>
    <br>
    <h3>Who's Watching?</h3>
    <p>                
    <% 
    @goal.invites_sent_to_followers.each do |cheer|
        invited_user = User.find(:first, :conditions => "email = '#{cheer.email}'")
        if invited_user
        %>
            <img src="/images/lightbulb_32.png" height="20px" />                         
            <%
            show_delete_icon = true
            if @goal.coachgoal != nil
                if invited_user.id == @goal.coachgoal.coach.user.id
                    show_delete_icon = false
                end
            end
            if show_delete_icon
                %>
                <%= link_to '<img src="/images/close_32.png" height="20px" alt="Delete" border="0" />', cheer, :confirm => 'Are you sure you want this person to stop following this goal?', :method => :delete %>
                <%
            end
            %>
            <%= invited_user.first_name %> is watching<% if cheer.weekly_report %> and will get weekly reports  <% end %>.
            <a href="/tomessages/new?to_id=<%= invited_user.id %>" >Send <%= invited_user.first_name %> a Message</a>

        <%
        else
        %>
            <img src="/images/lightbulb_off_32.png" height="20px" border="0" />
            <%= link_to '<img src="/images/close_32.png" height="20px" border="0" alt="Delete" />', cheer, :confirm => 'Are you sure you want this person to stop following this goal?', :method => :delete %>                            
            <%= cheer.email %> (waiting for them to sign up)
        <%
        end
        %>
        <br>
    <%
    end
    %>
    <h3><img src="/images/add_32.png" height="30px" border="0" /><%= link_to "Invite another friend to follow your progress", :controller => "goals", :action => "invite_a_friend_to_track", :id => @goal.id%></h3>
    </p>

<%
else
%>
    <p><h3><img src="/images/add_32.png" height="30px" border="0" /><%= link_to "Invite a friend to follow your progress", :controller => "goals", :action => "invite_a_friend_to_track", :id => @goal.id%></h3></p>
<%
end
%>
</div>


</div>

