<!-- START FLASH MESSAGES -->
<% if params[:flash] == "message_sent" %>
    <div class="notice">
        <h3>Message sent.</font> 
    </div>
<% end %>
<!-- END FLASH MESSAGES END -->


<!-- *********** -->
<!-- *********** -->
<!-- START SUPPORTPOINTS -->
<!-- *********** -->
<% if @push_message_to_slacker_attempt %>
	<div class="notice">
	<% if @push_message_to_slacker_sent == false %>
		Sorry, but there was an error sending your "push" message. Please contact support@habitforge.com for further troubleshooting.
	<% else %>
		Message sent! You've earned 5 SupportPoints!
	<% end %>
	</div>

<% end %>
<!-- *********** -->
<!-- END SUPPORTPOINTS -->
<!-- *********** -->
<!-- *********** -->





<!-- *********** -->
<!-- *********** -->
<!-- START HEADER -->    
<!-- *********** -->

<div />
<% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and current_user.number_of_active_habits > 0 %>
      <%= render :partial => "goals/upgrade_advertisement"  %>

<% else %>
    <%= link_to '<img src="/images/add_32.png" border="0" width=25px/>Start a New Habit', new_goal_path %>
<% end %>
<div />
<!-- *********** -->
<!-- END HEADER -->
<!-- *********** -->
<!-- *********** -->





<!-- *********** -->
<!-- *********** -->
<!-- START SHOW ACTIVE HABITS -->    
<!-- *********** -->
<% 
number_goals_today = current_user.number_next_goals_working_on_for_date(current_user.dtoday) 
number_goals_tomorrow = current_user.number_next_goals_working_on_for_date(current_user.dtomorrow)
@badge_date = current_user.dtoday 
dyesterday = current_user.dyesterday
dtoday = current_user.dtoday
dtomorrow = current_user.dtomorrow 
printed_today_actions_once = false
printed_tomorrow_actions_once = false
printed_future_actions_once = false
for goal in current_user.active_goals_sorted_by_next_action_day
    @goal = goal
    
    if number_goals_today > 0
        if !printed_today_actions_once
            printed_today_actions_once = true
            %>
            <div class="date_goal_list">
                <%= render :partial => "goals/date_badge", :locals => { :badge_date => @badge_date }  %>
                <h2>
                &nbsp &nbsp
                <% if number_goals_today == 1 %>
                    Today I need to work on...
                <% else %>
                    Today I'm working on these <%= number_goals_today %> habits...
                <% end %>
                </h2>

                <div class="until_midnight">
                    <h5> 
                    If you have already succeeded today, click "I Already Succeeded Today!" below.
                    <br>
                    Otherwise you'll get a check-in email early tomorrow morning with yes/no links.
                    </h5>
                </div>

                <br>
                <br>
            </div>
            <%
        end
    end ### End of: if number_goals_today == 0




    ### No longer on "today"... moving on
    date_next_to_take_action = goal.date_next_to_take_action
    if date_next_to_take_action != @badge_date 
        @badge_date = date_next_to_take_action 
        %>

        <% if (@badge_date > dtomorrow) and printed_future_actions_once %>
            <br>
        <% end %>

        <% if (@badge_date == dtomorrow) and !printed_tomorrow_actions_once  
            printed_tomorrow_actions_once = true
            %>
            <br>
            <br>

            <div class="date_goal_list">
            <%= render :partial => "goals/date_badge", :locals => { :badge_date => @badge_date }  %>

            <h2>
            &nbsp &nbsp
            Tomorrow is the next action day for...
            </h2>

            <div class="until_midnight_tomorrow">
                <h5> 
                Once you succeed tomorrow, you can log in and click the "I Already Succeeded Today!" button that will appear.
                <br>
                Otherwise you'll get a check-in email early the next morning with yes/no links.
                </h5>
            </div>

        <% end %>

        <%
        if (@badge_date > dtomorrow) and !printed_future_actions_once 
            printed_future_actions_once = true
            %>
            <br>
            <br>
            <h2>Actions for this coming week</h2>

            <div class="other_future_habits">
                <h5> 
                These show up here because today and tomorrow are unchecked (not "relevant"). 
                <br>
                To change that, click on the habit to edit the relevant days.
                </h5>
            </div>
            <div class="date_goal_list">
            <%= render :partial => "goals/date_badge", :locals => { :badge_date => @badge_date }  %>
                <br>
                <br>
                <br>
                <br>
        <% 
        end 
        %>

    <% end %>

    <% if !goal.is_active %>
        This goal has "gone stale" due to lack of activity. (Email checkpoints are no longer being sent.) <a href="/goals?restart_goal_id=<%= goal.id%>">Start again at Day 1.</a>
    <% end %>
    
    
    
    
    
    <!-- *********** -->
    <!-- *********** -->
    <!-- START PRINT HABIT -->    
    <!-- *********** -->
    <div class="div_habit"><!-- START HABIT -->

    <DIV style="border-radius:20px;-moz-border-radius:20px;border-width:none;border-color:#eeeeee;background-color:#eeeeee;border-style:solid;padding:0px;margin:0px;width:300px;">
        <p>
        &nbsp
        &nbsp
        <%= link_to "edit", edit_goal_path(goal.id)  %>
        |
        <%= link_to "delete", goal, :confirm => 'Are you sure you want to delete this goal?', :method => :delete %>
        |
        <%= link_to 'hold a while', "/goals/hold/#{@goal.id}", :confirm => 'If you put a goal on hold, you will stop getting emails about it.' %>
        |
        <a href="/goals/single/<%= goal.id %>">show my answers</a>
        </p>
    </div>
    
    <br>
    <h2>
    ...<%= goal.title %>
    </h2>


    <!-- START OPTIONS HEADER -->
    <div id="options_<%= @goal.id %>">
    <%= render :partial => "goals/options", :locals => { :options => @goal }  %>
    </div>
    <!-- END OPTONS HEADER -->

    <% if goal.is_this_a_relevant_day(dtoday) or goal.is_this_a_relevant_day(dyesterday) %>
        <%
        show_add_comment = false
        add_comment_date = dtoday
        %>
        <% if goal.is_this_a_relevant_day(dtoday) and (goal.get_daily_status_for(dtoday) == "yes" or goal.get_daily_status_for(dtoday) == "no") %>
                <%
                show_add_comment = true
                %>            
                <% if goal.get_daily_status_for(dtoday) == "yes" %>

                <div>
                <p>
                <img src="/images/checkmark_green.png" height=20px >
                <% if goal.publish %>
                        Congratulations on today's success! Share your stats: 
                        <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= goal.user.id %>&one_g=<%= goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                <% else %>
                    Congratulations on today's success!
                <% end %>
                </p>
                </div>
            <% end %>
            <% if goal.get_daily_status_for(dtoday) == "no" %>
                <div>
                <p>
                <img src="/images/delete.png" height=20px>
                I didn't take action on this today.
                </p>
                </div>
            <% end %>
        <% else %>
            <% if goal.is_this_a_relevant_day(dyesterday) and (goal.get_daily_status_for(dyesterday) == "yes" or goal.get_daily_status_for(dyesterday) == "no") %>
                <%
                show_add_comment = true
                add_comment_date = dyesterday
                %>  
                <% if goal.get_daily_status_for(dyesterday) == "yes" %>        
                    <div>
                    <p>
                    <img src="/images/checkmark_green.png" height=20px >
                    <% if goal.publish %>
                            Congratulations on yesterday's success! Share your stats: 
                            <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= goal.user.id %>&one_g=<%= goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                    <% else %>
                        Congratulations on yesterday's success!
                    <% end %>
                    </p>
                    </div>
                <% end %>

                <% if goal.get_daily_status_for(dyesterday) == "no" %>
                    <div>
                    <p>
                    <img src="/images/delete.png" height=20px>
                    I didn't take action on this yesterday.
                    </p>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <%
        if show_add_comment
            add_note_text = ""
            if add_comment_date == dtoday
                if goal.get_daily_status_for(dtoday) == "yes"
                    if goal.get_daily_comment_for(dtoday) == ""
                        add_note_text = "Notes: How did it feel to follow through today?"
                    else
                        add_note_text = "Today's notes"
                    end
                else
                    if goal.get_daily_comment_for(dtoday) == ""
                        add_note_text = "Notes: Add a note about today."
                    else
                        add_note_text = "Today's notes"
                    end
                end
            end
            if add_comment_date == dyesterday
                if goal.get_daily_status_for(dyesterday) == "yes"
                    if goal.get_daily_comment_for(dyesterday) == ""
                        add_note_text = "Notes: How did it feel yesterday to follow through?"
                    else
                        add_note_text = "Yesterday's notes"
                    end
                else
                    if goal.get_daily_comment_for(dtoday) == ""
                        add_note_text = "Notes: Add a note about yesterday."
                    else
                        add_note_text = "Yesterday's notes"
                    end
                end
            end

            %>
            <p>
            <%= link_to_function (add_note_text) {
             |page| page.visual_effect :toggle_appear, "note_#{goal.id}" 
            } 
            %>
            <div id="note_<%= goal.id %>" style="display:none;">
                <form>
                    <textarea cols="80" rows="4" name="comment_<%= goal.id %>"><%= goal.get_daily_comment_for(add_comment_date) %></textarea> 
                    <p>Add a note or comment above, which will be saved when you click "Save Answers" at the bottom.
                    Notes are visible to others only if your goal is "shared" with other users.</p>
                    <center><input type="submit" class="button dark" value="Save Note" /></center>
                    <input type="hidden" name="update_comment" value="1">
                    <input type="hidden" name="goal_id" value="<%= goal.id %>">
                    <input type="hidden" name="date" value="<%= add_comment_date %>">
                </form>
            </div>
            </p>

        <%
        end
        %>
    <% end %>
        






    <!-- CATCH UP -->
    <div id="catch_up_on_checkpoints_goal_<%= @goal.id %>">
    <%= render :partial => "goals/catch_up_on_checkpoints", :locals => { :catch_up_on_checkpoints => @goal }  %>
    </div>
    <!-- CATCH UP -->





    <!-- START STATS -->
    <% if current_user.number_of_active_habits > 3 %>
        <div id="stats_<%= @goal.id %>" class="div_stats" style="display:none;">  
    <% else %>
        <div id="stats_<%= @goal.id %>" class="div_stats"">  
    <% end %>
    <%= render :partial => "goals/stats", :locals => { :stats => @goal }  %>
    </div>  
    <!-- END STATS -->


    <!-- START WATCHERS -->
    <%= render :partial => "goals/watchers", :locals => { :watchers => @goal }  %>
    <!-- END WATCHERS -->

    <!-- START TEAM -->
    <%= render :partial => "goals/team", :locals => { :team => @goal }  %>
    <!-- END TEAM -->


    <!-- START COACH -->
    <%= render :partial => "goals/coach", :locals => { :coach => @goal }  %>
    <!-- END COACH -->
    
    
    </div>
    <br>
    <!-- *********** -->
    <!-- END PRINT HABIT -->    
    <!-- *********** -->
    <!-- *********** -->


<% end %>
</div>


<!-- *********** -->
<!-- END SHOW ACTIVE HABITS -->    
<!-- *********** -->
<!-- *********** -->



<!-- *********** -->
<!-- *********** -->
<!-- START SHOW STALE HABITS -->    
<!-- *********** -->
<%
if current_user.number_of_stale_habits > 0
    %>
    <h2>
    Habits that have "Gone Stale"
    </h2>
    <h5>
    These goals have "gone stale" due to lack of activity. (Email checkpoints are no longer being sent.) 
    </h5>
    <p>
    <%
    for goal in current_user.stale_goals
        %>
        <h5>
        <a href="/goals?restart_goal_id=<%= goal.id%>">Start again at Day 1.</a>
        &nbsp | &nbsp
        <%= link_to goal.title, edit_goal_path(goal.id)  %>
        </h5>
        <%
    end
    %>
    </p>
    <%
end
%>
<!-- *********** -->
<!-- END SHOW STALE HABITS -->    
<!-- *********** -->
<!-- *********** -->




<!-- *********** -->
<!-- *********** -->
<!-- START SHOW HOLD HABITS -->    
<!-- *********** -->
<%
if current_user.number_of_hold_habits > 0
    %>
    <h2>
    Habits you placed "On Hold"
    </h2>
    <p>
    <%
    for goal in current_user.hold_goals
        %>
        <%= link_to goal.title, edit_goal_path(goal.id)  %>
        • <%
    end
    %>
    </p>
    <%
end
%>
<!-- *********** -->
<!-- END SHOW HOLD HABITS -->    
<!-- *********** -->
<!-- *********** -->

</div> <!-- Not a necessary DIV, but FireFox seems happier w/ it here, doesn't hurt Safari and Chrome's render -->


<input type="hidden" name="coming_from" value="multiple">





<!-- *********** -->
<!-- *********** -->
<!-- START AUTOUPDATEMULTIPLE PERSONAL MOTIVATION  OVERLAY -->
<!-- *********** -->

<!-- 
TEST LOCALLY
    ###  jurowski@wisc.edu
    ###  http://localhost:3000/checkpoints/1/autoupdatemultiple?d=2012-01-26&u=15706&g=25858
-->

<% if @show_autoupdatemultiple_personal_motivation %>
<div id="goals_unsuccessful_lightbox_black" class="black_overlay">

</div>
        <div id="goals_unsuccessful_lightbox_close" class="div_close_button">
        <%= link_to_function ("<img src='/images/close.png' />") {
            |page|
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_black", :duration => 0.0)
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_white", :duration => 0.0)
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_close", :duration => 0.0)
        } 
        %>
        </div>

    <div id="goals_unsuccessful_lightbox_white" class="white_content">

    <table>
    <% for goal in @goals_unsuccessful_needing_motivation %>
                <!-- PLEASURE PAIN TEXT -->
                <%
                    goal.pp_remind_last_date = goal.user.dtoday
                    goal.save
                    %>

                    <tr><td valign=top align=center width=1%>
                    <br>
                    <br>
                    
                    <img src="/images/default_avatar.jpg" alt=" " width="80px"> 
                    <br>
                    <strong><%= goal.user.first_name %></strong> 
                    </td>
                    <td valign=top align=left width=99%>
                        <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#EEEEEE;color:#8a1f11;border-color:#BBBBBB;">
                        <p>
                    <%
                    if goal.pain != nil and goal.pain != ""
                        %>
                      "<%= goal.pain %>"
                      <br>
                      <i>(that's what I said about the "Pain" I'll feel long term if I don't follow through on forming this habit)</i>
                      <br>
                      <br>
                    <%
                    end
                    %>

                    <%
                    if goal.pleasure != nil and goal.pleasure != ""
                    %>
                      "<%= goal.pleasure %>"
                      <br>
                      <i>(re: how life will improve when I'm doing this on a regular basis)</i>
                    <%
                    end
                %>  
                <!-- END PLEASURE PAIN TEXT -->
                </p>
            </div>
        </td></tr>
    <% end %>
    </table>
    
    
    <br>
    
    <%
    continue_phrase = "Let's get some stuff done. On to HabitForge! >>"
    %>
    
    <%= link_to_function (continue_phrase) {
        |page|
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_black", :duration => 0.0)
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_white", :duration => 0.0)
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_close", :duration => 0.0)
    } 
    %>

    </div>
<% end %>



<!-- *********** -->
<!-- END AUTOUPDATEMULTIPLE PERSONAL MOTIVATION  OVERLAY -->
<!-- *********** -->
<!-- *********** -->









<!-- 
TEST LOCALLY
                        (for jurowski@wisc.edu account)
http://localhost:3000/goals?update_checkpoint_status=yes&date=2012-02-12&e0=106&f0=97&u=15706&goal_id=25864&coming_from=email 
-->
<!-- *********** -->
<!-- *********** -->
<!-- START STATS OVERLAY -->    
<!-- *********** -->

<!-- !!!!!!!!! MOVING TO THE BOTTOM B/C WHEN AT THE TOP, STATS AREN'T SHOWING LATEST *********** -->

<% if @show_stats_lightbox %>
<div id="stats_lightbox_black" class="black_overlay">

</div>
        <div id="stats_lightbox_close" class="div_close_button">
        <%= link_to_function ("<img src='/images/close.png' />") {
            |page|
         page.visual_effect(:fade, "stats_lightbox_black", :duration => 0.0)
         page.visual_effect(:fade, "stats_lightbox_white", :duration => 0.0)
         page.visual_effect(:fade, "stats_lightbox_close", :duration => 0.0)
        } 
        %>
        </div>

    <div id="stats_lightbox_white" class="white_content">

      <center>
              <h2><%= @lightbox_goal.status_phrase(params[:date]) %></h2>
                <br>
                <div class="stats_badge">
                    <!-- tried but kept getting stale results: 
                        @lightbox_goal.get_latest_stats_badge 
                        and 
                        @lightbox_goal.get_latest_stats_badge_details 
                    -->                    
                    <%= @lightbox_goal.stats_image %>
                    <%= @lightbox_goal.stats_output %>

                      <% if @lightbox_goal.publish and @lightbox_goal.get_daily_status_for(params[:date]) == "yes" %>
                        Share my success:
                        <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= @lightbox_goal.user.id %>&one_g=<%= @lightbox_goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                      <% end %>
                </div>
                <br>

        </center>   
    <br>

    <%
    #if current_user.sponsor == "habitforge" and @lightbox_goal.get_daily_status_for(params[:date]) == "yes" and current_user.email == "jurowski@gmail.com"
    if current_user.sponsor == "habitforge" and @lightbox_goal.get_daily_status_for(params[:date]) == "yes"
 
        ###################################
        ##### TALK ABOUT YOUR TEAMMATES
        if @lightbox_goal.is_part_of_a_team 
          team_goals = Goal.find(:all, :conditions => "team_id = '#{@lightbox_goal.team_id}'")
          if team_goals.size > 1
            team_goals.each do |team_goal|
              if team_goal.user.id != current_user.id
                if !team_goal.last_success_date
                  if team_goal.start < (dtoday - 3)
                    %>
                    <p><img src="/images/comment_user_add_32.png" /> <%= team_goal.user.first_name %> from your team hasn't succeeded in a while! <a href="/tomessages/new?to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
                    <%
                  end
                else
                  if team_goal.last_success_date < (dtoday - 3)
			%>
                    <p><img src="/images/comment_user_add_32.png" /> Your teammate <%= team_goal.user.first_name %> hasn't succeeded in a while! <a href="/tomessages/new?to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
			<%
		  end
                  if team_goal.last_success_date == (dtoday - 1)
                        %>
                    <p><img src="/images/comment_user_add_32.png" /> Congrats to <%= team_goal.user.first_name %> for succeeding yesterday! <a href="/tomessages/new?to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
                        <%
                  end
                end 
              end ### end if not me
            end ### end each team_goal
          end ### end i actually have teammates
        end  ### end i wanted a team to begin with
        ##### END TALK ABOUT YOUR TEAMMMATES
        ###################################


        #############################################################
        ############# PUSH A SLACKING RANDOM MEMBER #################
	### wait until they've been a member for 3 days, since most who pay for supporting membership do so in the first or second day
	### each person can only be prompted once a day to "push" someone
        ### each person can only "push" someone once every 3 days to allow for the last "push" to either succeed or fail w/in 2 days (and to keep it more novel)
        ### day 1 (pushed) day 2 (last day they can succeed) day 3 (leave today so slacker can check in) day 4 (dtoday... prompt me, reset)
	if ((current_user.created_at.to_date + 3) <= dtoday) and (!current_user.date_last_prompted_to_push_a_slacker or (current_user.date_last_prompted_to_push_a_slacker < dtoday ))
		if !current_user.date_i_last_pushed_a_slacker or (current_user.date_i_last_pushed_a_slacker <= dtoday - 3)
			### make sure we can fake a log-in to send the email
			if params[:goal_id] and params[:u] and params[:e0] and params[:f0]



			  slacker_goals = Goal.find(:all, :conditions => "allow_push = 1 and next_push_on_or_after_date = '#{dtoday}' and pushes_remaining_on_next_push_date > 0")
			  
			    if slacker_goals.size > 0
				    random_index = rand(slacker_goals.size) #between 0 and (size - 1)
				    slacker_goal = slacker_goals[random_index]
				    if slacker_goal
				      slacker_has_at_least_one_button = false
                           	      phrase1_good = false
                                      phrase2_good = false
                                      phrase3_good = false
                                      phrase4_good = false
                                      phrase5_good = false

				      if slacker_goal.phrase1 and slacker_goal.phrase1 != ""
					phrase1_good = true
				      end
                                      if slacker_goal.phrase2 and slacker_goal.phrase2 != ""
                                        phrase2_good = true
                                      end
                                      if slacker_goal.phrase3 and slacker_goal.phrase3 != ""
                                        phrase3_good = true
                                      end
                                      if slacker_goal.phrase4 and slacker_goal.phrase4 != ""
                                        phrase4_good = true
                                      end
                                      if slacker_goal.phrase5 and slacker_goal.phrase5 != ""
                                        phrase5_good = true
                                      end

				      if phrase1_good or phrase2_good or phrase3_good or phrase4_good or phrase5_good                             
				        slacker_has_at_least_one_button = true
				      end




				      if slacker_has_at_least_one_button
					%>
                	                <div style="background-color:#F7F8E0;padding:5px;">	
					<p>
					Hey <%= current_user.first_name %>, <%= slacker_goal.user.first_name %> hasn't been "<%= slacker_goal.title %>" for more than a few days now, and could use a little "push".
					Push one of their buttons below to send them some motivation, and you'll earn 5 "SupportPoints". 
					If they succeed either today or tomorrow, you'll earn an additional 10 "SupportPoints"!
					<h4>Every 100 SupportPoints earns you a free $10 Supporting Membership for you or a friend!</h4>
					Push one of their buttons to send them a message!
					<% if phrase1_good  %>
					  <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=1%>&push_message_goal_id=<%=slacker_goal.id%>" class="cssbuttongenerator1"><%= slacker_goal.phrase1 %></a>
					<% end %>

                                        <% if phrase2_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=2%>&push_message_goal_id=<%=slacker_goal.id%>" class="cssbuttongenerator1"><%= slacker_goal.phrase2 %></a>
                                        <% end %>

                                        <% if phrase3_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=3%>&push_message_goal_id=<%=slacker_goal.id%>" class="cssbuttongenerator1"><%= slacker_goal.phrase3 %></a>
                                        <% end %>

                                        <% if phrase4_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=4%>&push_message_goal_id=<%=slacker_goal.id%>" class="cssbuttongenerator1"><%= slacker_goal.phrase4 %></a>
                                        <% end %>

                                        <% if phrase5_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=5%>&push_message_goal_id=<%=slacker_goal.id%>" class="cssbuttongenerator1"><%= slacker_goal.phrase5 %></a>
                                        <% end %>

					</p>
					</div>

                			<br>
					<%
                                	current_user.date_last_prompted_to_push_a_slacker = dtoday
                                	current_user.save
                                end ### end slacker_has_at_least_one_button
			     end
			  end
                        end
		end
	end
	%>
   <% end %>
    
    <%
    continue_phrase = ""
    if @lightbox_goal.has_unanswered_checkpoints 
        continue_phrase = "Let's get some stuff done. On to HabitForge! >>"
    else
        continue_phrase = "I wanna do more stuff. On to HabitForge! >>"
    end
    %>
    
    <%= link_to_function (continue_phrase) {
        |page|
     page.visual_effect(:fade, "stats_lightbox_black", :duration => 0.0)
     page.visual_effect(:fade, "stats_lightbox_white", :duration => 0.0)
     page.visual_effect(:fade, "stats_lightbox_close", :duration => 0.0)
    } 
    %>

    </div>
<% end %>



<!-- *********** -->
<!-- END STATS OVERLAY -->
<!-- *********** -->
<!-- *********** -->


