<!-- START FLASH MESSAGES -->
<% if params[:flash] == "message_sent" %>
    <div class="alert alert-info">
        <h3>Message sent.</font> 
    </div>
<% end %>
<!-- END FLASH MESSAGES END -->

<!-- Re-set the number of default "latest dynamic checkins" to show -->
<% session[:dynamic_latest_public_checkins_max] = 2 %>



<!-- *********** -->
<!-- *********** -->
<!-- START TOO MANY ACTIVE HABITS -->
<!-- *********** -->
<% if params[:too_many_active_habits] or params[:premium_more_info_hide_ads] or params[:feature_limit]%>


    <div id="upgrade_lightbox_black" class="black_overlay">
    </div>
    <div id="upgrade_lightbox_close" class="div_close_button">
         <a href="#undefined" onclick="toggle_show_hide('upgrade_lightbox_black');toggle_show_hide('upgrade_lightbox_white');toggle_show_hide('upgrade_lightbox_close');"><img src='/images/close.png' /></a>
    </div>
    <div id="upgrade_lightbox_white" class="white_content">



        <center>


        <% if params[:too_many_active_habits] %>

            <% if params[:just_created_new_habit] %>
                <h4>That was easy... Anything else you'd like to work on?</h4>
            <% else %>
                <h4>Free accounts are restricted to 1 active habit at a time.</h4>
            <% end %>
        <% end %>

        <div class="show_autoupdatemultiple_personal_motivation">



        <% if params[:premium_more_info_hide_ads] %>
            <h3>Remove the Ads, Remove the Limits with a Premium Membership!</h3>
        <% else %>
            <% if !session[:goal_template_text] and !params[:goal_template_text] %>
                <h3>Unlock Your Potential 
            <% else %>
                <h3>Remove the limits 
                <% if session[:goal_template_text] and session[:goal_template_text] != "" %> 
                  ... work on <%= session[:goal_template_text] %> and any other goals, all with premium features and no ads, 
                <% else %>
                    <% if params[:goal_template_text] and params[:goal_template_text] != "" %>
                      ... work on <%= params[:goal_template_text] %> and any other goals, all with premium features and no ads, 
                    <% end %>
                <% end %>

            <% end %>
           with a Premium Membership!</h3>
        <% end %>



   
                <div class="well">
                    <h2>Why Go Premium?</h2>
                    Unlimited Active Habits
                    <br>Private Habit Option
                    <br>Priority Pushes if you Slack
                    <br>No Advertisements
                    <br>As Little as $2 per month
                    <br>Zero Risk. 100% Money-Back Guarantee
                </div>

                </div>
                <br>

                  <a href="https://www.securepublications.com/habit-gse3.php?ref=<%= current_user.id.to_s %>&email=<%= current_user.email %>" class="btn yellow" >Learn More</a>



                 <a href="#undefined" onclick="toggle_show_hide('upgrade_lightbox_black');toggle_show_hide('upgrade_lightbox_white');toggle_show_hide('upgrade_lightbox_close');">Not now, thanks.</a>              
                 <!--
                <h5>Who's recommending HabitForge to their readers?
                <a href="http://www.fourhourbody.com/" target="_blank">The 4-Hour Body</a>
                &nbsp;
                <a href="http://www.familycircle.com/family-fun/technology/online-tools-for-achieving-goals/" target="_blank">Family Circle</a>
                &nbsp;
                <a href="http://www.shape.com/lifestyle/mind-and-body/5-ways-change-your-life-good?page=3" target="_blank">Shape Magazine</a>
                &nbsp;
                <a href="http://www.womansday.com/Articles/Health-Fitness/Make-Healthy-Habits-Stick.html" target="_blank">Woman's Day</a>
                &nbsp;
                <a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank">PC World</a>
                </h5
            -->

            <br>
            <br>
            <!-- Press Logos Start -->
            <div style="padding-top:0px;">
                Recommended by...
                <br>
                <img src="/home/images/logos/press_logos_v1_transparent.png" width="600" alt="press logos" />
            </div>
            <!-- Press Logos End -->

            </center>

        </div>
    </div>


<% end %>
<!-- *********** -->
<!-- END TOO MANY ACTIVE HABITS -->
<!-- *********** -->
<!-- *********** -->




<!-- *********** -->
<!-- *********** -->
<!-- START SUPPORTPOINTS -->
<!-- *********** -->
<% if @push_message_to_slacker_attempt %>
	<div class="alert">
	<% if @push_message_to_slacker_sent == false %>
		Sorry, but there was an error sending your "push" message. Please contact support@habitforge.com for further troubleshooting.
	<% else %>
		Message sent! You've earned 5 SupportPoints!
	<% end %>
	</div>

<% end %>
<!-- *********** -->
<!-- END SUPPORTPOINTS -->
<!-- *********** -->
<!-- *********** -->











<!-- *********** -->
<!-- *********** -->
<!-- START HEADER -->    
<!-- *********** -->

<div />
    <% if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and current_user.number_of_active_habits > 0 %>
          <!-- render :partial => "goals/upgrade_advertisement"  -->
        <a href="/goals?too_many_active_habits=1" class="btn blue "><i class="icon-plus"></i>  Start a New Habit</a>

    <% else %>
        <a href="/goals/new" class="btn blue"><i class="icon-plus"></i>  Start a New Habit</a>

    <% end %>

      <% if current_user and current_user.sponsor == "habitforge" %>  
        <a href="/cheers" class="btn red"><i class="icon-heart-empty"></i> Encourage Others</a>
      <% end %>



    <% if 1 == 2 and current_user and current_user.can_make_templates %>
    
        <a href="/programs/new" class="btn"> Start a Program</a>

        <a href="/goals/new?template_owner_is_a_template=1" class="btn"> Make a Template</a>

    <% end %>


<div />
<!-- *********** -->
<!-- END HEADER -->
<!-- *********** -->
<!-- *********** -->


<!-- SHOW LATEST PUBLIC CHECKINS -->
<% run_this_code = true %>
<% if run_this_code %>




    <div class="dynamic_latest_public_checkins">
        <%= render :partial => 'goals/dynamic_latest_public_checkins' %>
    </div>
    <div id="spinner_dynamic_latest_public_checkins" style="display:none;">
        <center><img src="/images/spinner.gif"/></center>
    </div>




<% end ### end if run_this_code %>



<!-- *********** -->
<!-- *********** -->
<!-- START SHOW ACTIVE HABITS -->    
<!-- *********** -->
<% 
number_goals_today = current_user.number_next_goals_working_on_for_date(current_user.dtoday) 
number_goals_tomorrow = current_user.number_next_goals_working_on_for_date(current_user.dtomorrow)
@badge_date = current_user.dtoday 
dyesterday = current_user.dyesterday
dtoday = current_user.dtoday
dtomorrow = current_user.dtomorrow 
printed_today_actions_once = false
printed_tomorrow_actions_once = false
printed_future_actions_once = false
for goal in current_user.active_goals_sorted_by_next_action_day

    collapse = true


    if current_user.number_of_active_habits == 1
        collapse = false
    end

    @goal = goal
    
    if number_goals_today > 0
        if !printed_today_actions_once
            printed_today_actions_once = true
            collapse = false
            %>
            <div>


                <div class=" " style="padding:10px;"> 



                <h2>
                    <i class='icon-chevron-right'></i>
                    &nbsp
                <% if number_goals_today == 1 %>
                    Today I need to work on...
                <% else %>
                    Today I'm working on these <%= number_goals_today %> habits...
                <% end %>
                </h2>
            </div>
            <%
        end
    end ### End of: if number_goals_today > 0


    if params[:show_fire_goal_id] and params[:show_fire_goal_id] == goal.id.to_s
        collapse = false
    end
    if params[:join_a_team] and params[:goal_id] and params[:goal_id] == goal.id.to_s
        collapse = false
    end


    ### No longer on "today"... moving on
    date_next_to_take_action = goal.date_next_to_take_action
    if date_next_to_take_action != @badge_date 
        @badge_date = date_next_to_take_action 
        %>

        <% if (@badge_date > dtomorrow) and printed_future_actions_once %>
            <br>
        <% end %>

        <% if (@badge_date == dtomorrow) and !printed_tomorrow_actions_once  
            printed_tomorrow_actions_once = true
            %>
            <br>
            <br>


            <div class=" " style="padding:0px;"> 

            <h2>
            Tomorrow is the next action day for...
            </h2>
        </div>

        <% end %>

        <%
        if (@badge_date > dtomorrow) and !printed_future_actions_once 
            printed_future_actions_once = true
            %>
            <br>
            <br>
            <h2>Actions for this coming week</h2>
            <div class="alert">

                &nbsp These show up here because today and tomorrow are unchecked (not "relevant"). 
                <br>
                &nbsp To change that, click on the Customize wrench to edit the relevant days.
            </div>
        <% 
        end 
        %>

    <% end %>

    <% if !goal.is_active %>
        This goal has "gone stale" due to lack of activity. (Email checkpoints are no longer being sent.) <a href="/goals?restart_goal_id=<%= goal.id%>">Start again at Day 1.</a>
    <% end %>
    
    


    <!-- *********** -->
    <!-- *********** -->
    <!-- START PRINT HABIT -->    
    <!-- *********** -->
    <!-- BEGIN CUSTOM BUTTONS WITH ICONS PORTLET-->

    <% if goal.publish %>
    <div class="portlet box blue " >
    <% else %>
    <div class="portlet box yellow" >
    <% end %>
        <div class="portlet-title">

           <div class="caption">

                <a name="jump_to_goal_id_<%= goal.id.to_s %>"></a>

                <% 
                if goal.number_my_active_bets > 0 
                      for bet in @goal.my_active_bets
                        %>
                        $<%= bet.wager %> at stake...  
                        <%
                      end
                end
                %>


                <% if goal.template_user_parent_goal and goal.template_user_parent_goal.template_tagline %>
                    <!-- if this goal was added through a template that belongs to a program -->
                    <!-- via goal_added_through_template_from_program_id -->
                    <% if goal.program %>
                        <a href="/goals/?program_id=<%= goal.program.id.to_s %>&programs=1&browse_recommended_habits=1#browse_recommended_habits"><%= goal.program.name %> >></a> 
                    <% end %>
                    <%= goal.template_user_parent_goal.template_tagline %>
                <% else %>
                    <% if goal.category and  goal.category != "None" and goal.category != "" and goal.category != "Other" %><%= goal.category %>: <% end %>"<%= goal.title %>"
                <% end %>

            </div>
            <div class="tools">
              <% if collapse %>
                  <a href="javascript:;" class="expand"></a>
              <% else %>
                  <a href="javascript:;" class="collapse"></a>
              <% end %>

              <!-- <a href="#portlet-config" data-toggle="modal" class="config"></a> -->
              <!-- <a href="javascript:;" class="reload"></a> -->
              <!-- <a href="javascript:;" class="remove"></a> -->
            </div>
        </div>


        <% if collapse %>
            <div class="portlet-body hide">
        <% else %>
            <div class="portlet-body">
        <% end %>

        <!-- START HABIT -->

            <!-- START GOAL LINK OPTIONS -->
            <DIV>
                <p>
                <i class='icon-wrench'></i> <%= link_to "Customize", edit_goal_path(goal.id)  %>
                &nbsp
                <i class='icon-calendar'></i> <a href="/goals/single/<%= goal.id %>">All Checkpoints</a>
                &nbsp

                <% if goal.number_my_active_bets > 0 %>

                    <a id='hold_disabled_<%= goal.id.to_s %>'  class="btn disabled" title="Sorry, this goal needs to stay active until the Extra Accountability Challenge is over." ><i class="icon-pause"></i> Hold a While</a>
                    <script type='text/javascript'>
                        $('#hold_disabled_<%= goal.id.to_s %>').tipsy();
                    </script>
                    &nbsp
                    <a id='delete_disabled_<%= goal.id.to_s %>'  class="btn disabled" title="Sorry, this goal needs to stay active until the Extra Accountability Challenge is over." ><i class="icon-remove"></i> Delete</a>
                    <script type='text/javascript'>
                        $('#delete_disabled_<%= goal.id.to_s %>').tipsy();
                    </script>


                <% else %>



                    <!-- START PART OF A TEAM? -->
                    <% if goal.is_part_of_a_team %>

                        <a id='hold_disabled_<%= goal.id.to_s %>'  class="btn disabled" title="Sorry, you will need to quit the team before putting this goal on hold..." ><i class="icon-pause"></i> Hold a While</a>
                        <script type='text/javascript'>
                            $('#hold_disabled_<%= goal.id.to_s %>').tipsy();
                        </script>
                        &nbsp
                        <a id='delete_disabled_<%= goal.id.to_s %>'  class="btn disabled" title="Sorry, you will need to quit the team before deleting this goal." ><i class="icon-remove"></i> Delete</a>
                        <script type='text/javascript'>
                            $('#delete_disabled_<%= goal.id.to_s %>').tipsy();
                        </script>


                    <% else %>

                        <i class='icon-pause'></i> <%= link_to 'Hold a While', "/goals/hold/#{@goal.id}", :confirm => 'If you put a goal on hold, you will stop getting emails about it.' %>
                        &nbsp
                        <i class='icon-remove'></i> <%= link_to "Delete", goal, :confirm => 'Are you sure you want to delete this goal?', :method => :delete %>

                    <% end %>
                    <!-- END PART OF A TEAM? -->

                <% end %>

                </p>
            </div>
            <!-- END GOAL LINK OPTIONS -->
        <%
        ##################################################################
        ### START SHOW PROGRESS BAR FOR BETS
        ##################################################################
        if (goal.number_my_active_bets > 0 )
            for bet in goal.my_active_bets

                total_days = bet.end_date - bet.start_date
                days_left = bet.end_date - current_user.dtoday
                if days_left < 0
                  days_left = 0
                end

                percent_complete = 0
                if total_days > 0
                  percent_complete = (days_left/total_days).to_i
                end
                %>

                <center>
                  <div style="">
                    <span style="font-size:1.3em;"><%= days_left %> days remaining in your $<%= bet.wager %> challenge to <%= bet.recipient_name %>
                    </span>
                  </div>
                </center>
                <div class="progress progress-striped progress-danger active" style="margin-top:-20px;">
                   <div style="width:<%= percent_complete %>%;" class="bar">
                  </div>
                </div>
            <%
            end
        else

            %>
                <center>
                  <div style="">
                    <span style="font-size:1.3em;">Triple your chances for success: <a href="/goals?show_fire_goal_id=<%= goal.id %>#jump_to_goal_id_<%= goal.id %>">Bet a Friend or a Cause!</a>
                    </span>
                  </div>
                </center>
                <div class="progress progress-striped progress-danger active" style="margin-top:-20px;">
                   <div style="width: <%= percent_complete %>%;" class="bar">
                  </div>
                </div>            
            <%
        end
        ##################################################################
        ### END SHOW PROGRESS BAR FOR BETS
        ##################################################################
        %>




    <!-- CATCH UP -->
    <div id="spinner_catchup_goal_id_<%= @goal.id%>" style="display:none;">
        <center><img src="/images/spinner.gif"/></center>
    </div>
    <div class="class_catch_up_on_checkpoints_goal_id_<%= @goal.id.to_s %> ">
        <%= render :partial => "goals/catch_up_on_checkpoints", :locals => { :catch_up_on_checkpoints => @goal }  %>
    </div>
    <!-- CATCH UP -->

<%
### STATS
stats_name = "<i class='icon-dashboard'></i> Stats"


### FOLLOWERS
followers_image = "<i class='icon-user'></i>"

followers_name = "#{followers_image} Followers (#{@goal.number_invites_sent_to_followers})"
if @goal.number_invites_sent_to_followers == 0
    followers_name = "#{followers_image} Watchers"
end


### TRACKER
tracker_name = "<i class='icon-bar-chart'></i> Tracker"


### Extra Accountability
bets_image = ""
if @goal.number_my_active_bets > 0
  for bet in @goal.my_active_bets
    bets_image = "<i class='icon-coins'></i>  $#{bet.wager} to #{bet.recipient_name}?"
  end
else
  bets_image = "<i class='icon-money'></i>  Extra Accountability?"
end


### TEAM
team_name = ""
team_image = "<i class='icon-group'></i> "
if @goal.is_part_of_a_team and @goal.team and !@goal.team.custom
    my_teammates = @goal.get_teammate_names_sans_me
    if my_teammates == ""
        team_name = "#{team_image} (waiting)"        
    else
        team_name = "#{team_image} Team: (#{@goal.get_teammate_names_sans_me})"
    end
else
    team_name = "#{team_image} Team"
end

### DEFAULT TAB STATUS
tab_dashboard_active = "active"
tab_followers_active = ""
tab_bets_active = ""
tab_team_active = ""
tab_tracker_active = ""

if params[:start_fire_goal_id] and params[:start_fire_goal_id] == @goal.id.to_s
    tab_dashboard_active = ""
    tab_followers_active = ""
    tab_bets_active = "active"
    tab_team_active = ""
end
if params[:show_fire_goal_id] and params[:show_fire_goal_id] == @goal.id.to_s
    tab_dashboard_active = ""
    tab_followers_active = ""
    tab_bets_active = "active"
    tab_team_active = ""
end



if params[:join_a_team] and params[:goal_id] and params[:goal_id] == @goal.id.to_s
    tab_dashboard_active = ""
    tab_followers_active = ""
    tab_bets_active = ""
    tab_team_active = "active"
end

if params[:start_a_tracker] and params[:goal_id] and params[:goal_id] == @goal.id.to_s
    tab_dashboard_active = ""
    tab_followers_active = ""
    tab_bets_active = ""
    tab_tracker_active = ""
    tab_team_active = "active"
end

### TRACKER
tracker_name = "<i class='icon-bar-chart'></i> Tracker"

%>

<div class="tabbable tabbable-custom tabbable-custom-profile">
    <ul class="nav nav-tabs" style="font-size:1.0em;">
        <li class="<%= tab_dashboard_active %>"><a href="#tab_1_1_<%= @goal.id %>" data-toggle="tab"><%= stats_name %></a>
        <li class="<%= tab_followers_active %>"><a href="#tab_1_2_<%= @goal.id %>" data-toggle="tab"><%= followers_name %></a>
        <li class="<%= tab_bets_active %>"><a href="#tab_1_3_<%= @goal.id %>" data-toggle="tab"><%= bets_image %></a>
        <li class="<%= tab_team_active %>"><a href="#tab_1_4_<%= @goal.id %>" data-toggle="tab"><%= team_name %></a>
        <% if 1 == 2 %>
        <li class="<%= tab_tracker_active %>"><a href="#tab_1_5_<%= @goal.id %>" data-toggle="tab"><%= tracker_name %></a>
        <% end %>
    </ul>
    <div class="tab-content">
        <div class="tab-pane <%= tab_dashboard_active %>" id="tab_1_1_<%= @goal.id %>">
            <div class="portlet-body" style="display: block;">
                <!-- START STATS -->
                <div id="stats_<%= @goal.id %>" class="div_stats">  





                   <div class="row-fluid">
                      <div class="span4">
                            <%= render :partial => "goals/stats", :locals => { :stats => @goal }  %>
                      </div>
                      <div class="margin-bottom-10 visible-phone"></div>
                    <%
                    if @goal.days_since_first_checkpoint > 30
                    %>

                      <div class="span4">
                         <div class="easy-pie-chart">
                            <div class="number visits"  data-percent="<%= @goal.percent_of_checkpoints_with_answer_of_yes(true) %>"><span><%= @goal.percent_of_checkpoints_with_answer_of_yes(true) %></span>%</div>Overall
                         </div>
                      </div>
                      <div class="margin-bottom-10 visible-phone"></div>
                      <div class="span4">
                         <div class="easy-pie-chart">
                            <div class="number visits"  data-percent="<%= @goal.percent_of_checkpoints_with_answer_of_yes %>"><span><%= @goal.percent_of_checkpoints_with_answer_of_yes %></span>%</div>
                            Last 30 Days
                         </div>
                      </div>

                    <%
                    end
                    %>

                    <%
                    if @goal.days_since_first_checkpoint <= 30
                    %>
                     <div class="margin-bottom-10 visible-phone"></div>
                     <div class="span4">
                     <div class="easy-pie-chart">
                        <div class="number visits"  data-percent="<%= @goal.percent_of_checkpoints_with_answer_of_yes %>"><span><%= @goal.percent_of_checkpoints_with_answer_of_yes %></span>%</div>
                        <%= @goal.successful_days_in_a_row_without_9s %> straight
                     </div>
                     </div>
                    <%
                    end
                    %>

                   </div>




                </div>  
                <!-- END STATS -->
            </div>
        </div>
        <div class="tab-pane <%= tab_followers_active %>" id="tab_1_2_<%= @goal.id %>">
            <div class="portlet-body" style="display: block;">
                <!-- START WATCHERS -->
                <%= render :partial => "goals/watchers", :locals => { :watchers => @goal }  %>
                <!-- END WATCHERS -->
            </div>
        </div>
        <div class="tab-pane <%= tab_bets_active %>" id="tab_1_3_<%= @goal.id %>">
            <div class="portlet-body" style="display: block;">
                <!-- START FIRE -->
                <%=  render :partial => "goals/fire", :locals => { :fire => @goal }  %>
                <!-- END FIRE -->
            </div>
        </div>
        <div class="tab-pane <%= tab_team_active %>" id="tab_1_4_<%= @goal.id %>">
            <div class="portlet-body" style="display: block;">
                <!-- START TEAM -->
                <%= render :partial => "goals/team", :locals => { :team => @goal }  %>
                <!-- END TEAM -->
            </div>
        </div>

        <% if 1 == 2 %>
        <div class="tab-pane <%= tab_tracker_active %>" id="tab_1_5_<%= @goal.id %>">
            <div class="portlet-body" style="display: block;">
                <!-- START TRACKER -->
                <img src="/images/beta.jpg" width="50px" />
                <% if !@goal.tracker %>

                    <h3>Does succeeding depend on some number you'd like us to ask you about?
                      <br><span style="font-size:0.5em;">(ex: hours of sleep, weight in pounds, # of glasses of water, an overall mood rating, number of sales calls, etc.)</span></h3>

                      Enable a Tracker! (Click the "Customize Wrench", open up the Toolbox, and look for "Tracker") 

                <% else %>

                    <div class="alert alert-info">
                        <%= @goal.tracker_question %>? <input name="quant_new_value_<%= @goal.id %>" id="quant_new_value_<%= @goal.id %>" type="text" style="width:50px;" /> <%= @goal.tracker_units %>
                        <input name="buttonSubmitQuant" onclick="add_quant_to_goal_then_reload_quants_div(document.getElementById('quant_new_value_<%= @goal.id %>').value,document.getElementById('quant_new_datetime_<%= @goal.id %>').value,'<%= @goal.id %>')" type="button" value="Save" />
                        <a onclick="document.getElementById('div_quant_new_datetime_<%= @goal.id %>').style.visibility='visible';">backdate</a>

                        <div class="input-append date form_datetime" name="div_quant_new_datetime_<%= @goal.id %>" id="div_quant_new_datetime_<%= @goal.id %>" style="visibility:hidden;background-color:#ffffff;" >
                            <input size="16" type="text" value="" readonly class="m-wrap" name="quant_new_datetime_<%= @goal.id %>" id="quant_new_datetime_<%= @goal.id %>" placeholder="click to backdate your answer" >
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>


                    <div class="goal_quants_manage_<%= @goal.id %>">
                       <%= render :partial => "quants/goal_quants_manage", :locals => { :goal => @goal }  %>
                    </div>



                <% end %>
                <!-- END TRACKER -->
            </div>
        </div>
        <% end %>

    </div>
</div>



    <!-- START COACH -->
    <!--  render :partial => "goals/coach", :locals => { :coach => @goal }  -->
    <!-- END COACH -->
    

    </div>
    </div>
    <br>
    <!-- *********** -->
    <!-- END PRINT HABIT -->    
    <!-- *********** -->
    <!-- *********** -->


<% end %>
</div>


<!-- *********** -->
<!-- END SHOW ACTIVE HABITS -->    
<!-- *********** -->
<!-- *********** -->



<!-- *********** -->
<!-- *********** -->
<!-- START SHOW STALE HABITS -->    
<!-- *********** -->
<%
if current_user.number_of_stale_habits > 0
    %>
    <h2>
    Habits that have "Gone Stale"
    </h2>
    <h5>
    These goals have "gone stale" due to lack of activity. (Email checkpoints are no longer being sent.) 
    </h5>
    <p>
    <%
    for goal in current_user.stale_goals
        %>
        <h5>
        <i class='icon-play'></i> <a href="/goals?restart_goal_id=<%= goal.id%>">Start "<%= goal.title %>" again</a> or <%= link_to "Just view it", edit_goal_path(goal.id) %>
        </h5>
        <%
    end
    %>
    </p>
    <%
end
%>
<!-- *********** -->
<!-- END SHOW STALE HABITS -->    
<!-- *********** -->
<!-- *********** -->




<!-- *********** -->
<!-- *********** -->
<!-- START SHOW HOLD HABITS -->    
<!-- *********** -->
<%
if current_user.number_of_hold_habits > 0
    %>
    <h2>
    Habits you placed "On Hold"
    </h2>
    <p>
    <%
    for goal in current_user.hold_goals
        %>
        <%= link_to goal.title, edit_goal_path(goal.id)  %>
        • <%
    end
    %>
    </p>
    <%
end
%>
<!-- *********** -->
<!-- END SHOW HOLD HABITS -->    
<!-- *********** -->
<!-- *********** -->



<!-- *********** -->
<!-- *********** -->
<!-- START SHOW TEMPLATES I OWN -->    
<!-- *********** -->
<%
if current_user.can_make_templates and current_user.number_of_templates_i_own > 0
    %>
    <h2>
    Templates you Created
    </h2>
    <p>
    <%
    for goal in current_user.templates_i_own
        %>
        <%= link_to goal.title, edit_goal_path(goal.id)  %>
        • <%
    end
    %>
    </p>
    <%
end
%>
<!-- *********** -->
<!-- END SHOW TEMPLATES I OWN -->    
<!-- *********** -->
<!-- *********** -->


</div> <!-- Not a necessary DIV, but FireFox seems happier w/ it here, doesn't hurt Safari and Chrome's render -->


<input type="hidden" name="coming_from" value="multiple">





<!-- *********** -->
<!-- *********** -->
<!-- START AUTOUPDATEMULTIPLE PERSONAL MOTIVATION  OVERLAY -->
<!-- *********** -->

<!-- 
TEST LOCALLY
    ###  jurowski@wisc.edu
    ###  http://localhost:3000/checkpoints/1/autoupdatemultiple?d=2012-01-26&u=15706&g=25858
-->

<% if @show_autoupdatemultiple_personal_motivation %>
<div id="goals_unsuccessful_lightbox_black" class="black_overlay">

</div>
        <div id="goals_unsuccessful_lightbox_close" class="div_close_button">

         <a href="#undefined" onclick="toggle_show_hide('stats_lightbox_black');toggle_show_hide('stats_lightbox_white');toggle_show_hide('stats_lightbox_close');"><img src='/images/close.png' /></a>

        <!-- link_to_function ("<img src='/images/close.png' />") {
            |page|
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_black", :duration => 0.0)
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_white", :duration => 0.0)
         page.visual_effect(:fade, "goals_unsuccessful_lightbox_close", :duration => 0.0)
        } 
        -->

        </div>

    <div id="goals_unsuccessful_lightbox_white" class="white_content">

    <table>
    <% for goal in @goals_unsuccessful_needing_motivation %>
                <!-- PLEASURE PAIN TEXT -->
                <%
                    goal.pp_remind_last_date = goal.user.dtoday
                    goal.save
                    %>

                    <tr><td valign=top align=center width=1%>
                    <br>
                    <br>
                    
                    <img src="/images/default_avatar.jpg" alt=" " width="80px"> 
                    <br>
                    <strong><%= goal.user.first_name %></strong> 
                    </td>
                    <td valign=top align=left width=99%>
                        <div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#EEEEEE;color:#8a1f11;border-color:#BBBBBB;">
                        <p>
                    <%
                    if goal.pain != nil and goal.pain != ""
                        %>
                      "<%= goal.pain %>"
                      <br>
                      <i>(that's what I said about the "Pain" I'll feel long term if I don't follow through on forming this habit)</i>
                      <br>
                      <br>
                    <%
                    end
                    %>

                    <%
                    if goal.pleasure != nil and goal.pleasure != ""
                    %>
                      "<%= goal.pleasure %>"
                      <br>
                      <i>(re: how life will improve when I'm doing this on a regular basis)</i>
                    <%
                    end
                %>  
                <!-- END PLEASURE PAIN TEXT -->
                </p>
            </div>
        </td></tr>
    <% end %>
    </table>
    
    
    <br>
    
    <%
    continue_phrase = "Let's get some stuff done. On to HabitForge! >>"
    %>

         <a href="#undefined" onclick="toggle_show_hide('stats_lightbox_black');toggle_show_hide('stats_lightbox_white');toggle_show_hide('stats_lightbox_close');"><%= continue_phrase %></a>
    
    <!-- link_to_function (continue_phrase) {
        |page|
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_black", :duration => 0.0)
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_white", :duration => 0.0)
     page.visual_effect(:fade, "goals_unsuccessful_lightbox_close", :duration => 0.0)
    } 
    -->

    </div>
<% end %>



<!-- *********** -->
<!-- END AUTOUPDATEMULTIPLE PERSONAL MOTIVATION  OVERLAY -->
<!-- *********** -->
<!-- *********** -->









<!-- 
TEST LOCALLY
                        (for jurowski@wisc.edu account)
http://localhost:3000/goals?update_checkpoint_status=yes&date=2012-02-12&e0=106&f0=97&u=15706&goal_id=25864&coming_from=email 
-->
<!-- *********** -->
<!-- *********** -->
<!-- START STATS OVERLAY -->    
<!-- *********** -->

<!-- !!!!!!!!! MOVING TO THE BOTTOM B/C WHEN AT THE TOP, STATS AREN'T SHOWING LATEST *********** -->

<% if @show_stats_lightbox %>
<div id="stats_lightbox_black" class="black_overlay">

</div>
        <div id="stats_lightbox_close" class="div_close_button">

         <a href="#undefined" onclick="toggle_show_hide('stats_lightbox_black');toggle_show_hide('stats_lightbox_white');toggle_show_hide('stats_lightbox_close');"><img src='/images/close.png' /></a>

        <!-- link_to_function ("<img src='/images/close.png' />") {
            |page|
         page.visual_effect(:fade, "stats_lightbox_black", :duration => 0.0)
         page.visual_effect(:fade, "stats_lightbox_white", :duration => 0.0)
         page.visual_effect(:fade, "stats_lightbox_close", :duration => 0.0)
        } 
        -->
        </div>

    <div id="stats_lightbox_white" class="white_content">

      <center>
              <h3><%= @lightbox_goal.status_phrase(params[:date]) %></h3>
                <br>
                <div class="stats_badge">
                    <!-- tried but kept getting stale results: 
                        @lightbox_goal.get_latest_stats_badge 
                        and 
                        @lightbox_goal.get_latest_stats_badge_details 
                    -->                    
                    <%= @lightbox_goal.stats_image %>
                    <%= @lightbox_goal.stats_output %>

                      <% if @lightbox_goal.publish and @lightbox_goal.get_daily_status_for(params[:date]) == "yes" %>
                        Share my success:
                        <a name="fb_share" type="button" share_url="<%= server_root_url%>/cheers/1/shared?shared_u=<%= @lightbox_goal.user.id %>&one_g=<%= @lightbox_goal.id%>" href="http://www.facebook.com/sharer.php">My <%= session[:site_name]%> Progress</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                      <% end %>
                </div>
                <br>

        </center>   
    <br>





    <%
    #if current_user.sponsor == "habitforge" and @lightbox_goal.get_daily_status_for(params[:date]) == "yes" and current_user.email == "jurowski@gmail.com"
    if current_user.sponsor == "habitforge" and @lightbox_goal.get_daily_status_for(params[:date]) == "yes"
 
        ###################################
        ##### TALK ABOUT YOUR TEAMMATES
        if @lightbox_goal.is_part_of_a_team 
          team_goals = Goal.find(:all, :conditions => "team_id = '#{@lightbox_goal.team_id}'")
          if team_goals.size > 1
            team_goals.each do |team_goal|
              if team_goal.user.id != current_user.id
                if !team_goal.last_success_date
                  if team_goal.start < (dtoday - 3)
                    %>
                    <p><img src="/images/comment_user_add_32.png" /> <%= team_goal.user.first_name %> from your team hasn't succeeded in a while! <a href="/tomessages/new?goal_id=<%= team_goal.id.to_s %>&to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
                    <%
                  end
                else
                  if team_goal.last_success_date < (dtoday - 3)
			%>
                    <p><img src="/images/comment_user_add_32.png" /> Your teammate <%= team_goal.user.first_name %> hasn't succeeded in a while! <a href="/tomessages/new?goal_id=<%= team_goal.id.to_s %>&to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
			<%
		  end
                  if team_goal.last_success_date == (dtoday - 1)
                        %>
                    <p><img src="/images/comment_user_add_32.png" /> Congrats to <%= team_goal.user.first_name %> for succeeding yesterday! <a href="/tomessages/new?goal_id=<%= team_goal.id.to_s %>&to_id=<%= team_goal.user.id %>" >Send <%= team_goal.user.first_name %> a Message about <%= team_goal.response_question %></a></p>
                        <%
                  end
                end 
              end ### end if not me
            end ### end each team_goal
          end ### end i actually have teammates
        end  ### end i wanted a team to begin with
        ##### END TALK ABOUT YOUR TEAMMMATES
        ###################################


        #############################################################
        ############# PUSH A SLACKING RANDOM MEMBER #################
	### wait until they've been a member for 3 days, since most who pay for supporting membership do so in the first or second day
	### each person can only be prompted once a day to "push" someone
        ### each person can only "push" someone once every 3 days to allow for the last "push" to either succeed or fail w/in 2 days (and to keep it more novel)
        ### day 1 (pushed) day 2 (last day they can succeed) day 3 (leave today so slacker can check in) day 4 (dtoday... prompt me, reset)
	if ((current_user.created_at.to_date + 3) <= dtoday) and (!current_user.date_last_prompted_to_push_a_slacker or (current_user.date_last_prompted_to_push_a_slacker < dtoday ))
		if !current_user.date_i_last_pushed_a_slacker or (current_user.date_i_last_pushed_a_slacker <= dtoday - 3)
			### make sure we can fake a log-in to send the email
			if params[:goal_id] and params[:u] and params[:e0] and params[:f0]



			  slacker_goals = Goal.find(:all, :conditions => "status <> 'hold' and allow_push = 1 and next_push_on_or_after_date = '#{dtoday}' and pushes_remaining_on_next_push_date > 0")
			  
			    if slacker_goals.size > 0
				    random_index = rand(slacker_goals.size) #between 0 and (size - 1)
				    slacker_goal = slacker_goals[random_index]
				    if slacker_goal
				      slacker_has_at_least_one_button = false
                           	      phrase1_good = false
                                      phrase2_good = false
                                      phrase3_good = false
                                      phrase4_good = false
                                      phrase5_good = false

				      if slacker_goal.phrase1 and slacker_goal.phrase1 != ""
					phrase1_good = true
				      end
                      if slacker_goal.phrase2 and slacker_goal.phrase2 != ""
                        phrase2_good = true
                      end
                      if slacker_goal.phrase3 and slacker_goal.phrase3 != ""
                        phrase3_good = true
                      end
                      if slacker_goal.phrase4 and slacker_goal.phrase4 != ""
                        phrase4_good = true
                      end
                      if slacker_goal.phrase5 and slacker_goal.phrase5 != ""
                        phrase5_good = true
                      end

				      if phrase1_good or phrase2_good or phrase3_good or phrase4_good or phrase5_good                             
				        slacker_has_at_least_one_button = true
				      end


                      slacker_really_is_slacking = true
                      begin
                          ### do not prompt to push this person if they are meeting their 
                          ### days-per-week goal
                          if slacker_goal.success_count_during_past_n_days(7) >= slacker_goal.goal_days_per_week
                            slacker_really_is_slacking = false
                          end
                      rescue
                        logger.error("sgj:goal view:index.html error when seeing if slacker is really slacking goal_id:" + slacker_goal.id.to_s)
                      end

				      if slacker_really_is_slacking and slacker_has_at_least_one_button
					  %>
                	                <div style="background-color:#F7F8E0;padding:5px;">	
    					<p>
    					Hey <%= current_user.first_name %>, <%= slacker_goal.user.first_name %> hasn't been "<%= slacker_goal.title %>" for more than a few days now, and could use a little "push".
    					Push one of their buttons below to send them some motivation, and you'll earn 5 "SupportPoints". 
    					If they succeed either today or tomorrow, you'll earn an additional 10 "SupportPoints"!
    					<h4>Every 100 SupportPoints earns you a free Premium Membership for you or a friend!</h4>
    					Push one of their buttons to send them a message!
    					<% if phrase1_good  %>
    					  <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=1%>&push_message_goal_id=<%=slacker_goal.id%>" class="start_now"><%= slacker_goal.phrase1 %></a>
    					<% end %>

                                        <% if phrase2_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=2%>&push_message_goal_id=<%=slacker_goal.id%>" class="start_now"><%= slacker_goal.phrase2 %></a>
                                        <% end %>

                                        <% if phrase3_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=3%>&push_message_goal_id=<%=slacker_goal.id%>" class="start_now"><%= slacker_goal.phrase3 %></a>
                                        <% end %>

                                        <% if phrase4_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=4%>&push_message_goal_id=<%=slacker_goal.id%>" class="start_now"><%= slacker_goal.phrase4 %></a>
                                        <% end %>

                                        <% if phrase5_good  %>
                                          <br><a href="/goals?goal_id=<%= params[:goal_id]%>&u=<%= params[:u] %>&e0=<%= params[:e0] %>&f0=<%= params[:f0] %>&push_message_id=<%=5%>&push_message_goal_id=<%=slacker_goal.id%>" class="start_now"><%= slacker_goal.phrase5 %></a>
                                        <% end %>

					       </p>
					       </div>

                			<br>
					       <%
                        	current_user.date_last_prompted_to_push_a_slacker = dtoday
                        	current_user.save
                        end ### end slacker_has_at_least_one_button
			         end ### end if there's still a slacker goal
			     end ### end each slacker goal
            end ### end if they can fake a login to send the email
		end ### end if they haven't pushed a slacker in a while
	end ### end if they've been a member long enough to push a slacker (a few days)
        
    ############# BASIC BOOSTING AND FOLLOWING BUTTON PROMPTS of Free Users
    #### Ask them to message a "free user" who's slacking


    ### make sure we can fake a log-in to send the email
    if params[:goal_id] and params[:u] and params[:e0] and params[:f0]

      slacker_goals = Goal.find(:all, :conditions => "publish = '1' and status <> 'hold' and laststatusdate > '#{dtoday - 30}' and laststatusdate < '#{dtoday - 7}'")
      
        if slacker_goals.size > 0
            random_index = rand(slacker_goals.size) #between 0 and (size - 1)
            slacker_goal = slacker_goals[random_index]

            ### do this for Free users only (to keep them involved)
            if slacker_goal and slacker_goal.user and !slacker_goal.user.is_habitforge_supporting_member

                if slacker_goal.user.first_name != "unknown"
                %>
                    <div style="background-color:#F7F8E0;padding:5px;"> 
                    <p>
                    Hey <%= current_user.first_name %>, <%= slacker_goal.user.first_name %> hasn't been "<%= slacker_goal.title %>" for more than a few days now, and could use a little "nudge". Could you help out?
                    </p>
                    <p>
                    <% if current_user.goal_ids_that_i_follow.include?(slacker_goal.id) %>
                        <a href="#" class="btn disabled">Following</a>
                    <% else %>
                        <% if slacker_goal.is_active %>
                            <a href="/cheers?start_following_goal_id=<%= slacker_goal.id.to_s %>&email=<%= current_user.email %>" onclick="return confirm('Are you sure?')" id='follow_<%= slacker_goal.id.to_s %>'  class="btn blue" title="Follow <%= slacker_goal.user.first_name %>'s Progress" ><i class="icon-plus"></i> Follow</a>
                            <script type='text/javascript'>
                                $('#follow_<%= slacker_goal.id.to_s %>').tipsy();
                            </script>
                        <% else %>
                          <a href="#" class="btn disabled">Stale</a>
                        <% end %>
                    <% end %>

                    <a href="/tomessages/new?gid=<%=slacker_goal.id.to_s%>&goal_id=<%=slacker_goal.id.to_s%>&from_type=member&tomessage_subject=<%= slacker_goal.response_question %>&to_id=<%= slacker_goal.user.id %>" id='encourage_<%= slacker_goal.id.to_s %>' class="btn red" title='Encourage <%= slacker_goal.user.first_name %>!'> <i class="icon-heart-empty"></i> Boost</a> <span style="font-weight:bold;font-size:1.2em;"> 


                  <% if slacker_goal.user.show_gravatar %>
                    <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(slacker_goal.user.email.downcase)}?d=mm" %>
                    <img src="<%= gravatar %>&s=30" />            
                  <% else %>
                    <img src="/home/images/default_gravatar.png" height="30px"/>
                  <% end %>

                    <%= slacker_goal.user.first_name %></span> is working on ... <span style="background-color:#FFFF99;"><%= slacker_goal.response_question %></span>
                    <script type='text/javascript'>
                    $('#encourage_<%= slacker_goal.id.to_s %>').tipsy();
                    </script>                  
                    </p>

                    </div>
                    <br>
                   <%
                end ### end if slacker goal user has a real name (vs. unknown)
             end ### end if there's still a slacker goal and a slacker user
         end ### end each slacker goal
    end ### end if they can fake a login to send the email

	%>
   <% end %>
    
    <%
    continue_phrase = ""
    if @lightbox_goal.has_unanswered_checkpoints 
        continue_phrase = "Let's get some stuff done. On to HabitForge! >>"
    else
        continue_phrase = "I wanna do more stuff. On to HabitForge! >>"
    end
    %>
 
    
 <a href="#undefined" onclick="toggle_show_hide('stats_lightbox_black');toggle_show_hide('stats_lightbox_white');toggle_show_hide('stats_lightbox_close');"><%= continue_phrase %></a>

    <!-- link_to_function (continue_phrase) {
        |page|
     #page.visual_effect(:fade, "stats_lightbox_black", :duration => 0.0)
     #page.visual_effect(:fade, "stats_lightbox_white", :duration => 0.0)
     #page.visual_effect(:fade, "stats_lightbox_close", :duration => 0.0)
     page.hide()
    } 
    -->

    <br>
    <br>
    <br>
    <center>





    <%
#     #######################################
#     #####   SHOW MYFOODDIARY ADS
#     #if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and @lightbox_goal.get_daily_status_for(params[:date]) == "no" and params[:u] and params[:u] == "81847"
#     if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and @lightbox_goal.get_daily_status_for(params[:date]) == "no"
#       if @lightbox_goal.category == "Exercise" or @lightbox_goal.category == "Diet, Healthy Foods and Water"
#         ad_number_qty = 3
#         random_ad = rand(ad_number_qty) + 1 #between 1 and ad_number_qty

#                            if random_ad == 1
#                            %>
<!-- <a href="https://www.myfooddiary.com/?aID=1128&amp;source=run_lr"><img src="//www.myfooddiary.com/affiliate/ads/run_lr.jpg" style="border:0;width:336px;height:280px;" alt="MyFoodDiary.com" /></a>-->
                            <%
#                            end

#                            if random_ad == 2
#                            %>
<!-- <a href="https://www.myfooddiary.com/?aID=1128&amp;source=field_lr"><img src="//www.myfooddiary.com/affiliate/ads/field_lr.jpg" style="border:0;width:336px;height:280px;" alt="MyFoodDiary.com" /></a>-->
                            <%
#                            end

#                            if random_ad == 3
#                            %>
<!-- <a href="https://www.myfooddiary.com/?aID=1128&amp;source=ipad_lr"><img src="//www.myfooddiary.com/affiliate/ads/ipad_lr.jpg" style="border
# :0;width:336px;height:280px;" alt="MyFoodDiary.com" /></a> -->
                            <%
#                            end

#         logger.warn("sgj:myfooddiary ad" + random_ad.to_s + " shown")
#       end ### end if exercise or diet
#     end ### end if habitforge and daily_status == no
#     #####    END SHOW MYFOODDIARY ADS
#     #######################################
    %>
    </center>




    </div>
<% end %>



<!-- *********** -->
<!-- END STATS OVERLAY -->
<!-- *********** -->
<!-- *********** -->




