
<%
#########################################################3
#########################################################3
####  START IF ACCEPTING A TEAM INVITATION
if @invite and @team
%>
  <div class="alert alert-info">
  Thanks for accepting <%= @invite_from_user.first_name %>'s invitation! 
  By becoming a member of the "<%= @team.name %>" team, you'll be joining as many as <% (@team.qty_max - 1).to_s %> others who are committed to achieving success with 
  <%
  if @invite_team_type_goal
  %>
   the goal of "<%= @goal.title %>".
  <%
  end

  if @invite_team_type_category
  %>
   their own custom goal in the category of "<%= @team.category_name %>".
  <%
  end
  %>
  </div>
<%
end
####  END IF ACCEPTING A TEAM INVITATION
#########################################################3
#########################################################3
%>




<% if (params[:template_owner_is_a_template] and params[:template_owner_is_a_template] == "1") %>
  <h3>...a new template for others to use</h3>
<% else %>
  <h3>...a start of something new</h3>
<% end %>

<% form_for(@goal) do |f| %>
    <%= f.error_messages %>


    <!-- NO FIRST NAME -->
    <% if current_user.first_name == "unknown"%>
      <% first_name_value = "" %>
      <% 
      if params[:first_name] 
        first_name_value = params[:first_name]
      end

      if session[:layout_number]
      logger.info("sgj:got a signup from home page layout #" + session[:layout_number].to_s)
      end  
      %>
            
      <% 
      if !@goal.template_owner_is_a_template %>
        <div style="float:left;">
          <span style="font:2em Arial sans-serif;">What's your first name?</span>
        </div>
        <div style="float:left;">
          &nbsp <input type="textbox" name="first_name" value="<%= first_name_value %>" placeholder="ex: Steven" size=15 style="font:2em Arial sans-serif;">
        </div>
      <% 
      end %>

      <div >
      &nbsp
      <br>
      &nbsp
      </div>
    <% end %>
    <!-- END NO FIRST NAME -->


    <%= render :partial => "form", :object => f %>


    <p>
    <br>

    <% if @goal.template_owner_is_a_template %>
      <input type="submit" value="Create This New Action Template" class="start_now" style="height:50px;">
    <% else %>
      <input type="submit" value="Create My New Habit" class="start_now" style="height:50px;">
    <% end %>
    </p>

<% end %>

