<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Managed by user</th>
    <th>Name</th>
    <th>About</th>
    <th>Url</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Country</th>
    <th>Image logo</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%=h organization.managed_by_user_id %></td>
    <td><%=h organization.name %></td>
    <td><%=h organization.about %></td>
    <td><%=h organization.url %></td>
    <td><%=h organization.email %></td>
    <td><%=h organization.phone %></td>
    <td><%=h organization.address %></td>
    <td><%=h organization.city %></td>
    <td><%=h organization.state %></td>
    <td><%=h organization.zip %></td>
    <td><%=h organization.country %></td>
    <td><%=h organization.image_logo %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organization', new_organization_path %>