<% form_for(@tomessage) do |f| %>
  <%= f.error_messages %>



  <!-- TO ALLOW SINGLE USE SIGNON TO FAKE CURRENT_USER -->
  <% if params[:u] and params[:e0] and params[:f0] %>
    <input type=hidden name="u" value="<%= params[:u] %>">
    <input type=hidden name="e0" value="<%= params[:e0] %>">    
    <input type=hidden name="f0" value="<%= params[:f0] %>">
  <% end %>



  <%
  goal_id = 0
  begin
    if params[:gid]
      goal_id = params[:gid].to_i
    end
    if params[:goal_id]
      goal_id = params[:goal_id].to_i
    end
  rescue
    logger.error("sgj:tomessages:new.html.erb:error converting goal_id or gid to integer")
  end
  %>

  <!-- START If a coach is sending an official weekly check-in message -->
  <% if params[:coachgoal_id] and params[:coach_week_number] %>
      <h1>Official Week #<%= params[:coach_week_number] %> Check-In Message</h1>
      <p><a href="/tomessages/new?to_id=<%= @to_user.id %>">Oops, I meant to send as an unofficial message.</a></p>
      <input type=hidden name="coachgoal_id" value="<%= params[:coachgoal_id] %>">
      <input type=hidden name="coach_week_number" value="<%= params[:coach_week_number] %>">
  <% end %>
  <!-- END If a coach is sending an official weekly check-in message -->

  <% if params[:replying_to_message_id] %>

      <h1>Replying to <%= @to_user.first_name %>

        <% if @to_user.show_gravatar %>
          <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@to_user.email.downcase)}?d=mm" %>
          <img src="<%= gravatar %>&s=30" />            
        <% else %>
          <img src="/home/images/default_gravatar.png" height="30px"/>
        <% end %>

      </h1>


        <p>
          <%= f.label :subject %><br />
          <% if @replying_to_message.subject.starts_with? 're: ' %>
              <%= f.text_field(:subject, :size => "80", :value => @replying_to_message.subject) %>
          <% else %>
              <%= f.text_field(:subject, :size => "80", :value => "re: #{@replying_to_message.subject}") %>
          <% end %>
        </p>
        <p>
          <%= f.label :body %><br />
          <%= f.text_area(:body, :size => "80x20", :value => "\r\n\r\n\r\n______________________________________________\r\nOn #{@replying_to_message.created_at.to_s}, #{@to_user.first_name} wrote:\r\n\r\n#{@replying_to_message.body}") %>
        </p>
        <p>
      
  <% else %>
      <h1>New message to <%= @to_user.first_name %>

        <% if @to_user.show_gravatar %>
          <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@to_user.email.downcase)}?d=mm" %>
          <img src="<%= gravatar %>&s=30" />            
        <% else %>
          <img src="/home/images/default_gravatar.png" height="30px"/>
        <% end %>


      </h1>

      <%
      subject_value = "You can do it!!!"
      subject_value_default = true

      arr_subject = Array.new

      if params[:tomessage_subject] and goal_id != 0
        begin

          goal = Goal.find(goal_id)
          if goal and goal.success_rate_percentage != nil

            if params[:message_type] and params[:message_type] == "congrats"

              arr_subject.push(["Great job with your '" + params[:tomessage_subject] + "' goal!"])


              arr_subject.push(["Way to go with your '" + params[:tomessage_subject] + "' goal!"])


              arr_subject.push(["Keep up the good work with '" + params[:tomessage_subject] + "'!"])

              arr_subject.push(["Nice work with '" + params[:tomessage_subject] + "'!"])

              arr_subject.push(["Nice job with '" + params[:tomessage_subject] + "'!"])

              arr_subject.push(["You did it! Keep up the good job with '" + params[:tomessage_subject] + "'!"])


              random_number = 0
              random_number = rand(arr_subject.size) + 0 #between 0 and arr_subject.size
              random_subject = arr_subject[random_number]

              subject_value = random_subject.to_s
              subject_value_default = false


            else

              if (goal.goal_days_per_week/7).to_i >= goal.success_rate_percentage

                arr_subject.push(["Great job with your '" + params[:tomessage_subject] + "' goal!"])
                arr_subject.push(["You can do it! Keep up your '" + params[:tomessage_subject] + "' habit!"])
                arr_subject.push(["Keep up the good work with '" + params[:tomessage_subject] + "'!"])

                random_number = 0
                random_number = rand(arr_subject.size) + 0 #between 0 and arr_subject.size
                random_subject = arr_subject[random_number]

                subject_value = random_subject.to_s
                subject_value_default = false

              else
                arr_subject.push(["Good luck with " + params[:tomessage_subject] + "!"])
                arr_subject.push(["You can do it! Keep " + params[:tomessage_subject] + "!"])
                arr_subject.push(["Remember how important it is to keep " + params[:tomessage_subject] + "!"])

                random_number = 0
                random_number = rand(arr_subject.size) + 0 #between 0 and arr_subject.size
                random_subject = arr_subject[random_number]

                subject_value = random_subject.to_s
                subject_value_default = false

              end
            end




          end

        rescue
          logger.error("sgj:view:tomessages:view:error getting random subject")
        end
      end

      simple_subject = "a little support"
      if params[:message_type] and params[:message_type] == "congrats"
        simple_subject = "Good work"
      end

      if current_user and current_user.first_name != "unknown"
        simple_subject = simple_subject + " from " + current_user.first_name
      end
      %>

            <div class="alert alert-info"><p>Customize the subject and body below to give <%= @to_user.first_name %> some encouragement or to say "keep up the good work"!<br><h3>Make it Good!!</h3> Earn extra Impact Points (20, 50 or 100) if <%= @to_user.first_name %> finds your message helpful.<br>"The Best" messages will be flagged for consideration for integration into the site itself.</p></div> 

            <% if @rated %>
            <div class="alert alert-info"><p><h3>Thanks for rating <%= @to_user.first_name %>'s message!</h3>If you'd like, you can also send them a reply message below!</p></div>
            <% end %>
        <p>
          <%= f.label :subject %><br />


          <input id="tomessage_subject" name="tomessage[subject]" value="<%= simple_subject %>" type="text" length="100" style="width:95%;">
        </p>
        <p>
          <%= f.label :body %><br />
          <textarea cols="80" id="tomessage_body" name="tomessage[body]" rows="10" style="width:95%;"><% if subject_value_default  and params[:tomessage_subject] %>I just wanted to send you some words of encouragement regarding your '<%= params[:tomessage_subject]%>' goal! You can do it! I really want to see you succeed!<% else %><%= subject_value %><% end %></textarea>

        </p>
        <p>

  <% end %>

  <% if params[:from_type] %>
      <input type=hidden name="from_type" value="<%= params[:from_type]%>">
  <% end %>

  <input type=hidden name="goal_id" value="<%= goal_id %>">
  <input type=hidden name="to_id" value="<%= params[:to_id] %>">
  <input type="submit" value="Send My Message" class="start_now">
  </p>
<% end %>

<p><%= link_to 'Cancel', '/goals' %></p>