  <!-- BEGIN LOGIN -->

      <% form_for @user_session, :url => user_session_path do |f| %>
        
      <% if f.error_messages and f.error_messages != "" %>
      <div class="alert alert-error">
        <%= f.error_messages %>
      </div>
      <% end %>




      <% if params[:message] and (params[:message] == "invitation_existing_email") %>
        <div class="alert alert-error">
          Please log in to accept your invitation.
        </div>
      <% end %>

      <h3 class="form-title">Log In to your account</h3>


        <% if session[:test_layout] == true %>

<!--             <div style="margin-top:-25px;padding-right:5px;"> -->
            <div>
            <%= render :partial => "layouts/fb_login.erb" %>
            </div>
            <br>

            OR
            <br>
            <br>
        <% end %>




      <div class="control-group">
        <div class="controls">
          <div class="input-icon left">
            <i class="icon-user"></i>
            <input class="m-wrap" id="user_session_email" name="user_session[email]" placeholder="Email Address" type="text" style="width:219px;">
            <!-- input class="m-wrap" name="email" type="text" placeholder="Email Address" /-->
          </div>

          <div class="input-icon left">
            <i class="icon-lock"></i>
            <input id="user_session_password" name="user_session[password]" placeholder="Password" type="password" style="width:200px;">
          </div>
        </div>
      </div>
      <input type="submit" value="Login" id="login-btn" class="btn green">


        <%
        ##### Used when we're not logged in but we want to do something...
        ##### This way we'll be re-directed to the login screen, then to the place we wanted to be
        if params[:after_login_cn]
        %>
            <input type=hidden name="after_login_cn" value="<%=params[:after_login_cn]%>"

            <%
            if params[:after_login_ca]
            %>
                <input type=hidden name="after_login_ca" value="<%=params[:after_login_ca]%>"
            <%
            end
            %>


            <%
            if params[:after_login_param_1_name]
            %>
                <input type=hidden name="after_login_param_1_name" value="<%=params[:after_login_param_1_name]%>"
                <input type=hidden name="after_login_param_1_val" value="<%=params[:after_login_param_1_val]%>"
            <%
            end
            %>

            <%
            if params[:after_login_param_2_name]
            %>
                <input type=hidden name="after_login_param_2_name" value="<%=params[:after_login_param_2_name]%>"
                <input type=hidden name="after_login_param_2_val" value="<%=params[:after_login_param_2_val]%>"
            <%
            end
            %>


            <%
            if params[:after_login_id]
            %>
                <input type=hidden name="after_login_id" value="<%=params[:after_login_id]%>"
            <%
            end
            %>


        <%
        end
        %>


      <% end %>
      <p>
      <%= link_to "Forgot Password", "/password_resets/new" %>
      &nbsp;&nbsp;
     <% if session[:sfm] == "v1" %> 
       <%= link_to "Need an Account", new_user_path %></li>
     <% else %>
       <%= link_to "Need an Account", "/" %></li>
     <% end %>
      </p>


