<h1>New message_motivation</h1>

<% form_for(@message_motivation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message_id %><br />
    <%= f.text_field :message_id %>
  </p>
  <p>
    <%= f.label :motivation_id %><br />
    <%= f.text_field :motivation_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', message_motivations_path %>