<p>
  <b>State:</b>
  <%=h @weight_loss_by_state.state %>
</p>

<p>
  <b>State code:</b>
  <%=h @weight_loss_by_state.state_code %>
</p>

<p>
  <b>Demog population:</b>
  <%=h @weight_loss_by_state.demog_population %>
</p>

<p>
  <b>Demog percent adults:</b>
  <%=h @weight_loss_by_state.demog_percent_adults %>
</p>

<p>
  <b>Demog number adults:</b>
  <%=h @weight_loss_by_state.demog_number_adults %>
</p>

<p>
  <b>Demog percent obesity rate:</b>
  <%=h @weight_loss_by_state.demog_percent_obesity_rate %>
</p>

<p>
  <b>Demog number obese adults:</b>
  <%=h @weight_loss_by_state.demog_number_obese_adults %>
</p>

<p>
  <b>Demog percent of total obese adults in challenge:</b>
  <%=h @weight_loss_by_state.demog_percent_of_total_obese_adults_in_challenge %>
</p>

<p>
  <b>Challenge weighted goal:</b>
  <%=h @weight_loss_by_state.challenge_weighted_goal %>
</p>

<p>
  <b>Challenge qty hold:</b>
  <%=h @weight_loss_by_state.challenge_qty_hold %>
</p>

<p>
  <b>Challenge qty active:</b>
  <%=h @weight_loss_by_state.challenge_qty_active %>
</p>

<p>
  <b>Challenge lbs starting weight hold:</b>
  <%=h @weight_loss_by_state.challenge_lbs_starting_weight_hold %>
</p>

<p>
  <b>Challenge lbs starting weight active:</b>
  <%=h @weight_loss_by_state.challenge_lbs_starting_weight_active %>
</p>

<p>
  <b>Challenge lbs last weight hold:</b>
  <%=h @weight_loss_by_state.challenge_lbs_last_weight_hold %>
</p>

<p>
  <b>Challenge lbs last weight active:</b>
  <%=h @weight_loss_by_state.challenge_lbs_last_weight_active %>
</p>

<p>
  <b>Challenge lbs lost hold:</b>
  <%=h @weight_loss_by_state.challenge_lbs_lost_hold %>
</p>

<p>
  <b>Challenge lbs lost active:</b>
  <%=h @weight_loss_by_state.challenge_lbs_lost_active %>
</p>

<p>
  <b>Challenge lbs lost total:</b>
  <%=h @weight_loss_by_state.challenge_lbs_lost_total %>
</p>

<p>
  <b>Challenge percent of goal met:</b>
  <%=h @weight_loss_by_state.challenge_percent_of_goal_met %>
</p>

<p>
  <b>Challenge number rank:</b>
  <%=h @weight_loss_by_state.challenge_number_rank %>
</p>

<p>
  <b>Challenge last updated date:</b>
  <%=h @weight_loss_by_state.challenge_last_updated_date %>
</p>

<p>
  <b>Js upcolor:</b>
  <%=h @weight_loss_by_state.js_upcolor %>
</p>

<p>
  <b>Js overcolor:</b>
  <%=h @weight_loss_by_state.js_overcolor %>
</p>

<p>
  <b>Js downcolor:</b>
  <%=h @weight_loss_by_state.js_downcolor %>
</p>


<%= link_to 'Edit', edit_weight_loss_by_state_path(@weight_loss_by_state) %> |
<%= link_to 'Back', weight_loss_by_states_path %>