<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <base href="<%= server_root_url %>/"/>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <meta name="keywords" content="my learning habit, habit, learning habit, clearworth, clearworth learning habit" />
  <meta name="description" content="Free web app from ClearWorth and HabitForge that emails you daily asking you a yes or no question about whether you followed through on a habit you want to establish (exercising daily, drinking 8 glasses of water, cutting caffeine intake). If you say "yes" for 21 days in a row, you've done it. Skip a day, and start over at day 1. Invite friend to keep you accountable." />

  <LINK REL="SHORTCUT ICON" HREF="/images/NONE.ico">



<%= stylesheet_link_tag 'clearworth' %>

<%= javascript_include_tag :defaults %>

<title>ClearWorth - Making Learning a Habit</title>
<%
@cn = controller.controller_name 
@ca = controller.action_name 
%>


<% # " | Current Page: " + @cn + "/" + @ca 
%>
</head>
<body>

<noscript>
    <div class="error" id="noscript-warning" style="height:10px;">
    <p>
        <%= @site_name %> works best with JavaScript enabled. Some features may not work properly without it!
    </p>
    </div>
</noscript>

<div id="wrapper">
  <br>

  <DIV id="page" style="font-size:14px; background:url(images/nada-top-bg1.png); -moz-border-radius-topleft: 15px;-moz-border-radius-topright: 15px; -webkit-border-top-left-radius: 15px;border-width:thin; -webkit-border-top-right-radius: 15px;border-width:thin; border-width:thin; border-bottom-style:none; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-color:#CCCCCC; background-color:#ffffff; padding:0px 0px 0px 0px;">  
  <% if @cn == "goals" and @ca == "sharelinks" %>
		<% 
		#http://digg.com/tools/integrate#1
		### screw digg... it' slowing down page loads A LOT

		#<!--
		#          --> 
		%>
		<DIV style="border-width:thin; border-style:solid; border-color:#CCCCCC">     
     <center>
		<table cellpadding=5 cellspacing=0 border=0>
		<tr>
		<td>
    <script type="text/javascript">
    digg_url = 'habitforge.com';
    digg_skin = 'compact';
    digg_window = 'new';
    </script>
    <script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script>
    </td>
    <td>

    <a href="http://www.stumbleupon.com/submit?url=http://habitforge.com%26title%3DThe%2BArticle%2BTitle"> <img border=0 src="http://cdn.stumble-upon.com/images/120x20_su_gray.gif" alt=""></a>

    </td>

    <td>

    <a name="fb_share" type="button" share_url="http://habitforge.com" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    <td>
  
    <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US">
    </script>
    <script type="text/javascript">
      FB.init("ed1371ea0af8481bbb2d049845b75fdf");
    </script>
    <fb:fan profile_id="281059421608" stream="" connections="" width="300">
    </fb:fan>

    </td>
    <td>
    <a href=http://twitter.com/home?status=Using%20habitforge!%20http://habitforge.com><img src='/images/twitter.png' border=0 alt="Tweet this!"/></a>
    </td>
    <td>
    <a href="http://twitter.com/habitforge"><img src='/images/twitter_follow_me.png' border=0 alt="Follow Us on Twitter"/></a>
    </td>
    </tr>
    </table>
    </div>
  <% end %>



	<div id="menu">
		<ul>
			  <% if !current_user %>
				<li 
					<% if @cn == "user_sessions" and @ca == "new" %> 
						class="current_page_item" 
					<% end %>
				><%= link_to "Intro", new_user_session_path %></li>
				<li 
					<% if @cn == "users" and @ca == "new" %> 
						class="current_page_item" 
					<% end %>
				><%= link_to "Sign Up Free", new_user_path %></li>
				<li><%= link_to "Log In", new_user_session_path + "?skip_intro=1" %></li>
		      <% else %>
			    <%
			    #link_to "My Account", users_path 
			    %>  
			    <li 
					<% if @cn == "goals" or @cn == "checkpoints" %> 
						class="current_page_item" 
					<% end %>
				><%= link_to 'My Habits', '/goals' %></li>
			    <li 
					<% if @cn == "cheers" %> 
						class="current_page_item" 
					<% end %>
				><%= link_to 'Friends', '/cheers' %></li>
			    <li 
					<% if @cn == "users" and @ca == "show" %> 
						class="current_page_item" 
					<% end %>
				>
					<%= link_to "My Account", account_path %>
				</li>

      	<% if current_user %>
              <li><%= link_to "Logout", user_session_path, :method => :delete %></li>  			    
        <% end %>


			    <%
			    if current_user.first_name == "Admin" && current_user.email == "jurowski2@gmail.com" 
			      current_user_is_admin = true
			    else
			      current_user_is_admin = false
			    end
			    %>
			    <% if current_user_is_admin %>
			      <li><%= link_to 'Users', '/users' %></li>
			      <li><%= link_to 'New user', new_account_path %></li>
			      <%= pluralize User.logged_in.count, "user" %> currently logged in<br /> <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
			    <% end %>
			    <% #"Current Page: " + @cn + "/" + @ca 	%>
			  <% end %>
		</ul>
	</div>

	<!-- end #menu -->

  		<div id="logo" style="position: relative;margin-left:15px;">
  		<img src="/images/CW-circle-and-text-w-phrase.png" border=0 alt="ClearWorth" width = 250/>
      <br>
      <br>
  		<h2><font color=#404040>It takes </font><font color=#cc3300>21 days</font> <font color=#404040>to make a habit.</font></h2>

      <%
      if (@cn == "users" and @ca == "new") 
      %>
      <div style="position:absolute; margin: 125px 0px 0px 450px;">
      <img src="images/1-makelearningahabit.png" border=0 width=275>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "goals" and (@ca == "index" or @ca == "create"))
      %>
      <div style="position:absolute; margin: -100px 0px 0px 550px;">
      <img src="images/1-makelearningahabit.png" border=0 width=275>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "goals" and @ca == "edit")
      %>
      <div style="position:absolute; margin: -100px 0px 0px 550px;">
      <img src="images/9-bookidea.png" border=0 width=220>
      </div>
      <%
      end
      %>
      
      <%
      if (@cn == "goals" and @ca == "new" or @ca == "invite_a_friend_to_track")
      %>
      <div style="position:absolute; margin: -110px 0px 0px 550px;">
      <img src="images/4-walkatlunch.png" border=0 width=220>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "goals" and @ca == "single")
      %>
      <div style="position:absolute; margin: -110px 0px 0px 550px;">
      <img src="images/4-walkatlunch.png" border=0 width=220>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "password_resets" and @ca == "new")
      %>
      <div style="position:absolute; margin: 0px 0px 0px 550px;">
      <img src="images/5-planday.png" border=0 width=220>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "password_resets" and @ca == "edit")
      %>
      <div style="position:absolute; margin: 0px 0px 0px 550px;">
      <img src="images/6-thinkspeak.png" border=0 width=250>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "password_resets" and @ca == "create")
      %>
      <br>
      <br><br><br>
      <div style="position:absolute; margin: -150px 0px 0px 550px;">
      <img src="images/6-thinkspeak.png" border=0 width=250>
      </div>
      <%
      end
      %>


      <%
      if (@cn == "users" and @ca == "show")
      %>
      <div style="position:absolute; margin: -80px 0px 0px 550px;">
      <img src="images/6-thinkspeak.png" border=0 width=250>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "users" and @ca == "edit")
      %>
      <div style="position:absolute; margin: 125px 0px 0px 450px;">
      <img src="images/7-contactperson.png" border=0 width=250>
      </div>
      <%
      end
      %>

      <%
      if (@cn == "cheers")
      %>
      <div style="position:absolute; margin: -100px 0px 0px 550px;">
      <img src="images/8-excelword.png" border=0 width=250>
      </div>
      <%
      end
      %>


      <%
      if @cn == "user_sessions" and @ca == "new" and params[:skip_intro] == "1"
      %>
      <div style="position:absolute; margin: -50px 0px 0px 550px;">
      <img src="images/3-journal.png" border=0>
      </div>
      <%
      end
      %>
      




  <% if session[:current_user_is_admin] == true and (params[:impersonate] or session[:impersonate]) %>
    <br><a href="users?impersonate=3>">Become Admin Again</a>
  <% end %>
  		</div>



      </div>
      <DIV id="page" style="font-size:14px; background:url(images/1bottom-bg1.png); -moz-border-radius-bottomleft: 15px;-moz-border-radius-bottomright: 15px; -webkit-border-bottom-left-radius: 15px;border-width:thin; -webkit-border-bottom-right-radius: 15px;border-width:thin; border-bottom-style:solid; border-left-style:solid; border-right-style:solid; border-top-style:none; border-color:#CCCCCC; background-color:#FFFFFF; padding:0px 0px 0px 0px;">  
  <% if !current_user %>


  <%
  if @cn == "user_sessions" and @ca == "new" and params[:skip_intro] != "1"
  %>

			<div class="post">

<br>


		<div id="content">			
			<div class="post">






<div class="VEPart" style="position: relative; width: 370px; top:50px; left: 20px;border-width:thin;">
  <div class="VEShadow" style="position: absolute; left: 5px; top: 5px;
    width: 350px; height: 300px; background-color: black;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';filter:progid:DXImageTransform.Microsoft.Alpha(opacity=15);
    -moz-opacity:0.15; opacity: 0.15; -moz-border-radius: 15px; -webkit-border-radius: 15px;"> </div>
  <div class="VEContent" style="position: relative; height: 290px;
    background-color: #FFFFDD;-moz-border-radius: 15px; -webkit-border-radius: 15px; padding:5px 5px 5px 5px;"> 
    
    
    <strong><font size=5; color=#cc3300>1.</font></strong> 
    <font size=3><b>Decide</b></font><br>If you could do one thing every day that would change your life for the better, what would it be?
    <br>
    <br>

    <strong><font size=5; color=#cc3300>2.</font></strong> <font size=3><b>Act</b></font> 
    <br>Each morning an email from your <b>MyLearningHabit</b> account will check in on how you did the day before.
     <br><br>Simply report on yesterday's success by clicking <b>Yes</b> or <b>No</b>.
    
    <br>
    <br>
    
    <strong><font size=5; color=#cc3300>3.</font></strong><font size=3><b>Follow Through</b></font>  
    <br>Succeed for <b>21 days</b> until the new habit is made. <br>Skip a day and the clock starts over.

    <center>
    <br><a href="/users/new"><h3><img src='/images/21-day-grid.png' border=1 width=200></h3></a> 
    <br><a href="/users/new"><h3><img src='/images/start_now.gif' border=0 width=250></h3></a> 
    </center>
    
    </div>
</div>


        <% end %>
      <% end %> 


			    <%
			    if @cn == "user_sessions" and @ca == "new" and params[:skip_intro] != "1"
				  %>
          <table border=0 cellpadding=0 cellspacing=0>
          <tr><td>
          <br>
      		</div>
					</div>

					</td></tr>
				  </table>
				<%
		    end

		    %>

        <% if @cn == "user_sessions" and @ca == "new" and !params[:skip_intro] %>
        <% else %>
    			<div class="entry" style="padding:10px 10px 10px 10px";>
              <br>
              <br>
    				  <%= yield %>          

              <br>
              <table width=100%><tr><td align=right>
          	  <a href="http://www.clearworth.com/" target="_blank"><img src="/images/CW-circle-and-text-w-phrase.png" border=0 alt="ClearWorth" width = 150/></a>
          	  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp

          	  </td></tr>
          	  </table>

    			</div>
        <% end %>

      
			</div>
			<div style="clear: both;">&nbsp;</div>

		</div>
		<!-- end #content -->


		<div id="sidebar">




    <% if current_user or @cn == "users" or @cn == "checkpoints" or params[:skip_intro] or @ca == "sharelinks"%>
      <% ### HIDE ALERT AND TESTIMONIALS %>
    <% else %>
	
      <%
    	#### INSERT TESTIMONIAL HERE 
      %>
    

			<div class="entry">
      &nbsp
      </div>


      <%
      if @cn == "user_sessions" and @ca == "new" and params[:skip_intro] != "1"
      %>

      <div style="position:relative; margin: -180px 0px 30px -80px;">
      <img src="images/2-strategy-spanish.png" border=0 width=220>
      </div>

      <div style="position:relative; margin: -15px 0px 0px -155px;">
		  <img src="images/monitor-clearworth.png" border=0 width=400>
      </div>


      <%
      end
      %>






      <% if session[:sponsor] == "habitforge" %>

      <DIV style="font-size:12px; border-width:thin; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-color:#CCCCCC; background-color:#eeeeee; padding:10px 10px 10px 10px;">  

          

      <i>
      "The desire already existed, I just needed to the tool to cement it...I am comfortable saying that my daily writing habit has been established and then some."
      </i>
      --<a href='http://writingmyfirstnovel.wordpress.com/2010/02/09/wk22-i-exceeded-my-goal/' target='_blank'>aayla369</a>
          
      <br>
      <br>
    

      <i>
        "I'm now back in love with my "to do" list and I'm hugely more efficient. Even better, I'm getting the really important stuff done."
      </i>
      --<a href='http://www.publicationcoach.com/free-articles/habitforge.php' target='_blank'>Daphne Gray-Grant</a>
    
      <br>
      <br>
    
    


      </div>

        <%
      	#### END TESTIMONIAL 
        %>


        <DIV style="font-size:14px; border-width:thin; border-bottom-style:solid; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-color:#CCCCCC; background-color:#FFFFFF; padding:10px 10px 10px 10px;">  
        <center>
    		<a href="http://www.pcworld.com/article/189178/112_best_free_downloads_sites_and_services_the_full_list.html" target='_blank'>
    		  <img src="images/pcworld.gif" border=0>
    		</a>
    		<br>
    		<strong><i>"Best Free Sites for 2010"</i></strong>

        </center>




        </div>

        <% end %>



    <% end %>



			<ul>

      
      



  		</div>
  		<!-- end #sidebar -->

		<div style="clear: both;">&nbsp;

    <% if @cn == "user_sessions" and @ca == "new" and params[:skip_intro] != "1"%>
    <table width=100%><tr><td align=right>
	  <a href="http://www.clearworth.com/" target="_blank"><img src="/images/CW-circle-and-text-w-phrase.png" border=0 alt="ClearWorth" width = 150/></a>
	  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	  
	  </td></tr>
	  </table>		
    <% end %>
	  
	  
		</div>




  </div>
	<!-- end #page -->



</div>
<center>


<br>
<br>



<div id="footer">
<p> 
	(c) 2010 <a href="http://www.clearworth.com/" target="_blank">ClearWorth</a> | powered by <a href="http://habitforge.com" target="_blank">habitforge.com</a> 


	</p>
</div>
<!-- end footer -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10841267-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>