<% 
@production = true
if `uname -n`.strip == 'adv.adventurino.com'
  #### HABITFORGE SETTINGS ON VPS
  @production = true
else
  @production = false
end

retry_email_address = false
if @email_duplicate or (@email_blank == true or (@email_valid != nil and @email_valid == false))
    retry_email_address = true
end 
%>




<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=9">

<meta name="keywords" content="exercise, eat healthy, goal setting, self-help, habitforge, habit forge, habit tracker, goal setting, habits, goals, resolutions, new years resolutions, new years resolution, accountability, accountability buddy, self improvement, 21 days, form a habit, 21 days to form a habit" />
<meta name="description" content="Exercise more. Eat Healthy. Start any new habit you can think of or break a bad habit. HabitForge is a free web app that emails you daily asking you a yes or no question about whether you followed through on a habit you want to establish. If you say "yes" for 21 days in a row, you've done it. Skip a day, and start over at day 1. Join a team or go solo. Invite friend to keep you accountable." />


<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<meta name="viewport" content="width=device-width" />
<title>HabitForge - Simple Accountability. Positive Change.</title>
<link rel="stylesheet" type="text/css" href="/home/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/home/css/layout.css" />


<link rel="stylesheet" type="text/css" href="/home/css/jqueryslidemenu.css" />
<link rel="stylesheet" type="text/css" href="/home/css/quicksand.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/elements.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/widget.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/hoverdir.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/blog.css"/>
<link rel="stylesheet" type="text/css" href="/home/style_test.css" />
<link rel="stylesheet" type="text/css" href="/home/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="/home/css/habitforge_custom.css" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css'>

<!-- fonts for the new iphone-hand home page design -->
<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<!-- BORROWING FROM APP METRO FOR THE BUTTONS -->
<link href="/assets/css/metro.css" rel="stylesheet" />


<link href="/assets/css/hf_custom.css" rel="stylesheet" />

<link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" /><!-- ToolTips (tipsy) -->

<script type="text/javascript" src="/home/js/jquery-1.8.1.js"></script>
<script type="text/javascript" src="/home/js/jqueryslidemenu.js"></script>
<script type="text/javascript" src="/home/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/home/js/portfolio_sortable.js"></script>
<script type="text/javascript" src="/home/js/quicksand.js"></script>
<script type="text/javascript" src="/home/js/custom.js"></script>
<script type="text/javascript" src="/home/js/jquery.hoverdir.js"></script>
<script type="text/javascript">
//Image Hover
jQuery(document).ready(function(){
jQuery(function() {
  jQuery('#list > li').hoverdir();
});
});
</script>


<script type="text/javascript">
$(document).ready(function(){
    $(".pane .delete").click(function(){
        $(this).parents(".pane").animate({ opacity: 'hide' }, "slow");
    });
});
</script>

<script type="text/javascript"> 
$(document).ready(function(){
        $(".slidingDiv").hide();
        $(".show_hide").show();
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
});
</script>


<!-- START bxSlider -->
<!-- bxSlider Javascript file -->
<script type="text/javascript" src="/home/js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="/home/css/jquery.bxslider.css" rel="stylesheet" />
<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
    pager: false,
    mode: 'fade',
    auto: false,
    pause: 6500,
    ticker: false,
    adaptiveHeight: false
  });
});

$(document).ready(function(){
  $('.bxslider_teaser').bxSlider({
    pager: false,
    mode: 'fade',
    auto: true,
    pause: 2000,
    ticker: false,
    adaptiveHeight: false,
    controls: false
  });
});
</script>
<!-- END bxSlider -->



 <script type="text/javascript">
//   var uvOptions = {};
//   (function() {
//     var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
//     uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/aWPKLvqP89KQQwa98KVxWw.js';
//     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
//   })();
 </script>




<!-- A tab to launch the Classic Widget -->
<script>
  // UserVoice = window.UserVoice || [];
  // UserVoice.push(['showTab', 'classic_widget', {
  //   mode: 'full',
  //   primary_color: '#cc6d00',
  //   link_color: '#007dbf',
  //   default_mode: 'support',
  //   forum_id: 137021,
  //   tab_label: 'Help and Feedback',
  //   tab_color: '#ff4000',
  //   tab_position: 'middle-left',
  //   tab_inverted: true
  // }]);
</script>

<!-- UMM... this is actually GetSatisfaction, not UserVoice
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "habitforge";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "question";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
-->

<!-- LIKE IN ROSTINATOR -->
<!-- TOGGLE SHOW/HIDE A DIV FROM SCRATCH, EASY !!! -->
<script language="javascript" type="text/javascript">


function toggle_show(id) {
    var div = document.getElementById(id);
    div.style.display = "block";
}


function toggle_show_hide(id) {
    var div = document.getElementById(id);
    div.style.display = ( div.style.display == "none") ? "block" : "none";
}
// example usage:
//      <a href="#undefined" onclick="toggle_show_hide('rebuild_roster_form')" class="btn-add">Build Roster</a>
//
//      <div id="rebuild_roster_form" style="display:none;">
//        some content
//      <div>
</script>

<script language="javascript" type="text/javascript">
function popitup(url) {
  newwindow=window.open(url,'name','height=300,width=600');
  if (window.focus) {newwindow.focus()}
  return false;
}
function popitup_bigger1(url) {
  newwindow=window.open(url,'name','height=600,width=1000');
  if (window.focus) {newwindow.focus()}
  return false;
}

</script>


  <% if @production %>
    <!-- ShareThis-->  
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6f618717-8285-4c8c-b5c7-4f9e1d5e2a92", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
  <% end %>


  <script>
  function formSubmit(form_name)
  {
  document.getElementById(form_name).submit();
  }
  </script>

  <!-- LIKE IN ROSTINATOR -->
  <!-- TOGGLE SHOW/HIDE A DIV FROM SCRATCH, EASY !!! -->
  <script language="javascript" type="text/javascript">
  function toggle_show_hide(id) {
      var div = document.getElementById(id);
      div.style.display = ( div.style.display == "none") ? "block" : "none";
  }
  // example usage:
  //      <a href="#undefined" onclick="toggle_show_hide('rebuild_roster_form')" class="btn-add">Build Roster</a>
  //
  //      <div id="rebuild_roster_form" style="display:none;">
  //        some content
  //      <div>

  function toggle_show(id) {
      var div = document.getElementById(id);
      div.style.display = "block";
  }

  function toggle_hide(id) {
      var div = document.getElementById(id);
      div.style.display = "none";
  }
  </script>


  <script type='text/javascript' src='/javascripts/jquery.tipsy.js'></script><!-- ToolTips (tipsy) -->


<!--
Get the HTML5 "placeholder" functionality replicated in browsers like IE that don't yet support it
http://www.cssnewbie.com/cross-browser-support-for-html5-placeholder-text-in-forms/#.UlvL49c2t2M
-->
<script>
 $(function() {
  if(!$.support.placeholder) { 
    var active = document.activeElement;
    $(':text').focus(function () {
      if ($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
        $(this).val('').removeClass('hasPlaceholder');
      }
    }).blur(function () {
      if ($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
        $(this).val($(this).attr('placeholder')).addClass('hasPlaceholder');
      }
    });
    $(':text').blur();
    $(active).focus();
    $('form').submit(function () {
      $(this).find('.hasPlaceholder').each(function() { $(this).val(''); });
    });
  }
});
</script>




</head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->



<!-- <body style="background-color:#333333;"> -->
<body>

<!--   <div id="spinner_page_load" style="display:none;"> -->
  <div id="spinner_page_load" >
      
    <div id="spinner_page_load_lightbox_white" class="white_overlay">
    </div>

    <div id="spinner_page_load_lightbox_white" class="white_content_v2">
      <center><img src="/images/spinner.gif"/></center>
    </div>

  </div>


  <!-- but really we just want the footer to be dark... make a large div for the rest -->
<!--   <div style="background-color:#ffffff;z-index:-9;"> -->


  <% if params[:account_removed] %>
    <div class="pane error">
      <h3>Your account has been removed.</h3>
    </div>
  <% end %>

  <!-- direct to fb
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  -->




  <!-- START DECIDE IF ONLY SHOW HABIT LIBRARY -->
  <% if params[:browse_recommended_habits] and current_user %>

    <div style="padding:20px;">
      <% if params[:program_id] %>
        <!-- 
        http://localhost:3000/goals?programs=1&browse_recommended_habits=1&program_id=2
        -->
        <%= render :partial => "layouts/habit_program" %>
      <% else %>
          <article>
              <%= render :partial => "layouts/habit_library_templates" %>
          </article>
      <% end %>
    </div>



  <% else %>

    <!-- Header Start -->

    <!-- THIS PUTS AN ORANGE LINE AT THE TOP OF THE SCREEN -->
    <section id="header_wrap">
    </section>


    <% if !mobile_device? %>
    <div style="min-width:360px;padding-right:40px;">
    <% else %>
    <div style="min-width:360px;">
    <% end %>
      <!-- Logo Start -->
      <div style="position:relative;float:left;width:40%;min-width:80px;max-width:300px;">
        <a href="/"><img src="/home/images/logos/HF-ETR-Logo-Header.png" alt="HabitForge logo" /></a>
      </div>
      <!-- LOGO END -->


      <% if !mobile_device? %>
      <div style="width:100%;position:relative;float:right;margin-top:-102px;">
      <% else %>
      <div style="width:100%;position:relative;float:right;margin-top:-42px;">
      <% end %>

        <div style="width:50px;position:relative;min-width:50px;">
          &nbsp
        </div>
        <div style="width:350px;min-width:400px;position:relative;float:right;margin-top:0px;">
<!--         <div id="navcontainer" style="position:relative;float:right;margin-top:-10%;width:400px;min-width:400px;margin-right:-20px;background-color:#dddddd;"> -->
          <ul id="navlist">

            <!-- DEFAULT SETTING -->
            <% menu_link_class_about = "btn_orange_inactive" %>
            <% menu_link_class_login = "btn_orange_inactive" %>
            <% menu_link_class_signup = "btn_orange_active" %>

            <% if (request.url.include? '/user_session/new' or request.url.include? '/account')  %>
              <% menu_link_class_about = "btn_orange_inactive" %>
              <% menu_link_class_login = "btn_orange_active" %>
              <% menu_link_class_signup = "btn_orange_inactive" %>
            <% end %>

            <% if (request.url.include? '/about')  %>
              <% menu_link_class_about = "btn_orange_active" %>
              <% menu_link_class_login = "btn_orange_inactive" %>
              <% menu_link_class_signup = "btn_orange_inactive" %>
            <% end %>



            <li class="<%= menu_link_class_login %>" ><a href="/user_session/new?skip_intro=1" class="btn_orange">LOGIN</a></li>
            <li class="<%= menu_link_class_about %>" ><a href="#about" class="show_hide btn_orange">ABOUT</a></li>
            <li class="<%= menu_link_class_signup %>" ><a href="#signup" class="show_hide btn_orange">SIGN UP</a></li>


            <!--
            <li><a href="#browse_recommended_habits">Browse Habits</a></li>
            <li>
              <a href="#all_testimonials_anchor" onclick="toggle_show('all_testimonials')">
              Testimonials
              </a>
            </li>
            -->

          </ul>
        </div>
      </div>



    </div> <!-- end div top_header -->



    <div class="clear"></div>


    <% if mobile_device? %>
       <%= render :partial => "layouts/header_mobile.erb", :locals => { :retry_email_address => retry_email_address }  %>
    <% else %>
       <%= render :partial => "layouts/header_desktop.erb", :locals => { :retry_email_address => retry_email_address } %>    
    <% end %>




<!-- TOOK STUFF OUT HERE -->


    <!-- Footer End -->

  <% end %>   <!-- END DECIDE IF ONLY SHOW HABIT LIBRARY -->















  <!-- ### START GOOGLE ANALYTICS ### --> 
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10841267-1");
  pageTracker._trackPageview();
  } catch(err) {}
  </script>
  <!-- ### END GOOGLE ANALYTICS ### --> 


  <% if session[:production] %>
  <!-- ### START CRAZY EGG HEAT MAP -->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/7909.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
  <!-- ### END CRAZY EGG HEAT MAP -->
  <% end %>


<!-- HIDE THE SPINNER NOW THAT THE PAGE IS DONE LOADING -->
<script>
toggle_hide('spinner_page_load');
</script>



</body>
</html>
