<% 
@production = true
if `uname -n`.strip == 'adv.adventurino.com'
  #### HABITFORGE SETTINGS ON VPS
  @production = true
else
  @production = false
end

retry_email_address = false
if @email_duplicate or (@email_blank == true or (@email_valid != nil and @email_valid == false))
    retry_email_address = true
end 
%>




<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=9">

<meta name="keywords" content="exercise, eat healthy, goal setting, self-help, habitforge, habit forge, habit tracker, goal setting, habits, goals, resolutions, new years resolutions, new years resolution, accountability, accountability buddy, self improvement, 21 days, form a habit, 21 days to form a habit" />
<meta name="description" content="Exercise more. Eat Healthy. Start any new habit you can think of or break a bad habit. HabitForge is a free web app that emails you daily asking you a yes or no question about whether you followed through on a habit you want to establish. If you say "yes" for 21 days in a row, you've done it. Skip a day, and start over at day 1. Join a team or go solo. Invite friend to keep you accountable." />


<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<meta name="viewport" content="width=device-width" />
<title>HabitForge - Simple Accountability. Positive Change.</title>
<link rel="stylesheet" type="text/css" href="/home/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/home/css/layout.css" />


<link rel="stylesheet" type="text/css" href="/home/css/jqueryslidemenu.css" />
<link rel="stylesheet" type="text/css" href="/home/css/quicksand.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/elements.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/widget.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/hoverdir.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/blog.css"/>
<link rel="stylesheet" type="text/css" href="/home/style_test.css" />
<link rel="stylesheet" type="text/css" href="/home/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="/home/css/habitforge_custom.css" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css'>

<!-- fonts for the new iphone-hand home page design -->
<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<!-- BORROWING FROM APP METRO FOR THE BUTTONS -->
<link href="/assets/css/metro.css" rel="stylesheet" />


<link href="/assets/css/hf_custom.css" rel="stylesheet" />

<link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" /><!-- ToolTips (tipsy) -->

<script type="text/javascript" src="/home/js/jquery-1.8.1.js"></script>
<script type="text/javascript" src="/home/js/jqueryslidemenu.js"></script>
<script type="text/javascript" src="/home/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/home/js/portfolio_sortable.js"></script>
<script type="text/javascript" src="/home/js/quicksand.js"></script>
<script type="text/javascript" src="/home/js/custom.js"></script>
<script type="text/javascript" src="/home/js/jquery.hoverdir.js"></script>
<script type="text/javascript">
//Image Hover
jQuery(document).ready(function(){
jQuery(function() {
  jQuery('#list > li').hoverdir();
});
});
</script>


<script type="text/javascript">
$(document).ready(function(){
    $(".pane .delete").click(function(){
        $(this).parents(".pane").animate({ opacity: 'hide' }, "slow");
    });
});
</script>

<script type="text/javascript"> 
$(document).ready(function(){
        $(".slidingDiv").hide();
        $(".show_hide").show();
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
});
</script>


<!-- START bxSlider -->
<!-- bxSlider Javascript file -->
<script type="text/javascript" src="/home/js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="/home/css/jquery.bxslider.css" rel="stylesheet" />
<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
    pager: false,
    mode: 'fade',
    auto: false,
    pause: 6500,
    ticker: false,
    adaptiveHeight: false
  });
});

$(document).ready(function(){
  $('.bxslider_teaser').bxSlider({
    pager: false,
    mode: 'fade',
    auto: true,
    pause: 2000,
    ticker: false,
    adaptiveHeight: false,
    controls: false
  });
});
</script>
<!-- END bxSlider -->



 <script type="text/javascript">
//   var uvOptions = {};
//   (function() {
//     var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
//     uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/aWPKLvqP89KQQwa98KVxWw.js';
//     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
//   })();
 </script>




<!-- A tab to launch the Classic Widget -->
<script>
  // UserVoice = window.UserVoice || [];
  // UserVoice.push(['showTab', 'classic_widget', {
  //   mode: 'full',
  //   primary_color: '#cc6d00',
  //   link_color: '#007dbf',
  //   default_mode: 'support',
  //   forum_id: 137021,
  //   tab_label: 'Help and Feedback',
  //   tab_color: '#ff4000',
  //   tab_position: 'middle-left',
  //   tab_inverted: true
  // }]);
</script>

<!-- UMM... this is actually GetSatisfaction, not UserVoice
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "habitforge";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "question";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
-->

<!-- LIKE IN ROSTINATOR -->
<!-- TOGGLE SHOW/HIDE A DIV FROM SCRATCH, EASY !!! -->
<script language="javascript" type="text/javascript">


function toggle_show(id) {
    var div = document.getElementById(id);
    div.style.display = "block";
}


function toggle_show_hide(id) {
    var div = document.getElementById(id);
    div.style.display = ( div.style.display == "none") ? "block" : "none";
}
// example usage:
//      <a href="#undefined" onclick="toggle_show_hide('rebuild_roster_form')" class="btn-add">Build Roster</a>
//
//      <div id="rebuild_roster_form" style="display:none;">
//        some content
//      <div>
</script>

<script language="javascript" type="text/javascript">
function popitup(url) {
  newwindow=window.open(url,'name','height=300,width=600');
  if (window.focus) {newwindow.focus()}
  return false;
}
function popitup_bigger1(url) {
  newwindow=window.open(url,'name','height=600,width=1000');
  if (window.focus) {newwindow.focus()}
  return false;
}

</script>


  <% if @production %>
    <!-- ShareThis-->  
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6f618717-8285-4c8c-b5c7-4f9e1d5e2a92", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
  <% end %>


  <script>
  function formSubmit(form_name)
  {
  document.getElementById(form_name).submit();
  }
  </script>

  <!-- LIKE IN ROSTINATOR -->
  <!-- TOGGLE SHOW/HIDE A DIV FROM SCRATCH, EASY !!! -->
  <script language="javascript" type="text/javascript">
  function toggle_show_hide(id) {
      var div = document.getElementById(id);
      div.style.display = ( div.style.display == "none") ? "block" : "none";
  }
  // example usage:
  //      <a href="#undefined" onclick="toggle_show_hide('rebuild_roster_form')" class="btn-add">Build Roster</a>
  //
  //      <div id="rebuild_roster_form" style="display:none;">
  //        some content
  //      <div>

  function toggle_show(id) {
      var div = document.getElementById(id);
      div.style.display = "block";
  }

  function toggle_hide(id) {
      var div = document.getElementById(id);
      div.style.display = "none";
  }
  </script>


  <script type='text/javascript' src='/javascripts/jquery.tipsy.js'></script><!-- ToolTips (tipsy) -->

</head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->



<!-- <body style="background-color:#333333;"> -->
<body>

<!--   <div id="spinner_page_load" style="display:none;"> -->
  <div id="spinner_page_load" >
      
    <div id="spinner_page_load_lightbox_white" class="white_overlay">
    </div>

    <div id="spinner_page_load_lightbox_white" class="white_content_v2">
      <center><img src="/images/spinner.gif"/></center>
    </div>

  </div>


  <!-- but really we just want the footer to be dark... make a large div for the rest -->
<!--   <div style="background-color:#ffffff;z-index:-9;"> -->


  <% if params[:account_removed] %>
    <div class="pane error">
      <h3>Your account has been removed.</h3>
    </div>
  <% end %>

  <!-- direct to fb
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  -->




  <!-- START DECIDE IF ONLY SHOW HABIT LIBRARY -->
  <% if params[:browse_recommended_habits] and current_user %>

    <div style="padding:20px;">
      <% if params[:program_id] %>
        <!-- 
        http://localhost:3000/goals?programs=1&browse_recommended_habits=1&program_id=2
        -->
        <%= render :partial => "layouts/habit_program" %>
      <% else %>
          <article>
              <%= render :partial => "layouts/habit_library_templates" %>
          </article>
      <% end %>
    </div>



  <% else %>

    <!-- Header Start -->

    <!-- THIS PUTS AN ORANGE LINE AT THE TOP OF THE SCREEN -->
    <section id="header_wrap">
    </section>


    <div style="min-width:360px;">

      <!-- Logo Start -->
      <div style="position:relative;float:left;width:40%;min-width:80px;max-width:300px;">
        <a href="/"><img src="/home/images/logos/HF-ETR-Logo-Header.png" alt="HabitForge logo" /></a>
      </div>
      <!-- LOGO END -->


      <div style="width:60%;position:relative;float:right;">
        <div style="width:50px;position:relative;min-width:50px;">
          &nbsp
        </div>
        <div style="width:350px;min-width:400px;position:relative;float:right;margin-top:0px;">
<!--         <div id="navcontainer" style="position:relative;float:right;margin-top:-10%;width:400px;min-width:400px;margin-right:-20px;background-color:#dddddd;"> -->
          <ul id="navlist">

            <!-- DEFAULT SETTING -->
            <% menu_link_class_about = "btn_orange_inactive" %>
            <% menu_link_class_login = "btn_orange_inactive" %>
            <% menu_link_class_signup = "btn_orange_active" %>

            <% if (request.url.include? '/user_session/new' or request.url.include? '/account')  %>
              <% menu_link_class_about = "btn_orange_inactive" %>
              <% menu_link_class_login = "btn_orange_active" %>
              <% menu_link_class_signup = "btn_orange_inactive" %>
            <% end %>

            <% if (request.url.include? '/about')  %>
              <% menu_link_class_about = "btn_orange_active" %>
              <% menu_link_class_login = "btn_orange_inactive" %>
              <% menu_link_class_signup = "btn_orange_inactive" %>
            <% end %>



            <li class="<%= menu_link_class_login %>" ><a href="/user_session/new?skip_intro=1" class="btn_orange">LOGIN</a></li>
            <li class="<%= menu_link_class_about %>" ><a href="#about" class="show_hide btn_orange">ABOUT</a></li>
            <li class="<%= menu_link_class_signup %>" ><a href="#" class="show_hide btn_orange">SIGN UP</a></li>


            <!--
            <li><a href="#browse_recommended_habits">Browse Habits</a></li>
            <li>
              <a href="#all_testimonials_anchor" onclick="toggle_show('all_testimonials')">
              Testimonials
              </a>
            </li>
            -->

          </ul>
        </div>
      </div>



    </div> <!-- end div top_header -->



    <div class="clear"></div>

    <!-- a blank spacer div that hovers over the iphone image portion of the desk jpeg -->
<!--     <div class="one_third" style="padding-left:0px;margin-left:0px;margin-top:0px;width:235px;min-width:235px;max-width:235px;height:350px;">
 -->
    <div class="one_third" style="padding-left:0px;margin-left:0px;margin-top:0px;width:350px;min-width:350px;max-width:350px;height:350px;">
<!--       <img id="img_iphone" name="img_iphone" src="/home/images/iPhone.png" style="position:relative;margin-left:30px;z-index:100;"/> -->
  &nbsp

    </div> <!-- end <div class="one_third"> -->


    <div class="one_third" style="padding-left:25px;margin-top:-25px;width:340px;min-width:334px;">

      <div class="signup_header_text">

        <div id="div_keep_together_signup_header_text_description" style="height:320px;width:340px;background-color:none;display:block;">
          <div style="margin-top:40px;padding-top:30px;">
          <span style="font-size:3.0em;margin-left:-20px;color:#ff3300;">Change your habits,</span>
          </div>

          <div style="margin-top:10px;">
          <span style="font-size:3.0em;margin-top:10px;padding-left:30px;margin-left:-20px;color:#cc3300;">change your life!</span>
          </div>

          <div style="margin-top:40px;padding-top:0px;">
          <span style="margin-left:20px;font-size:1.5em;color:#333366;">
          This simple program helps you build
          </span>
          </div>

          <div style="margin-top:5px;">
          <span style="margin-left:20px;font-size:1.5em;color:#333366;">
          habits that will improve your life.
          </span>
          </div>

          <div style="margin-top:28px;">
          <span style="margin-left:20px;font-color:#000000;font-size:1.2em;color:#000000;">
          We'll send you a daily reminder of your goals
          </span>
          </div>

          <div style="">
          <span style="margin-left:20px;font-color:#000000;font-size:1.2em;color:#000000;">
          and help you keep track of your progress.
          </span>
          </div>


          <div style="margin-top:45px;width:400px;">
          <span style="margin-left:-20px;font-color:#000000;font-size:1.2em;color:#000000;">
          Join us in logging 1,315,242 days of completed goals.
          </span>
          </div>


        </div> <!-- end div_keep_together_signup_header_text_description -->





        <div style="padding-bottom:40px;">

        </div>


      </div> <!-- end signup_header_text -->


    </div> <!-- end <div class="one_third"> -->




    <div class="one_third_last" style="float:left;">


      <div style="float:left;display:block;width:350px;min-width:350px;margin-top:25px;" id="div_signup_box" name="div_signup_box">
        <span style="position:absolute;margin-top:10px;padding-left:50px;font-family: 'Gochi Hand', cursive;color:#ffffff;font-size:3.0em;">
          <a id="signup_box_1" ></a>
          Start Today!
        </span>
        <span style="float:right;margin-right:20px;margin-top:-30px;">
          <img src="/home/images/OptIn-Box.png" />
        </span>


        <span style="position:absolute;float:right;margin-top:80px;padding-left:45px;font-family:LatoBold;text-align:center;color:#383838;font-size:1.1em;line-height:1.4em;">


        Set your first goal FREE
        <br>
        with daily motivation
        <br>
        and email reminders.
        <br>
        <br>
        Sign up with...
        <br>

<!--                     <a id='test_tipsy_1'  title="tipsy test" >test the tipsy</a>
                    <script type='text/javascript'>
                        $('#test_tipsy_1').tipsy();
                    </script>
 -->

  <!--       <img src="/home/images/Button-Facebook.png" />  -->
        <a style="margin-left:15px;margin-top:6px;" href="#" id='signup_facebook' title="Coming Soon... (for now, please register with your email address)" rel="signup_facebook" onmouseover="this.getElementById('image_button_signup_facebook').src='/home/images/Button-Facebook-Hover.png'" onmouseout="this.getElementById('image_button_signup_facebook').src='/home/images/Button-Facebook.png'">
        </a>
        <script type='text/javascript'>
            $('#signup_facebook').tipsy();
        </script>

  <!--       <img src="/home/images/Button-Google.png" />  -->
        <a style="margin-left:115px;margin-top:-28px;" href="#" id='signup_google' title="Coming Soon... (for now, please register with your email address)" rel="signup_google" onmouseover="this.getElementById('image_button_signup_google').src='/home/images/Button-Google-Hover.png'" onmouseout="this.getElementById('image_button_signup_google').src='/home/images/Button-Google.png'">
        </a>
        <script type='text/javascript'>
            $('#signup_google').tipsy();
        </script>

        OR
        <br>
        <form id="form_signup1" name="form_signup1" action="/quicksignup_v2">
          <input type="text" name="email" placeholder="Enter your email for a free account..." style="width:220px;"/>
          <br>
          <br>
          <a style="margin-left:40px;" href="#" rel="signup_email" onmouseover="this.getElementById('image_button_signup_email').src='/home/images/Button-SignUp-Hover.png'" onmouseout="this.getElementById('image_button_signup_email').src='/home/images/Button-SignUp.png'" onclick="toggle_show('spinner_page_load');formSubmit('form_signup1')">
          </a>
          <input type="hidden" name="subscribe_etr" value=1> 
          <input type="hidden" name="form_submitted" value=1>

          <% if retry_email_address %>
              <div class="pane error" style="margin-right:20px;color:red;">
                  <% if @email_blank == true or (@email_valid != nil and @email_valid == false) %>
                  Please enter a valid email address.
                  <% end %>

                  <% if @email_duplicate %>
                  There is already a habitforge account with that email address. 
                  <br>
                  If it is yours, you may <a href="/users/login">log in here</a> or you may sign up with a new address above.
                  <% end %>
              </div>
          <% end %>
        </form>
        </span>
      </div><!-- end div_signup_box -->



    </div><!-- end <div class="one_third_last"> -->


    <div class="signup_header" style="margin-top:20px;">
      <!-- this gives you the desk background image -->
    </div>


    <!-- Footer End -->

  <% end %>   <!-- END DECIDE IF ONLY SHOW HABIT LIBRARY -->















  <!-- ### START GOOGLE ANALYTICS ### --> 
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10841267-1");
  pageTracker._trackPageview();
  } catch(err) {}
  </script>
  <!-- ### END GOOGLE ANALYTICS ### --> 


  <% if session[:production] %>
  <!-- ### START CRAZY EGG HEAT MAP -->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/7909.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
  <!-- ### END CRAZY EGG HEAT MAP -->
  <% end %>


<!-- HIDE THE SPINNER NOW THAT THE PAGE IS DONE LOADING -->
<script>
toggle_hide('spinner_page_load');
</script>



</body>
</html>
