<% 
if `uname -n`.strip == 'adv.adventurino.com'
  #### HABITFORGE SETTINGS ON VPS
  production = true
else
  production = false
end

### GET DATE NOW ###
jump_forward_days = 0
tnow = Time.now
tnow_Y = tnow.strftime("%Y").to_i #year, 4 digits
tnow_m = tnow.strftime("%m").to_i #month of the year
tnow_d = tnow.strftime("%d").to_i #day of the month
tnow_H = tnow.strftime("%H").to_i #hour (24-hour format)
tnow_M = tnow.strftime("%M").to_i #minute of the hour
dnow = Date.new(tnow_Y, tnow_m, tnow_d) + jump_forward_days
d3days_ago = dnow - 3
######
@cn = controller.controller_name 
@ca = controller.action_name 


if @cn == "user_sessions" and @ca == "new" and !params[:skip_intro]
  landing_page = true
else
  landing_page = false
end


### sfm = sales funnel method
if params[:sfm]
  session[:sfm] = params[:sfm]
end
if session[:sfm] == nil
  session[:sfm] = "v2"
end 


#### QUOTES
random_quote_thought = "Seek the small improvement one day at a time. That’s the only way it happens — and when it happens, it lasts."
random_quote_author = "Coach John Wooden"
if current_user
    random_quote = current_user.get_quote_random
    if random_quote
        random_quote_thought = random_quote.thought
        random_quote_author = random_quote.author
    end
end 
%>







<!-- ################################################## -->
<!-- ################################################## -->
<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.2.2
Version: 1.1
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>HabitForge | Simple Accountability. Positive Change.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/metro.css" rel="stylesheet" />
  <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/style_responsive.css" rel="stylesheet" />
  <link href="/assets/css/style_default.css" rel="stylesheet" id="style_color" />
  <link rel="stylesheet" type="text/css" href="/assets/gritter/css/jquery.gritter.css" />
  <link rel="stylesheet" type="text/css" href="/assets/uniform/css/uniform.default.css" />
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-daterangepicker/daterangepicker.css" />
  <link href="/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
  <link href="/assets/jqvmap/jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="favicon.ico" />




  <!-- ################################################## -->
  <!-- ################################################## -->
  <!-- START CUSTOM SGJ CSS -->
  <!-- ################################################## -->
  <link rel="/stylesheet" href="stylesheets/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" /><!--Lightbox Styling-->
  <link href="/stylesheets/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="all" /><!--Auto Complete -->

  <!-- SOME BUTTONS -->
  <style type="text/css">
  .signup_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
  }.signup_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
  }.signup_button:active {
    position:relative;
    top:1px;
  }
  /* This imageless css button was generated by CSSButtonGenerator.com */
  </style>

  <style type="text/css">
  .start_now {
          -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
          -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
          box-shadow:inset 0px 1px 0px 0px #fff6af;
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
          background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
          background-color:#ffec64;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #ffaa22;
          display:inline-block;
          color:#333333;
          font-family:arial;
          font-size:15px;
          font-weight:bold;
          padding:6px 24px;
          text-decoration:none;
          text-shadow:1px 1px 0px #ffee66;
  }.start_now:hover {
          background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
          background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
          background-color:#ffab23;
  }.start_now:active {
          position:relative;
          top:1px;
  }
  /* This imageless css button was generated by CSSButtonGenerator.com */
  </style>
  <!-- ################################################## -->
  <!-- END CUSTOM SGJ CSS -->
  <!-- ################################################## -->
  <!-- ################################################## -->





  <!-- ################################################## -->
  <!-- ################################################## -->
  <!-- START CUSTOM SGJ JAVASCRIPT -->
  <!-- ################################################## -->

  <!-- ShareThis -->
  <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'6f618717-8285-4c8c-b5c7-4f9e1d5e2a92'});</script>

  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script><!--Jquery Form Validation-->

  <script type="text/javascript" src="/javascripts/jquery.autocomplete.js"></script><!--Simple Auto Complete-->


  <script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow=window.open(url,'name','height=300,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
  }
  function popitup_bigger1(url) {
    newwindow=window.open(url,'name','height=300,width=1000');
    if (window.focus) {newwindow.focus()}
    return false;
  }

  </script>





<!-- ############ USERVOICE START  ########-->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/aWPKLvqP89KQQwa98KVxWw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 137021,
  tab_label: 'Help and Feedback',
  tab_color: '#ff4000',
  tab_position: 'middle-right',
  tab_inverted: true
}]);
</script>

<!-- ############ USERVOICE END  ########-->





  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- ################################################## -->
  <!-- END CUSTOM SGJ JAVASCRIPT -->
  <!-- ################################################## -->
  <!-- ################################################## -->


</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">



  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="container-fluid" style="background-color:#fff;">


        <!-- ############################################# -->
        <!-- ############################################# -->
        <!-- ############### START SGJ HF CUSTOM ALERTS -->
        <!-- ############################################# -->
        <noscript>
          <div class="alert alert-error" id="noscript-warning">
          <button class="close" data-dismiss="alert"></button>
          <strong>Please enable JavaScript!</strong> <%= @site_name %> works best with JavaScript enabled. Some features may not work properly without it!
          </div>
        </noscript>


        <% if current_user and current_user.is_admin and (params[:impersonate] or session[:impersonate]) %>
            <div class="alert alert-error" id="noscript-warning">
              <a href="users?impersonate=3>">Become Admin Again</a>
            </div>
        <% end %>

        <% if params[:account_removed] %>
            <div class="alert alert-error" id="noscript-warning">
            <button class="close" data-dismiss="alert"></button>
              Your account has been removed.
            </div>
        <% end %>

        <% if params[:confirmed_address_token] and params[:user_id] %>
          <%
          begin
            confirm_user = User.find(params[:user_id].to_i)
            if confirm_user
              if params[:confirmed_address_token] == confirm_user.confirmed_address_token
                confirm_user.confirmed_address = 1
                confirm_user.save
                %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                  Your email address has been confirmed!
                </div>
                <%
              end
            end
          rescue
            %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                There was an error confirming your email address. Please contact support@habitforge.com so that we can unsubscribe you manually. Sorry for the inconvenience.
                </div>
            <%
            logger.error("sgj problem confirming user with id" + params[:user_id])
          end
          %>
        <% end %>


        <% if params[:unsubscribe] %>
          <%
          begin
            unsubscribe_user = User.find(params[:unsubscribe].to_i)
            if unsubscribe_user
              if params[:first_name] and (params[:first_name] == unsubscribe_user.first_name)
                unsubscribe_user.unsubscribed_from_promo_emails = 1
                unsubscribe_user.save
                %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                You have been unsubscribed from receiving any promotional emails from HabitForge.
                </div>
                <%
              end
            end
          rescue
            %>
            <div class="alert alert-error" id="noscript-warning">
            <button class="close" data-dismiss="alert"></button>
            There was an error unsubscribing you. Please contact support@habitforge.com so that we can unsubscribe you manually. Sorry for the inconvenience.
            </div>

            <%
            logger.error("sgj problem unsubscribing user with id" + params[:unsubscribe])
          end
          %>
        <% end %>

        <% if current_user and fully_logged_in and @ca != "edit" and (current_user.password_temp != nil and current_user.password_temp != "")
              if current_user.last_activity_date != current_user.dtoday
                current_user.last_activity_date = current_user.dtoday
                current_user.save
              end
          if current_user.goal_temp != nil and current_user.goal_temp == "" 
            if session[:sfm_virgin_need_to_email_temp_password] and session[:sfm_virgin_need_to_email_temp_password] == true %>

              <div class="alert alert-error" id="noscript-warning">
              <button class="close" data-dismiss="alert"></button>
                  You have a temporary password set of: <%= current_user.password_temp %> <a href="/account/edit">Please change it now!</a>
              </div>
            <% else %>
                <div class="alert alert-error" id="noscript-warning">
                    <button class="close" data-dismiss="alert"></button>
                      You are using the temporary password that was emailed to you. 
                      <% if session[:sfm_virgin_need_to_confirm_timezone] and session[:sfm_virgin_need_to_confirm_timezone] == true %>
                         <br>So that check-in and reminder emails come at the right time, <a href="/account/edit">Click here to set your time zone.</a>
                      <% end %>
                      <a href="/account/edit">Click here to set a new password.</a>
                </div>
              <% 
            end 
          end
        end 
        %>

        <!-- ############################################# -->
        <!-- ############### END SGJ HF CUSTOM ALERTS-->
        <!-- ############################################# -->
        <!-- ############################################# -->



        <!-- SGJ CUSTOM SPINNER OVERLAY -->
        <div id="spinner" class="spinner_overlay" style="display:none;">
        &nbsp
        </div>


        <!-- BEGIN LOGO -->
        <a class="brand" href="index.html">
        <img src="/home/images/logos/habitforge_logo.png" alt="logo" width="150px"/>
        </a>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <img src="/assets/img/menu-toggler.png" alt="" />
        </a>          
        <!-- END RESPONSIVE MENU TOGGLER -->        
        <!-- BEGIN TOP NAVIGATION MENU -->          
        <ul class="nav pull-right">
          <!-- BEGIN NOTIFICATION DROPDOWN -->  
          <li class="dropdown" id="header_notification_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-warning-sign"></i>
            <span class="badge">6</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <li>
                <p>You have 14 new notifications</p>
              </li>
              <li>
                <a href="javascript:;" onclick="App.onNotificationClick(1)">
                <span class="label label-success"><i class="icon-plus"></i></span>
                New user registered. 
                <span class="time">Just now</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                Server #12 overloaded. 
                <span class="time">15 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-warning"><i class="icon-bell"></i></span>
                Server #2 not respoding.
                <span class="time">22 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-info"><i class="icon-bullhorn"></i></span>
                Application error.
                <span class="time">40 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                Database overloaded 68%. 
                <span class="time">2 hrs</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                2 user IP blocked.
                <span class="time">5 hrs</span>
                </a>
              </li>
              <li class="external">
                <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li>
          <!-- END NOTIFICATION DROPDOWN -->
          <!-- BEGIN INBOX DROPDOWN -->
          <li class="dropdown" id="header_inbox_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-envelope-alt"></i>
            <span class="badge">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
              <li>
                <p>You have 12 new messages</p>
              </li>
              <li>
                <a href="#">
                <span class="photo"><img src="/assets/img/avatar2.jpg" alt="" /></span>
                <span class="subject">
                <span class="from">Lisa Wong</span>
                <span class="time">Just Now</span>
                </span>
                <span class="message">
                Vivamus sed auctor nibh congue nibh. auctor nibh
                auctor nibh...
                </span>  
                </a>
              </li>
              <li>
                <a href="#">
                <span class="photo"><img src="/assets/img/avatar3.jpg" alt="" /></span>
                <span class="subject">
                <span class="from">Richard Doe</span>
                <span class="time">16 mins</span>
                </span>
                <span class="message">
                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                auctor nibh...
                </span>  
                </a>
              </li>
              <li>
                <a href="#">
                <span class="photo"><img src="/assets/img/avatar1.jpg" alt="" /></span>
                <span class="subject">
                <span class="from">Bob Nilson</span>
                <span class="time">2 hrs</span>
                </span>
                <span class="message">
                Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                auctor nibh...
                </span>  
                </a>
              </li>
              <li class="external">
                <a href="#">See all messages <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li>
          <!-- END INBOX DROPDOWN -->
          <!-- BEGIN TODO DROPDOWN -->
          <li class="dropdown" id="header_task_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-tasks"></i>
            <span class="badge">5</span>
            </a>
            <ul class="dropdown-menu extended tasks">
              <li>
                <p>You have 12 pending tasks</p>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">New release v1.2</span>
                <span class="percent">30%</span>
                </span>
                <span class="progress progress-success ">
                <span style="width: 30%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Application deployment</span>
                <span class="percent">65%</span>
                </span>
                <span class="progress progress-danger progress-striped active">
                <span style="width: 65%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Mobile app release</span>
                <span class="percent">98%</span>
                </span>
                <span class="progress progress-success">
                <span style="width: 98%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Database migration</span>
                <span class="percent">10%</span>
                </span>
                <span class="progress progress-warning progress-striped">
                <span style="width: 10%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Web server upgrade</span>
                <span class="percent">58%</span>
                </span>
                <span class="progress progress-info">
                <span style="width: 58%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Mobile development</span>
                <span class="percent">85%</span>
                </span>
                <span class="progress progress-success">
                <span style="width: 85%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li class="external">
                <a href="#">See all tasks <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li>
          <!-- END TODO DROPDOWN -->
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img alt="" src="/assets/img/avatar.png" width="30px"/>
            <span class="username"><% if current_user %><%= current_user.first_name %><% else %>Log In<% end %> </span>
            <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
              <li><a href="calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
              <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
              <li class="divider"></li>
              <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->  
      </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
  </div>
  <!-- END HEADER -->
  <!-- BEGIN CONTAINER -->
  <div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <ul>
        <li>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler hidden-phone"></div>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>

        <li class="active start">
          <a href="index.html">
          <i class="icon-home"></i> 
          <span class="title">Dashboard</span>
          <span class="selected"></span>
          </a>          
        </li>








        <!-- #### START CUSTOM LIST MENU ITEMS SGJ #### -->

        <% if current_user %>

          <!-- TIME OF DAY GREETING -->
          <% if !fully_logged_in %>
          <li>
          <a href="/user_session/new?skip_intro=1">Good <%= current_user.time_period_of_day_right_now %> <%= current_user.first_name %>! &nbsp &nbsp Log In Here.</a>
          </li>
          <% end %>

          <!-- MESSAGES -->
          <li>
            <%
            @tomessages = Tomessage.find(:all, :conditions => "to_id = '#{current_user.id}' and unread = 1")
            if @tomessages
                if @tomessages.size > 0 %>
                 <a href="/tomessages"><font color="red"><%= @tomessages.size %></strong> New Messages</font></a>
                <% else %>
                  <a href="/tomessages">Messages (0 New)</font></a><%
                end
            end
            %>
          </li>
          <!-- END MESSAGES -->

        <% end ### end if current_user %>

        <!-- BLOG -->
        <li class="current"><a href="http://habitforge.wordpress.com" >Blog</a></li> 


        <% if !current_user %>
        <li 
          <% if @cn == "user_sessions" and @ca == "new" %> 
            class="current" 
          <% end %>
        ><%= link_to "About", "/" %></li>
        <li 
          <% if @cn == "users" and @ca == "new" %> 
            class="current" 
          <% end %>
        >
            <% if session[:sfm] == "v1" %>
          <a href="/users/new" class="start_now" >Sign up Free!</a>
            <% end %>
        </li>

        <li><%= link_to "Log In", new_user_session_path + "?skip_intro=1" %></li>

        <% else %>
          <li 
          <% if @cn == "goals" or @cn == "checkpoints" %> 
            class="current" 
          <% end %>
          >
          <%= link_to 'My Habits', '/goals' %></li>
          <li><a href="#" onclick="return popitup_bigger1('/support_points.html')" %>
                                SupportPoints (
            <% if !current_user.supportpoints %>
                                    0     
                                <% else %>
                                      <%= current_user.supportpoints %>
                                <% end %>
              )
              </a>
              <li 
              <% if @cn == "cheers" %> 
                class="current" 
              <% end %>
              ><%= link_to 'Friends', '/cheers' %></li>

                      <% 
                      if current_user and current_user.is_affiliate != nil and current_user.is_affiliate == 1 
                          affiliate = Affiliate.find(:first, :conditions => "email = '#{current_user.email}'")
                          if affiliate
                          %>
                              <li>
                                  <%=link_to 'Affiliate', '/affiliates/show/' + affiliate.id.to_s %>
                              </li>                    
                          <%
                          end
                      end
                      %>



                <% if current_user and current_user.is_a_coach != nil and current_user.is_a_coach == 1 and current_user.coach_id !=nil %>
                    <li>
                        <%=link_to 'Coaching', '/coaches/show/' + current_user.coach_id.to_s %>
                    </li>
                <% end %>
          <li 
          <% if @cn == "users" and @ca == "show" %> 
            class="current" 
          <% end %>
        >
        </li>

        <% if current_user and fully_logged_in%>
                <li>
                    <%= link_to "Account Info", account_path %>
                </li>
                <li>
                    <%= link_to "Log Out #{current_user.first_name}", user_session_path, :method => :delete %>            
                </li>
              <% end %>
          <% if current_user and current_user.is_admin %>
            <li><%= link_to 'Users', '/users' %></li>
            <li><%= link_to 'New user', new_account_path %></li>
            <li><%= link_to 'Affiliates', affiliates_path %></li>
            <li><%= link_to 'Coaches', coaches_path %></li>

            <p>
            (<%= pluralize User.logged_in.count, "user" %> currently logged in)
            </p> <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
          <% end %>
          <% #"Current Page: " + @cn + "/" + @ca  %>
        <% end %>




              <% 
              if (current_user or @ca == "autoupdate" or @ca == "autoupdatemultiple") and (session[:site_name] == "habitforge" or session[:sponsor] == "habitforge")
              %>
                <%
                date_expire = dnow
                    if current_user
                        date_expire = current_user.kill_ads_until
                    else
                          if @ca == "autoupdate"
                              if @checkpoint.goal != nil
                                  date_expire = @checkpoint.goal.user.kill_ads_until
                              end
                          end
                          if @ca == "autoupdatemultiple"
                              if @goal != nil
                                  date_expire = @goal.user.kill_ads_until
                              end
                          end
                    end
                    %>

                <%
                    if date_expire != nil
                    %>
                        <%
                        if dnow <= date_expire
                        %>
                            <br>
                            <li>
                            <%
                            if date_expire < (dnow + 60)
                            %>                                
                                    <%= link_to "<font color='red'>Renew Your Supporting Membership! (Expires #{date_expire.strftime("%b %d, %Y")})</font>", account_path %>
                            <%
                            end
                            %>
                            </li>
                
                        <%
                        end
                        %>
                    <%
                    end
                    %>


        <% 
        end 
        %>


        <!-- #### END CUSTOM LIST MENU ITEMS SGJ ####### -->















        <li class="has-sub">
          <a href="javascript:;">
          <i class="icon-bookmark-empty"></i> 
          <span class="title">UI Features</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a href="ui_general.html">General</a></li>
            <li><a href="ui_buttons.html">Buttons</a></li>
            <li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
            <li><a href="ui_typography.html">Typography</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="javascript:;">
          <i class="icon-table"></i>
          <span class="title">Form Stuff</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a href="form_layout.html">Form Layouts</a></li>
            <li><a href="form_component.html">Form Components</a></li>
            <li><a href="form_wizard.html">Form Wizard</a></li>
            <li><a href="form_validation.html">Form Validation</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="javascript:;">
          <i class="icon-th-list"></i> 
          <span class="title">Data Tables</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a href="table_basic.html">Basic Tables</a></li>
            <li><a href="table_managed.html">Managed Tables</a></li>
          </ul>
        </li>
        <li>
          <a href="grids.html">
          <i class="icon-th"></i>
          <span class="title">Grids & Portlets</span>
          </a>
        </li>
        <li class="has-sub">
          <a href="javascript:;">
          <i class="icon-map-marker"></i>
          <span class="title">Maps</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a href="maps_google.html">Google Maps</a></li>
            <li><a href="maps_vector.html">Vector Maps</a></li>
          </ul>
        </li>
        <li>
          <a href="charts.html">
          <i class="icon-bar-chart"></i>
          <span class="title">Visual Charts</span>
          </a>  
        </li>
        <li>
          <a href="calendar.html">
          <i class="icon-calendar"></i>
          <span class="title">Calendar</span>
          </a>
        </li>
        <li>
          <a href="gallery.html">
          <i class="icon-camera"></i>
          <span class="title">Gallery</span>
          </a>
        </li>
        <li class="has-sub">
          <a href="javascript:;">
          <i class="icon-briefcase"></i>
          <span class="title">Extra</span>
          <span class="arrow"></span>
          </a>
          <ul class="sub">
            <li><a href="extra_profile.html">User Profile</a></li>
            <li><a href="extra_faq.html">FAQ</a></li>
            <li><a href="extra_search.html">Search Results</a></li>
            <li><a href="extra_invoice.html">Invoice</a></li>
            <li><a href="extra_pricing_table.html">Pricing Tables</a></li>
            <li><a href="extra_404.html">404 Page</a></li>
            <li><a href="extra_500.html">500 Page</a></li>
            <li><a href="extra_blank.html">Blank Page</a></li>
          </ul>
        </li>
        <li>
          <a href="login.html">
          <i class="icon-user"></i>
          <span class="title">Login Page</span>
          </a>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->






    <!-- BEGIN PAGE -->
    <div class="page-content">
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
          <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            <div class="color-panel hidden-phone">
              <div class="color-mode-icons icon-color"></div>
              <div class="color-mode-icons icon-color-close"></div>
              <div class="color-mode">
                <p>THEME COLOR</p>
                <ul class="inline">
                  <li class="color-black current color-default" data-style="default"></li>
                  <li class="color-blue" data-style="blue"></li>
                  <li class="color-brown" data-style="brown"></li>
                  <li class="color-purple" data-style="purple"></li>
                  <li class="color-white color-light" data-style="light"></li>
                </ul>
                <label class="hidden-phone">
                <input type="checkbox" class="header" checked value="" />
                <span class="color-mode-label">Fixed Header</span>
                </label>              
              </div>
            </div>
            <!-- END BEGIN STYLE CUSTOMIZER -->     
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->   
            <h3 class="page-title">
              Dashboard
              <small>statistics and more</small>
            </h3>
            <ul class="breadcrumb">
              <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a> 
                <span class="icon-angle-right"></span>
              </li>
              <li><a href="#">Dashboard</a></li>
              <li class="pull-right no-text-shadow">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                  <i class="icon-calendar"></i>
                  <span></span>
                  <i class="icon-angle-down"></i>
                </div>
              </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
          </div>
        </div>
        <!-- END PAGE HEADER-->
        <div id="dashboard">
          <!-- BEGIN DASHBOARD STATS -->
          <div class="row-fluid">
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
              <div class="dashboard-stat blue">
                <div class="visual">
                  <i class="icon-comments"></i>
                </div>
                <div class="details">
                  <div class="number">
                    1349
                  </div>
                  <div class="desc">                  
                    New Feedbacks
                  </div>
                </div>
                <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>            
              </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
              <div class="dashboard-stat green">
                <div class="visual">
                  <i class="icon-shopping-cart"></i>
                </div>
                <div class="details">
                  <div class="number">549</div>
                  <div class="desc">New Orders</div>
                </div>
                <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>            
              </div>
            </div>
            <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
              <div class="dashboard-stat purple">
                <div class="visual">
                  <i class="icon-globe"></i>
                </div>
                <div class="details">
                  <div class="number">+89%</div>
                  <div class="desc">Brand Popularity</div>
                </div>
                <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>            
              </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
              <div class="dashboard-stat yellow">
                <div class="visual">
                  <i class="icon-bar-chart"></i>
                </div>
                <div class="details">
                  <div class="number">12,5M$</div>
                  <div class="desc">Total Profit</div>
                </div>
                <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>            
              </div>
            </div>
          </div>
          <!-- END DASHBOARD STATS -->
          <div class="clearfix"></div>
          <div class="row-fluid">
            <div class="span6">
              <!-- BEGIN PORTLET-->
              <div class="portlet solid bordered light-grey">
                <div class="portlet-title">
                  <h4><i class="icon-bar-chart"></i>Site Visits</h4>
                  <div class="tools">
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                      <a href="javascript:;" class="btn mini">Users</a>
                      <a href="javascript:;" class="btn mini active">Feedbacks</a>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div id="site_statistics_loading">
                    <img src="/assets/img/loading.gif" alt="loading" />
                  </div>
                  <div id="site_statistics_content" class="hide">
                    <div id="site_statistics" class="chart"></div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET-->
            </div>
            <div class="span6">
              <!-- BEGIN PORTLET-->
              <div class="portlet solid light-grey bordered">
                <div class="portlet-title">
                  <h4><i class="icon-bullhorn"></i>Activities</h4>
                  <div class="tools">
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                      <a href="javascript:;" class="btn blue mini active">Users</a>
                      <a href="javascript:;" class="btn blue mini">Orders</a>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div id="site_activities_loading">
                    <img src="/assets/img/loading.gif" alt="loading" />
                  </div>
                  <div id="site_activities_content" class="hide">
                    <div id="site_activities" style="height:100px;"></div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET-->
              <!-- BEGIN PORTLET-->
              <div class="portlet solid bordered light-grey">
                <div class="portlet-title">
                  <h4><i class="icon-signal"></i>Server Load</h4>
                  <div class="tools">
                    <div class="btn-group pull-right" data-toggle="buttons-radio">
                      <a href="javascript:;" class="btn red mini active">
                      <span class="hidden-phone">Database</span>
                      <span class="visible-phone">DB</span></a>
                      <a href="javascript:;" class="btn red mini">Web</a>
                    </div>
                  </div>
                </div>
                <div class="portlet-body">
                  <div id="load_statistics_loading">
                    <img src="/assets/img/loading.gif" alt="loading" />
                  </div>
                  <div id="load_statistics_content" class="hide">
                    <div id="load_statistics" style="height:108px;"></div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET-->
            </div>
          </div>


        </div>
      </div>
      <!-- END PAGE CONTAINER-->    
    </div>
    <!-- END PAGE -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="footer">
    2013 &copy; Metronic by keenthemes.
    <div class="span pull-right">
      <span class="go-top"><i class="icon-angle-up"></i></span>
    </div>
  </div>
  <!-- END FOOTER -->
  <!-- BEGIN JAVASCRIPTS -->
  <!-- Load javascripts at bottom, this will reduce page load time -->
  <script src="/assets/js/jquery-1.8.3.min.js"></script> 
  <!--[if lt IE 9]>
  <script src="/assets/js/excanvas.js"></script>
  <script src="/assets/js/respond.js"></script>  
  <![endif]-->  
  <script src="/assets/breakpoints/breakpoints.js"></script>   
  <script src="/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>  
  <script src="/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.blockui.js"></script> 
  <script src="/assets/js/jquery.cookie.js"></script>
  <script src="/assets/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>  
  <script src="/assets/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
  <script src="/assets/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="/assets/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
  <script src="/assets/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
  <script src="/assets/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
  <script src="/assets/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>  
  <script src="/assets/flot/jquery.flot.js"></script>
  <script src="/assets/flot/jquery.flot.resize.js"></script>
  <script type="text/javascript" src="/assets/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/assets/uniform/jquery.uniform.min.js"></script> 
  <script type="text/javascript" src="/assets/js/jquery.pulsate.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-daterangepicker/daterangepicker.js"></script>  
  <script src="/assets/js/app.js"></script>        
  <script>
    jQuery(document).ready(function() {   
      App.setPage("index");  // set current page
      App.init(); // init the rest of plugins and elements
    });
  </script>
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
