<% 
@production = true
if `uname -n`.strip == 'adv.adventurino.com'
  #### HABITFORGE SETTINGS ON VPS
  @production = true
else
  @production = false
end

### GET DATE NOW ###
jump_forward_days = 0
tnow = Time.now
tnow_Y = tnow.strftime("%Y").to_i #year, 4 digits
tnow_m = tnow.strftime("%m").to_i #month of the year
tnow_d = tnow.strftime("%d").to_i #day of the month
tnow_H = tnow.strftime("%H").to_i #hour (24-hour format)
tnow_M = tnow.strftime("%M").to_i #minute of the hour
dnow = Date.new(tnow_Y, tnow_m, tnow_d) + jump_forward_days
d3days_ago = dnow - 3
######
@cn = controller.controller_name 
@ca = controller.action_name 


daterangepicker = false
wysiwyg = false
if (@cn == "programs" or @cn == "messages") and (@ca == "edit" or @ca == "show" or @ca == "create")
  wysiwyg = true
  daterangepicker = true
end

if @cn == "tomessages" and @ca == "new"
  wysiwyg = true
end

@new_goal_view = false
if @cn == "goals" and (@ca == "new")
  @new_goal_view = true
end

### this kicks in if they try to save a new habit w/out a response question (treat view as new)
if @cn == "goals" and @goal and @goal.response_question == ""
  @new_goal_view = true
end

# if @cn == "goals" and @goal and (@goal.response_question == nil or @goal.response_question == "")
#   @new_goal_view = true
# end
####################################
#### SET THE USER ID FOR URL STRINGS
the_user_id = "0"
if current_user 
  the_user_id = current_user.id.to_s
else
  if @ca == "autoupdate"
      the_user_id = @checkpoint.goal.user.id.to_s
  end
  if @ca == "autoupdatemultiple"
      the_user_id = @goal.user.id.to_s
  end
end
#### END SET THE USER ID FOR URL STRINGS
####################################





### sfm = sales funnel method
if params[:sfm]
  session[:sfm] = params[:sfm]
end
if session[:sfm] == nil
  session[:sfm] = "v2"
end 


#### QUOTES
random_quote_thought = "Seek the small improvement one day at a time. That’s the only way it happens — and when it happens, it lasts."
random_quote_author = "Coach John Wooden"
if current_user
    random_quote = current_user.get_quote_random
    if random_quote
        random_quote_thought = random_quote.thought
        random_quote_author = random_quote.author
    end
end 


if 1 == 1 ### whether to hide all ads
  ######################  START ADVERTISING #########################
  show_ads = 0
  show_programs = 0
  if current_user or @ca == "autoupdate" or @ca == "autoupdatemultiple" 
    ### Don't advertise if they've paid to skip ads
    if current_user


        if (session[:site_name] == "habitforge" or session[:sponsor] == "habitforge") and (current_user.kill_ads_until == nil or dnow > current_user.kill_ads_until)


          ### When Gather demographic data: don't show ads when asking for info (they might think it's an ad or be too distracted)
          if @cn == "cheers" and (current_user.yob == nil or current_user.gender == nil)
              show_ads = 0
              show_programs = 0
          else

              ### don't show ads if they just signed up and haven't yet added a goal
              all_active_goals = Goal.find(:all, :conditions => "user_id = #{current_user.id} and status != 'hold'")
              if all_active_goals.size > 0
                  show_ads = 1
                  show_programs = 1
              else
                  show_ads = 0
                  show_programs = 0
              end
          end

        else

            ### don't show programs if they just signed up and haven't yet added a goal
            all_active_goals = Goal.find(:all, :conditions => "user_id = #{current_user.id} and status != 'hold'")
            if all_active_goals.size > 0
                show_programs = 1
            end

        end



    else
        if @ca == "autoupdate"
            if (session[:site_name] == "habitforge" or session[:sponsor] == "habitforge") and (@checkpoint.goal.user.kill_ads_until == nil or dnow > @checkpoint.goal.user.kill_ads_until)
              show_ads = 1
              show_programs = 1
            end
        end
        if @ca == "autoupdatemultiple"
            if @goal != nil
                if (session[:site_name] == "habitforge" or session[:sponsor] == "habitforge") and (@goal.user.kill_ads_until == nil or dnow > @goal.user.kill_ads_until)
                  show_ads = 1
                  show_programs = 1
                end
            end
        end
    end #### END if current_user
  end ##### END if current_user or @ca == "autoupdate" or @ca == "autoupdatemultiple" 


  ### do not distract them with ads if already asking them to upgrade
  if params[:too_many_active_habits] or params[:feature_limit]
    show_ads = 0
    show_programs = 0
  end

  ######################  END ADVERTISING #########################
end
%>



<!-- 

  DOES IT LOOK TERRIBLE IN IE ???
  YOU LIKELY NEED TO TELL THE BROWSER
  TO GO FROM ITS DEFAULT "QUIRKS MODE"
  TO "STANDARDS MODE"
  http://stackoverflow.com/questions/10975107/force-to-use-internet-explorer-ie9-standards-document-mode

  <!DOCTYPE html>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

-->

<!-- ################################################## -->
<!-- ################################################## -->
<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 2.2.2
Version: 1.1
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>HabitForge | Simple Accountability. Positive Change.</title>

   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <!-- BEGIN GLOBAL MANDATORY STYLES -->
   <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<!--    <link href="/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/> -->
   <link href="/assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->


  <!-- fonts for the new iphone-hand home page design -->
  <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


   <!-- BEGIN PAGE LEVEL STYLES --> 
   <link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet" type="text/css"  />

   <% if daterangepicker %>

     <link href="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css" />

     <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />

     <link href="/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />

   <% end %>



   <!-- below are needed for pretty circles around stats -->

   <link href="/assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>
   <link href="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
   <!-- above are needed for pretty circles around stats -->




   <!-- DATE PICKER -->
   <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />
   <!-- END DATE PICKER -->




   <% if wysiwyg %>
   <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
   <% end %>


   <link href="/assets/plugins/glyphicons/css/glyphicons.css" rel="stylesheet" />
   <link href="/assets/plugins/glyphicons_halflings/css/halflings.css" rel="stylesheet" />
   <!-- END PAGE LEVEL STYLES -->




  <link rel="shortcut icon" href="favicon.ico" />








  <!-- ################################################## -->
  <!-- ################################################## -->
  <!-- START CUSTOM SGJ CSS -->
  <!-- ################################################## -->


  <link href="/assets/css/hf_custom.css" rel="stylesheet" />
  <link href="/stylesheets/prettyPhoto.css" rel="stylesheet" /><!--Lightbox Styling-->
<!--   <link href="/stylesheets/jquery.autocomplete.css" rel="stylesheet" /> --><!--Auto Complete -->
  <link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" /><!-- ToolTips (tipsy) -->

  <!-- ################################################## -->
  <!-- END CUSTOM SGJ CSS -->
  <!-- ################################################## -->
  <!-- ################################################## -->




</head>
<!-- END HEAD -->



<% gravatar_img = '<img src="/home/images/default_gravatar.png" width="30px"/>' %>
<% if current_user and current_user.show_gravatar and !secure_page? %>
  <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?d=mm" %>
  <% gravatar_img = '<img src="' + gravatar + '&s=30" />' %>
<% end %>




<!-- BEGIN BODY -->

<% if !@new_goal_view %>
<!--show a header-->
<body class="fixed-top">
<% else %>
<!--take it all the way to the top-->
<body>
<% end %>


<div id="spinner" class="spinner_overlay" style="display:none;">
  &nbsp
</div>

  <!--
  Initialize ToolTips (Tipsy)
  In the document on load
  https://github.com/jaz303/tipsy#readme
  -->
  <script type='text/javascript'>
   $(function() {
     $('a[rel=tipsy]').tipsy({fade: true, gravity: 'n'});
   });
  </script>



  <% if @new_goal_view %>
    <div style="position:relative;">
    <a style="" href="/goals">
  <!--         <img src="/home/images/logos/habitforge_logo_small.png" alt="logo"/> -->
    <img src="/home/images/logos/HF-ETR-Logo-Header_smaller.png" alt="HabitForge logo" /></a>
    </a>
    </div>
  <% else %>
  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="container-fluid">
        <!-- BEGIN LOGO -->
<!--         <a class="brand" href="index.html">
        <img src="assets/img/logo.png" alt="logo" />
        </a>
 -->
        <a class="brand" href="/goals">
<!--         <img src="/home/images/logos/habitforge_logo_small.png" alt="logo"/> -->
        <img src="/home/images/logos/HF-ETR-Logo-Header_smaller.png" alt="HabitForge logo" /></a>
        </a>
        <!-- END LOGO -->



        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <img src="/assets/img/menu-toggler.png" alt="" />
        </a>          
        <!-- END RESPONSIVE MENU TOGGLER -->        

        <!-- BEGIN TOP NAVIGATION MENU -->          
        <ul class="nav pull-right">



          <!-- BEGIN NOTIFICATION DROPDOWN -->  
<!--           <li class="dropdown" id="header_notification_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-warning-sign"></i>
            <span class="badge">6</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <li>
                <p>You have 14 new notifications</p>
              </li>
              <li>
                <a href="javascript:;" onclick="App.onNotificationClick(1)">
                <span class="label label-success"><i class="icon-plus"></i></span>
                New user registered. 
                <span class="time">Just now</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                Server #12 overloaded. 
                <span class="time">15 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-warning"><i class="icon-bell"></i></span>
                Server #2 not respoding.
                <span class="time">22 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-info"><i class="icon-bullhorn"></i></span>
                Application error.
                <span class="time">40 mins</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                Database overloaded 68%. 
                <span class="time">2 hrs</span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="label label-important"><i class="icon-bolt"></i></span>
                2 user IP blocked.
                <span class="time">5 hrs</span>
                </a>
              </li>
              <li class="external">
                <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li> -->
          <!-- END NOTIFICATION DROPDOWN -->


        

          <!-- MESSAGES -->




          <!-- END MESSAGES -->







          <% if current_user %>


          <!-- BEGIN INVITES DROPDOWN -->
          <% @invites = Invite.find(:all, :conditions => "(to_user_id = '#{current_user.id}' or to_email = '#{current_user.email}') and (accepted_on is null and declined_silently_on is null)", :order => "id DESC") %>
          <% if @invites and @invites.size > 0 %>
          <li class="dropdown" id="header_invites_bar">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-sitemap"></i>
            <% max = 3 %>
            <% invites_count = 0 %>
            <% if @invites and @invites.size > 0 %>
              <% invites_count = @invites.size %>
              <span class="badge"><%= invites_count %></span>
            <% end %>
            </a>
            <ul class="dropdown-menu extended inbox">
              <li>
                <% if invites_count > max %>
                  <p>Latest <%= max %> of <%= invites_count %> invites...</p>
                <% else %>
                  <p>You have <%= invites_count %> new invites</p>
                <% end %>       

              </li>
              <% if invites_count > max %>
                <li class="external">
                  <a href="/invites">See all invites <i class="m-icon-swapright"></i></a>
                </li>
              <% end %>

              <% if invites_count > 1 %>
                <li class="external">
                  <a href="/invites?mark_all_as_read=1">Ignore All <i class="m-icon-swapright"></i></a>
                </li>
              <% end %>


              <% counter = 0 %>
              <% @invites.each do |invite| %>
                <% if invite.purpose_join_team_id %>
                  <% team = Team.find(:first, :conditions => "id = #{invite.purpose_join_team_id}") %>
                <% end %>

                <% from_user = nil %>
                <% begin %>
                  <% from_user = User.find(invite.from_user_id) %>
                <% rescue %>
                  <% logger.info("sgj:_habitforge_app_metronic.erb:no user found for invite.id of " + invite.id.to_s) %>
                <% end %>
                <% if from_user and counter < max %>
                  <% counter += 1 %>
                  <li>
                    <a href="/invites/<%= invite.id %>">
                    <span class="photo">
                      <% from_gravatar_img = '<img src="/home/images/default_gravatar.png" width="30px"/>' %>
                      <% if from_user.show_gravatar and !secure_page? %>
                        <% from_gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(from_user.email.downcase)}?d=mm" %>
                        <% from_gravatar_img = '<img src="' + from_gravatar + '&s=30" />' %>
                      <% end %>
                      <%= from_gravatar_img %>
                    </span>
                    <span class="subject">
                    <span class="from"><%= from_user.first_name %></span>
<!--                     <span class="time">Just Now</span> -->
                    </span>
                    <span class="message"><% if team %>View invitation to join <%= team.name %>...<% end %>
                    </span>  
                    </a>
                  </li>
                <% end %> <!-- end if from_user and counter < max -->

              <% end %> <!-- end @invites.each do |invite| -->

              <li class="external">
                <a href="/invites">See all invites <i class="m-icon-swapright"></i></a>
              </li>
            </ul>



          </li>
          <% end %> <!-- end if no invites -->
          <!-- END INVITES DROPDOWN -->















          <!-- BEGIN INBOX DROPDOWN -->
          <li class="dropdown" id="header_inbox_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-envelope-alt"></i>
            <% max = 3 %>
            <% messages_count = 0 %>
            <% @tomessages = Tomessage.find(:all, :conditions => "to_id = '#{current_user.id}' and unread = 1", :order => "id DESC") %>
            <% if @tomessages and @tomessages.size > 0 %>
              <% messages_count = @tomessages.size %>
              <span class="badge"><%= messages_count %></span>
            <% end %>
            </a>
            <ul class="dropdown-menu extended inbox">
              <li>
                <% if messages_count > max %>
                  <p>Latest <%= max %> of <%= messages_count %> messages...</p>
                <% else %>
                  <p>You have <%= messages_count %> new messages</p>
                <% end %>       

              </li>
              <% if messages_count > max %>
                <li class="external">
                  <a href="/tomessages">See all messages <i class="m-icon-swapright"></i></a>
                </li>
              <% end %>

              <% if messages_count > 1 %>
                <li class="external">
                  <a href="/tomessages?mark_all_as_read=1">Mark all as read <i class="m-icon-swapright"></i></a>
                </li>
              <% end %>


              <% counter = 0 %>
              <% @tomessages.each do |message| %>
                <% from_user = nil %>
                <% begin %>
                  <% from_user = User.find(message.from_id) %>
                <% rescue %>
                  <% logger.info("sgj:_habitforge_app_metronic.erb:no user found for message.id of " + message.id.to_s) %>
                <% end %>
                <% if from_user and counter < max %>
                  <% counter += 1 %>
                  <li>
                    <a href="/tomessages/<%= message.id %>">
                    <span class="photo">
                      <% from_gravatar_img = '<img src="/home/images/default_gravatar.png" width="30px"/>' %>
                      <% if from_user.show_gravatar and !secure_page? %>
                        <% from_gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(from_user.email.downcase)}?d=mm" %>
                        <% from_gravatar_img = '<img src="' + from_gravatar + '&s=30" />' %>
                      <% end %>
                      <%= from_gravatar_img %>
                    </span>
                    <span class="subject">
                    <span class="from"><%= from_user.first_name %></span>
<!--                     <span class="time">Just Now</span> -->
                    </span>
                    <span class="message">
                    <%= message.subject[0...25] %>...
                    </span>  
                    </a>
                  </li>
                <% end %>

              <% end %>

              <li class="external">
                <a href="/tomessages">See all messages <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li>
          <!-- END INBOX DROPDOWN -->

          <% end ### end if current_user %>


          <!-- BEGIN TODO DROPDOWN -->
<!--           <li class="dropdown" id="header_task_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-tasks"></i>
            <span class="badge">5</span>
            </a>
            <ul class="dropdown-menu extended tasks">
              <li>
                <p>You have 12 pending tasks</p>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">New release v1.2</span>
                <span class="percent">30%</span>
                </span>
                <span class="progress progress-success ">
                <span style="width: 30%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Application deployment</span>
                <span class="percent">65%</span>
                </span>
                <span class="progress progress-danger progress-striped active">
                <span style="width: 65%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Mobile app release</span>
                <span class="percent">98%</span>
                </span>
                <span class="progress progress-success">
                <span style="width: 98%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Database migration</span>
                <span class="percent">10%</span>
                </span>
                <span class="progress progress-warning progress-striped">
                <span style="width: 10%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Web server upgrade</span>
                <span class="percent">58%</span>
                </span>
                <span class="progress progress-info">
                <span style="width: 58%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li>
                <a href="#">
                <span class="task">
                <span class="desc">Mobile development</span>
                <span class="percent">85%</span>
                </span>
                <span class="progress progress-success">
                <span style="width: 85%;" class="bar"></span>
                </span>
                </a>
              </li>
              <li class="external">
                <a href="#">See all tasks <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li> -->
          <!-- END TODO DROPDOWN -->
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <% if current_user %>
            <li class="dropdown user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= gravatar_img %>
              <span class="username" style="color:#000000;"><%= current_user.first_name %></span>
              <i class="icon-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/account?from_menu=1"><i class="icon-user"></i> My Account</a></li>

                <li><a href="https://habitforge.uservoice.com/knowledgebase/articles/223282-how-can-i-change-my-picture-my-avatar-" target="_blank"> Change My Picture</a></li>
<!--                 <li><a href="calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
                <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li> -->
                <li class="divider"></li>


                <% if fully_logged_in %>
                  <li>
                      <%= link_to "<i class='icon-off'></i> Log Out", user_session_path, :method => :delete %>            
                  </li>
                 
                <% else %>

                  <li>
                      <%= link_to "<i class='icon-off'></i> Log Out", user_session_path, :method => :delete %>            
                  </li>

                  <!--
                  used to ask them to log in fully but
                  we no longer have spots where logging in fully matters
                  and furthermore, asking them to log in will no longer work
                  since a user session variable gets set now which
                  fakes them being logged in anyway 

                  <li>
                    <a href="/user_session/new?skip_intro=1">
                      <i class="icon-off"></i>
                      Log In Fully
                    </a>
                  </li>             
                  -->
                <% end %>

              </ul>
            </li>
          <% end %>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>


        <div class="pull-right">


        </div>

        <!-- END TOP NAVIGATION MENU -->  
      </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
  </div>
  <!-- END HEADER -->
  <% end %>

  <!-- BEGIN HEADER -->
<!--   <div class="header navbar navbar-inverse"> -->
    <!-- BEGIN TOP NAVIGATION BAR -->
<!--     <div class="navbar-inner">
      <div class="container-fluid" style="background-color:#fff;"> -->

        <!-- BEGIN LOGO -->
<!--         <a class="brand" href="/">
        <img src="/home/images/logos/habitforge_logo_small.png" alt="logo"/>
        </a> -->
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
<!--         <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <img src="/assets/img/menu-toggler.png" alt="" />
        </a>          --> 
        <!-- END RESPONSIVE MENU TOGGLER -->        


        <!-- ####################### -->
        <!-- START RANDOM QUOTE -->
        <!-- <blockquote class="pull-right" style="width:75%;"> -->
<!--           <p>"<= random_quote_thought >" </p>
          <small><= random_quote_author ></small> -->
        <!-- </blockquote> -->
        <!-- END RANDOM QUOTE -->
        <!-- ####################### -->

        
<!--       </div>
    </div> -->
    <!-- END TOP NAVIGATION BAR -->
<!--   </div> -->
  <!-- END HEADER -->









  <!-- BEGIN CONTAINER -->
  <div class="page-container row-fluid">



    <% if !@new_goal_view %>
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->



      <%= render :partial => "layouts/menu", :locals => {:dnow => dnow} %>

      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <% end %>





    <!-- BEGIN PAGE -->
    <div class="page-content">
      <!-- BEGIN PAGE CONTAINER-->
      <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
          <div class="span12"> 



            <!-- ####################################### -->
            <!-- START PROGRAMS ADS TOP -->
            <% if show_programs == 1  %>
              <% if @production or !@production %>
                  <br>

<!--                   <a href="/goals/new?category=Writing&goal_template_text=reaching%20your%20word%20count%20goal"> -->

                    <% 
                    max = 3
                    random_number = 0
                    random_number = rand(max) + 1 #between 1 and max
                    %>

                    <% if random_number == 1 %>

                      <a href="/programs/1/view">
                      <img src="/home/images/banners/banner_slowcarb_728_x_90.png" /></a>

                    <% end %>

                    <% if random_number == 2 %>

                      <a href="/programs/13/view">
                      <img src="/home/images/banners/banner_slowcarb_728_x_90.png" /></a>


<!--                       <a href="/goals/new?template_user_parent_goal_id=143730">
                      <img src="/home/images/banners/banner_smartphone_728_x_90.png" /></a>
 -->
                    <% end %>

                    <% if random_number == 3 %>

                      <a href="/programs/13/view">
                      <img src="/home/images/banners/banner_burpee_728_x_90.png" /></a>

<!-- 
                      <a href="/goals/new?template_user_parent_goal_id=143729">
                      <img src="/home/images/banners/banner_water_728_x_90.png" /></a>
 -->
                    <% end %>

<!--                   <div class="dynamic_ads"> -->
                      <!-- render :partial => 'goals/dynamic_ads' -->
<!--                   </div> -->


                  <br>

              <% else %>
                  <br>
                  <div class="well" style="height:35px;">
                    When running in production mode you will see
                    <br>Some ad from google here ... about 35px w/ this div class.
                  </div>
              <% end %>

<!--               <a href="/goals?premium_more_info_hide_ads=1">Hide the ads...</a>
 -->            <% end %>            
            <!-- END GOOGLE ADS TOP -->
            <!-- ####################################### -->

          </div>
        </div>
        <!-- END PAGE HEADER-->



        <div>

        <!-- ############################################# -->
        <!-- ############################################# -->
        <!-- ############### START SGJ HF CUSTOM ALERTS -->
        <!-- ############################################# -->
        <noscript>
          <div class="alert alert-error" id="noscript-warning">
          <button class="close" data-dismiss="alert"></button>
          <strong>Please enable JavaScript!</strong> <%= @site_name %> works best with JavaScript enabled. Some features may not work properly without it!
          </div>
        </noscript>

<!--         < if request.env['HTTP_USER_AGENT'] =~ /MSIE/i >
          <div class="alert alert-error" id="noscript-warning">
          <button class="close" data-dismiss="alert"></button>
          <strong>IE users: Site not looking quite right? <a href="#" onclick="return popitup_bigger1('/ie.html')">Click for info.</a>
          </div>
        < end >
 -->
        <% if current_user and current_user.is_admin and (params[:impersonate] or session[:impersonate]) %>
            <div class="alert alert-error" id="noscript-warning">
              <a href="users?impersonate=3>">Become Admin Again</a>
            </div>
        <% end %>

        <% if params[:account_removed] %>
            <div class="alert alert-error" id="noscript-warning">
            <button class="close" data-dismiss="alert"></button>
              Your account has been removed.
            </div>
        <% end %>

        <% if params[:confirmed_address_token] and params[:user_id] %>
          <%
          begin
            confirm_user = User.find(params[:user_id].to_i)
            if confirm_user
              if params[:confirmed_address_token] == confirm_user.confirmed_address_token
                confirm_user.confirmed_address = 1
                confirm_user.save
                %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                  Your email address has been confirmed!
                </div>
                <%
              end
            end
          rescue
            %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                There was an error confirming your email address. Please contact support@habitforge.com so that we can unsubscribe you manually. Sorry for the inconvenience.
                </div>
            <%
            logger.error("sgj problem confirming user with id" + params[:user_id])
          end
          %>
        <% else %>
            <%
              ##################################################################
              ##################################################################
              ############# START USER IS NOT YET CONFIRMED               ######
              ### didn't really start checking until 20130611 ... so every account
              ### created prior to that was changed to confirmed_address = 1
              if ( current_user and !current_user.confirmed_address and current_user.number_of_active_habits > 0 and @cn == "goals")
                %>
                <div id="not_confirmed_lightbox_black" class="black_overlay">
                </div>

                <div id="not_confirmed_lightbox_close" class="div_close_button">

                   <a href="#undefined" onclick="toggle_show_hide('not_confirmed_lightbox_black');toggle_show_hide('not_confirmed_lightbox_white');toggle_show_hide('not_confirmed_lightbox_close');"><img src='/images/close.png' /></a>

                </div>

                <div id="not_confirmed_lightbox_white" class="white_content">

                  <div class="notice">
                      <h4>We've sent a confirmation email to your <%= current_user.email %> address. Please open that email and click the confirmation link inside!</h4>
                      <p>
                      As soon as you confirm your account, you can start getting email check-ins and reminders from HabitForge.
                      <br>
                      <br>
                      If the email isn't in your "Inbox", please check your "Junk/Spam" folder, and be sure to whitelist the habitforge.com domain so that your reminders come to your inbox!
                      <br>
                      <br>
                      If 10 minutes or so passes and you don't get a confirmation email, send an email to support@habitforge.com and we will either re-send or confirm your account manually.
                      </p>
                  </div>

                </div>
                  
              <%
              end
              ############# END USER IS NOT YET CONFIRMED                 ######
              ##################################################################
              ##################################################################
            %>
        <% end %>


        <% if params[:unsubscribe] %>
          <%
          begin
            unsubscribe_user = User.find(params[:unsubscribe].to_i)
            if unsubscribe_user
              if params[:first_name] and (params[:first_name] == unsubscribe_user.first_name)
                unsubscribe_user.unsubscribed_from_promo_emails = 1
                unsubscribe_user.save
                %>
                <div class="alert alert-error" id="noscript-warning">
                <button class="close" data-dismiss="alert"></button>
                You have been unsubscribed from receiving any promotional emails from HabitForge.
                </div>
                <%
              end
            end
          rescue
            %>
            <div class="alert alert-error" id="noscript-warning">
            <button class="close" data-dismiss="alert"></button>
            There was an error unsubscribing you. Please contact support@habitforge.com so that we can unsubscribe you manually. Sorry for the inconvenience.
            </div>

            <%
            logger.error("sgj problem unsubscribing user with id" + params[:unsubscribe])
          end
          %>
        <% end %>



        <% 
        if !@new_goal_view
        ##########################################################
        ######## START PASSWORD AND TIME ZONE SETTING ############
        if current_user and @ca != "edit" and @ca != "new" and (current_user.password_temp != nil and current_user.password_temp != "")
          if current_user.last_activity_date != current_user.dtoday
            current_user.last_activity_date = current_user.dtoday
            current_user.save
          end
          %>
          <div class="alert alert-error" id="noscript-warning">
          <button class="close" data-dismiss="alert"></button>
              <% if current_user.fb_id %>
                You'll probably want to log in using Facebook in the future, but you'll also have the option to log in with your email address and a password.
                <br>
              <% end %>
               You have a temporary password set of: <%= current_user.password_temp %> <a href="/account/edit">Please change it now!</a>
          </div>
        <%
        end 
        end
        ######## END PASSWORD AND TIME ZONE SETTING ############
        ########################################################




        ##################################################################
        ##################################################################
        ############# START ASK USER IF THEY WANT TO BE IN RANDOM $$ POOL ######
        if ( current_user and current_user.is_habitforge_supporting_member )
            if params[:opt_in_random_fire]
                if params[:opt_in_random_fire] == '1'
                    current_user.opt_in_random_fire = 1
                    current_user.save
                end
                if params[:opt_in_random_fire] == '0'
                    current_user.opt_in_random_fire = 0
                    current_user.save
                end
            end

            ### comment this out if you aren't putting "fire" in anymore
            #if current_user.opt_in_random_fire == "something that will never match"

            if current_user.opt_in_random_fire == nil
            %>

              <div id="premium_pool_lightbox_black" class="black_overlay">
              </div>

                      <div id="premium_pool_lightbox_close" class="div_close_button">

                         <a href="#undefined" onclick="toggle_show_hide('premium_pool_lightbox_black');toggle_show_hide('premium_pool_lightbox_white');toggle_show_hide('premium_pool_lightbox_close');"><img src='/images/close.png' /></a>

                      </div>

                  <div id="premium_pool_lightbox_white" class="white_content">

                    <div class="notice">
                        <h4>Money for nothing?</h4>
                        <p>
                        As a Premium Member, you have the option of being chosen randomly to "get paid" if people choose to use "Extra Accountability" by placing a wager on their success rate but don't reach that goal (for some people this is a big motivator). 
                        <br>
                        <br>
                        Do you wish to be part of this "random pool"? You don't have to do anything, but we don't want to bug you if you'd rather opt out.
                    
                        <h6><a href="/popupex<%= @goal.id %>.html" onclick="return popitup_bigger1('/fire_rules_opt_in.html')">Learn More...</a></h6>

                        <a href="/goals/?opt_in_random_fire=1"><font color="red">Sure, let me be in that "random pool"</font></a> or <a href="/goals/?opt_in_random_fire=0"><font color="red">I'd rather not, thanks</font></a>
                        </p>
                    </div>

                  </div>


            <%
            end
            %>
            
        <%
        end
        ############# END ASK USER IF THEY WANT TO BE IN RANDOM $$ POOL ######
        ##################################################################
        ##################################################################


        %>

        <!-- ############################################# -->
        <!-- ############### END SGJ HF CUSTOM ALERTS-->
        <!-- ############################################# -->
        <!-- ############################################# -->



        <!-- SGJ CUSTOM SPINNER OVERLAY -->
<!--         <div id="spinner" class="spinner_overlay" style="display:none;">
        &nbsp
        </div> -->




          <!-- TIME OF DAY GREETING -->
<!--           < if current_user and !fully_logged_in >
            <div class="alert">

            < if current_user.show_gravatar >
              < gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?d=mm" >
              <img src="<= gravatar >&s=30" />            
            < else >
              <img src="/home/images/default_gravatar.png" height="30px"/>
            < end >

            Good <= current_user.time_period_of_day_right_now > <= current_user.first_name >! For full account access, 
            <a href="/user_session/new?skip_intro=1">log in here.</a>
            </div>
          < end > -->

          <% if !production %>
          <%if @cn %><%= @cn %>:<% end %><% if @ca %><%= @ca %><% end %>
          <% end %>

          <%= yield %>          
        </div>





        <% if !@new_goal_view %>



        <div class="row-fluid" style="position-relative;width:100%;float:left;">
          <div class="span12"> 





          <% if current_user and current_user.sponsor == "habitforge" %>  


<!--               <a href="/goals?templates=1&popular=1&browse_recommended_habits=1#browse_recommended_habits" class="btn ">Habit Library (beta)</a>
 -->

              <!-- #if current_user.can_use_templates --> 
      <!--               <a href="/goals?templates=1&browse_recommended_habits=1&just_templates=1#browse_recommended_habits" class="btn yellow">Habit Templates</a> -->
              <!-- end -->


          <% end %>

          <% if current_user and current_user.can_make_templates %>
          
<!--               <a href="/programs/new" class="btn"> Start a Program</a>

              <a href="/goals/new?template_owner_is_a_template=1" class="btn"> Make a Template</a>
 -->
          <% end %>
<!-- 
          <br>
          <br> -->

          <% if !secure_page? %>
          <!-- RECOMMENDED READING -->

          <!-- THIS WIDGET GENERATED NO SALES!!! 
          <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fhabitforge-20%2F8010%2Fa74d1987-a49c-4d0a-80e5-ebfe03e1c7c4&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fhabitforge-20%2F8010%2Fa74d1987-a49c-4d0a-80e5-ebfe03e1c7c4&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
          -->


            <% if 1 == 1 and !params[:too_many_active_habits] and !params[:feature_limit]%>
            <center>
            <!-- START CAROUSEL -->
            <!-- This is the container for the carousel. -->
            <h2>Books We Love</h2>
            <div id = "carousel1" style="width:256px; height:200px;background:#FFF;">            
                <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
                <!-- You can place links around these images -->
                <a href="http://www.amazon.com/gp/product/1400069289/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1400069289&linkCode=as2&tag=habitforge-20" target="_blank"><img class = "cloudcarousel" src="/images/carousel_book_the_power_of_habit.jpg" alt="The Power of Habit" title="The Power of Habit" /></a> 


                <a href="http://www.amazon.com/gp/product/0767920082/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0767920082&linkCode=as2&tag=habitforge-20" target="_blank"><img class = "cloudcarousel" src="/images/carousel_book_this_year_i_will.jpg" alt="This Year I Will" title="This Year I Will" /></a> 

                <a href="http://www.amazon.com/gp/product/0307591549/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0307591549&linkCode=as2&tag=habitforge-20" target="_blank"><img class = "cloudcarousel" src="/images/carousel_book_the_happiness_advantage.jpg" alt="The Happiness Advantage" title="The Happiness Advantage" /></a>
                <!--<a href="http://www.amazon.com/gp/product/030746363X/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=030746363X&linkCode=as2&tag=habitforge-20" target="_blank"><img class = "cloudcarousel" src="/images/carousel_book_4_hour_body.jpg" alt="4 Hour Body" title="4 Hour Body" /></a>-->
            </div>
             
            <!-- Define left and right buttons. -->
            <!--
            <input id="left-but"  type="button" class="btn blue" value="<<" />
            <input id="right-but" type="button" class="btn blue" value=">>" />
            -->
             
            <!-- Define elements to accept the alt and title text from the images. -->
            <p id="title-text"></p>
            </center>
            <!-- END CAROUSEL -->
            <% end %>


          <% end %>



<!--         </div>
        <div class="span6">  -->














   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->
   <script src="/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>   
   <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->  
   <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <!--[if lt IE 9]>
   <script src="assets/plugins/excanvas.js"></script>
   <script src="assets/plugins/respond.js"></script>  
   <![endif]-->   
   <script src="/assets/plugins/breakpoints/breakpoints.js" type="text/javascript"></script>  
   <!-- IMPORTANT! jquery.slimscroll.min.js depends on jquery-ui-1.10.1.custom.min.js --> 
   <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="/assets/plugins/jquery.cookie.js" type="text/javascript"></script>
   <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
   <!-- END CORE PLUGINS -->
   <!-- BEGIN PAGE LEVEL PLUGINS -->


   <!--- THE BELOW ARE USED TO MAKE THE PRETTY CIRCLE AROUND THE STATS ... REMOVING ANY OF THIS WILL BREAK THAT -->
   <script src="/assets/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>   
   <script src="/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
   <script src="/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
   <script src="/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
   <script src="/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
   <script src="/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
   <script src="/assets/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
   <!--- THE ABOVE ARE USED TO MAKE THE PRETTY CIRCLE AROUND THE STATS ... REMOVING ANY OF THIS WILL BREAK THAT -->


   <script src="/assets/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
   
   <!--
   <script src="/assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-daterangepicker/date.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>-->     
   <script src="/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
   <!--

   -->
   <script src="/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>  


   <!-- DATE TIME DATE PICKER -->
   <script type="text/javascript" src="/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
   <!-- END DATE TIME DATE PICKER -->

   <!-- FORM ELEMENTS -->
   <script src="/assets/scripts/app.js"></script>
   <script src="/assets/scripts/form-components.js"></script>     
   <!-- END FORM ELEMENTS -->

   <% if wysiwyg %>
   <script type="text/javascript" src="/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
   <script type="text/javascript" src="/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
   <% end %>

   <% if daterangepicker %>
      <script src="/assets/scripts/ui-jqueryui.js"></script>  
   <% end %>

   <!-- toggle buttons on/off -->
   <script type="text/javascript" src="/assets/plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
   <!-- END toggle buttons on/off -->

   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/scripts/app.min.js" type="text/javascript"></script>
    <script src="/assets/scripts/index.js" type="text/javascript"></script>    

    <% if wysiwyg %>
    <script src="/assets/scripts/form-components.js" type="text/javascript"></script>     
    <% end %>

   <!-- END PAGE LEVEL SCRIPTS -->  
   <script>
      jQuery(document).ready(function() {    
         App.init(); // initlayout and core plugins
         FormComponents.init();
         Index.init();
         Index.initJQVMAP(); // init index page's custom scripts
         Index.initCalendar(); // init index page's custom scripts
         Index.initCharts(); // init index page's custom scripts
         Index.initChat();
         Index.initMiniCharts();
         Index.initDashboardDaterange();
         UIJQueryUI.init(); // needed for daterangepicker
         // Index.initIntro();
      });
   </script>
   <!-- END JAVASCRIPTS -->




  <!-- ################################################## -->
  <!-- ################################################## -->
  <!-- START CUSTOM SGJ JAVASCRIPT -->
  <!-- ################################################## -->


  <!-- javascript_include_tag :defaults -->


<!-- shim shiv so that IE can do HTML5 tags -->
<!-- as per http://stackoverflow.com/questions/9277143/googles-html5-shiv-not-rendering-placeholders -->

<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->


  <!--
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> 
  -->
  <!--Jquery Form Validation-->

  <!--
  <script type="text/javascript" src="/javascripts/jquery.autocomplete.js"></script>
  -->
  <!--Simple Auto Complete-->

  <!-- LIKE IN ROSTINATOR -->
  <!-- TOGGLE SHOW/HIDE A DIV FROM SCRATCH, EASY !!! -->
  <script language="javascript" type="text/javascript">
  function toggle_show_hide(id) {
      var div = document.getElementById(id);
      div.style.display = ( div.style.display == "none") ? "block" : "none";
  }
  // example usage:
  //      <a href="#undefined" onclick="toggle_show_hide('rebuild_roster_form')" class="btn-add">Build Roster</a>
  //
  //      <div id="rebuild_roster_form" style="display:none;">
  //        some content
  //      <div>

  function toggle_show(id) {
      var div = document.getElementById(id);
      div.style.display = "block";
  }

  function toggle_hide(id) {
      var div = document.getElementById(id);
      div.style.display = "none";
  }
  </script>

  <script language="javascript" type="text/javascript">
  function popitup(url) {
    newwindow=window.open(url,'name','height=300,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
  }
  function popitup_bigger1(url) {
    newwindow=window.open(url,'name','height=600,width=1000');
    if (window.focus) {newwindow.focus()}
    return false;
  }

  </script>



  <script src="/javascripts/jquery.prettyPhoto.min.js" type="text/javascript" charset="utf-8"></script><!--Check-In Lightbox Script (for closing the box)-->

  <script type='text/javascript' src='/javascripts/jquery.tipsy.js'></script><!-- ToolTips (tipsy) -->


  <!-- TEST Reload AJAX content for updating partials w/out Prototype (newer JS library) 
  http://www.tutorialspoint.com/cgi-bin/practice.cgi?file=jquery_109
  -->    
   <script type="text/javascript" language="javascript">
   //$(document).ready(function() {
   //   $("#driver").click(function(event){
   //       $('#stage').load('/.html');
   //   });
   //});

   // Or, refresh at intervals:
   // http://stackoverflow.com/questions/10539143/reloading-partial-in-an-rails-app
   // $(document).ready(function() {
   //  setInterval(function() {
   //    $('.dynamic').load('/controller_name/action_name');
   //    }, 3000);
   //  });


   // Refresh at intervals:
   // http://stackoverflow.com/questions/10539143/reloading-partial-in-an-rails-app
   // took this out b/c it was not enough bang for the buck for this usage
   // since people will see latest when refreshing page
   $(document).ready(function() {
    setInterval(function() {
      $('.dynamic_latest_public_checkins').load('goals/dynamic_latest_public_checkins/1');
      }, 100000);
    });


   // Refresh ads
   //$(document).ready(function() {
   // setInterval(function() {
   //   $('.dynamic_ads').load('goals/dynamic_ads/1');
   //   }, 10000);
   // });



    function reload_show_latest_mod_qty(mod_qty) {
      $('.dynamic_latest_public_checkins').load('goals/dynamic_latest_public_checkins/1?mod_qty='+mod_qty);
    }


    // function reload_handle_checker(handle) {
    //   $('.dynamic_handle_checker').load('users/dynamic_handle_checker/1?handle='+handle);
    // }
    function reload_handle_checker(handle) {
      // putting this in goals instead of users b/c
      // any link to "users" is being re-written dynamically as "accounts" and failing
      // YOU DO NEED THE SLASH IN "/goals" BELOW otherwise it will put "account" in front
      $('.dynamic_handle_checker').load('/goals/dynamic_handle_checker/1?handle='+handle);
    }




    function reload_catch_up_goal_id(id) {
        var div = document.getElementById(id);
        div.style.display = "block";
    }



    function add_quant_to_goal_then_reload_quants_div(quant_value,quant_datetime,goal_id) {
        //reload div
        //$('.goal_quants_manage_'+goal_id).load('/quants/goal_quants_manage/?goal_id='+goal_id);

        //var dateRaw = "Thu Jul 18 2019 07:00:00 GMT+0700 (SE Asia Standard Time)";
        //var dateRaw = quant_datetime;
        //var dateObject = new Date(dateRaw);
        //var dateObject = new Date(quant_datetime);
        //var dateFormatted = dateObject.toDateString();
        //var dateFormatted = dateObject.toISOString().substring(0, 10);
        //var dateFormatted = Date.parse(quant_datetime)
        //alert(dateFormatted); // 2019-07-18

        var uri_safe_quant_datetime = encodeURIComponent(quant_datetime);

        $('.goal_quants_manage_'+goal_id).load('/quants/goal_quants_manage/?quant_value='+quant_value+'&quant_datetime='+uri_safe_quant_datetime+'&goal_id='+goal_id);
    }


    function add_tag_to_template_then_reload_template_tags(tag_id,goal_id) {
        //reload div
        $('.manage').load('/template_tags/manage/1?add_tag_to_template=1&tag_id='+tag_id+'&goal_id='+goal_id);
    }
    function remove_tag_from_template_then_reload_template_tags(tag_id,goal_id) {
        //reload div
        $('.manage').load('/template_tags/manage/1?remove_tag_from_template=1&tag_id='+tag_id+'&goal_id='+goal_id);
    }


    function add_tag_to_program_then_reload_program_tags(tag_id,program_id) {
        //reload div
        $('.manage').load('/program_tags/manage/1?add_tag_to_program=1&tag_id='+tag_id+'&program_id='+program_id);
    }
    function remove_tag_from_program_then_reload_program_tags(tag_id,program_id) {
        //reload div
        $('.manage').load('/program_tags/manage/1?remove_tag_from_program=1&tag_id='+tag_id+'&program_id='+program_id);
    }

    function remove_message_then_reload_program_messages(message_id,program_id) {
      //reload div
      $('.div_program_'+program_id+'_manage_program_messages').load('/messages/manage_program_messages?program_id='+program_id+'&remove_message_id='+message_id);
    }

    function update_checkpoint_then_reload_goal_catch_up(goal_id, checkin_date, status, e0, f0, u) {
      $('.class_catch_up_on_checkpoints_goal_id_'+goal_id).load('/goals/catch_up_on_checkpoints/1?goal_id='+goal_id+'&date='+checkin_date+'&update_checkpoint_status='+status+'&e0='+e0+'&f0='+f0+'&u='+u);
    }



    function create_invite_then_reload_manage_team_invites(team_id, invite_name, invite_email, invite_body, invite_subject) {
      //reload div
      $('.div_team_'+team_id+'_manage_team_invites').load('/invites/manage_team_invites/1?team_id='+team_id+'&invite_name='+invite_name+'&invite_email='+invite_email+'&invite_body='+invite_body+'&invite_subject='+invite_subject);
    }


    function create_invite_then_reload_manage_program_invites(program_id, invite_name, invite_email, invite_body, invite_subject) {
      //reload div
      $('.div_program_'+program_id+'_manage_program_invites').load('/invites/manage_program_invites/1?program_id='+program_id+'&invite_name='+invite_name+'&invite_email='+invite_email+'&invite_body='+invite_body+'&invite_subject='+invite_subject);
    }



    function create_message_then_reload_manage_program_messages(program_id, template_goal_id, subject, body, random_quote, for_this_date_only, insert_in_checkin_emails, insert_in_reminder_emails, insert_in_webpage) {

      // ### REQUIRED PARAMS
      // # t.integer  "program_id"
      // # t.text     "body"
      // # t.string   "subject"
      // # t.boolean  "random_quote"
      // # t.date     "for_this_date_only"
      // # t.boolean  "insert_in_checkin_emails"
      // # t.boolean  "insert_in_reminder_emails"
      // # t.boolean  "insert_in_webpage"

      //reload div
      $('.div_program_'+program_id+'_manage_program_messages').load('/messages/manage_program_messages?program_id='+program_id+'&template_goal_id='+template_goal_id+'&subject='+subject+'&body='+body+'&random_quote='+random_quote+'&for_this_date_only='+for_this_date_only+'&insert_in_checkin_emails='+insert_in_checkin_emails+'&insert_in_reminder_emails='+insert_in_reminder_emails+'&insert_in_webpage='+insert_in_webpage);
    }



   </script>
   <!-- END TEST RELOAD AJAX CONTENT FOR UPDATING PARTIALS w/out Prototype -->



<!-- http://www.professorcloud.com/mainsite/carousel-integration.htm -->
<!-- Load the CloudCarousel JavaScript file -->
<!-- <script type="text/JavaScript" src="/javascripts/cloud-carousel.1.0.5.js"></script>
<script>
$(document).ready(function(){
               
  // This initialises carousels on the container elements specified, in this case, carousel1.
  $("#carousel1").CloudCarousel(    
    {     
      xPos: 128,
      yPos: 32,
      buttonLeft: $("#left-but"),
      buttonRight: $("#right-but"),
      altBox: $("#alt-text"),
      titleBox: $("#title-text")
    }
  );
});
 
</script>


 -->

<!-- 
ADD ABILITY FOR CONFIRM DIALOG BOXES ON A HREF LINKS
http://stackoverflow.com/questions/10462839/javascript-confirmation-dialog-on-href-link
...
(relies on jquery)

USAGE: <a href="delete.php?id=22" class="confirmation">Link</a>
-->
<script type="text/javascript">
$('.confirmation').on('click',function(){return confirm('Are you sure?');});
</script>




  <!-- direct to facebook 
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  -->

  <% if @production and !secure_page? %>
    <!-- ShareThis-->  
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6f618717-8285-4c8c-b5c7-4f9e1d5e2a92", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
  <% end %>


  <!-- ################################################## -->
  <!-- END CUSTOM SGJ JAVASCRIPT -->
  <!-- ################################################## -->
  <!-- ################################################## -->










        <!-- SHOW FACEBOOK BOX AT THE BOTTOM -->
        <% if @cn == "user_friends" %>
          <% if @production %>

            <% if !secure_page? %>
              <div id="fb-root"></div>
              <script>
                // Load the SDK Asynchronously
                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
              </script>




              <div class="fb-like-box" data-href="http://www.facebook.com/pages/habitforgecom/281059421608" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>
        
            <% end %>
            
  <!--           <span class='st_fblike' displayText='Like HabitForge!'></span> -->
            <span class='st_facebook' displayText='Share on Facebook'></span>
            <span class='st_twitter' displayText='Tweet'></span>
            <span class='st_pinterest' displayText='Pinterest'></span>

            <br>
          <% else %>
            In production we'd have some facebook, twitter and pinterest links here.
          <% end %>
          <% end %>
        </div>
      </div>


      </div>



        <% end %> <!-- end only show if not "@new_goal_view" -->


      <!-- END PAGE CONTAINER-->    
    </div>
    <!-- END PAGE -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="footer">
    2014 &copy; Early To Rise LLC






    <!-- START USERVOICE DIV -->
    <a name="jump_to_support" />
    <div id="support" name="support" style="display:none;">

      <% if @production %>
      <!-- UserVoice JavaScript SDK (only needed once on a page) -->
      <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/P2B1jKXL521DMteQKFTbQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

      <!-- The Classic Widget will be embeded wherever this div is placed -->
      <div data-uv-inline="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="137021" data-uv-width="100%" data-uv-height="550px"></div>
      <% else %>
        In production we'd have uservocie stuff here.
      <% end %>
    </div> <!-- END USERVOICE DIV -->


      <% if !@new_goal_view %>
      <div class="span pull-right" style="">
         <span class="go-top"><i class="icon-angle-up"></i></span>
      </div>
      <% end %>

  </div>
  <!-- END FOOTER -->





  <% if @production %>


      <!-- ### START GOOGLE ANALYTICS ### --> 
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-10841267-1");
      pageTracker._trackPageview();
      } catch(err) {}
      </script>
      <!-- ### END GOOGLE ANALYTICS ### --> 

  <% end %>



  <!-- END JAVASCRIPTS -->







</body>
<!-- END BODY -->
</html>
