
    <!-- a blank spacer div that hovers over the iphone image portion of the desk jpeg -->
    <div class="one_third" style="padding-left:0px;margin-left:0px;margin-top:0px;width:235px;min-width:235px;max-width:235px;height:350px;">
<!--       <img id="img_iphone" name="img_iphone" src="/home/images/iPhone.png" style="position:relative;margin-left:30px;z-index:100;"/> -->
  &nbsp

    </div> <!-- end <div class="one_third"> -->


    <div class="one_third" style="padding-left:25px;margin-top:-25px;width:340px;min-width:334px;">

      <div class="signup_header_text">

        <div id="div_keep_together_signup_header_text_description" style="height:320px;width:340px;background-color:none;display:block;">
          <div style="margin-top:40px;padding-top:30px;">
          <span style="font-size:3.0em;margin-left:-20px;color:#ff3300;">Change your habits,</span>
          </div>

          <div style="margin-top:10px;">
          <span style="font-size:3.0em;margin-top:10px;padding-left:30px;margin-left:-20px;color:#cc3300;">change your life!</span>
          </div>

          <div style="margin-top:40px;padding-top:0px;">
          <span style="margin-left:20px;font-size:1.5em;color:#333366;">
          This simple program helps you build
          </span>
          </div>

          <div style="margin-top:5px;">
          <span style="margin-left:20px;font-size:1.5em;color:#333366;">
          habits that will improve your life.
          </span>
          </div>

          <div style="margin-top:28px;">
          <span style="margin-left:20px;font-color:#000000;font-size:1.2em;color:#000000;">
          We'll send you a daily reminder of your goals
          </span>
          </div>

          <div style="">
          <span style="margin-left:20px;font-color:#000000;font-size:1.2em;color:#000000;">
          and help you keep track of your progress.
          </span>
          </div>


          <div style="margin-top:45px;width:400px;">
          <span style="margin-left:-20px;font-color:#000000;font-size:1.2em;color:#000000;">
          Join us in logging 1,315,242 days of completed goals.
          </span>
          </div>


        </div> <!-- end div_keep_together_signup_header_text_description -->





        <div style="padding-bottom:40px;">

        </div>


      </div> <!-- end signup_header_text -->


    </div> <!-- end <div class="one_third"> -->





    <div class="one_third_last" style="float:left;">

      <a name="signup" id="signup"></a>
        <form id="form_signup1" name="form_signup1" action="/quicksignup_v2">


          <%
          if params[:invitation_id]
            %>
            <input type="hidden" name="invitation_id" value="<%= params[:invitation_id] %>">
            <%
          end
          if params[:category]
            %>
            <input type="hidden" name="category" value="<%= params[:category] %>">
            <%
          end
          if params[:template_user_parent_goal_id]
            %>
            <input type="hidden" name="template_user_parent_goal_id" value="<%= params[:template_user_parent_goal_id] %>">
            <%
          end
          if params[:goal_template_text]
            %>
            <input type="hidden" name="goal_template_text" value="<%= params[:goal_template_text] %>">
            <%
          end
          %>

          <% if params[:signup_intent_paid] %>
            <input type="hidden" name="signup_intent_paid" value=1>
          <% end %>

          <input type="hidden" name="subscribe_etr" value=1> 
          <input type="hidden" name="form_submitted" value=1>


          
      <div style="float:left;display:block;width:350px;min-width:350px;margin-top:25px;" id="div_signup_box" name="div_signup_box">
        <span style="position:absolute;margin-top:10px;padding-left:50px;font-family: 'Gochi Hand', cursive;color:#ffffff;font-size:3.0em;">
          <a id="signup_box_1" ></a>
          Start Today!
        </span>
        <span style="float:right;margin-right:20px;margin-top:-30px;">
          <img src="/home/images/OptIn-Box.png" />
        </span>


        <span style="position:absolute;float:right;margin-top:80px;padding-left:45px;font-family:LatoBold;text-align:center;color:#383838;font-size:1.1em;line-height:1.4em;">





          <% if params[:signup_intent_paid] %>
            Set Unlimited Active Goals
            <br>
            with Extra Accountability
            <br>
            and No Ads!
          <% else %>
            Set your first goal FREE
            <br>
            with daily motivation
            <br>
            and email reminders.
          <% end %>


        <br>
        Sign up with...
        <br>

<!--                     <a id='test_tipsy_1'  title="tipsy test" >test the tipsy</a>
                    <script type='text/javascript'>
                        $('#test_tipsy_1').tipsy();
                    </script>
 -->





            <center>
            <table><tr><td>

            <div style="margin-top:-25px;padding-right:5px;">
            <%= render :partial => "layouts/fb_signup.erb" %>
            </div>

            </td><td>

            <% if session[:test_layout] %>
              <a href="https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&state=%2Fprofile&redirect_uri=https%3A%2F%2Fhabitforge.com%2Fgoogle_auth.html&response_type=token&client_id=332087264928.apps.googleusercontent.com">
                <img src="/home/images/Button-Google.png" /> 
              </a>

              <% 
  ####
  # NOTE THAT THIS IS WORKING BUTTTTTTT
  # What you really wanted to get back from google in the first place was:
  # http://habitforge.com/?access_token=ya29.AHES6ZQzuTMUdXlvHajq_XMsrdoZY3olIT2NL81Jlgs-jzk&token_type=Bearer&expires_in=3600
  # What you get instead is:
  # http://habitforge.com/#state=/profile&access_token=ya29.AHES6ZQzuTMUdXlvHajq_XMsrdoZY3olIT2NL81Jlgs-jzk&token_type=Bearer&expires_in=3600
  # ... meaning, what you need to do is grab the "access_token" out of the URI instead of just as a param
  #   because  that "#state=" thing is there instead of a "?" so it's not really a param yet

#### THE CORE PROBLEM HERE IS THAT WHEN GOOGLE KICKS BACK TO HF.COM, IT DOES NOT PRESENT THE ACCESS_TOKEN IN THE URL AT ALL... 

### ACTUALLY THE PROBLEM IS THAT "ANCHORS" (ANYTHING AFTER #) ARE NEVER SENT TO THE SERVER AND WOULD HAVE TO BE GRABBED BY THE CLIENT IN JAVASCRIPT:
### http://stackoverflow.com/questions/4108082/get-anchor-part-of-url-in-controller-in-ruby-on-rails




############# MIGHT WANT TO TRY id_token instead of access_token
##  http://stackoverflow.com/questions/16312784/what-is-the-proper-way-to-validate-google-granted-oauth-tokens-in-a-node-js-serv

              logger.info("sgj:_header_desktop.erb:GOOGLE AUTH:")

              if session[:google_access_token] or params[:access_token] 

                if params[:access_token]
                  session[:google_access_token] = params[:access_token] 
                end

                ## verify the token and read what comes back
                token = session[:google_access_token]

                open("https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=#{token}") {|f|
                  f.each_line {|line| 
                    if line.include? "\"email\":"
                    %>

                    <!-- p line -->
                    <%= line %>
                    <%
                    end
                  }
                }




              else
                %>
                DID NOT SEE ACCESS TOKEN
                <%
              end 
              %>
              <br>

              <br>
              Access Token:
              <% if session[:google_access_token] %>
                <%= session[:google_access_token] %>
              <% else %>
                NONE
              <% end %>
              <br>


            <% else %>
              <a style="" href="#" id='signup_google' title="Coming Soon... (for now, please register with Facebook or with your email address)" rel="signup_google" onmouseover="this.getElementById('image_button_signup_google').src='/home/images/Button-Google-Hover.png'" onmouseout="this.getElementById('image_button_signup_google').src='/home/images/Button-Google.png'">
              </a>
              <script type='text/javascript'>
                  $('#signup_google').tipsy();
              </script>
          <% end %>
            </td></tr></table>  
            </center>



        OR
        <br>


          <% email_value = "" %>
          <% if params[:fb_email] %>
            <% email_value = params[:fb_email] %>
          <% end %>

          <% if params[:signup_intent_paid] %>

            <input type="text" name="email" value="<%= email_value %>" placeholder="Enter your email to get started..." style="width:220px;"/>
            <br>    
            <br>
            <a href="#" rel="signup_email_paid" onclick="toggle_show('spinner_page_load');formSubmit('form_signup1')">
              <img src="/home/images/start_now.jpg" />
            </a>

          <% else %>

            <input type="text" name="email" value="<%= email_value %>" placeholder="Enter your email for a free account..." style="width:220px;"/>
            <br>    
            <br>
            <a style="margin-left:40px;" href="#" rel="signup_email" onmouseover="this.getElementById('image_button_signup_email').src='/home/images/Button-SignUp-Hover.png'" onmouseout="this.getElementById('image_button_signup_email').src='/home/images/Button-SignUp.png'" onclick="toggle_show('spinner_page_load');formSubmit('form_signup1')">
            </a>

          <% end %>


          <% if !current_user and (params[:fb_id] and params[:fb_email]) %>
            <script>
            formSubmit('form_signup1');
            </script>
          <% end %>

          <% if current_user %>
            <script>
            window.location.assign('http://habitforge.com/goals');     
            </script>
          <% end %>


        </form>
        </span>
      </div><!-- end div_signup_box -->




    </div><!-- end <div class="one_third_last"> -->




    <div class="signup_header" style="margin-top:20px;background-repeat:no-repeat;">
      <!-- this gives you the desk background image -->
    </div>


          <% if retry_email_address %>
              <center>
              <div class="pane error" style="width:50%;color:red;padding:10px;">
                  <% if @email_blank == true or (@email_valid != nil and @email_valid == false) %>
                  Please enter a valid email address.
                  <% end %>

                  <% if @email_duplicate %>
                  That account already exists in our system. 
                  <br>
                  If it is yours, you may <a href="/users/login">log in here</a> or you may sign up with a different account.
                  <% end %>
              </div>
              </center>
          <% end %>


    <!-- Press Logos Start -->
<!--     <div style="padding-top:0px;margin-top:-10px;padding-left:20px;padding-right:20px;"> -->
      <center>
        <img src="/home/images/logos/press_logos_v1_transparent.png" width="700" alt="press logos" />
      </center>
<!--     </div> -->
    <!-- Press Logos End -->
