<h1>Editing user_friend</h1>

<% form_for(@user_friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :friend_id %><br />
    <%= f.text_field :friend_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_friend %> |
<%= link_to 'Back', user_friends_path %>